<layout name="admin_layout_back"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/external/jquery-ui-1.10.4.min.css">
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
<style media="screen">
.mr15p{
  margin-right: 15%
}
.dib{
  display: inline-block;
}
.w80{
  width: 80px
}
.lh50{
  line-height: 50px
}
.red{
  color:red
}
</style>
<div class="listview set-border padding20 tabContent">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a href="#activeTab" data-toggle="tab">
        励耘圈
      </a>
    </li>
    <li>
      <a href="#resourceTab" data-toggle="tab">
        教学+
      </a>
    </li>
    <li>
      <a href="#classTab" data-toggle="tab">
        班级行
      </a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content padding10">
    <!--教师教师教师-->
    <div class="tab-pane fade in active" id="activeTab">
      <div style="margin-bottom: 12px;">
          <a href="{:U('PropagandaManagement/addpropagandaMgmt')}" title="添加" class="button primary ">添加</a>
          <div class="dib right cell mr15p">
              <label>状态：</label>
              <select class="input-control input-control-before mt2">
                  <option value="1" {$ss_id==1?'selected':''} >上传成功</option>
                  <option value="2" {$ss_id==2?'selected':''} >审核中</option>
                  <option value="3" {$ss_id==3?'selected':''} >审核通过</option>
                  <option value="4" {$ss_id==4?'selected':''} >拒绝通过</option>
                  <option value="5" {$ss_id==5?'selected':''} >已发布</option>
                  <option value="5" {$ss_id==5?'selected':''} >已下架</option>
              </select>

          </div>
      </div>
      <div class="cell">
          <label>播放时间间隔：</label>
          <input type="tel"  class="input-control stu_time_id input-control-before"  placeholder="请输入数字" autocomplete="off">  s
      </div>
      <div class="cell">

          <div class="right lh50">
             图片张数：<span>3张</span>(不超过10张)
          </div>
      </div>
      <div class="padding10">
        <table id="listWrapper" class="table striped hovered border">
          <thead>
            <tr>
              <th class="text-center">上传图片<span class="red"> (*宽/高：1.8-2.0)</span>  </th>
              <th class="text-center">跳转地址</th>
              <th class="text-center">播放顺序</th>
              <th class="text-center">时间</th>
              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody class="teacherhtml">
            <tr>
              <td class="text-center" >
                <img src="__PUBLIC__/img/zhanwei.jpg" alt="" />
                </td>
              <td class="text-center" >
                http://www.jtypt.com/svnUpdate.php
              </td>
              <td class="text-center" >
                1
              </td>
              <td class="text-center" >
                2017/03/02 15:00
                <br>至 <br>
                2017/03/02 15:00
              </td>
              <td class="text-center" >通过</td>
              <td class="text-center" >
              <a href="#" class="operBtn">审核通过</a>
              <a href="{:U('PropagandaManagement/creatPropagandaMgmt')}" class="operBtn">修改</a>
              <a href="#" class="operBtn">删除</a>

              </td>
            </tr>

          </tbody>
        </table>

        <div class="Pagination teacherPage"></div>
      </div>
    </div>
    <!--学生学生学生-->
    <div class="tab-pane fade" id="resourceTab">
      <div style="margin-bottom: 12px;">
          <a href="{:U('PropagandaManagement/addpropagandaMgmt')}" title="添加" class="button primary ">添加</a>
          <div class="dib right cell mr15p">
              <label>状态：</label>
              <select class="input-control input-control-before mt2">

                  <option value="1" {$ss_id==1?'selected':''} >上传成功</option>
                  <option value="2" {$ss_id==2?'selected':''} >审核中</option>
                  <option value="3" {$ss_id==3?'selected':''} >审核通过</option>
                  <option value="4" {$ss_id==4?'selected':''} >拒绝通过</option>
                  <option value="5" {$ss_id==5?'selected':''} >已发布</option>
                  <option value="5" {$ss_id==5?'selected':''} >已下架</option>
              </select>

          </div>
      </div>
      <div class="cell">
          <label>播放时间间隔：</label>
          <input type="tel"  class="input-control stu_time_id input-control-before"  placeholder="请输入数字" autocomplete="off">  s
      </div>
      <div class="cell">
          <div class="right lh50">
             图片张数：<span>3张</span>(不超过10张)
          </div>
      </div>
      <div class="padding10">
        <table id="listWrapper" class="table striped hovered border">
          <thead>
            <tr>
              <th class="text-center">上传图片<span class="red"> (*宽/高：1.8-2.0)</span</th>
              <th class="text-center">跳转地址</th>
              <th class="text-center">播放顺序</th>
              <th class="text-center">时间</th>
              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody class="teacherhtml">
            <tr>
              <td class="text-center" >
                <img src="__PUBLIC__/img/zhanwei.jpg" alt="" />
                </td>
              <td class="text-center" >
                http://www.jtypt.com/svnUpdate.php
              </td>
              <td class="text-center" >
                1
              </td>
              <td class="text-center" >
                2017/03/02 15:00
                <br>至 <br>
                2017/03/02 15:00
              </td>
              <td class="text-center" >通过</td>
              <td class="text-center" >
              <a href="#" class="operBtn">审核通过</a>
              <a href="{:U('PropagandaManagement/creatPropagandaMgmt')}" class="operBtn">修改</a>
              <a href="#" class="operBtn">删除</a>

              </td>
            </tr>

          </tbody>
        </table>

        <div class="Pagination teacherPage"></div>
      </div>
    </div>
    <!--家长家长家长-->
    <div class="tab-pane fade" id="classTab">
      <div style="margin-bottom: 12px;">
          <a href="{:U('PropagandaManagement/addpropagandaMgmt')}" title="添加" class="button primary ">添加</a>
          <div class="dib right cell mr15p">
              <label>状态：</label>
              <select class="input-control input-control-before mt2">
                  <option value="1" {$ss_id==1?'selected':''} >上传成功</option>
                  <option value="2" {$ss_id==2?'selected':''} >审核中</option>
                  <option value="3" {$ss_id==3?'selected':''} >审核通过</option>
                  <option value="4" {$ss_id==4?'selected':''} >拒绝通过</option>
                  <option value="5" {$ss_id==5?'selected':''} >已发布</option>
                  <option value="5" {$ss_id==5?'selected':''} >已下架</option>
              </select>

          </div>
      </div>
      <div class="cell">
          <label>播放时间间隔：</label>
          <input type="tel"  class="input-control stu_time_id input-control-before"  placeholder="请输入数字" autocomplete="off">  s
      </div>
      <div class="cell">
          <div class="right lh50">
             图片张数：<span>3张</span>(不超过10张)
          </div>
      </div>
      <div class="padding10">
        <table id="listWrapper" class="table striped hovered border">
          <thead>
            <tr>
              <th class="text-center">上传图片<span class="red"> (*宽/高：1.8-2.0)</span</th>
              <th class="text-center">跳转地址</th>
              <th class="text-center">播放顺序</th>
              <th class="text-center">时间</th>
              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody class="teacherhtml">
            <tr>
              <td class="text-center" >
                <img src="__PUBLIC__/img/zhanwei.jpg" alt="" />
                </td>
              <td class="text-center" >
                http://www.jtypt.com/svnUpdate.php
              </td>
              <td class="text-center" >
                1
              </td>
              <td class="text-center" >
                2017/03/02 15:00
                <br>至 <br>
                2017/03/02 15:00
              </td>
              <td class="text-center" >通过</td>
              <td class="text-center" >
              <a href="#" class="operBtn">审核通过</a>
              <a href="{:U('PropagandaManagement/creatPropagandaMgmt')}" class="operBtn">修改</a>
              <a href="#" class="operBtn">删除</a>

              </td>
            </tr>

          </tbody>
        </table>

        <div class="Pagination teacherPage"></div>
      </div>
  </div>
</div>
