* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/adminExercise/loginBg.png) no-repeat scroll center center;
	background-size: cover;
}

.logoImg {
	float: left;
	margin: 40px 50px 0 70px
}
.bottomImg{
	display: block;
	margin: 20px auto;
}
.title {
	float: left;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	margin-top: 50px;
}

/*==后台管理弹窗开始==*/
.fullscr {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
	font-family: "微软雅黑"
}

.adminNotifyBox {
	width: 540px;
	height: 400px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.adminNotifyTitle {
	text-align: center;

	color: #fff;
	line-height: 60px;
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: 600;
	font-family: "微软雅黑"
}

.adminNotifyContent {

	border-top: 0;
	height: 380px;
	position: relative;
	padding: 20px 60px;
	background: rgba(255, 255, 255, 0.3);

}
.selectBox{
	background: rgba(231, 239, 247, 0.4);
  margin: 20px auto;
}
.selectBox:nth-child(3)
.adminNotifyButton {
	text-align: center;
}

.adminNotifyBtn {
	width: 420px;
	height: 60px;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	border: none;
	outline: none
}

.adminNotifyBtn:hover, .adminNotifyBtn:focus {
	color: #fff;
	text-decoration: none;
}

.adminNotifyBlue1 {
	background:url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/adminExercise/btnBg.png) ;
}
.w250{
	width: 250px !important
}
.adminSelect label {
	display: inline-block;

	position: relative;
	top: 4px;
	text-align: center;
	font-size: 16px;
	width: 50px
}

.input-control {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
}
.pr10{
	padding-right: 10px !important
}
.adminSelect input {
	width: 300px;
	height: 40px;
	padding: 6px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(231, 239, 247, 0);
	border: none;
	outline: none
}

.forgetPass {
	text-decoration: none;
	color: #666;
}

.forgetPass:hover {
	text-decoration: underline
}

#code {
	overflow: hidden;
	display: inline-block;
/*	margin-left: 10px;*/
	padding: 0 5px;
	position: relative;
	top: 20px;
/*	min-width: 100px*/
}
#code img {
	width: 150px;
}
.bgnone{
	background: none
}
.inputBg{
	background: rgba(231, 239, 247, 0.4);
}
.dib{
	display: inline-block;
}
.refreshA {
	text-decoration: none;
	color: #0072c8;
	font-size: 14px
}

.refreshA:hover {
	text-decoration: underline
}

.refreshImg {
	position: relative;
	top: 5px;
	width: 18px;
}

.errorMsg {
	display: none;
	color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
	padding: 7px 15px;
	border-radius: 5px;
	font-size: 14px
}

.forgetMsg {
	display: none;
	width: 540px;
	position: absolute;
	bottom: -120px;
    background-color: #fcf8e3;
    border-color: #fbeed5;
	padding: 7px 15px;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
}

.closeImg {
	float: right;
	cursor: pointer;
}

.forgetMsg p {
	clear: both;
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
}

.forgetMsg span {
	color: #0072c8;
}

#loginBtn {
	cursor: pointer
}
/*==后台管理弹窗结束==*/
