.listOutter {
	margin: 30px;
	overflow: hidden;
}

.hintText {
	margin: 15px 10px;
	font-size: 14px;
}

.hintText.left {
	margin-top: 0;
	line-height: 30px
}

table.adminTable {
	width: 100%;
	border: 1px solid #ddd;
	border-spacing: 0;
	margin-bottom: 15px;
}

table.adminTable tr:nth-child(odd) {
	background: #fff;
}

table.adminTable tr:nth-child(even) {
	background: #f7f7f7;
}

table.adminTable td {
	font-size: 14px;
	padding: 8px 10px
}

.redNum {
	color: #ea5e5e;
	text-decoration: underline;
	padding: 0 3px;
}

.inputTime {
	border: 1px solid #ddd;
	width: 133.5px;
	height: 28px;
	padding: 0 5px
}