.boxLeft {
	width: 66.67%;
	height: 100%;
	float: left;
	padding: 30px 20px;
}

.boxRight {
	width: 33.33%;
	height: 100%;
	float: left;
	padding: 30px 10px;
	position: relative;
}

.boxRight {
	border-left: 2px solid #3baeab;
}

.boxRight .filterInner {
	overflow: hidden;
}

.boxRight .filterBtn {
	margin-top: 20px;
}

.boxRight.active {
	border-left: 2px solid #ddd;
}

.boxLeft .filterBox {
	width: 50%;
}

.boxRight.active .filterBox {
	width: 100%;
}

.boxRight.active .filterBox .inputCommon {
	width: 200px;
}

.boxRight.active .filterBox .pointInput {
	width: 260px;
}

.boxRight.active .filterBtn .btn {
	min-width: 80px;
	padding: 8px 5px;
}

.boxRight.active .rightDrag {
	display: none;
}

.leftDrag {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -16px;
	cursor: pointer;
}

.rightDrag {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	cursor: pointer;
}
