<layout name="admin_layout_exercise"/>
<div class="boxOutter">
	<div class="of pb10 borderBottom">
		<span class="color3baeab left mt10">试题详情</span>
		<button type="button" name="button" class="btn right">校审不通过</button>
		<button type="button" name="button" class="btn right">提交标引</button>
	</div>
	<div class="filterOutter  mt20 pb10 ">
	    <div class="filterInner of ">
		      <div class="filterBox ">
			        <label for="">试题ID</label>
					<input type="text" name="" id="" class="inputCommon">
		      </div>
			 <div class="filterBox">
					<label for="">题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</label>
					<select name="" id="" class="inputCommon">
						<option value="0">请选择</option>
						<option value="1">语文</option>
						<option value="2">数学</option>
					</select>
			 </div>
			 <div class="filterBox">
					<label for="">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科</label>
					<select name="" id="" class="inputCommon">
						<option value="0">请选择</option>
						<option value="1">上册</option>
						<option value="2">数学</option>
					</select>
			 </div>
			<div class="filterBox">
					<label for="">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;值</label>
					<input type="text" name="" id="" class="inputCommon">
			</div>
			<div class="filterBox lh32" >
					<label for="" style="width:auto">习题来源 - </label>
					<span>录入</span>
			</div>
			 <div class="filterBox">
					<label for="">习题难度</label>
					<select name="" id="" class="inputCommon">
						<option value="0">请选择</option>
						<option value="1">任教</option>
						<option value="2">数学</option>
					</select>
			 </div>
			<div class="filterBox">
					<label for="">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段</label>
					<select name="" id="" class="inputCommon">
						<option value="0">请选择</option>
						<option value="1">任教</option>
						<option value="2">数学</option>
					</select>
			</div>
       	</div>
	</div>
	<div class="pt20 pb20">
		<div class="">
			这个DIv里面放题
		</div>
		<div class="p10 bordereee mt20">
			这块显示答案和解析
		</div>
	</div>
	<div class="borderBottom">
		<span class="text-center tabBtn">试题追踪</span>
	</div>
	<table class="tableCommon borderNone mt20">
		<thead>
			<tr>
				<th width="20%">序号</th>
				<th width="20%">操作</th>
				<th width="20%">操作人</th>
				<th width="20%">时间</th>
				<th width="20%">备注</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>创建</td>
				<td>昨天热</td>
				<td>2017-10-10</td>
				<td>污</td>
			</tr>
			<tr>
				<td>1</td>
				<td>创建</td>
				<td>昨天热</td>
				<td>2017-10-10</td>
				<td>污</td>
			</tr>
		</tbody>
	</table>
  </div>
</div>
