		* {
			margin: 0;
			padding: 0;
			font-family: "宋体" !important;
		}

		html,
		body {
			width: 100%;
			height: 100%;
		}

		.mb30 {
			margin-bottom: 30px;
		}

		#content {
			width: 98%;
			margin: 0 auto;
			padding-top: 0.2rem;
			min-height: 100%;
			padding-bottom: 60px;
		}

		.h1Text {
			text-align: center;
			margin: 10px 0;
			color: #333;
			font-size: 20px;
			word-break: break-all;
			line-height: 40px
		}

		.pText p {
			color: #333;
			line-height: 28px;
			font-size: 13px;
			margin: 0 0.2rem;
			word-break: break-word;
			overflow: hidden;
		}

		.pText .span1 {
			display: inline-block;
			width: 6.2rem;
			float: left;
			text-align: right;
			padding-right: 0.2rem;
		}

		.pText .span2 {
			word-break: break-all;
			float: left;
			width: calc(100% - 6.5rem);
			text-align: justify;

		}

		.blod {
			color: #333;
			font-size: 1.6rem;
			line-height: 2.2rem
		}

		a {
			text-decoration: underline;
			color: #333
		}

		.h3Text {
			text-align: center;
			font-size: 20px;
			line-height: 40px;
			margin-top: 14px;
		}

		.active_ct {
			margin: 0 0.5rem;
			word-wrap: break-word;
			text-indent: 0;
			line-height: 35px;
			font-size: 18px;
			text-align: justify;
		}

		.active_ct h1,
		.active_ct h2,
		.active_ct h3,
		.active_ct h4,
		.active_ct h5,
		.active_ct h6 {
			font-weight: 100 !important
		}

		.active_ct span, .active_ct a, .active_ct p {
			font-size: 18px !important;
			word-break: break-all !important;
			color: #333 !important;
			line-height: 28px;
			white-space: inherit !important;
			font-family: "宋体" !important;
		}

		.active_ct p {
			text-indent: 2em !important;
		}

		.active_ct .noIndent {
			text-indent: 0 !important;
		}

		.active_ct .textCenter {
			display: table !important;
			margin: 0 auto;
		}

		.active_ct .textCenter p {
			text-indent: 0 !important;
		}

		.btnBottom {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #fafafa;
			height: 50px;
			border-top: 1px solid #eee;
			padding: 5px 0px;
		}

		.btnBottom img {
			height: 20px !important;
			width: auto !important;
			margin-bottom: 5px;
		}

		.signBtn {
			display: block;
			text-decoration: none;
			color: #999;
			height: 40px;
			margin-right: 10px;
			margin: 5px 13px 5px 5px;
			line-height: 40px;
			border: 1px solid #999;
			font-size: 14px;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.zanBtnBlack,
		.favorBtnBlack,
		.zanBtnRed,
		.favorBtnRed {
			width: 30%;
			height: 50px;
			border: none;
			padding: 0;
			color: #999;
			outline: none;
			text-align: left;
			text-indent: 25px;
			font-size: 14px
		}

		.zanBtnBlack {
			background: #fff url({$oss_path}public/web_img/App/zanBtnBlack.png) no-repeat left center;
			background-size: 20px 17px;
		}

		.favorBtnBlack {
			background: #fff url({$oss_path}public/web_img/App/favorBtnBlack.png) no-repeat left center;
			background-size: 17px 17px;
		}

		.zanBtnRed {
			background: #fff url({$oss_path}public/web_img/App/zanBtnRed.png) no-repeat left center;
			background-size: 20px 17px;
		}

		.favorBtnRed {
			background: #fff url({$oss_path}public/web_img/App/favirBtnRed.png) no-repeat left center;
			background-size: 17px 17px;
		}

		.share {
			width: 40%;
			height: 50px;
			background: url(__PUBLIC__/img/app/activefenxiang.png) no-repeat;
			background-size: 17px 17px;
			background-position: 5px 16px;
			text-indent: 8px;
			color: #999;
			font-size: 1.2rem;
		}

		.btn {
			position: relative;
			display: inline-block;
			padding: 4px 12px 4px 16px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			background-color: #6bcbca;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			border: 1px solid #ecf0f1;
			border-radius: 6px;
			color: white;
			word-spacing: 4px;
			letter-spacing: 4px;
		}

		textarea {
			width: 90%;
			max-width: 90%;
			margin: 0 5%;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			border: 1px solid #999;
			border-radius: 6px;
			display: inline-block;
		}

		p img {
			max-width: 80%;
			height: auto !important;
			margin: 0 auto;
		}

		.text-center {
			text-align: center;
		}

		.w50 {
			width: 50%;
			float: left;
		}

		.img33 {
			width: 33px;
		}

		.font_size18 {
			font-size: 18px;
			display: block;
			position: relative;
			top: -5px
		}

		.img27 {
			width: 27px;
		}

		.dn {
			display: none;
		}

		.red {
			color: #f06358
		}

		.w33 {
			width: 33.33%;
			float: left;
		}

		.img25 {
			width: 25px;
		}

		.img24 {
			width: 24px;
		}

		.img30 {
			width: 30px;
		}

		@media(width:320px) {
			p {
				font-size: 1.5rem;
			}
		}
		#enteredjby {
			text-align: center;
			/*			margin: 5rem*/
		}

		#enteredjby a {
			background: #46cfdd;
			color: #fff;
			margin: 3rem auto;
			padding: 1rem 2rem;
			border-radius: 10px;
			text-decoration: none
		}

		#enteredjby,
		#enteredjbytwo {
			text-align: center;
			margin-bottom: 5rem;
			margin-top: 2.5rem;
		}

		#enteredjby a,
		#enteredjbytwo a {
			background: #46cfdd;
			color: #fff;
			margin: 3rem auto;
			padding: 1rem 2rem;
			border-radius: 10px;
			text-decoration: none
		}

		.browse_image img,
		video {
			max-width: 100%
		}
		.upload_a{
			display: inline-block;
			background: #f06358;
			padding:5px 15px;
			font-size: 18px;
			text-decoration: none;
			color: #fff;
			margin: 10px 0 10px 0px;
			border-radius: 5px
		}
		.upload_p{
			color: #ccc;
			font-size: 18px;
			text-indent:0.5em
		}

		.answerA p {
	        text-align: center;
	        text-indent: 0 !important
	    }

	    .answerA p:nth-child(1) {
	        margin-bottom: 8px;
	    }

	    .answerA a {
	    	color: #12b7f5 !important;
	    }

	    .answerCode {
	        text-align: center;
	    }

	    p.answerCode img {
	        max-width: 100%;
	        display: block;
	        margin: 0 auto !important;
	    }
		p{
			font-size: 18px
		}
	    p.answerName {
	        text-align: center;
	        text-indent: 0 !important;
	        font-weight: 600
	    }
		.applySpan{
			font-size: 14px
		}
		@media(min-width:600px) {
			.pText p {
				font-size: 18px;
			}
			.pText .span1{
				width: 90px
			}
		}

		.actFiles {
			padding: 0 0.5rem;
		}

		.actFiles p {
			line-height: 30px;
		}

/*直播*/
.liveOutter .liveTop {
	display: none;
}

.liveTimeBox .span2 {
	position: relative;
}

.liveTimeBox .liveBtn {
    display: inline-block;
    color: #333;
    background: none;
    border: none;
    outline: none;
    border: 1px solid #333;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 14px;
    background: #fff;
    margin-left: 5px;
    /*position: absolute;*/
    /*right: 5px;*/
    min-width: 95px;
    text-align: center;
}

.liveTimeBox .liveBtn.active {
    color: #fff;
    border: 1px solid #f06358;
    background: #f06358;
}

.liveTimeBox .liveBtn.end {
	color: #333;
    border: 1px solid #333;
    background: #D3D3D3;
}

.liveOutter .appBorder {
    width: 100%;
    height: 8px;
    border: 1px solid #999;
    background: #f0f0f0;
    border-left: none;
    border-right: none;
    margin-top: 10px;
}

.liveOutter .liveIntroTitle, .liveOutter .liveHistoryTitle {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
}

.liveOutter .liveIntroMain {
	text-indent: 2em;
}

.liveOutter .liveHistoryMain {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
}

.liveOutter .liveHistoryMain tr td {
	border-bottom: 1px solid #eee;
}

.liveOutter .liveHistoryMain tr td:nth-child(1) {
	width: 70%;
}

.liveOutter .liveHistoryMain tr td:nth-child(2) {
	width: 30%;
}

.liveOutter .liveHistoryMain tr td:nth-child(3) {
	display: none;
}

.liveOutter .liveHistoryMain tr:last-child td {
	border-bottom: none;
}

.active_ct .liveHistoryName, .active_ct .liveHistoryTime {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap !important;
	padding: 5px;
	display: block;
}

.liveHistoryName, .liveHistoryName:hover, .liveHistoryName:focus {
	color: #333;
	text-decoration: none;
}

.active_ct .liveHistoryTime, .active_ct .liveHistoryTime:hover, .active_ct .liveHistoryTime:focus {
	color: #999 !important;
	text-decoration: none;
	text-align: right;
	font-size: 16px !important;
}

.liveHistoryTime .liveHistoryTimeTitle {
	display: none;
}


.liveTitleTime {
	text-align: center;
	margin-top: -5px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #999;
}

.mainImg {
	display: block;
	margin: 0 auto;
	width: 90px;
}

.mainPlaceOutter {
	width: 100%;
	margin: 15px 0;
}

.mainPlaceOutter .mainPlaceBox {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url(/Public/img/live/mainApp.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
}

.mainPlaceOutter .goMainBtn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: 0 auto;
	width: 110px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: #333;
	background: url(/Public/img/live/huibeijing.png) no-repeat center;
	background-size: 100% 100%
}

.mainPlaceOutter .goMainBtn.active {
	color: #fff;
	background: url(/Public/img/live/hongbeijing.png) no-repeat center;
	background-size: 100% 100%
}

.parallelPlaceOutter {

}

.parallelImg {
	display: block;
	margin: 0 auto !important;
	width: 90px;
}

.parallelPlaceOutter .liveTitleTime {
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 15px;
	color: #333;
	line-height: initial;
}

.parallelPlaceOutter .parallelPlaceBox {
	overflow: hidden;
	padding: 20px 0 10px;
	border-top: 1px solid #eee;
}

.parallelPlaceOutter .parBox {
	width: 30%;
	float: left;
	position: relative;
	margin-right: 2.5%;
	margin-bottom: 10px;
}

.parallelPlaceOutter .parBox:nth-child(1) {
	margin-left: 2.5%;
	background: url(/Public/img/live/pc1.png) no-repeat center;
	background-size: 100% 100%;
}

.parallelPlaceOutter .parBox:nth-child(2) {
	background: url(/Public/img/live/pc2.png) no-repeat center;
	background-size: 100% 100%;
}

.parallelPlaceOutter .parBox:nth-child(3) {
	background: url(/Public/img/live/pc3.png) no-repeat center;
	background-size: 100% 100%;
}

.parallelPlaceOutter .parBox:nth-child(4) {
	margin-left: 2.5%;
	background: url(/Public/img/live/pc4.png) no-repeat center;
	background-size: 100% 100%;
}

.parallelPlaceOutter .parBox:nth-child(5) {
	background: url(/Public/img/live/pc5.png) no-repeat center;
	background-size: 100% 100%;
}

.parallelPlaceOutter .goParBtn {
	width: 70px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 15px;
	border-radius: 11px;
}

.parallelPlaceOutter .goParBtn.active {
	border: 1px solid #e9573f;
	background: #e9573f;
	color: #fff;
}

.parallelPlaceOutter .goParBtn.notStart {
	border: 1px solid #333;
	background: #fff;
	color: #333;
}

.parallelPlaceOutter .goParBtn.replay {
	border: 1px solid #e9573f;
	background: #fff;
	color: #e9573f;
}

.parallelPlaceOutter .goParBtn.finish {
	border: 1px solid #333;
	background: #ddd;
	color: #333;
}

.borderOutter {
	width: 100%;
	height: 10px;
	border: 1px solid #bbb;
	border-left: none;
	border-right: none;
	background: #eee;
}

.introOutter {
	padding: 10px;
}

.introOutter .introImgBox {
	font-size: 20px;
	font-weight: 600;
}

.introOutter .introImgBox .introImg {
	width: 24px;
	margin-right: 5px;
	margin-left: 0 !important;
	top: -3px;
	position: relative;
	vertical-align: middle;
}

.introOutter .introTitle {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	margin: 5px 0;
}

.introOutter .introRemark {
	font-size: 16px !important;
	line-height: 28px
}

.introOutter span.boldText {
	font-size: 16px !important;
}

.introOutter .introRemark .introRed {
	color: #e9573f !important;
	font-size: 16px !important
}

.introOutter .introRemark .boldTextAPP {
	font-weight: 600;
	padding-left: 2px;
	font-size: 16px !important
}

.introOutter span.boldText, .introOutter span.whiteText {
	font-weight: 600;
	 -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.whiteText {
	opacity: 0;
	filter: alpha(opacity=0);
}

.introOutter .introTableRemark {
	font-size: 16px;
	margin: 3px 0 5px;
	line-height: 28px;
	text-indent: 2em
}

.introOutter .introTable {
	display: none;
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
	font-size: 14px
}

.introOutter .introTable th, .introOutter .introTable td {
	border: 1px solid #333;
	height: 30px;
}

.introOutter .text-center {
	text-align: center
}

.introOutter .appTable {
	max-width: 100%;
	display: block;
	margin: 0 auto 5px;
}

.introOutter .tableRed {
	color: #93191e;
	padding-left: 30px;
	font-weight: 600
}

a.browse_resource {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 28px
}

@media  (max-width:360px) {
	.mainImg, .parallelImg {
		width: 80px;
	}

	.mainPlaceOutter .goMainBtn {
		bottom: 15px;
		font-size: 14px;
	}

	.parallelPlaceOutter .liveTitleTime {
		font-size: 14px;
	}

	.parallelPlaceOutter .goParBtn {
		width: 60px;
	    height: 18px;
	    line-height: 18px;
	    font-size: 12px;
		bottom: 10px;
		border-radius: 9px;
	}

	.introOutter .introImgBox {
		font-size: 18px;
		font-weight: bold;
	}

	.introOutter .introImgBox .introImg {
		width: 22px;
		top: -3px;
	}

	.introOutter .introTitle {
		font-size: 16px;
	    line-height: 25px;
	    font-weight: bold;
	}

	.introOutter .introRemark {
	    font-size: 14px !important;
	    line-height: 25px;
	}

	.introOutter span.boldText, .introOutter span.whiteText, .introOutter .introRemark .introRed, .introOutter .introRemark .boldTextAPP {
	    font-size: 14px !important;
	    line-height: 25px !important;
	    font-weight: bold;
	}

	.introOutter .introTableRemark {
	    font-size: 14px;
	    line-height: 25px;
	}

	a.browse_resource {
		font-size: 14px;
		line-height: 25px;
	}
}

@media  (min-width:600px) {
	.h1Text {
		font-size: 26PX !important;
	}

	.liveTitleTime {
		font-size: 16px;
		margin-top: 5px;
	}

	.mainImg, .parallelImg {
		width: initial;
	}

	.mainPlaceOutter .goMainBtn {
		bottom: 40px;
		width: 212px;
		height: 46px;
		line-height: 46px;
		font-size: 26px;
		letter-spacing: 2px;
	}

	.parallelPlaceOutter .liveTitleTime {
		font-size: 22px;
	}

	.parallelPlaceOutter .goParBtn {
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: 18px;
		bottom: 20px;
		border-radius: 15px;
		letter-spacing: 2px;
		padding-left: 2px;
	}

	.parallelPlaceOutter .parBox {
		margin-bottom: 20px;
	}

	.introOutter .introImgBox {
		font-size: 24px;
		font-weight: bold;
	}

	.introOutter .introImgBox .introImg {
		width: inherit;
		top: -3px;
	}

	.introOutter .introTitle {
		font-size: 20px;
	    line-height: 35px;
	    font-weight: bold;
	}

	.introOutter .introRemark {
	    font-size: 18px !important;
	    line-height: 35px;
	}

	.introOutter span.boldText, .introOutter span.whiteText, .introOutter .introRemark .introRed, .introOutter .introRemark .boldTextAPP {
	    font-size: 18px !important;
	    line-height: 35px !important;
	    font-weight: bold;
	}

	.introOutter .introTableRemark {
	    font-size: 18px;
	    line-height: 35px;
	}

	a.browse_resource {
		font-size: 18px;
		line-height: 40px
	}
}
