* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.p20 {
	padding: 10px 20px
}

body {
	font-size: 16px;
	color: #333;
	font-family: "微软雅黑";
}

.left {
	float: left;
}

.right {
	float: right;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #333
}

img {
	vertical-align: middle;
	max-width: 100%
}

ul,li {
	list-style: none
}

.text-center {
	text-align: center !important
}

.loadingImg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 95%;
}

/*专栏详情*/
.columnTop {
	padding: 20px 25px 10px;
}

.columnTitle {
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: bold
}

.courseImg {
	width: 18px;
	position: relative;
	top: -2px;
}

.columnInfoBox {
	padding: 5px;
	position: relative;
	margin-top: 15px;
}

.columnInfoBox .columnAvater {
	width: 90px;
	height: 81px;
	position: absolute;
	top: 0;
	left: 0;
}

.avaterImg {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: block;
	margin: 5px auto;
}

.columnInfoBox .columnInfo {
	margin-left: 95px;
}

.columnInfoBox .columnInfo .columnPost {
	margin: 6px 0;
}

.columnInfoBox .columnInfo .columnNumTime {
	color: #999;
}

.columnInfoBox .columnInfo .columnTime {
	float: right;
}

.iconImg {
	width: 18px;
	position: relative;
	top: -2px;
}

.columnInfoBox .columnPrice {
	font-weight: bold;
	color: #ff673e;
	font-size: 18px;
	margin-top: 10px;
}

.columnInfoBox .columnPrice.freePrice {
	font-weight: normal;
}

.vipImg {
	height: 18px;
	position: relative;
	top: -1px;
}

.grayBorder {
	height: 12px;
	width: 100%;
	background: #f0f0f0;
	border: 1px solid #999;
	border-left: none;
	border-right: none
}

.columnMain {
	padding: 15px;
}

.columnMain.columnMainVideo {
	padding: 20px 0 15px 0 !important;
}

.columnMain .columnContent {
	text-indent: 2em;
	font-size: 18px;
	line-height: 35px;
}

.checkMore {
	width: 300px;
	text-align: center;
	margin: 20px auto 30px;
}

.checkMore span {
	color: #999;
	font-size: 20px;
	margin: 0 auto;
	padding: 5px 10px 5px 12px;
	background: #fff;
	letter-spacing: 2px
}

.buyBox {
	padding: 0 20px;
	color: #ff673e;
	font-size: 18px;
	line-height: 35px;
}

.columnMain.columnMainVideo .buyBox {
	padding: 0 20px 0 0 !important;
	overflow: hidden;
}

.buyBox .buyBtn {
	float: right;
	color: #fff;
	background: #ff673e;
	width: 120px;
	text-align: center;
	line-height: 35px;
	border-radius: 5px
}

.columnRecommand {
	padding: 15px;
}

.columnRecommand .recoTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.columnRecommand .recoBox {
	margin: 0 10px 10px;
	padding: 10px 0 5px;	
	border-bottom: 1px solid #eee;
}

.columnRecommand .recoInfo {
	margin: 8px 0;
	padding-left: 25px;
}

.columnRecommand .columnNum, .columnRecommand .columnTime {
	color: #999;
	float: right
}

.columnRecommand .columnReply {
	color: #999;
}

.videoMain {
	width: 100%;
	height: 40%;
	background: #eee;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1
}

.videoInfo {
	color: #999;
	border-bottom: 1px solid #eee;
	padding: 0 25px 5px;
	line-height: 30px
}


/*问题详情*/
.questionOutter {
	padding: 15px;
}

.columnInfoBox.questionInfoBox {
	margin-top: 0;
    min-height: 90px;
}

.columnInfoBox.questionInfoBox .columnInfo .columnName {
    color: #333;
}

.columnInfoBox.questionInfoBox .columnInfo .columnNumTime {
 	margin-top: 20px;
}

.questionBox {
	padding: 15px 0 0 15px;
}

.wenImg {
	width: 30px;
}

.questionBox .questionTitle {
	font-size: 20px;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 35px;
	position: relative;
}

.questionBox .questionMain {
	padding-left: 35px;
	padding-right: 15px;
}

.questionBox .questionTitle .wenImg {
	position: absolute;
	left: 0;
}

.questionBox .questionTop {
    font-size: 16px;
    color: #666;
    line-height: 35px
}

.questionBox .questionContent {
    text-indent: 2em;
    font-size: 18px;
    line-height: 35px;
}

.questionBox .questionContent a {
    color: inherit !important;
	cursor: text
}

.questionBox .questionContent img {
    margin-left: -2em;
}

.questionBox .questionLabel {
	margin-top: 10px;
}

.questionBox .quesLabel {
	color: #ff9800;
	display: inline-block;
	margin: 0 20px 10px 0;
}

.replyBtnBox {
	overflow: hidden;
}

.replyBtn {
	float: right;
	border: 1px solid #999;
	width: 100px;
	line-height: 32px;
	text-align: center;
	border-radius: 20px;
	background: #fff;
}

.replyImg {
	height: 22px;
}

.replyOutter {
	background: #ededed;
	border-radius: 10px;
	/*overflow: hidden;*/
	padding: 10px;
	margin-top: 15px;
}

.replyOutter .editorReply {
	font-size: 18px;
}

.replyOutter .columnName {
	font-size: 16px;
	margin: 5px 0;
}

.replyOutter .columnName .name {
	/*font-size: 18px;*/
}

.replyOutter .columnName .positon {
	color: #999;
	margin-left: 10px;
}

.replyOutter .columnTime {
	float: none !important;
	color: #999;
}

.replyOutter .replyMain {
	font-size: 18px;
	line-height: 30px;
	margin-top: 15px;
	padding-left: 85px;
}

.replyOutter .replyMain.replyMainDel {
	color: #999
}

.replyOutter .columnInfoBox .columnAvater {
    width: 80px;
    height: 72px;
}

.replyOutter .avaterImg {
    width: 62px;
    height: 62px;
    margin: 4px auto;
}

.replyOutter .columnInfoBox .columnInfo {
    margin-left: 85px;
}

.replyOutter.askOutter {
	background: #fff;
	margin-left: 60px;
	position: relative;
}

.replyOutter.askOutter .wenImg {
	position: absolute;
	left: -30px;
	top: 45px;
}

.replyOutter.replyOutterSmall {
	margin-left: 55px;
}

.replyOutter.replyOutterSmall .columnName:nth-child(1) {
	margin: 0;
}

.questionOutter .columnRecommand {
	padding: 0;
}

.questionOutter .recoTitle {
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	line-height: 40px;
	margin: 30px 0 10px;
}

.questionOutter .columnTitle {
	font-size: 18px;
}

.questionOutter .columnRecommand .recoInfo {
    padding: 0 20px 0 25px;
}

.questionOutter .columnRecommand .recoInfo .columnNum {
    float: left !important
}

.publishOutter {
	display: none;
	width: 100%;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	position: fixed;
	z-index: 2;
	bottom: 0;
	margin-left: -15px;
}

.publishOutter .publishText {
	resize: none;
	border: 1px solid #999;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	padding: 0 5px;
	font-size: 16px;
	width: 80%;
	margin-right: 100px;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.publishOutter .publishBtn {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #999
}

.publishOutter .publishBtn.active {
	color: #eb2222;
}

.lucencyBack {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
	margin: auto;
}

.replyOutterOutter {
	margin-bottom: 30px;
}


@media  (max-width: 360px) {
	.columnTitle {
	    font-size: 18px;
	}

	.columnInfoBox .columnAvater {
	    width: 80px;
	    height: 72px;
	}

	.avaterImg {
	    width: 55px;
	    height: 55px;
	}

	.columnInfoBox {
	    margin-top: 10px;
	}

	.columnInfoBox .columnInfo {
	    margin-left: 85px;
	    font-size: 14px;
	}

	.iconImg {
	    width: 14px;
	}

	.columnInfoBox .columnPrice {
	    font-size: 16px;
	    margin-top: 5px;
	}

	.columnTop {
	    padding: 15px 20px 5px;
	}

	.columnMain {
	    padding: 10px;
	}

	.columnMain .columnContent {
	    font-size: 16px;
	    line-height: 30px;
	}

	.checkMore {
	    width: 250px;
	    text-align: center;
	    margin: 15px auto 25px;
	}

	.checkMore span {
	    font-size: 18px;
	}

	.buyBox {
	    padding: 0 15px;
	    font-size: 16px;
	    line-height: 30px;
	}

	.buyBox .buyBtn {
	    width: 110px;
	    line-height: 30px;
	}

	.columnRecommand .recoInfo {
	    margin: 8px 0;
	    padding-left: 25px;
	    font-size: 14px;
	}

	.columnRecommand {
	    padding: 10px;
	}

	.columnRecommand .recoBox {
	    padding: 5px 0;
	}


	/*问题详情*/
	.columnInfoBox.questionInfoBox {
	    min-height: 80px;
	}

	.questionBox {
	    padding: 10px 0 0 10px;
	}

	.questionBox .questionTitle {
	    font-size: 18px;
	    padding-right: 10px;
	}

	.questionBox .questionTitle .wenImg {
		left: 3px;
		top: 3px;
	}

	.wenImg {
	    width: 25px;
	}

	.questionBox .questionTop {
	    font-size: 14px;
	    line-height: 30px;
	}

	.questionBox .questionContent {
	    font-size: 16px;
	    line-height: 30px;
	}

	.questionBox .questionLabel {
	    margin-top: 5px;
	}

	.questionBox .quesLabel {
	    margin: 0 15px 5px 0;
	}

	.replyBtn {
	    width: 80px;
	    line-height: 28px;
	    border-radius: 14px;
	    font-size: 14px;
	}

	.replyImg {
	    height: 18px;
	}

	.replyOutter .editorReply {
	    font-size: 16px;
	}

	.replyOutter .columnInfoBox .columnAvater {
	    width: 70px;
	    height: 63px;
	}

	.replyOutter .avaterImg {
        width: 54px;
	    height: 54px;
	    margin: 4px auto;
	}

	.replyOutter .columnInfoBox .columnInfo {
	    margin-left: 75px;
	}

	.replyOutter .columnName .positon {
	    font-size: 14px;
	}

	.replyOutter .replyMain {
	    font-size: 16px;
	    line-height: 28px;
	    margin-top: 10px;
	    padding-left: 75px;
	}

	.questionOutter .columnTitle {
	    font-size: 16px;
	}
}

@media  (min-width: 600px) {
	.columnTitle {
	    font-size: 26px;
	}

	.courseImg {
	    width: 24px;
	    top: -2px;
	}

	.columnInfoBox .columnAvater {
	    width: 100px;
	    height: 90px;
	}

	.avaterImg {
	    width: 78px;
	    height: 78px;
	}

	.columnInfoBox .columnInfo {
	    margin-left: 110px;
	    font-size: 20px;
	}

	.iconImg {
	    width: 20px;
	}

	.columnInfoBox .columnPrice {
	    font-size: 22px;
	}

	.columnMain .columnContent {
	    font-size: 20px;
	    line-height: 40px;
	}

	.checkMore {
	    width: 400px;
	}

	.checkMore span {
	    font-size: 22px;
	    padding: 8px 13px 8px 15px;
	}

	.buyBox {
	    font-size: 20px;
	    line-height: 40px;
	}

	.buyBox .buyBtn {
	    width: 140px;
	    line-height: 40px;
	}

	.columnRecommand .recoTitle {
	    font-size: 24px;
	}

	.columnRecommand .recoInfo {
	    margin: 12px 0;
	    font-size: 20px
	}


	/*问题详情*/
	.questionBox .questionTitle {
	    font-size: 24px;
	    padding-left: 40px;
	}

	.questionBox .questionTitle .wenImg {
		left: -5px;
	}

	.wenImg {
	    width: 40px;
	}

	.questionBox .questionTop {
	    font-size: 18px;
	    line-height: 40px;
	}

	.questionBox .questionContent {
	    font-size: 20px;
	    line-height: 40px;
	}

	.questionBox .quesLabel {
	    font-size: 18px;
	    margin: 0 30px 15px 0;
	}

	.replyBtn {
	    width: 120px;
	    line-height: 40px;
	    font-size: 20px;
	}

	.replyImg {
	    height: 25px;
	}

	.replyOutter .editorReply {
	    font-size: 20px;
	}

	.replyOutter .columnInfoBox .columnAvater {
	    width: 100px;
	    height: 90px;
	}

	.replyOutter .avaterImg {
	    width: 78px;
	    height: 78px;
	}

	.replyOutter .columnInfoBox .columnInfo {
	    margin-left: 110px;
	    font-size: 20px;
	}

	.questionBox .questionMain {
	    padding-left: 40px;
	}

	.replyOutter .columnName {
	    font-size: 20px;
	    margin: 8px 0;
	}

	.replyOutter .replyMain {
	    font-size: 20px;
	    line-height: 35px;
	    padding-left: 110px;
	}

	.questionOutter .recoTitle {
	    line-height: 50px;
	    margin: 40px 0 10px;
	}

	.questionOutter .columnTitle {
	    font-size: 22px;
	}

	.publishOutter {
		padding: 20px;
	}

	.publishOutter .publishText {
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		width: 90%;
	}

	.publishOutter .publishBtn {
		font-size: 18px;
		right: 35px;
		bottom: 35px;
	}

	.replyOutter.askOutter {
		margin-left: 100px;
	}

	.replyOutter.replyOutterSmall {
		margin-left: 95px;
	}
}



