*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

}

html,body,.swiper-slide,.swiper-container,.content{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}



body {
	background: #fff !important;
}

.p20{
	padding: 10px 20px
}
body{
	font-size: 18px;
	color: #333
}
.left{
	float: left;
}
.right{
	float: right
}
.yellow{
	color: #f2b718
}
.border-top{
	border-top: 5px solid #f4f4f4
}
.of{
	overflow: hidden;
}
.color999{
	color: #999
}
.audioDiv{
	width: 240px;
	overflow: hidden;
	margin: auto;
	margin: 5px auto;
}
.auidobtn{
	width: 60px;
	height: 60px;
	background: url(../../img/Apphomework/labaquantu.png)no-repeat center;
	background-size: 60px 60px;
	margin-right:10px;
	min-height: 50px;
	margin-top: 55px
}
.auidobtn.active{
	background: url(../../img/Apphomework/laba.gif)no-repeat center;
	background-size:60px 60px;
}
.audiotext,.videotext{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	min-height:50px
}
.audiotext{
	min-height:180px
}
.audio1btn{
	width:60px;
	height: 60px;
	margin-left:10px;
	background: url(../../img/Apphomework/fang1.png)no-repeat center;
	background-size: 60px 60px;
	margin-top: 55px
}
.audio1btn.active{

	background: url(../../img/Apphomework/fang2.png)no-repeat center;
	background-size: 60px 60px;
}
.fanyiIcon{
	background:#fff url(../../img/Apphomework/xiajian.png)no-repeat 10px 6px ;
	padding-left: 30px;
	padding-right: 10px;
	display: inline-block;
	position: relative;
	top:10px;
	background-size: 16px 10px;
}
.fanyiIcon.active{
	background:#fff url(../../img/Apphomework/shangjian.png)no-repeat  10px 6px;
	background-size: 16px 10px;
}
.fanyi{
	border-bottom: 1px solid #eee;
	margin: 5px 20px;
	text-align: center;

}
.text{
	padding: 0 20px;
	line-height: 28px;
	display: none
}
.text-center{
	text-align: center;
	line-height: 40px
}
a{
	text-decoration: none;
	color: #eee
}
.paizhao{
	width: 25px;
	position: relative;
	top:-2px
}
.answeCard{
	padding: 0px 12px 0 6px;
	border: 1px solid  #000;
	border-radius: 5px;
	background: url(../../img/Apphomework/wodeshitikugengduo.png) no-repeat 56px 5px;
	background-size: 8px;
	position: relative;
	top:3px;
	margin-right: 5px;
	font-size: 16px
}
.timeP{
	position: absolute;
	right: 10px;
	top: 9px
}
.caogao{
	margin-right: 15px
}
.workTime,.caogao span {
	position: relative;
	top:1px;
	font-size: 16px
}
.timeP img,.caogao img{
	width: 15px
}
.cuoti{
	width: 25px;
	position: relative;
	top: -2px
}
.shoucang img{
	width: 25px
}
.keben img{
	width: 100%
}
.lh26{
	line-height: 26px
}
.textName{
	margin-top: 10px
}
.voice{
	width: 100px;
	height: 135px;
	background: url(/Public/img/Apphomework/weiluyin.png) no-repeat 0 35px;

	background-size: 100px 100px;
}
.answeCard a{
	color:#333
}
.voice.active{
	background: url(../../img/Apphomework/du.gif) no-repeat center;
	background-size: 100px 135px
}
.dn{
	visibility: hidden;
}
.mark{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	z-index: 1;
		display: none
}
.mark img{
	width: 150px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}
[v-cloak] {
	display: none;
}
/*.loding img{
	width: 200px;
}
.loding{
	text-align: center;
	margin-top: 10px;
	height:25px
}*/
.swiper-button-next, .swiper-button-prev,.guankan{
	width:auto;
	background: #ff683e;
	position: static;
	display: inline-block;
	margin-top: 0;
	height: auto;
	padding: 10px 25px;
	border: 1px solid #ff683e;
	color:#fff;
	border-radius: 30px;
	text-align: center;
}
.guankan{
	margin-top: 15px
}
.guankan.active1{
	margin-top: 15px;
	background: #ccc;
	border: 1px solid #ccc;
}
.swiper-button-prev.swiper-button-disabled{
	opacity: 0.3
}
.next{
	position:fixed;
    bottom: 0;
    width: 100%;
	z-index: 3;

}
.border-top{
	padding-bottom: 70px
}
.successBox {
	background: url(../../img/Apphomework/tanchuangwancheng.png) no-repeat center;
	background-size: 100% 100%;
}

.hintBox {
	background: url(../../img/Apphomework/submitBox.png) no-repeat center;
	background-size: 100% 100%;
}

[v-cloak]{
	display: none;
}
.swiper-container{
	overflow-y:hidden;
}
#app {
	background: #f0f0f0;
	display: none;
}
@media screen and (min-height:500px) and (max-height:600px) {
	.audiotext{
		min-height: 100px;
		line-height: 28px
	}
}
.swiper-button-next.swiper-button-disabled{
	opacity: 1
}
@media screen and (min-width:600px){
	html,body{
		height: 100%
	}
}
video{
	width: 100%
}
.exerciseAnswer,.exerciseJx,.difficulty,.exerciseTemplate .score,.exerciseMinor,.exerciseDifficulty,.claimScore,.box1000{
	display: none
}
.exerciseContent li p{
	display:contents;
}
table{
	width: 100%
}
p{
	word-break: break-word;

}
.oneTitle p{
	width: 100% !important
}
.answerInput{
	border: none;
	background: #fff;
	border-bottom: 1px solid #000;
	width: 40px
}
.exerciseTemplate p,.exerciseTemplate p span,.exerciseOutter span,.exerciseOutter p span{
	font-size: 16px !important;
	color: #333 !important;
}
.layerHtml{
	visibility: inherit;

}
.exerciseTitle .score,.caption p {
	display: inline-block;
}
.appTop {
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 100;
	box-sizing: content-box;
}
.appTop .returnBox {
	width: 44px;
	height: 100%;
	background: url(../../img/Apphomework/fanhui.png) no-repeat center;
	background-size: 10px 16px;
	position: absolute;
	top: 0;
	left: 0;
}
.appTop .appTopTitle {
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	margin: 0 60px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cardTop{
	margin-top: 45px
}
.homeworkListTabContent .homeworkStart{
	padding: 10px 0;

}
.homeworkListTabContent .homeworkStart .btnTwo{
	line-height: 46px
}
.swiper-wrapper{
	margin-top: 45px;

}

.xuanze .exerciseContent li,.duoxuan .exerciseContent li{
	line-height: 30px;
	background: #f7f7f7;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 1px solid #eee;
	overflow: hidden;
	width: 100% !important;
}
.xuanze .exerciseContent li .choiceAnswer,.duoxuan .exerciseContent li .choiceAnswer{
	padding: 0 10px;
	background: #e4e4e4;
	line-height: 30px;
    display: inline-block;
	float: left;
}
.choiceAnswer{
	margin-right: 5px
}
.xuanze .exerciseContent li .choiceAnswer.active3,.duoxuan .exerciseContent li .choiceAnswer.active3{
	background: #f2b81a
}
.xuanze .exerciseContent li.active2,.duoxuan .exerciseContent li.active2{
	background-color: #ffeaae;
	border-color: #f2b81a
}
.daanDiv{
	position: relative;
}
.shantu{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	display: none
}
.wodeanswer{
	display: none
}
.exerciseAnswer,.exerciseJx,.exerciseRemark,.wodeanswer1{
	background: #f4f4f4;
	padding: 0 10px
}
.remarkText p,.answerBox p,.remarkText p span,.solution p span,.analysisSpan p span{
	background:none !important
}
