* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.p20 {
	padding: 10px 20px
}

body {
	font-size: 16px;
	color: #333;
	font-family: "微软雅黑";
	background: #f0f0f0;
}

.left {
	float: left;
}

.right {
	float: right;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #333
}

img {
	vertical-align: middle;
	max-width: 100%
}

ul,li {
	list-style: none
}

/*@font-face {
	font-family: 'fangzhengkatong';
	src: url('../../font/fangzhengkatong.ttf');
}

@font-face {
	font-family: 'hanzhenguangbiao';
	src: url('../../font/hanzhenguangbiao.ttf');
}

@font-face {
	font-family: 'hyg3gjm';
	src: url('../../font/hyg3gjm.ttf');
}

@font-face {
	font-family: 'PingFangBold';
	src: url('../../font/PingFangBold.ttf');
}*/

button {
	outline: none;
	border: none;
}

.textHidden {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.homeworkList {
	width: 100%;
	padding: 10px;
}

.homeworkList .homeworkItem {
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 15px 10px 20px;
	overflow: hidden;
	margin-bottom: 5px;
	position: relative;
}

.homeworkList .homeworkItem .newImg {
	position: absolute;
	width: 15px;
	left: 4px;
	top: 8px;
}

.homeworkList .homeworkItem .homeworkIntro {
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	width: calc(100% - 100px)
}

.homeworkList .homeworkItem .homeworkIntro .homeName {
	font-size: 16px;
	line-height: 32px;
	width: 100%;
	color: #333;
}

.homeworkList .homeworkItem .homeworkIntro .homeScore {
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	color: #333;
}

.homeworkList .homeworkItem .homeworkDo {
	float: right;
	font-size: 12px;
	width: 65px;
	text-align: center;
}

.homeworkList .homeworkItem .homeworkDo img {
	max-width: 60%;
}

.homeworkList .homeworkItem .homeworkDo img.doImg {
	margin-top: 2px;
}

.homeworkList .homeworkItem .homeworkDo .scoreBox {
	position: relative;
	text-align: center;
}

.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum {
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
}

.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum .num {
	font-size: 16px;
}

.homeCircleList {
	padding: 0 5px;
}

.homeCircleList .homeCircleName {
	color: #999;
	margin-bottom: 10px;
	padding-left: 5px;
}

.homeCircleList .homeCircleUl {
	overflow: hidden;
}

.homeCircleList .homeCircleLi {
	float: left;
	width: 20%;
	margin-bottom: 10px;
}

.homeCircleList .homeCircleLi .qbtn {
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	border: 1px solid #c77609;
	margin: 0 auto;
	color: #994c00
}

.homeCircleList .homeCircleLi .qbtn.wrongAnswer {
	background: #ff683e;
	border-color: #ff683e;
	color: #fff;
}

.homeCircleList .homeCircleLi .qbtn.rightAnswer {
	background: #58d8db;
	border-color: #58d8db;
	color: #fff;
}

.homeCircleList .homeCircleLi .qbtn.finishBtn {
	background: #fec93f;
	color: #fff;
}

.dateDiv {
	display: inline-block;
	padding: 2px 6px;
	background: #ccc;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.yearDiv {
	width: 100%;
	position: relative;
	height: 50px;
	padding-top: 24px;
	margin: 15px 0
}

.yearDiv .border {
	width: 100%;
	height: 1px;
	background: #c7a572;
}

.yearDiv .circleBox {
	width: 70px;
	background: #f0f0f0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto
}

.yearDiv .circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #c7a572;
	margin: 0 auto;
	color: #c7a572;
}


/*单个作业的列表*/
.homeworkListOutter {
	background: #fafafa;
	padding: 0 10px;
	border-top: 1px solid #999;
}

.homeworkListOutter .listhomeListItem {
	padding: 10px;
	overflow: hidden;
}

.homeworkListOutter .homeListTime {
	border-bottom: 1px solid #999;
}

.homeworkListOutter .listName {
	float: left;
}

.homeworkListOutter .listText {
	float: left;
	width: 70%;
	width: -moz-calc(100% - 85px);
	width:-webkit-calc(100% - 85px);
	width: calc(100% - 85px);
}

.homeworkListTabBox {
	width: 100%;
	overflow: hidden;
}

.homeworkListTabBox .homeListTab {
	width: 50%;
	float: left;
	background: #fafafa;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
	padding: 10px 0;
	color: #999;
}

.homeworkListTabBox .homeListTab1 {
	border-right: 1px solid #935706;
}

/*.homeworkListTabBox .homeListTab2 {
	border-left: 0.5px solid #935706;
}*/

.homeworkListTabBox .homeListTab.active {
	background: #fff9e4;
	border-color: #935706;
	color: #935706;
}

.homeworkListTabBox .homeListTab img {
	width: 20px;
	position: relative;
	top: -1px;
}

.homeworkListTabContent {
	margin: 10px;
	margin-bottom: 0;
}

.homeworkListTabContent .homeListCon {
	background: #fff;
}

.homeworkListTabContent .homeListCon.homeListCon2 {
	display: none;
	border: 5px solid #f2b81a;
	border-radius: 10px;
	padding: 0 10px;
	position: relative;
}

.homeworkListTabContent .homeListCon.homeListCon1 {
	padding-bottom: 80px;
}

.homeworkListTabContent .homeListCon .homeListConTitle {
	position: relative;
}

.homeworkListTabContent .homeListCon .homeListConTitle img {
	width: 100%;
}

.homeworkListTabContent .homeListCon .homeListConTitle span {
	height: 25px;
	color: #fff;
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.homeworkListTabContent .homeListCon .emptyImg {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.homeworkListTabContent .homeworkStart {
	width: 100%;
	width: -moz-calc(100% - 20px);
	width:-webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 20px;
	text-align: center;
}

.homeworkListTabContent .homeworkStart .btn {
	background: #ff683e;
	color: #fff;
	width: 60%;
	max-width: 250px;
	line-height: 50px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
}

.homeworkListTabContent .homeConItem {
	padding: 5px;
	border-bottom: 1px dashed #999;
	overflow: hidden;
	min-height: 71px;
}

.homeworkListTabContent .homeConItem .itemImgBox {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #994c00;
	padding: 2px;
}

.homeworkListTabContent .homeConItem .itemScoreBox {
	float: right;
	text-align: center;
	width: 60px;
	height: 60px;
}

.homeworkListTabContent .homeConItem .itemScoreBox .itemScoreName {
	color: #999;
	padding-top: 2px;
}

.homeworkListTabContent .homeConItem .itemScoreBox .itemScoreNum {
	color: #ff683e;
	/*font-family: "fangzhengkatong";*/
	font-weight: bold;
	font-size: 14px;
}

.homeworkListTabContent .homeConItem .itemScoreBox .itemScoreNum .num {
	font-size: 30px;
	margin-right: 2px;
}

.homeworkListTabContent .homeConItem .itemTextBox {
	float: left;
	width: 50%;
	width: -moz-calc(100% - 150px);
	width:-webkit-calc(100% - 150px);
	width: calc(100% - 150px);
	margin-left: 10px;
	color: #999;
}

.homeworkListTabContent .homeConItem .itemTextBox .itemTextName {
	color: #994c00;
	margin: 2px 0 8px;
	font-size: 18px;
}

/*答题卡*/
.cardTop {
	width: 100%;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	padding: 10px 20px;
	background: #fafafa;
	position: relative;
}

.cardTop .questionMark {
	width: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.explainMark {
/*	width: 280px;
	height: 234px;*/
	width: 250px;
	height: 371px;
	background: url(../../img/Apphomework/explainMarkNew.png) no-repeat center;
	background-size: 100% 100%;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3
}

.explainMark .closeMark {
	width: 30px;
	height: 30px;
	float: right;
}

.cardTop .cardTitle {
	margin-bottom: 10px;
}

.cardTop .cardNumBox .cardNum {
	color: #f2b81a;
	font-size: 18px;
}

.homeworkListTabContent .homeworkStart .btnTwo {
	display: inline-block;
    background: #ff683e;
    color: #fff;
    width: 40%;
    max-width: 200px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    margin: 0 4.5%;
    font-size: 16px;
}

.fullBack, .fullBackMark {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2
}

.successBox, .hintBox {
	display: none;
	width: 280px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 3;
	text-align: center;
}

.successBox {
	height: 235px;
}

.hintBox {
	height: 270px;
}

.successBox .sucTitle {
	font-size: 20px;
	/*font-family: "hanzhenguangbiao";*/
	margin-top: 70px;
	letter-spacing: 1px;
}

.successBox .sucMain {
	margin-top: 30px;
}

.hintBox .hintMain {
	margin-top: 155px;
	/*font-family: "PingFangBold";*/
	line-height: 25px
}

.successBox .sucBtn, .hintBox .hintBtn {
	display: block;
	width: 80px;
	height: 30px;
	line-height: 28px;
	border-radius: 15px;
	color: #fff;
	text-align: center;
	background: #f2b81a;
	margin: 40px auto 0;
	/*font-family: "hyg3gjm";*/
	font-size: 16px;
	border: 1px solid #f2b81a;
	font-weight: 600
}

.hintBox .hintBtn {
	display: inline-block;
	margin: 15px 10px 0
}

.hintBox .hintBtn.sureBtn {
	background: #fff;
	color: #333;
	font-weight: 100
}


.cardTop .resultBottom {
	text-align: center;
	color: #999;
}

.cardTop .resultBottom img {
	width: 20px;
	margin-right: 5px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #44cdfc;
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
}

.circle .pie_left, .circle .pie_right {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

.circle .p_left, .circle .p_right {
    width: 120px;
    height: 120px;
    background: #eee;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle .pie_right, .circle .p_right {
    clip: rect(0,auto,auto,60px);
}

.circle .pie_left, .circle .p_left {
    clip: rect(0,60px,auto,0);
}

.circle .maskBottom {
	width: 112px;
    height: 112px;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    background: #eee;
    position: absolute;
}

.circle .mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    background: #fafafa;
    position: absolute;
    text-align: center;
}

.circle .percentBox {
	padding-top: 10px;
}

.circle .percentBox .percentNum {
	font-size: 26px;
}

.circle .accuracy {
	color: #999;
	margin-bottom: 3px;
	font-size: 14px;
}

.circle .scoreBox {
	color: #ff683e;
	font-size: 12px
}

.foldBtn {
	float: right;
	width: 20px;
	height: 20px;
	background: url(../../img/Apphomework/unfold.png) no-repeat center;
	background-size: 100% 100%;
	margin: 6px 6px 0 0;
}

.foldBtn.active {
	background: url(../../img/Apphomework/fold.png) no-repeat center;
	background-size: 100% 100%;
}

.dimBox {
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: #999;
	padding: 15px;
}

.dimBox .dimCircle {
	float: left;
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
    background: #fec93f;
    border: 1px solid #c77609;
}

.dimBox .dimCircle.circleNo {
    background: #fff;
}

.dimBox .dimAnswer {
	float: left;
	margin: 0 10px 0 5px
}

.dimBox .dimAnswer.answerNo {
	color: #e78b13;
}

/*大于360的手机*/
@media  (max-width:599px) and (min-width:360px){
	.homeworkList .homeworkItem {
		padding: 0 15px 10px 25px;
	}

	.homeworkList .homeworkItem .newImg {
		width: 18px;
		top: 10px;
	}

	.homeworkList .homeworkItem .homeworkIntro {
		font-size: 14px;
		line-height: 22px;
		width: calc(100% - 120px)
	}

	.homeworkList .homeworkItem .homeworkIntro .homeName {
		font-size: 18px;
		line-height: 40px;
	}

	.homeworkList .homeworkItem .homeworkIntro .homeScore {
		font-size: 16px;
		line-height: 30px;
	}

	.homeworkList .homeworkItem .homeworkDo {
		font-size: 13px;
		width: 102px;
	}

	.homeworkList .homeworkItem .homeworkDo img {
		max-width: 65%;
	}

	.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum {
		font-size: 14px;
	}

	.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum .num {
		font-size: 24px;
	}

	.homeCircleList .homeCircleName {
		padding-left: 10px;
	}

	.homeCircleList .homeCircleLi .qbtn {
		width: 45px;
		height: 45px;
		line-height: 43px;
	}
}

/*大于600的手机*/
@media (min-width:600px){
	.homeworkList {
		padding: 10px 20px;
	}

	.homeworkList .homeworkItem {
		padding: 0 30px 20px 40px;
		margin-bottom: 10px;
	}

	.homeworkList .homeworkItem .newImg {
		width: 24px;
		top: 10px;
	}

	.homeworkList .homeworkItem .homeworkIntro {
		font-size: 18px;
		line-height: 30px;
		width: calc(100% - 150px)
	}

	.homeworkList .homeworkItem .homeworkIntro .homeName {
		font-size: 22px;
		line-height: 50px;
	}

	.homeworkList .homeworkItem .homeworkIntro .homeScore {
		font-size: 20px;
		line-height: 35px;
	}

	.homeworkList .homeworkItem .homeworkDo {
		font-size: 18px;
		width: 140px;
	}

	.homeworkList .homeworkItem .homeworkDo img {
		max-width: 60%;
	}

	.homeworkList .homeworkItem .homeworkDo img.doImg {
		margin: 5px 0
	}

	.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum {
		font-size: 16px;
	}

	.homeworkList .homeworkItem .homeworkDo .scoreBox .scoreNum .num {
		font-size: 30px;
	}


	.homeworkListTabContent .homeworkStart .btnTwo {
		font-size: 18px
	}

	.cardTop {
		font-size: 20px;
	}



	.dateDiv {
	    display: inline-block;
	    padding: 3px 8px;
	    background: #ccc;
	    color: #fff;
	    font-size: 18px;
	    border-radius: 5px;
	    margin-bottom: 10px;
	}

	.homeworkListOutter {
		padding: 0 20px
	}

	.homeworkListOutter, .homeworkListTabBox {
		font-size: 20px;
	}

	.homeworkListTabBox .homeListTab {
		padding: 20px 0;
	}

	.homeworkListTabBox .homeListTab img {
	    width: 24px;
	    position: relative;
	    top: -1px;
	}

	.homeworkListOutter .listText {
	    width: 70%;
	    width: -moz-calc(100% - 105px);
	    width: -webkit-calc(100% - 105px);
	    width: calc(100% - 105px);
	}

	.homeworkListOutter .listhomeListItem {
		padding: 20px;
	}

	.homeworkListTabContent .homeworkStart .btn {
		font-size: 18px;
	}


	.circle {
	    width: 150px;
	    height: 150px;
	}

	.circle .pie_left, .circle .pie_right {
	    width: 150px;
	    height: 150px;
	}

	.circle .p_left, .circle .p_right {
	    width: 150px;
	    height: 150px;
	}

	.circle .pie_right, .circle .p_right {
	    clip: rect(0,auto,auto,75px);
	}

	.circle .pie_left, .circle .p_left {
	    clip: rect(0,75px,auto,0);
	}

	.circle .maskBottom {
		width: 140px;
	    height: 140px;
	    left: 5px;
	    top: 5px;
	}

	.circle .mask {
	    width: 130px;
	    height: 130px;
	    left: 10px;
	    top: 10px;
	}

	.circle .percentBox {
		padding-top: 15px;
		font-size: 18px
	}

	.circle .percentBox .percentNum {
		font-size: 32px;
	}

	.circle .accuracy {
		margin: 5px 0;
		font-size: 18px;
	}

	.circle .scoreBox {
		font-size: 16px
	}


	.homeworkListTabContent .homeListCon .homeListConTitle span {
		height: 30px;
		font-size: 22px
	}

	.cardTop .resultBottom {
	    font-size: 18px;
	}

	.cardTop .resultBottom img {
	    width: 22px;
	}

	.homeCircleList .homeCircleName {
	    padding-left: 10px;
	    font-size: 20px;
	    margin-bottom: 20px;
	}

	.homeCircleList .homeCircleLi {
	    margin-bottom: 15px;
	}

	.homeCircleList .homeCircleLi .qbtn {
	    width: 60px;
	    height: 60px;
	    line-height: 58px;
	}


	.cardTop .questionMark {
		right: 10px;
		top: 10px;
	}

	.explainMark {
/*		width: 510px;
		height: 426px;*/
		width: 350px;
		height: 520px;
	}

	.explainMark .closeMark {
		width: 60px;
		height: 60px;
	}


	.dimBox {
		font-size: 16px;
	}

	.dimBox .dimCircle {
	    width: 21px;
	    height: 21px;
	}
}
