* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.p20 {
	padding: 10px 20px
}

body {
	font-size: 16px;
	color: #333;
	font-family: "微软雅黑"
}

.left {
	float: left;
}

.right {
	float: right;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #333
}

img {
	vertical-align: middle
}

.textHidden {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

body {
	background: #fafafa;
	/*height: 100%;*/
}

.doHomework {
	background: #fafafa;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	padding: 10px 20px;
	overflow: hidden;
}

.doHomework .doHomeImgBox {
	position: relative;
	float: left;
}

.doHomework .doHomeImgBox .doHomeImg {
	width: 60px;
	display: block;
}

.doHomework .doHomeImgBox .doHomeNum {
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: -5px;
	top: -5px;
	color: #fff;
	text-align: center;
	background: red;
	border-radius: 10px;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.doHomework .doHomeTextBox {
	float: left;
	margin-left: 10px;
}

.doHomework .doHomeName {
	font-size: 18px;
	line-height: 38px;
}

.doHomework .doHomeLabel {
	font-size: 14px;
	color: #999;
}

.doHomework .doHomeHref {
	float: right;
	font-size: 16px;
	line-height: 60px;
}

.doHomework .doHomeHref .moreImg {
	height: 20px;
	position: relative;
	top: -1px;
	margin-left: 5px;
}

.homeworkList {
	width: 100%;
	background: #fafafa;
	padding: 5px 10px;
}

.homeworkList .homeworkItem {
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 15px 10px 20px;
	overflow: hidden;
	margin-bottom: 5px;
	position: relative;
}

.homeworkList .homeworkItem .newImg {
	position: absolute;
	width: 15px;
	left: 4px;
	top: 8px;
}

.homeworkList .homeworkItem .homeworkIntro {
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	width: calc(100% - 100px)
}

.homeworkList .homeworkItem .homeworkIntro .homeName {
	font-size: 16px;
	line-height: 32px;
	width: 100%;
	color: #333;
}

.homeworkList .homeworkItem .homeworkIntro .homeScore {
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	color: #333;
}

.homeworkList .homeworkItem .homeworkDo {
	float: right;
	font-size: 12px;
	width: 65px;
	text-align: center;
}

.homeworkList .homeworkItem .homeworkDo img {
	max-width: 60%;
}

.homeworkList .homeworkItem .homeworkDo img.doImg {
	margin-top: 2px;
}

.homeworkBook {
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 10px 15px 10px;
	border-top: 10px solid #f0f0f0
}

.homeworkBook .homeBookBox {
	width: 100%;
	position: relative;
}

.homeworkBook .homeBookBox .bookImg {
	width: 100%;
}

.homeworkBook .completeHomeBox {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 18%;
	text-align: center;
}

.homeworkBook .completeHomeBox .completeHome {
	font-size: 14px;
}

.homeworkBook .completeHomeBox .completeHome .conNum {
	font-size: 16px;
	color: #fc5760;
}

.homeworkBook .completeHomeBox .checkMore {
	width: 80px;
}

.emptyImg {
	display: none;
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 95%
}

.loadFail {
    line-height: 100px;
    display: none; 
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
    color: #999;
}

/*低于560的手机*/
@media (max-height:560px){
	body {
		height: inherit;
	}

	.homeworkBook {
		position: relative;
	}
}

/*高于660的手机 低于 700*/
@media (min-height:660px){
	.homeworkList .homeworkItem {
		padding: 0 15px 10px 25px;
	}

	.homeworkList .homeworkItem .newImg {
		width: 18px;
		top: 10px;
	}

	.homeworkList .homeworkItem .homeworkIntro {
		font-size: 14px;
		line-height: 22px;
		width: calc(100% - 120px)
	}

	.homeworkList .homeworkItem .homeworkIntro .homeName {
		font-size: 18px;
		line-height: 40px;
	}

	.homeworkList .homeworkItem .homeworkIntro .homeScore {
		font-size: 16px;
		line-height: 30px;
	}

	.homeworkList .homeworkItem .homeworkDo {
		font-size: 13px;
		width: 102px;
	}

	.homeworkList .homeworkItem .homeworkDo img {
		max-width: 65%;
	}
}

/*大于360的手机*/
@media  (max-width:599px) and (min-width:360px){
	.homeworkBook .completeHomeBox .completeHome {
		font-size: 16px;
	}

	.homeworkBook .completeHomeBox .completeHome .conNum {
		font-size: 18px;
	}

	.homeworkBook .completeHomeBox .checkMore {
		width: 100px;
		margin-top: 5px;
	}
}

/*大于600的手机*/
@media (min-width:600px){
	.doHomework {
		padding: 15px 30px;
	}

	.doHomework .doHomeImgBox .doHomeImg {
		width: 86px;
	}

	.doHomework .doHomeImgBox .doHomeNum {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		font-size: 16px;
	}

	.doHomework .doHomeTextBox {
		float: left;
		margin-left: 20px;
	}

	.doHomework .doHomeName {
		font-size: 22px;
		line-height: 55px;
	}

	.doHomework .doHomeLabel {
		font-size: 18px;
	}

	.doHomework .doHomeHref {
		font-size: 20px;
		line-height: 86px;
	}

	.doHomework .doHomeHref .moreImg {
		height: 24px;
		top: -3px;
	}

	.homeworkBook {
		padding: 20px 20px 30px 20px;
	}

	.homeworkBook .completeHomeBox .completeHome {
		font-size: 20px;
	}

	.homeworkBook .completeHomeBox .completeHome .conNum {
		font-size: 24px;
	}

	.homeworkBook .completeHomeBox .checkMore {
		width: 160px;
		margin-top: 20px;
	}


	.homeworkList {
		padding: 10px 20px;
	}

	.homeworkList .homeworkItem {
		padding: 0 30px 20px 40px;
		margin-bottom: 10px;
	}

	.homeworkList .homeworkItem .newImg {
		width: 24px;
		top: 10px;
	}

	.homeworkList .homeworkItem .homeworkIntro {
		font-size: 18px;
		line-height: 30px;
		width: calc(100% - 150px)
	}

	.homeworkList .homeworkItem .homeworkIntro .homeName {
		font-size: 22px;
		line-height: 50px;
	}

	.homeworkList .homeworkItem .homeworkIntro .homeScore {
		font-size: 20px;
		line-height: 35px;
	}

	.homeworkList .homeworkItem .homeworkDo {
		font-size: 18px;
		width: 130px;
	}

	.homeworkList .homeworkItem .homeworkDo img {
		max-width: 60%;
	}

	.homeworkList .homeworkItem .homeworkDo img.doImg {
		margin: 5px 0
	}
}