* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none
}

.p20 {
	padding: 10px 20px
}

body {
	font-size: 18px;
	color: #333;
	font-family: "微软雅黑";
}

.left {
	float: left;
}

.right {
	float: right;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #333
}

img {
	vertical-align: middle;
	max-width: 100%
}

ul,li {
	list-style: none
}

button {
	outline: none;
	border: none;
}

.textHidden {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.hr9 {
	width: 100%;
	height: 4px;
	background: #eee;
}

/*===================================================学生作业批改=====*/
.mainOutter {
	margin-bottom: 55px;
}

.checkOutter {
	font-size: 16px;
	margin: 10px;
}

.checkOutter .checkTitle {
	margin: 0 20px;
	text-align: center;
    background-image: url(/Public/img/Apphomework/yuan.png), url(/Public/img/Apphomework/yuan.png), url(/Public/img/Apphomework/xian.png);
    background-position: center left, center right, center center;
    background-repeat: no-repeat, no-repeat, repeat-x;
}

.checkOutter .checkTitle .title {
	color: #999;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	background: #fff;
}

.avatarOutter {
	overflow: hidden;
}

.avatarInner {
	width: 25%;
	float: left;
}

.avatarBox {
	width: 70px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.avatarBox .avatarImg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid #eee;
}

.avatarBox .avatarNum {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 0;
	color: #eb2222;
	text-align: center;
	background: url(/Public/img/Apphomework/bentidefen.png) no-repeat center;
	background-size: 100% 100%;
}

.avatarBox .avatarName {
	line-height: 40px;
	text-align: center;
}

.bottomBtn {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f8f8f8;
	border-top: 1px solid #eee;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
}

.yellowBtn {
	background: #f2b81a;
}

.bottomBtn .bottomBtn2 {
	width: 100%;
	float: left;
}

/*===================================================学生错题库/我的试题库=====*/
#versionSubject {
	padding-right: 20px;
	background: url(/Public/img/Apphomework/xialaBlack.png) no-repeat center right;
	background-size: 14px 8px;
}

.slideOutter {
	/*overflow: hidden;*/
}

.slideOutter .slideBox {
	float: left;
	height: 49px;
	line-height: 49px;
	border-bottom: 2px solid #eee;
	padding: 0 8px;
	width: initial;
}

.slideOutter .slideBox .slideNum {
	font-size: 16px;
	color: #999;
}

.slideOutter .slideBox.active {
	border-bottom: 2px solid #f2b81a;
	color: #f2b81a;
}

.slideOutter .slideBox.active .slideNum {
	color: #f2b81a;
}

.slideOutter .borderBottom {
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #eee;
}

.swiperFixed {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
}

.testLibraryContent {
	padding: 0 20px;
}

.testLibraryContent .testLibraryOutter {
	border-bottom: 1px solid #dcdcdc;
}

.testLibraryContent .testLibraryTitle {
	padding: 10px 18px 10px 0;
	line-height: 30px;
	background: url(/Public/img/Apphomework/huishou.png) no-repeat right center;
	background-size: 14px 8px;
}

.testLibraryContent .testLibraryTitle.active {
	background: url(/Public/img/Apphomework/xiala.png) no-repeat right center;
	background-size: 14px 8px;
}

.testLibraryContent .testLibraryBox {
	display: none;
	padding: 0 20px;
}

.testLibraryContent .testLibraryBox .testLibraryList {
	display: block;
	padding: 7px 0;
	line-height: 25px;
	font-size: 16px;
}

/*===================================================作业详情=====*/
.homeworkTop {
	margin: 0 15px;
}

.homeworkTitleBox {
	height: 49px;
	line-height: 49px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.homeworkTitleBox .title {
	float: left;
	max-width: 60%;
	max-width: -moz-calc(100% - 130px);
	max-width:-webkit-calc(100% - 130px);
	max-width: calc(100% - 130px);
}

.homeworkTitleBox .homeworkStatus {
	float: left;
	font-size: 14px;
	margin-left: 5px;
}

.homeworkTitleBox .homeworkStatus.toCorrect {
	color: #eb2222;
}

.homeworkTitleBox .homeworkStatus.notStart {
	color: #00b290;
}

.homeworkTitleBox .homeworkStatus.doHomework {
	color: #f2b81a;
}

.homeworkTitleBox .homeworkStatus.endReport {
	color: #999;
}

.homeworkTitleBox .homeworkStatus img {
	height: 16px;
	position: relative;
	top: -1px;
	left: 2px;
}

.homeworkTitleBox .checkHomework {
	float: right;
	font-size: 16px;
	color: #999;
	background: url(/Public/img/Apphomework/gengduo.png) no-repeat right center;
	background-size: 8.5px 14px;
	padding-right: 14px;
}

.homeworkTime {
	overflow: hidden;
	position: relative;
}

.homeworkTime .timeLeft {
	font-size: 16px;
	color: #999;
	line-height: 24px;
	padding: 10px 0;
}

.homeworkTime .urgeHomework {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	background: #f2b81a;
	font-size: 16px;
	color: #fff;
}

.homeworkTime .urgeHomework.disabled {
	background: #999;
}

.homeworkTimeNot {
	overflow: hidden;
}

.homeworkTimeNot .timeBox {
	height: 49px;
	line-height: 49px;
}

.homeworkTimeNot .timeBox:first-child {
	border-bottom: 1px solid #eee;
}

.homeworkTimeNot .timeBox label {
	float: left;
}

.homeworkTimeNot .timeBox .timeInput {
	font-size: 18px;
	height: 100%;
	width: 72%;
	width: -moz-calc(100% - 100px);
	width:-webkit-calc(100% - 100px);
	width: calc(100% - 100px);
	float: left;
}

.homeworkToCorrect {
	border: 5px solid #eee;
	border-left: none;
	border-right: none;
	height: 58px;
	position: relative;
}

.homeworkToCorrect .title {
	line-height: 48px;
	display: inline-block;
	position: absolute;
	left: 0;
	padding-left: 15px;
	z-index: 2;
	background: #fff;
}

.homeworkToCorrect .swiper-container {
	margin-left: 125px !important;
}

.homeworkToCorrect .slideHomework {
	position: relative;
	padding: 12px 50px 12px 0;
}

.homeworkToCorrect .slideId {
	font-size: 16px;
	padding: 1px 20px;
	background: #999;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #999;
	margin-right: 10px;
	width: initial;
}

.homeworkToCorrect .slideId.active {
	background: #fff;
	color: #f2b81a;
	border: 1px solid #f2b81a;
}

.tabBtnBox {
	overflow: hidden;
}

.tabBtnBox .tabBtn {
	width: 50%;
	float: left;
	height: 49px;
	line-height: 48px;
	border-bottom: 1px solid #eee;
	color: #333;
	text-align: center;
}

.tabBtnBox .tabBtn.active {
	height: 50px;
	border-bottom: 2px solid #f2b81a;
	color: #f2b81a;
}

.emptyImg {
	display: block;
	margin: 20px auto 0;
	max-width: 95%;
}

.emptyImg.centerEmpty {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto
}

.tabMain .tabBox {
	display: none;
	padding: 15px;
	font-size: 16px;
}

.tabMain .tabBox.active {
	display: block
}

.tabMain .tabBox .studentList {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	overflow: hidden;
}

.studentList .avatarImg {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	float: left
}

.studentList .studentInfo {
	float: left;
	width: 72%;
	width: -moz-calc(100% - 140px);
	width:-webkit-calc(100% - 140px);
	width: calc(100% - 140px);
	line-height: 25px;
	margin-left: 10px;
}

.studentList .studentMark {
	min-width: 50px;
	text-align: right;
	float: right;
	line-height: 75px;
}

.studentList .studentMark img {
	width: 8.5px;
	height: 14px;
}

.studentList .redNum {
	color: #eb2222;
}

.tabBox.notSubmit .studentInfo {
	padding: 12.5px 0
}

.tabBox.statistics {
	padding-top: 0;
	padding-bottom: 0;
}

.tabBox.statistics .questionNum {
	height: 49px;
	line-height: 48px;
	border-bottom: 1px solid #eee
}

.statisticsBox {
	overflow: hidden;
	text-align: center;
}

.statisticsBox .statisticsA {
	overflow: hidden;
	text-align: center;
}

.statisticsBox .statisticsA img {
	max-width: 42%;
	margin: 15px 2%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url(/Public/img/Apphomework/gengduo.png) !important;
	background-size: 8.5px 14px !important;
	background-color: #fff !important;
	right: 0 !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: .8 !important;
}

/*提示*/
.blackNotify {
	display: none;
	position: fixed;
	top: -30px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.blackNotify .bNotify {
	background: #666;
	color: #fff;
	padding: 4px 20px;
	border-radius: 16px;
}


/*===================================================学生错题库列表=====*/
.selectOutter {
    width: 100%;
    border-bottom: 1px solid #eee;
    height: 45px;
    position: fixed;
    z-index: 2;
    background: #fff;
}

.selectOutter .selectInner {
    width: 33.33%;
    float: left;
    padding: 5px 0;
    height: 100%;
    text-align: center
}

.selectOutter.selectOutter2 .selectInner {
    width: 50%;
}

.selectOutter .selectInner .selectBox {
    line-height: 33px;
    border-right: 2px solid #eee;
}

.selectOutter .selectInner:nth-child(3) .selectBox {
    border-right: none !important;
}

.selectOutter.selectOutter2 .selectInner:nth-child(2) .selectBox {
    border-right: none !important;
}

.selectOutter .selectInner.active {
    color: #f2b81a;
}

.selectOutter .selectInner .downUp {
    width: 11px;
    position: relative;
    top: -1px;
    margin-left: 2px;
}

.selectOutter .selectFilter, .selectFilterTop {
    display: none;
    width: 100%;
    padding: 0 20px;
    background: #f6f6f6;
    clear: both;
    position: relative;
    z-index: 2;
    overflow-y: scroll;
    max-height: 225px
}

.selectOutter .selectFilter li, .selectFilterTop li {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    line-height: 30px;
    padding: 7px 15px;
}

.selectOutter.selectOutter2 .selectFilter li {
    padding: 7px 45px;
}

.selectOutter .selectFilter li.active, .selectFilterTop li.active {
    color: #f2b81a;
}

.exerciseOutter {
	padding-top: 50px;
	word-break: break-all;
}

.exerciseOutter .exerciseInner {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 5px;
}

.exerciseOutter .exerciseInner.active {
	background: #fff8da;
}

.exerciseOutter .exerciseInner .exerciseBox {
	display: block;
	padding: 10px 20px 0;
}

.exerciseOutter .exerciseInner .exerciseMain {
	word-break: break-all;
}
.exerciseMain li{
	overflow: hidden;
}
.exerciseOutter .exerciseInner .grayText {
	color: #999;
}

.exerciseOutter .exerciseInner .addImgBox {
	text-align: right;
	padding: 0px 20px 10px;
	border-bottom: 1px dashed #f2b81a;
}

.exerciseOutter .exerciseInner.active .addImgBox {
	border-bottom: 1px dashed #fff;
}

.exerciseOutter .exerciseInner .addImgBox .addImg, .exerciseOutter .exerciseInner .addImgBox .collectImg {
	width: 20px;
	margin-left: 10px;
}

.exerciseOutter .exerciseInner .exerciseAnswerBox {
	padding: 10px 20px;
}

.exerciseOutter .exerciseInner .grayBack {
	background: #f0f3f8;
	padding: 3px 8px;
}

.exerciseOutter .exerciseInner .answerTitleMT {
	margin-top: 10px;
}

.fullBack, .fullBackTop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .3);
    display: none;
}

/*===================================================习题库=====*/
.appTop .topFilter {
	padding-right: 20px;
	background: url(/Public/img/Apphomework/xialaBlack.png) no-repeat center right;
	background-size: 14px 8px;
}

/*===================================================习题库布置组卷=====*/
.numberScore {
	line-height: 50px;
	font-size: 18px;
	padding: 0 10px;
	border-bottom: 2px solid #eee
}

/*===================================================试卷组卷=====*/
.changeScore, .changeSure {
	padding: 0 10px;
	border-radius: 15px;
	background: #f2b81a;
}

.changeSure {
	margin-left: 5px;
}

.changeBox {
	overflow: hidden;
	display: inline-block;
    vertical-align: middle;
    display: none;
}

.changeBox .symbol {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #eee;
	font-size: 18px;
}

.changeBox .scoreInput {
	border: none;
	outline: none;
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

/*===================================================学科习题数列表=====*/
.subjectNumList {
	padding: 20px 15px;
	background: #f1f1f1;
	margin-bottom: 0 !important;
}

.subjectNumList .subjectNumBox {
	display: block;
	height: 72px;
	width: 100%;
	border: 1px solid #eee;
	background: #fff;
	vertical-align: middle;
	margin-bottom: 15px;
}

.subjectNumList .subjectNumImg {
	width: 50px;
	height: 50px;
	margin: 10px 15px;
}

.subjectNumList .subjectNumName {
	font-weight: bold;
	font-size: 18px;
}

.subjectNumList .subjectNumNum {
	font-weight: bold;
	font-size: 20px;
	padding: 0 5px 0 20px;
	position: relative;
	top: 1px;
}

.subjectNumList .subjectNumRightArrow {
	float: right;
	height: 25px;
	margin: 22.5px 15px 0 0;
}

@media (max-width: 360px) {
	/*===================================================学生作业批改 360=====*/
	.checkOutter {
		font-size: 14px;
		margin: 5px;
	}

	.checkOutter .checkTitle .title {
	    line-height: 35px;
	}

	.avatarBox {
		width: 60px;
	}

	.avatarBox .avatarImg {
		width: 60px;
		height: 60px;
	}

	.avatarBox .avatarNum {
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 12px;
	}

	.avatarBox .avatarName {
	    line-height: 35px;
	}

	.bottomBtn {
	    height: 45px;
	    line-height: 45px;
	    font-size: 16px;
	}

	/*===================================================学生错题库/我的试题库 360=====*/
	#versionSubject {
		padding-right: 15px;
		background-size: 12px 7px;
	}

	.slideOutter .slideBox {
		float: left;
		height: 44px;
		line-height: 44px;
		padding: 0 5px;
		font-size: 16px;
	}

	.slideOutter .slideBox .slideNum {
		font-size: 14px;
	}

	.testLibraryContent {
		padding: 0 15px;
	}

	.testLibraryContent .testLibraryTitle {
		padding: 8px 18px 8px 0;
		font-size: 16px;
	}

	.testLibraryContent .testLibraryBox {
		padding: 0 15px;
	}

	.testLibraryContent .testLibraryBox .testLibraryList {
		display: block;
		padding: 5px 0;
		font-size: 14px;
	}

	/*===================================================作业详情 360=====*/
	.homeworkTitleBox {
		height: 44px;
		line-height: 44px;
		font-size: 16px;
	}

	.homeworkTitleBox .title {
		max-width: 60%;
		max-width: -moz-calc(100% - 110px);
		max-width:-webkit-calc(100% - 110px);
		max-width: calc(100% - 110px);
	}

	.homeworkTitleBox .homeworkStatus {
		font-size: 12px;
		margin-left: 3px;
	}

	.homeworkTitleBox .homeworkStatus img {
		height: 14px;
		position: relative;
		top: -1px;
		left: 2px;
	}

	.homeworkTitleBox .checkHomework {
		font-size: 14px;
		background: url(/Public/img/Apphomework/gengduo.png) no-repeat right center;
		background-size: 7.2px 12px;
		padding-right: 12px;
	}

	.homeworkTime .timeLeft {
		font-size: 14px;
		line-height: 20px;
		padding: 8px 0;
	}

	.homeworkTime .urgeHomework {
		width: 60px;
		height: 25px;
		line-height: 25px;
		border-radius: 12px;
		font-size: 14px;
	}

	.homeworkTimeNot .timeBox {
		height: 44px;
		line-height: 44px;
		font-size: 16px;
	}

	.homeworkTimeNot .timeBox .timeInput {
		font-size: 16px;
		height: 100%;
		width: 72%;
		width: -moz-calc(100% - 80px);
		width:-webkit-calc(100% - 80px);
		width: calc(100% - 80px);
	}

	.homeworkToCorrect {
		height: 54px;
	}

	.homeworkToCorrect .title {
		line-height: 44px;
		font-size: 16px;
	}

	.homeworkToCorrect .swiper-container {
		margin-left: 110px !important;
	}

	.homeworkToCorrect .slideHomework {
		padding: 9px 50px 9px 0;
	}

	.homeworkToCorrect .slideId {
		font-size: 14px;
		padding: 1px 15px;
		border-radius: 3px;
		margin-right: 8px;
	}

	.tabBtnBox .tabBtn {
		height: 45px;
		line-height: 44px;
		font-size: 16px;
	}

	.tabBtnBox .tabBtn.active {
		height: 46px;
	}

	.emptyImg {
		margin: 10px auto 0;
	}

	.tabMain .tabBox {
		font-size: 14px;
	}

	.studentList .avatarImg {
		width: 70px;
		height: 70px;
	}

	.studentList .studentInfo {
		width: 72%;
		width: -moz-calc(100% - 135px);
		width:-webkit-calc(100% - 135px);
		width: calc(100% - 135px);
		line-height: 23px;
		margin-left: 5px;
	}

	.studentList .studentMark {
		min-width: 45px;
		line-height: 70px;
	}

	.studentList .studentMark img {
		width: 7.2px;
		height: 12px;
	}

	.tabBox.notSubmit .studentInfo {
		padding: 12px 0
	}

	.tabBox.statistics .questionNum {
		height: 45px;
		line-height: 44px;
	}

	.statisticsBox .statisticsA img {
		max-width: 42%;
		margin: 15px 2%;
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	    background-image: url(/Public/img/Apphomework/gengduo.png) !important;
	    background-size: 7.2px 13px !important;
	}

	.blackNotify .bNotify {
		padding: 3px 15px;
		border-radius: 15px;
		font-size: 16px;
	}

	/*===================================================学生错题库列表 360=====*/
	.selectOutter {
	    height: 42px;
	}

	.selectOutter .selectInner .selectBox {
	    line-height: 30px;
	    font-size: 16px;
	}

	.selectOutter .selectFilter li, .selectFilterTop li  {
	    font-size: 14px;
	    line-height: 25px;
	}

	.selectOutter.selectOutter2 .selectFilter li {
	    padding: 7px 34px;
	}

	.exerciseOutter .exerciseInner {
	    line-height: 28px;
	}

	/*===================================================习题库布置组卷 360=====*/
	.numberScore {
		line-height: 44px;
		font-size: 16px;
		border-bottom: 1px solid #eee
	}
}

@media (min-width: 600px) {
	/*===================================================学生作业批改 600=====*/
	.hr9 {
		height: 9px;
	}

	.checkOutter {
		font-size: 20px;
	}

	.avatarBox {
		width: 100px;
	}

	.avatarBox .avatarImg {
		width: 100px;
		height: 100px;
	}

	.avatarBox .avatarNum {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 18px;
	}

	.bottomBtn {
	    height: 60px;
	    line-height: 60px;
	    font-size: 22px;
	}

	.mainOutter {
		margin-bottom: 70px;
	}

	/*===================================================学生错题库/我的试题库 600=====*/
	#versionSubject {
		padding-right: 25px;
		background-size: 18px 11px;
	}

	.slideOutter .slideBox {
		height: 65px;
		line-height: 63px;
		padding: 0 15px;
		font-size: 20px
	}

	.slideOutter .slideBox .slideNum {
		font-size: 18px;
	}

	.testLibraryContent {
		padding: 0 30px;
	}

	.testLibraryContent .testLibraryTitle {
		padding: 15px 20px 15px 0;
		line-height: 30px;
		background: url(/Public/img/Apphomework/huishou.png) no-repeat right center;
		background-size: 18px 11px;
		font-size: 20px
	}

	.testLibraryContent .testLibraryTitle.active {
		background: url(/Public/img/Apphomework/xiala.png) no-repeat right center;
		background-size: 18px 11px;
	}

	.testLibraryContent .testLibraryBox {
		display: none;
		padding: 0 30px;
	}

	.testLibraryContent .testLibraryBox .testLibraryList {
		display: block;
		padding: 8px 0;
		line-height: 30px;
		font-size: 18px;
	}

	/*===================================================作业详情 600=====*/
	.homeworkTop {
		margin: 0 30px;
	}

	.homeworkTitleBox {
		height: 66px;
		line-height: 65px;
	}

	.homeworkTitleBox .title {
		max-width: 75%;
		max-width: -moz-calc(100% - 170px);
		max-width:-webkit-calc(100% - 170px);
		max-width: calc(100% - 170px);
		font-size: 20px
	}

	.homeworkTitleBox .homeworkStatus {
		font-size: 16px;
	}

	.homeworkTitleBox .homeworkStatus img {
		height: 20px;
		top: -2px;
		left: 3px;
	}

	.homeworkTitleBox .checkHomework {
		font-size: 18px;
		background: url(/Public/img/Apphomework/gengduo.png) no-repeat right center;
		background-size: 9.6px 16px;
		padding-right: 16px;
	}

	.homeworkTime .timeLeft {
		font-size: 20px;
		line-height: 30px;
		padding: 15px 0;
	}

	.homeworkTime .urgeHomework {
		width: 100px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 20px;
	}

	.homeworkTimeNot .timeBox {
		height: 65px;
		line-height: 65px;
		font-size: 20px;
	}

	.homeworkTimeNot .timeBox .timeInput {
		font-size: 20px;
		width: 80%;
		width: -moz-calc(100% - 100px);
		width:-webkit-calc(100% - 100px);
		width: calc(100% - 100px);
	}

	.homeworkToCorrect {
		border: 10px solid #eee;
		border-left: none;
		border-right: none;
		height: 85px;
		font-size: 20px
	}

	.homeworkToCorrect .title {
		line-height: 65px;
		padding-left: 30px;
	}

	.homeworkToCorrect .swiper-container {
		margin-left: 160px !important;
	}

	.homeworkToCorrect .slideHomework {
		padding: 19px 70px 19px 0;
	}

	.homeworkToCorrect .slideId {
		font-size: 20px;
		padding: 2px 25px;
		margin-right: 15px;
	}

	.tabBtnBox .tabBtn {
		height: 66px;
		line-height: 65px;
		font-size: 20px
	}

	.tabBtnBox .tabBtn.active {
		height: 67px;
		border-bottom: 2px solid #f2b81a;
	}

	.emptyImg {
		display: block;
		margin: 20px auto 0;
		max-width: 95%;
	}

	.tabMain .tabBox {
		padding: 20px 30px;
		font-size: 20px;
	}

	.tabMain .tabBox .studentList {
		padding: 10px 0;
	}

	.studentList .avatarImg {
		width: 100px;
		height: 100px;
	}

	.studentList .studentInfo {
		width: 72%;
		width: -moz-calc(100% - 200px);
		width:-webkit-calc(100% - 200px);
		width: calc(100% - 200px);
		line-height: 33px;
		margin-left: 15px;
	}

	.studentList .studentMark {
		min-width: 70px;
		line-height: 100px;
	}

	.studentList .studentMark img {
		width: 9.6px;
		height: 16px;
	}

	.tabBox.notSubmit .studentInfo {
		padding: 17px 0
	}

	.tabBox.statistics {
		padding-top: 0;
		padding-bottom: 0;
	}

	.tabBox.statistics .questionNum {
		height: 66px;
		line-height: 65px;
		font-size: 20px
	}

	.statisticsBox .statisticsA img {
		max-width: 42%;
		margin: 30px 4%;
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	    background-image: url(/Public/img/Apphomework/gengduo.png) !important;
	    background-size: 9.6px 16px !important;
	    width: 50px !important;
	}

	/*提示*/
	.blackNotify .bNotify {
		padding: 5px 25px;
		border-radius: 18px;
		font-size: 20px;
	}

	/*===================================================学生错题库列表 600=====*/
	.selectOutter {
        height: 60px;
    }

    .selectOutter .selectInner {
        padding: 10px 0;
    }

    .selectOutter .selectInner .selectBox {
        line-height: 40px;
        font-size: 20px;
    }

    .selectOutter .selectInner .downUp {
        width: 15px;
    }

    .selectOutter .selectFilter li, .selectFilterTop li {
        line-height: 40px;
    	font-size: 18px;
    }


	.exerciseOutter {
	    padding-top: 70px;
	}

	.exerciseOutter .exerciseInner {
	    font-size: 18px;
	    line-height: 35px;
	}

	.exerciseOutter .exerciseInner .addImgBox .addImg, .exerciseOutter .exerciseInner .addImgBox .collectImg {
		width: 30px;
		margin-left: 15px;
	}

	.exerciseOutter .exerciseInner .exerciseBox {
	    padding: 15px 30px 0;
	}

	.exerciseOutter .exerciseInner .addImgBox {
	    padding: 0px 30px 15px;
	}

	.exerciseOutter .exerciseInner .exerciseAnswerBox {
	    padding: 15px 30px;
	}

	/*===================================================习题库布置组卷 600=====*/
	.numberScore {
		line-height: 65px;
		font-size: 20px;
		padding: 0 20px;
		border-bottom: 2px solid #eee
	}

	/*===================================================试卷组卷 600=====*/
	.changeScore, .changeSure {
		padding: 2px 15px;
	}

	.changeSure {
		margin-left: 10px;
	}

	.changeBox .symbol {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}

	.changeBox .scoreInput {
		width: 50px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}

	/*===================================================学科习题数列表600=====*/
	.subjectNumList {
		padding: 30px 20px;
	}

	.subjectNumList .subjectNumBox {
		height: 142px;
		margin-bottom: 20px;
	}

	.subjectNumList .subjectNumImg {
		width: 100px;
		height: 100px;
		margin: 20px 30px;
	}

	.subjectNumList .subjectNumName {
		font-size: 22px;
	}

	.subjectNumList .subjectNumNum {
		font-size: 24px;
		padding: 0 15px 0 40px;
		top: 2px;
	}

	.subjectNumList .subjectNumRightArrow {
		height: initial;
		margin: 45px 30px 0 0;
	}

}
