* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.left {
	float: left;
}

.right {
	float: right;
}

ul, li {
	list-style: none;
}

html, body {
	width: 100%;
	background: #f4f4f4;
}

body {
	/*background: #4182d2;*/
	position: relative;
	margin-bottom: 70px;
}

img {
	vertical-align: middle;
}

/*快速注册*/
.mainOutter {
	width: 90%;
	min-width: 280px;
	margin: 0 auto;
	/*padding-top: 30px;*/
}

.mainOutter .mainBox {
	padding: 10px 20px 20px 20px;
	position: relative;
	margin-top: 10px;
	background: #fff;
} 

.close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	display: none;
}

.inputSelect {
	background: url(../../img/icon/corner.png) no-repeat right bottom;
}

.inputSelect select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
}

.mainOutter .mainBox.active {
/*.mainOutter .mainBox {*/
	border: 1px solid #eee;
} 

.mainOutter .mainBox.active.delete {
	border: 1px solid #3baeab;
} 

.mainOutter .inputBox {
	width: 100%;
	/*height: 45px;*/
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position: relative;
}

.radioImg {
    width: 16px;
    position: relative;
    top: -2px;
}

.mainTitle {
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}

.family {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #f9b2a5;
    color: #fff;
    text-align: center;
}

.mainOutter .inputBox .error {
	display: none;
    clear: both;
    font-size: 12px;
    color: red;
    position: absolute;
    line-height: 54px;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 2px;
}

.checkError {
	display: none;
	font-size: 12px;
    color: red;
}

.allFamily {
	font-size: 14px;
	float: right;
	margin-right: 10px;
	color: #666;
}

.mainOutter .inputBox span.left {
	width: 90px;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-top: 15px;
}


.mainOutter .inputBox span.emptyWhite {
	color: #fff;
} 

.mainOutter .inputBox .inputLine {
	float: right;
	color: #666;
	border: none;
	background: none;
	outline: none;
	width: 85% !important;/*写给不支持calc()的浏览器*/ 
	width: -moz-calc(100% - 90px) !important; 
	width: -webkit-calc(100% - 90px) !important; 
	width: calc(100% - 90px) !important;
	/*border-bottom: 1px solid #eee;*/
	padding: 15px 0;
	line-height: 24px;
	font-size: 16px;
	text-indent: 5px;
}

.applyBtnOutter .checkBox {
	/*width: 100%;*/
	background: #f4f4f4;
	padding: 5px 0;
	color: #fff;
	/*text-align: center;*/
/*	font-size: 1rem*/
	font-size: 12px;
    padding-left: 4.5%;
}

.mainOutter .buttonBox {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.mainOutter .buttonBox .button {
	border: none;
	background: #f4f4f4;
	outline: none;
	display: block;
	width: 200px;
	color: #3baeab;
	text-decoration: none;
	text-align: center;
/*	font-size: 1.3rem;*/
	font-size: 16px;
	height: 36px;
    line-height: 34px;
    margin: 0 auto;
    border: 1px solid #3baeab;
    border-radius: 18px;
/*    border-radius: 17px;
	background: url(/Public/img/register/buttonBack.png) repeat center;
	background-size: contain;*/
}

.applyBtnOutter .checkbox {
	display: none;
}

.applyBtnOutter .agreeA {
	font-size: 14px;
	color: #3baeab !important;
	text-decoration: none !important;
}

.applyBtnOutter .checkImg {
	width: 16px;
	position: relative;
	top: -2px;
}

.mainOutter .inputBox .inputLine.inputLineTime {
	border-bottom: none;
	overflow: hidden;
	padding-bottom: 0;
}

.mainOutter .inputBox .inputLine.inputLineTime .timeBox {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.specialTime {
	display: none;
}

.regBg {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #333;
}

.regBg .regSuccess {
	width: 250px;
	height: 150px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
}

.regBg .regTitle {
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 5px;
	text-indent: 5px;
}

.regBg .regIcon {
	display: block;
	width: 30px;
	margin: 15px auto 5px;
}

.regBg .regCon {
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	text-indent: 10px;
}

.regBg .regSure {
	display: block;
	margin: 0 auto;
	background: #28cec2;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 100px;
	line-height: 30px;
	letter-spacing: 2px;
	text-indent: 2px;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
}

/*提示*/
.blackNotify {
	display: none;
	position: fixed;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.blackNotify .bNotify {
	background: rgba(0,0,0,.7);
	color: #fff;
	padding: 7px 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
}

.visibleBox {
	text-align: right;
	padding-right: 10px;
	width: 50px !important;
	margin-top: 6px;
}

.visibleBox .visibleImg {
	width: 20px;
	display: block;
	float: right;
}

.slider {
	margin: 20px 0
}

.image_code {
	font-size: 12px !important;
	display: inline-block;
	width: 15px !important;
	color: #3baeab !important;
	text-align: right;
}

.remind {
    color: #666;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.applyBtnOutter {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
}

.applyBtnInner {
	background: #fff;
	color: red;
	font-size: 20px;
	overflow: hidden;
	line-height: 45px;
	padding-left: 10px;
}

.applyBtnInner .button {
	outline: none;
	border: none;
	line-height: 45px;
	float: right;
	color: #fff;
	background: #3baeab;
	text-align: center;
	font-size: 18px;
	width: 90px;
}


@media(min-width: 500px) {
	.regBg .regSuccess {
		width: 50%;
		height: 200px;
	}

	.regBg .regIcon {
		margin: 20px auto 15px;
	}

	.regBg .regSure {
		width: 110px;
		margin-top: 25px
	}
}

@media(max-width: 330px) {
	.mainOutter .inputBox span.left {
	    width: 75px;
	    font-size: 14px;
	}

	.mainOutter .inputBox .inputLine {
	    width: 80% !important;
	    width: -moz-calc(100% - 75px) !important;
	    width: -webkit-calc(100% - 75px) !important;
	    width: calc(100% - 75px) !important;
	}

	.mainOutter .inputBox .inputLine {
		font-size: 14px;
	}
}
