<layout name="admin_layout_back"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<style>
    td{line-height: 56px}
</style>
<div style="text-align: right;">
    <div class="input-control text" data-role="input" style="width: 320px;">
        <input type="text" id="keyword" name="keyword" placeholder="搜索..." value="{$keyword|default=''}">
        <button onclick="search()" class="button button-before"><span class="mif-search"></span></button>
    </div>
</div>
<table id="listWrapper" class="table striped hovered border">
    <thead>
        <tr>
            <th class="text-center">用户角色</th>
            <th class="text-center">创建时间</th>
        </tr>
    </thead>
    <tbody>
        <volist name="list" id="data" empty="暂时没有用户角色">
            <tr>
                <td class="text-center">
                    {$data.type_name}
                </td>
                <td class="text-center">
                    {$data.create_at|date="Y-m-d H:i",###}
                </td>
            </tr>
        </volist>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#listWrapper').DataTable({
            "scrollY": ($('body').height() - 305) + "px",
            "scrollCollapse": true,
            "paging": false,
            "bSort": false,
            "aoColumns": []
        });
    });
    //搜索
    function search() {
        var keyword = $('#keyword').val();

        var url = 'index.php?m=Admin&c=Account&a=userRole&keyword=' + keyword;
        window.location.href = url;
    }
</script>