<layout name="admin_layout" />
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<style>
    td {
        line-height: 56px
    }
</style>
<div style="text-align: right;">
    <div>
        <div style="float:left;display:inline-block"><a href="{:U('Admin/established')}" class="button info">创建账户</a></div>
    </div>
    <div class="input-control text" data-role="input" style="width: 320px;">
        <input type="text" id="keyword" name="keyword" placeholder="搜索...">
        <button onclick="search()" class="button"><span class="mif-search"></span></button>
    </div>
</div>
<table id="listWrapper" class="table striped hovered border">
    <thead>
        <tr>
            <th class="text-center" style="width:10%">权限类型</th>
            <th class="text-center" style="width:20%">用户角色</th>
            <th class="text-center" style="width:15%">创建时间</th>
            <th class="text-center" style="width:15%">可使用模块</th>
            <th class="text-center" style="width:10%">状态</th>
            <th class="text-center" style="width:30%">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                游客模式
            </td>
            <td class="text-center">教师/学生/家长</td>

            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center"></td>
            <td class="text-center">正常</td>
            <td class="text-center"></td>
        </tr>
        <tr>
            <td class="text-center">
                普通用户
            </td>
            <td class="text-center">教师</td>

            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                <select name="" id="" style="width:70%">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">1</option>
                </select>
            </td>
            <td class="text-center">已停用</td>
            <td class="text-center">
                <a href="" class="button danger">恢复使用</a>
                <a href=" {:U('Admin/revisions')}" class="button info">修改</a>
                <a href="" class="button">删除</a>
            </td>

        </tr>
        <tr>
            <td class="text-center">
                团体VIP
            </td>
            <td class="text-center">教师</td>

            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                <select name="" id="" style="width:70%">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </td>
            <td class="text-center">正常</td>
            <td class="text-center">
                <a href="" class="button danger">停用</a>
                <a href=" {:U('Admin/revisions')}" class="button info">修改</a>
                <a href="" class="button">删除</a>
            </td>

        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#listWrapper').DataTable({
            "scrollY": ($('body').height() - 305) + "px",
            "scrollCollapse": true,
            "paging": false,
            "bSort": false,
            "aoColumns": []
        });
    });
    //搜索
    function search() {
        var keyword = $('#keyword').val();

        var url = 'index.php?m=Home&c=Admin&a=accountlist=' + keyword;
        window.location.href = url;
    }
</script>