
<layout name="admin_layout"/>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script src="__PUBLIC__/js/jquery.min.1.7.js"></script>
<style>
    .form_section {
        margin-bottom: 12px;
    }
    
    .phone_box {
        width:100%; 
        border:1px solid #ccc; 
        background:#fff; 
        position:absolute;
        top:40.8px;
        left:0;
        z-index:9999;
        display:none;
    }
    
    .phone_ul {
        padding:5px;
        width:100%;
        margin:0;
        list-style:none;
        font-size: 14px;
    }
    
    .phone_li {
        cursor: pointer;
    }
    
</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回 年级列表" class="button {:session('btntheme')}">&lt; 返回 年级列表</a>
</div>
<div class="" style="padding-right: 100px;">
    <form action="__URL__/createEditGrade" method="post" data-role="validator" data-on-error-input="notifyOnErrorInput"
          data-show-error-hint="true">
         <div class="example" data-text="基本信息">
            <input type="hidden" id="id" name="id" value="{$data.id}">
             <div class="form_section">
                <label for="grade">年级</label>
                <div class="input-control text full-size">
                    <input type="text" name="grade" id="grade" data-validate-func="required" value="{$data.grade}" data-validate-hint="班级不能为空"/>
                </div>
            </div>
            <div class="form_section">
                <label for="code">编码</label>
                <div class="input-control text full-size">
                    <input type="text" name="code" id="code" data-validate-func="required" value="{$data.code}" data-validate-hint="班级不能为空"/>
                </div>
            </div>
            <div class="form_section">
                <label for="chinese_code">中文编号</label>
                <div class="input-control text full-size">
                    <input type="text" name="chinese_code" id="chinese_code" data-validate-func="required" value="{$data.chinese_code}" data-validate-hint="班级不能为空"/>
                </div>
            </div>
            <div class="form_section">
                <label for="short_name">简称</label>
                <div class="input-control text full-size">
                    <input type="text" name="short_name" id="short_name" data-validate-func="required" value="{$data.short_name}" data-validate-hint="班级不能为空"/>
                </div>
            </div>

        </div>

        <div class="form-actions" style="text-align: left; ">
            <button type="submit" class="button {:session('btntheme')}" onclick="return check();">保存</button>
        </div>
    </form>
</div>


<script>

    function check() {

    }
</script>

</body>
</html>