<layout name="admin_layout" />
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<style>
    td {
        line-height: 56px
    }
</style>
<div style="margin: 20px 0;">
    <div class="grid condensed searchbar">
        <div class="row cells3 ">
            <div class="cell text-center" style="margin:.325rem 0;">
                <label>模块级别</label>
                <select id="channel_id" name="channel_id" onchange="" style="padding:.3125rem 0">
                    <option value="">-请选择-</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
            <div class="cell text-center" style="margin:.325rem 0;">
                <label>父级模块</label>
                <select id="sort_column" name="sort_column " style="padding:.3125rem 0">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="cell">
                <div class="input-control text" data-role="input" style="width: 320px;float:right">
                    <input type="text" id="keyword" name="keyword" placeholder="搜索..." style="width:100%">
                    <button onclick="search()" class="button"><span class="mif-search"></span></button>
                </div>

            </div>
        </div>
    </div>
</div>
<table id="listWrapper" class="table striped hovered border">
    <thead>
        <tr>
            <th class="text-center">功能模块名称</th>
            <th class="text-center">模块级别</th>
            <th class="text-center">父级模块</th>
            <th class="text-center">创建时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
        <tr>
            <td class="text-center">
                学校
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
            <td class="text-center">
                教师
            </td>
            <td class="text-center">
                2016-08-30 16:32
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#listWrapper').DataTable({
            "scrollY": ($('body').height() - 305) + "px",
            "scrollCollapse": true,
            "paging": false,
            "bSort": false,
            "aoColumns": []
        });
    });
    //搜索
    function search() {
        var keyword = $('#keyword').val();

        var url = 'index.php?m=Home&c=Admin&a=Functionmanagement=' + keyword;
        window.location.href = url;
    }
</script>