<layout name="admin_layout" />
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=2.0" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<style>
    .border1 {
        border: 1px solid #666
            
    }
</style>
<div style="margin-bottom: 12px;">
    <a href="{:U('Admin/feedbackMgmt')}" title="返回意见反馈列表" class="button primary">返回意见反馈列表</a>
</div>
<div class="" style="padding-right: 100px;">
    <div class="example">

        <div class="form_section">
            <label for="course">用户角色</label>
            <div class="input-control text full-size padding10 border1">
                打法是否发放 发送飞 地方阿萨德的士大夫士大夫都深深地工行温哥华额外人回味ui痕迹方式的男士的客服呢sd卡能发iw哈哈i
            </div>
        </div>

        <div class="form_section">
            <label for="code">用户姓名</label>
            <div class="input-control text full-size padding10 border1">
                34234324234324234234sdf jwefweh fhj kdfwehfwg smbf gjsdg
            </div>
        </div>
        <div class="form_section">
            <label for="code">所属板块</label>
            <div class="input-control text full-size padding10 border1">
                flwjh ghscbvjhrhvkdnvffihcbdzskfhweiuyhnsdbnfuiwwefkdhfgieyhg
            </div>
        </div>
        <div class="form_section">
            <label for="code">意见反馈</label>
            <div class="input-control text full-size padding10 border1">
                flwjh ghscbvjhrhvkdnvffihcbdzskfhweiuyhnsdbnfuiwwefkdhfgieyhg
            </div>
        </div>
    </div>

   

</div>