<layout name="admin_layout"/>
<style>
    .form_section {
        margin-bottom: 12px;
    }
</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回" class="button {:session('btntheme')}">&lt; 返回</a>
</div>
<div class="" style="padding-right: 100px;">
    <form action="__URL__/publishLessonPlanningTemplate" enctype="multipart/form-data" method="post" data-role="validator" data-on-error-input="notifyOnErrorInput" data-show-error-hint="true">
        <div class="example" data-text="基本信息">
            <div class="form_section">
                <label for="name">课件名称</label>

                <div class="input-control text full-size">
                    <input type="text" name="name" id="name" data-validate-func="required" data-validate-hint="课件名称不能为空">
                </div>
            </div>

            <div class="form_section">
                <label>上传课件（PPT）</label>

                <div class="input-control text full-size">
                    <input type="file" name="file" id="file" accept=".ppt,.pptx" data-validate-func="required" data-validate-hint="ppt课件不能为空">
                </div>
            </div>
        </div>
        <br>

        <div class="example" data-text="关联数据">
            <div class="form_section">
                <label for="course_id">关联学科</label>

                <div class="input-control text full-size">
                    <select id="course_id" name="course_id" onchange="getTextbooks()" data-validate-func="required" data-validate-hint="关联学科不能为空">
                        <option value="">-请选择-</option>
                        <volist name="courses" id="dataCourse" empty="暂时没有信息">
                            <option value="{$dataCourse.id}">{$dataCourse.code} : {$dataCourse.course_name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="grade_id">关联年级</label>

                <div class="input-control text full-size">
                    <select id="grade_id" name="grade_id" onchange="getTextbooks()" data-validate-func="required" data-validate-hint="关联年级不能为空">
                        <option value="">-请选择-</option>
                        <volist name="grades" id="dataGrade" empty="暂时没有信息">
                            <option value="{$dataGrade.id}">{$dataGrade.grade}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="textbook_id">关联教材</label>

                <div class="input-control text full-size">
                    <select id="textbook_id" name="textbook_id" data-validate-func="required" data-validate-hint="关联教材不能为空">
                        <option value="">-请选择-</option>
                    </select>
                </div>
            </div>
        </div>
        <br>

        <div class="form-actions" style="text-align: left; ">
            <button type="submit" class="button {:session('btntheme')}">保存</button>
        </div>
    </form>
</div>
<script>
    function getTextbooks() {

        var courseId = $('#course_id').val();
        var gradeId = $('#grade_id').val();
        if (courseId == '' || gradeId == '') {
            $('#textbook_id').html('<option value="">-请选择-</option>');
        }
        $.get('index.php?m=Home&c=DictRest&a=get_textbooks_by_courseAndGrade', {
            'course_id': courseId,
            'grade_id': gradeId
        }, function (res) {
            var options = [];
            $.each(res, function (index, item) {
                options.push('<option value="{0}">{1}</option>'.format(item.id, item.name));
            });
            if (options.length > 0) {
                $('#textbook_id').html(options.join(''));
            } else {
                $('#textbook_id').html('<option value="">-请选择-</option>');
            }

        })
    }
</script>

<script>
    function notifyOnErrorInput(input){
        var message = input.data('validateHint');
        $.Notify({
            caption: '提示',
            content: message,
            type: 'warning'
        });
    }
</script>