<layout name="teacher_layout_2" />
<link href="__PUBLIC_METRO__/css/app/table_list2.css?v=3.0" type="text/css" rel="stylesheet">

<style>
	body {
		display: block;
	}
	
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .tools_li { 
        text-align: center;
        color: #666;
        font: 12px/30px "微软雅黑";
        margin-bottom: 50px;
    }
	
    .row {
        margin: 0;
    }
    
    .tools_li img {
        display: inline-block;
    }
    
    .tools_li a {
        display: block;
        font: 16px "微软雅黑";
        color: #666;
    }
    
    .tools_box {
        width: 240px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 40px #ccc;
        -moz-box-shadow: 0 0 40px #ccc;
        box-shadow: 0 0 40px #ccc;
    }
    
	#navThumImg1, #navThumImg3 {
        -moz-transform:rotate(20deg);
        -webkit-transform:rotate(20deg);
        transform:rotate(20deg);
    }
    
    #navThumImg2, #navThumImg4 {
        -moz-transform:rotate(-20deg);
        -webkit-transform:rotate(-20deg);
        transform:rotate(-20deg);
    }
    
    #navThumImg1:hover,#navThumImg3:hover {
        -moz-animation:rotate_z 0.8s infinite ease;
        -webkit-animation:rotate_z 0.8s infinite ease;
        animation:rotate_z 0.8s infinite ease;
    }
    
    #navThumImg2:hover, #navThumImg4:hover {
        -moz-animation:rotate_f 0.8s infinite ease;
        -webkit-animation:rotate_f 0.8s infinite ease;
        animation:rotate_f 0.8s infinite ease;
    }
    
    @-moz-keyframes rotate_z{
        0%{
          -moz-transform:rotate(20deg);
         }
         100%{
           -moz-transform:rotate(360deg);
         }
      }
    
      @-webkit-keyframes rotate_z{
        0%{
          -webkit-transform:rotate(20deg);
         }
         100%{
           -webkit-transform:rotate(360deg);
         }
      }
    
      @keyframes rotate_z{
        0%{
          transform:rotate(20deg);
         }
         100%{
           transform:rotate(360deg);
         }
      }
    
    @-moz-keyframes rotate_f{
        0%{
          -moz-transform:rotate(20deg);
         }
         100%{
           -moz-transform:rotate(360deg);
         }
      }
    
      @-webkit-keyframes rotate_f{
        0%{
          -webkit-transform:rotate(20deg);
         }
         100%{
           -webkit-transform:rotate(360deg);
         }
      }
    
      @keyframes rotate_f{
        0%{
          transform:rotate(20deg);
         }
         100%{
           transform:rotate(360deg);
         }
      }
	
	.nobookUl {
		padding: 17px 0;
		margin-left: 6%;
		overflow: hidden;
	}
	
	.nobookUl span {
		float: left;
		padding: 6px 12px 6px 0;
	}
	
	.nobookUl ul {
		overflow: hidden;
		float: left;
	}
	
	.nobookUl li {
		float: left;
		margin-right:10px;
	}
		
	.nobookUl li a{
		display: block;
		padding: 6px 12px;
		background: #bedb81;
		color: #fff;
	}
		
	.nobookUl li a:hover{
		background: #92B925;
		text-decoration: none;
	}
	
	#layui-layer-shade1 {
		z-index: 20160929 !important;
	}
	
	#layui-layer1 {
		z-index: 20160930 !important;
	}
	
	.nobookLi3 {
		background: #92B925 !important;
	}
</style>
<script src="__PUBLIC__/js/jquery.min.1.7.js"></script>
<script src="__PUBLIC__/js/jquery.lazyload.js"></script>
<script>
	$(function(){
		var pWidth = $('#physicsFrame').width();
		var pHeight = pWidth*962/1915+'px';
		$('#physicsFrame').css('height',pHeight)
		console.log($('#physicsFrame').height())

	})
</script>

<div style="margin-bottom: 12px;">
    <a href="{:U('Teach/bjResourceList')}" title="返回" class="btn btnReturn2">返回</a>
</div>

<div class="nobookUl">
	<span>精选资源：</span>
	<ul>
		<li><a class="nobookLi1" href="{:U('Teach/bjResourceTools')}&cat=0">小学科学</a></li>
		<li><a class="nobookLi2" href="{:U('Teach/bjResourceTools')}&cat=1">生物实验</a></li>
		<li><a class="nobookLi3" href="{:U('Teach/bjResourceToolsPhysics')}">物理实验室</a></li>
	</ul>
</div>
 
<iframe id="physicsFrame" style="width: 100%;" frameborder="0" src="{$url}"></iframe>

<script src="__PUBLIC__/js/external/jquery-ui-1.10.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script> 
<script src="__PUBLIC__/js/jquery.min.1.7.js"></script>



