<layout name="teacher_layout"/>
<script src="__PUBLIC__/js/weboffice/main.js" type=text/javascript></script>
<style>
    .form_section {
        margin-bottom: 12px;
    }
</style>
<div style="margin-bottom: 12px;">
    <a href="{:U('Teach/lessonPlanningLib')}" title="返回" >&lt; 返回</a>
</div>
<div style="padding-right: 100px;">

    <div class="example" data-text="基本信息">
        <div class="form_section">
            <label for="name">教案名称</label>

            <div class="input-control text full-size">
                <input type="text" name="name" id="name" data-validate-func="required" class="form-control"
                       data-validate-hint="教案名称不能为空">
            </div>
        </div>
    </div>
    <br>

    <div class="form-actions" style="text-align: left; ">
        <button onclick="save()" type="button" class="btn btn-primary">保存</button>
    </div>
    <br>

    <div style="padding-right: 0px; padding-left: 0px; background: #fff; padding-bottom: 0px; margin: -10px 0px 0px; width: 100%; padding-top: 10px; height: 750px"
         align=center>
        <form name="myform">
            <input type="hidden" name="DocTitle" id="DocTitle" value="test">
            <input type="hidden" name="DocID" id="DocID" value="">
            <br>
            <script src="__PUBLIC__/js/weboffice/LoadWebOffice.js"></script>
        </form>
    </div>
</div>
<script language="javascript" event="NotifyCtrlReady" for="WebOffice1">
    WebOffice1_NotifyCtrlReady()
</script>
<script language=javascript>
    var ppt = guid();
    $('#DocID').val(ppt);
    var url = '';
    function WebOffice1_NotifyCtrlReady() {
        document.all.WebOffice1.OptionFlag |= 128;
        var fileName = encodeURI('{$template.file_path}');
        //todo
        url = 'http://{$REMOTE_ADDR}/api/filewrite.php?filename=' + fileName;
        document.all.WebOffice1.LoadOriginalFile(url, "ppt");
    }

    var flag = false;

    function menuOnClick(id) {
        var id = document.getElementById(id);
        var dis = id.style.display;
        if (dis != "none") {
            id.style.display = "none";

        } else {
            id.style.display = "block";
        }
    }
    function EnableClose(flag) {
        vClose = flag;
    }
    function CloseWord() {
        document.all.WebOffice1.CloseDoc(0);
    }
    function dd() {
        document.all.WebOffice1.FullScreen = 0;
    }
</script>
<script>
    window.onunload = function () {
        return window_onunload();
    }
    function save() {
        //to database
        var name = $('#name').val();
        var filepath = ppt + '.ppt';

        if (name == '') {
            $.notify({
                title: '提示',
                message: '名称不能为空'
            },{
                type: 'warning',
                placement: {
                    from: "top",
                    align: "center"
                }
            });
            return false;
        }

        $.get("{:U('Teach/createLessonPlanningWithOffice')}", {name: name, filepath: filepath}, function (res) {
            if (res == 'success') {
                SaveDoc(1, 'ppt');
            } else {
                $.notify({
                    title: '提示',
                    message: '保存失败'
                },{
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }
        });
    }
</script>
