<layout name="teacher_layout_1"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/umeditor/third-party/mathquill/mathquill.css">
<script type="text/javascript" src="__PUBLIC__/umeditor/third-party/mathquill/mathquill.min.js"></script>
<style>
    .list_avatar {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }
    
    .expertTitle {
        text-align: center;
/*        font-size: 32px;*/
        color: #231815;
    }
    
    .timePublisher {
        text-align: right;
/*        font-size: 20px;*/
        color: #595757;
        padding-bottom: 0;
    }
    
    .newsContent {
        border: 1px solid #bababa;
        background: #f4f4f4;
    }

	.newsContent p, .newsContent h1, .newsContent h2, .newsContent h3, .newsContent h4, .newsContent h4, .newsContent h6 {
		text-indent: 32px;
	}

</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回" class="btn btnReturn1">返回</a>
</div>
<div data-text="发布者信息">
    <div class="listview set-border padding20" style="padding-bottom:0;">
        <h3 class="expertTitle">{$data.title}</h3>
        <div class="padding20 timePublisher">
             {$data.create_at|date="Y-m-d H:i",###}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$data.publisher}
        </div>
    </div>
</div>

<div data-text="资讯内容">
    <div class="listview set-border padding20">
        <div class="padding20 newsContent" style="word-break:break-word;">
            {$data.content}
        </div>
    </div>
</div>
