<layout name="teacher_layout_withouticon" />
<style>
    .list_avatar {
        border-radius: 6px;
    }
	
    body{
	    display: block;
	}
	
    .navTitle {
        display: none !important;
    }
    
    .navTitleImg {
        width: 100px;
    }
    
    .my_message {
        display: none;
    }
    
    .m_title {
        text-align: right;
        padding-right: 20px !important;
        font-size: 18px;
    }
    
    .m_input {
        width: 265px;
    }
    
    .m_input input,
    .m_input textarea,
    .m_input select {
        background-color: #fbeded;
        padding: 5px 10px;
        margin: 5px 0;
        border: none;
        width: 265px;
        font-size: 16px;
    }
    
    .modi_info_form {
        text-align: center;
    }
    
    .m_btn {
        background: #cf7c7d;
        font-size: 20px;
        padding: 5px 20px;
        border-radius: 5px;
        border: none;
        color: #fff;
        margin-top: 50px;
    }
    /*================选择学校=======================*/
        #bg {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.7;
            opacity: .70;
            filter: alpha(opacity=70);
        }
        
        #show {
            display: none;
            position: fixed;
            top: 25%;
            left: 22%;
            width: 53%;
            height: 63%;
            padding: 8px;
            border: 8px solid #E8E9F7;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
        .show_top {
            width: 100%;
            height: 80%;
            text-align: center;
        }
        
        .show_bottom {
            width: 100%;
            height: 20%;
        }
        
        .school_select {
            margin-right: 10px;
        }
        
        .school_select select {
            width: 50%;
            background-color: #E8E9F7;
            margin: 5px 0;
            display:inline-block;
        }
        
        #queding {
            display: block;
            margin: 0 auto;
            width: 96px;
            height: 30px;
            background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
            background-size: 100% 100%;
            color: #fff;
            font: 18px/30px "微软雅黑";
            text-align: center;
            text-decoration: none;
        }
    /*================选择学校=======================*/
        
        .show_top {
            width: 100%;
            height: 80%;
            text-align: center;
			padding-top: 5%;
        }
        
        .show_bottom {
            width: 100%;
            height: 20%;
        }
        
        .school_select {
            margin-right: 10px;
        }
        
        .school_select select {
            width: 50%;
            background-color: #E8E9F7;
            margin: 5px 0;
            display:inline-block;
        }
        
        #queding {
            display: block;
            margin: 0 auto;
            width: 96px;
            height: 30px;
            background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
            background-size: 100% 100%;
            color: #fff;
            font: 18px/30px "微软雅黑";
            text-align: center;
            text-decoration: none;
        }
   
    
    #show_course {
        display: none;
        position: fixed;
        top: 25%;
        left: 22%;
        width: 53%;
        height: 55%;
        padding: 8px;
        border: 8px solid #E8E9F7;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
    
    #show_choice {
        display: none;
        position: absolute;
        top: 25%;
        left: 38%;
        width: 20%;
        height: 50%;
        padding: 8px;
        border: 8px solid #E8E9F7;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
    
    .course_select {
        float: left;
        width: 50%;
        text-align: center;
    }
    
    .course_select select {
        width: 50%;
        background-color: #E8E9F7;
        margin: 5px 0;
        display:inline-block;
    }
    
    #course_sure {
        display: block;
        margin: 0 auto;
        width: 96px;
        height: 30px;
        background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
        background-size: 100% 100%;
        color: #fff;
        font: 18px/30px "微软雅黑";
        text-align: center;
        text-decoration: none;
    }
    
    .choice span {
        padding: 0 5px;
        cursor: pointer;
    }
    
    .choice_hide {
        text-align: center;
    }
    
    #choice_sure {
        display: block;
        margin: 0 auto;
        width: 96px;
        height: 30px;
        background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
        background-size: 100% 100%;
        color: #fff;
        font: 18px/30px "微软雅黑";
        text-align: center;
        text-decoration: none;
    }
    
    .btn_box {
        margin-bottom: 5px;
    }
    
    .btn_box span {
        padding-right: 5px;
    }
    
    .close_btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    
    .close_btn img {
        width: 20px;
    }
</style>

<div class="main_opr">
    <a href="javascript:;" title="编辑个人资料" target="_blank" class="btn btn-main-opr" style="background:#fff;color:#333;">编辑个人资料</a>
</div>

<div style="margin-bottom: 12px;">
    <a href="{:U('Teach/me')}" title="返回" class="btn btnReturn1">返回</a>
</div>

<div class="modi_info" data-text="编辑资料" style="padding:30px;margin:0 auto;">
<!--
    <div style="width:40%;float:left;">
        <img onerror="img_teacher(this)" class="list_avatar navListImg" style="display:block;margin:0 auto;">
    </div>
-->
    <div style="width:410px;margin: 0 auto">
        <form class="modi_info_form" action="" method="post">
            <table class="modi_info_table">
                <tr>
                    <td class="m_title">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
                    <td class="m_input">
                        <input type="text" name="name" id="teacher_name" placeholder="请输入姓名" maxlength="20" required value="{$data.name}">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</td>
                    <td class="m_input">
                        <label for="man" style="font-weight:normal;margin-left:20px;">
                            <input name="sex" type="radio" id="man" value="男" style="width:35px;background:#fff;" <?php if($data[ 'sex']=='男' ) echo 'checked' ?> >男</label>
                        <img style="width:30px; display:inline; margin-right:30px;" src="/Public/img/man.png">
                        <label for="woman" style="font-weight:normal;">
                            <input name="sex" type="radio" id="woman" value="女" style="width:35px;background:#fff;" <?php if($data[ 'sex']=='女' ) echo 'checked' ?> >女</label>
                        <img style="width:26px; display:inline;" src="/Public/img/woman.png">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">手机号码</td>
                    <td class="m_input">
                        <input type="text" name="telephone" id="telephone" placeholder="请输入手机号码" maxlength="11" autocomplete="off" readonly required value="{$data.telephone}">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</td>
                    <td class="m_input">
                        <input type="email" name="email" id="teacher_email" placeholder="请输入邮箱" value="{$data.email}">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">个人介绍</td>
                    <td class="m_input">
                        <textarea id="brief_intro" name="brief_intro" placeholder="请输入简短的个人介绍，不超过40字" maxlength="40" rows="3">{$data.brief_intro}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="m_title">选择学校</td>
                    <td class="m_input">
                        <input type="text" id="school_input" placeholder="选择学校" onkeydown="return false" autocomplete="off" onclick="return showChooseSchoolDlg()" value="{$data.school_name}" required>
                        <input type="hidden" name="school_id" id="school_id" data-validate-func="required" data-validate-hint="学校不能为空">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">任教学科</td>
                    <td class="m_input" style="text-align: left;">
                        <div class="choice" style="width:265px;">
                            <volist name="gradeCourseList" id="datalist" empty="">
                                <span gradeid="{$data.grade_id}" courseid="{$datalist.course_id}"> {$datalist.course_name}{$datalist.grade} </span>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="m_title">选择学科</td>
                    <td class="m_input" style="text-align: left;">
                    	<a href="javascript:;" id="course_input" onclick="return showChooseCourseDlg()" style="display: inline-block; line-height: 45px; font-size: 16px; padding: 0 5px">选择学科</a>
<!--                        <input type="text" id="course_input" placeholder="选择学科" readonly autocomplete="off" onclick="return showChooseCourseDlg()" required>-->
                        <input type="hidden" name="coursegrade" id="coursegrade_id" value="{$courseGradeListStr}">
                    </td>
                </tr>
<!--
                <tr>
                    <td class="m_title">密码</td>
                    <td class="m_input">
                        <input onfocus="this.type='password'" type="text" name="password" id="password" placeholder="请输入6-16位密码" maxlength="16" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="m_title">确认密码</td>
                    <td class="m_input">
                        <input onfocus="this.type='password'" type="text" name="confirm_password" id="confirm_password" placeholder="请输入6-16位密码" maxlength="16" autocomplete="off">
                    </td>
                </tr>
-->
                <tr>
                    <td class="m_title"></td>
                    <td class="m_input">
                        <button class="m_btn" type="submit" style="" onclick="return check();">确定</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!----------------选择学科------------------->
<div id="bg"></div>
<div id="show">
    <div class="show_top" style="position:relative">
        <div id="province" class="school_select">
            省份：<select name="" id="pro_select" class="form-control">
                <option value="">请选择省市区</option>
            </select>
        </div>
        <div id="city" class="school_select">
            市区：<select name="" id="city_select" class="form-control">
                <option value="">请选择市区</option>
            </select>
        </div>
        <div id="country" class="school_select">
            区县：<select name="" id="coun_select" class="form-control">
                <option value="">请选择区县</option>
            </select>
        </div>
        <div id="school" class="school_select">
            学校：<select name="" id="sch_select" class="form-control">
                <option value="">请选择学校</option>
            </select>
        </div>
        <img class="close_img" src="/Public/img/home/close_gray.png" alt="" style="position:absolute;right:0;top:0;cursor:pointer;">
    </div>
    <div class="show_bottom">
        <a id="queding" href="javascript:;">确定</a>
    </div>
</div>

<div id="show_course">
    <div class="show_top" style="position:relative">
        <div id="course" class="course_select">
            学科：<select name="" id="cour_select" class="form-control">
                <option value="">请选择学科</option>
                <volist name="courses" id="dataCourse" empty="暂时没有信息">
                    <option value="{$dataCourse.id}">
                        {$dataCourse.course_name}
                    </option>
                </volist>
            </select>
        </div>
        <div id="grade" class="course_select">
            年级：<select name="" id="gra_select" class="form-control">
                <option value="">请选择年级</option>
                <volist name="grades" id="dataGrade" empty="暂时没有信息">
                    <option value="{$dataGrade.id}">{$dataGrade.grade}</option>
                </volist>
            </select>
        </div>
        <img class="close_img" src="/Public/img/home/close_gray.png" alt="" style="position:absolute;right:0;top:0;cursor:pointer;">
    </div>
    <div class="show_bottom">
        <a href="javascript:;" id="course_sure">确定</a>
    </div>
</div>

<!----------------任教学科和年级------------------->
<div id="show_choice">
    <div class="show_top">
        <div class="choice_hide">
            <volist name="gradeCourseList" id="dataGradeCourse" empty="">
                <div class="btn_box"><span>{$dataGradeCourse.course_name}{$dataGradeCourse.grade}</span>
                    <button class="btn_del">删除</button>
                </div>
            </volist>
        </div>
    </div>
    <div class="show_bottom">
        <a href="javascript:;" id="choice_sure">确定</a>
    </div>

</div>

<script src="__PUBLIC__/js/jquery.min.1.7.js"></script>
<script src="__PUBLIC__/js/DistrictQuery.js" type="text/javascript"></script>

<script type="text/javascript">
    //navTitleImg图片路径
    $('.navTitleImg').attr('src', '__ROOT__/Uploads/Avatars/1-01.png?v=' + Date.parse(new Date()));
    //navTranImg图片路径
    $('.navTranImg').attr('src', '__ROOT__/Uploads/Avatars/1-02.png?v=' + Date.parse(new Date()));

    $('.navListImg').attr('src', '__ROOT__/Uploads/Avatars/{$data.vid}_t.jpg?v=' + Date.parse(new Date()));
</script>
<script>
    function check() {
        //姓名验证
        var teacher_name = $('#teacher_name').val();
        var regTel = /^(([\u4E00-\u9FA5]{2,7})|([a-zA-Z]{3,10}))$/;
        if (!regTel.test(teacher_name)) {
            alert('姓名格式不正确');
            return false;
        }

        var telephone = $('#telephone').val();
        var regTel = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!regTel.test(telephone)) {
            alert('手机号格式不正确');
            return false;
        }
        
        var password = $('#password').val();
        if(password != "")
        {
            if (password.length < 6) {
                alert('密码长度不少于6位');
                return false;
            }

            var confirm_password = $('#confirm_password').val();
            if (password!=confirm_password) {
                alert('两次密码输入不一致');
                return false;
            }
        }

        var email = $('#teacher_email').val();
        if (email != '') {
            var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if (!emailReg.test(email)) {
                alert('请输入有效的Email地址');
                return false;
            }
        }

        return true;

    }
</script>

<script>
        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                } else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        function hideChooseSchoolDlg() {
            document.getElementById("bg").style.display = 'none';
            document.getElementById("show").style.display = 'none';
        }


        function showChooseSchoolDlg() {

            document.getElementById("bg").style.display = "block";
            document.getElementById("show").style.display = "block";
            $('#schoolWrapper').height($('#show').height() - 130);

        }
        bindQueryDistrictEvent("__URL__", 'pro_select', 'city_select', 'coun_select', 'sch_select');
    </script>

    <script>
        function CountDown() {
            if (times < 1) {
                hasSentPhoneCode = false;
                clearInterval(isinerval);
                $('#sendcodebutton').html('重新发送');
                return;
            }
            $('#GetVerify').html(times);
            times--;
        }
    </script>

    <!-------------------选择学校---------------------->
    <script>
        $('#queding').on('click', function () {
            $('#bg').css('display', 'none');
            $('#show').css('display', 'none');
            $('#school_input').val($('#sch_select option:selected').text());
            $('#school_id').val($('#sch_select option:selected').attr('data-id'));
        })
        $('.close_img').on('click', function () {
            $('#bg').css('display', 'none');
            $('#show').css('display', 'none');
            $('#show_course').css('display', 'none');
        })
    </script>
    
<!-------------------选择学科---------------------->
<script>
    function showChooseCourseDlg() {
        document.getElementById("bg").style.display = "block";
        document.getElementById("show_course").style.display = "block";
    }
    $('#course_sure').on('click', function () {
        var grade = $.trim($('#gra_select option:selected').text());
        var course = $.trim($('#cour_select option:selected').text());
        var gradeId = $('#gra_select option:selected').val();
        var courseId = $('#cour_select option:selected').val();
        var string = course + grade;
        if (string == 0) {
            return false;
        } else {
            var span_all = $('.choice').children('span');
            var length = span_all.length;
            for (var i = 0; i <= length; i++) {
                if (grade == '请选择年级' || course == '请选择学科' || $(span_all[i]).text().trim() == string) {
                    alert('学科年级未选择或者该学科年级已经被选择');
                    return false;
                }
            }
        }

        $('#bg').css('display', 'none');
        $('#show_course').css('display', 'none');
        $('.choice').append('<span gradeid=' + gradeId + ' courseid=' + courseId + '>' + string + '</span>');
        $('.choice_hide').append('<div class="btn_box"><span>' + string + '</span><button class="btn_del">删除</button></div>');
        $('#course_input').val('请选择学科');
        var preFix = ",";
        if ("" == $('#coursegrade_id').val())
            preFix = "";
        $('#coursegrade_id').val($('#coursegrade_id').val() + preFix + courseId + ',' + gradeId);
    })

    $('.choice').on('click', function () {
        $('#bg').css('display', 'block');
        $('#show_choice').css('display', 'block');
    })
    $(".btn_del").live("click", function () {
        var current_index = $(this).parent().index();
        $('.choice').children('span').eq(current_index).remove();
        alert('确定要删除吗？');
        $(this).parent().remove();
        var oldCourseGradeStr = $('#coursegrade_id').val();
        var newCourseGradeStr = oldCourseGradeStr.substring(0, current_index * 4) + oldCourseGradeStr.substring((current_index + 1) * 4);
        if(newCourseGradeStr.substring(newCourseGradeStr.length-1) == ',')
        newCourseGradeStr = newCourseGradeStr.substring(0,newCourseGradeStr.length-1);
        $('#coursegrade_id').val(newCourseGradeStr);
    });
    $('#choice_sure').on('click', function () {
        $('#bg').css('display', 'none');
        $('#show_choice').css('display', 'none');
    })
</script>
