<layout name="teacher_layout_withouticon" />
<style>
    body,html{
        width: 100%;
        height: 100%;
    }
    .ppp{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #box{
        position:absolute;
        top: 88px;
        left: 25px;
        background: red;
        width: 72px;
        height: 72px;
    }
    .wrapper{
        padding:0
    }
</style>
<p class="ppp">
    <iframe class="aaa" name="content_frame" marginwidth=0 marginheight=0 width=100% height=100% src="http://shengwu.nobook.com.cn/47fb3342.html" frameborder=0></iframe> 
    <div id="box"></div>
</p>




<!--
<layout name="teacher_layout_2"/>
<link href="__PUBLIC_METRO__/css/app/table_list2.css?v=2.0" type="text/css" rel="stylesheet">
<style>
    *{margin: 0;padding: 0;}
    p{width: 100%;height: 100%;};
</style>
<p><iframe name="I1" src="http://www.baidu.com/" height="100%" width="100%" frameBorder=0  marginwidth=0 marginheight=0 ></iframe></p>-->

<!--

layer.open({
  type: 2,
  title: false,
  closeBtn: 0, //不显示关闭按钮
  shade: [0],
  area: ['340px', '215px'],
  offset: 'rb', //右下角弹出
  time: 2000, //2秒后自动关闭
  shift: 2,
  content: ['test/guodu.html', 'no'], //iframe的url，no代表不显示滚动条
  end: function(){ //此处用于演示
    layer.open({
      type: 2,
      title: '很多时候，我们想最大化看，比如像这个页面。',
      shadeClose: true,
      shade: false,
      maxmin: true, //开启最大化最小化按钮
      area: ['893px', '600px'],
      content: 'http://fly.layui.com/'
    });
  }
});-->
