<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>实验</title>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		
		html, body, img {
			width: 100%;
			display: block;
		}
	</style>
</head>
<body>
	<img src="http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Carousel/carousel_resource1_1.png">
</body>
</html>
