#header {
    background: #EAC41B;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header .opr {
    background-color: transparent;
    border: 1px solid #F4FCFF;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 16px;
    margin: 7px 6px 0 6px;
    color: #5B5754;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

#header .opr.selected {
    background-color: #F4FCFF;
}

.class_info {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #5B5754;
}
.class_info .class_info_item {
    line-height: 20px;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
}
.class_info .t_title{
    width: 80px;
    display: inline-block;
    text-align: left;
}