.table_wrapper {
    padding: 0 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table > thead > tr > th {
    border-bottom: none !important;
    font-size: 16px;
    white-space: nowrap;
    color: #595757;
    text-align: left;
    padding: 8px;
}

.table.border {
    border: none;
}

.table thead {
    border-bottom: 4px solid #dddddd;
}

.table td {
    vertical-align: middle !important;
    padding: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    word-break: break-all;
    word-wrap: break-word;

}

.table td a {
    text-decoration: none;
}

.emptyResult {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.cut-off {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis; /* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis"); /*FireFox*/
}

.table-striped > tbody > tr:nth-child(even) > td, .table > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th, .table > tbody > tr:nth-child(even) > th {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .table > tbody > tr:nth-child(odd) > th {
    background-color: #F6F3E5;
}

.table.striped .button {
    padding: 4px 8px !important;
    letter-spacing: 2px;
    color: #595757;
    background-color: #fff;
    border: 1px solid #E9C232;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}

.table.striped .button:hover {
    color: #fff;
    background-color: #E9C232;
    border-color: #E9C232;
}

.btn-primary {
    color: #E9C232;
    background-color: #fff;
    border: 1px solid #E9C232;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E9C232;
    border: 1px solid #E9C232;
}

.text-center {
    text-align: center !important;
}

.search_table_wrapper td {
    text-align: right;
}