<layout name="exercise"/>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/exerciseNotify.js"></script>
<style media="screen">
	html,body{
		min-width: 1100px
	}
	li{
		list-style: none
	}
	.boxOutter{
		width: 1138px
	}
	.red{
		display: none
	}
</style>
<div class="boxOutter border-none p0">

  <div class="">
      <li class="createCompletionLicontent  pt0 border-none ">
          <div class="mt10 mb10 of">
              <span class="color3baeabFixed textSpan left mr5">二级题目</span>
              <div class="dib left">
                  <script type="text/plain" id="completionA" name="message" style="width:580px"></script>
              </div>
			  <div class="dib mt10 red classred left">
		                *该项不可为空
		      </div>
          </div>
          <button type="button" name="button" class="btn mb10 getTxt">生成答案</button>
		<p class="dib juse">(*点我生成答案输入框)</p>
		<span class="red classred dn">*该项为必选项</span>
        <div class="answerDiv">

        </div>

        <include file="CreateExercise:compositefooter" />
      </li>
      </ul>
  </div>
</div>

<div class="layerOutter">
    <div class="exerciseTitle">
        <div class="">
            <div class="exerciseMain">
                <span class="numval"></span>
                <span class="claimScore">(n分)</span>
                <span class="claimcaption">这里是题干。</span>
            </div>
            <div class="exerciseMinor">
                <div class="exerciseRemark">
                    <span class="remarkTitle">【答案】</span>
                    <span class="remarkText remarkAnswer"></span>
                </div>
                <div class="exerciseRemark">
                    <span class="remarkTitle">【解析】</span>
                    <span class="remarkText remarkParse">这里是解析。</span>
                </div>
            </div>
            <div class="bottomBorder"></div>
        </div>
    </div>
</div>


<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script>
	var completionA = UE.getEditor('completionA');
    var messageJx = UE.getEditor('messageJx');
</script>
<script type="text/javascript">
var arr = new Array();
var completionN = 0;
var number;
var clickbefore = 0;
var messageArray= new Array();
 arr = ['%E3%84%96']
$('.getTxt').click(function(){
    completionN = 0 ;
    var str = completionA.getContentTxt();
    code = encodeURI(str);
    for(var i=0;i<arr.length;i++){
        var inputLength = code.split(arr[i]).length-1;
            completionN = completionN + inputLength;
            number = completionN + inputLength;
    }
    if(completionN-clickbefore>0){
		$(this).siblings('.juse').hide()
        for(var i=clickbefore;i<completionN;i++){
            var strHtml="";
            strHtml +=  '<div class="comAnswerBox">';
            strHtml +=  '<div class="dib mtb10 ">';
            strHtml +=  '<span class="color3baeabFixed w64 mr0 text-right vertical-top">答案</span>';
            strHtml +=  '<div style="width: 580px;" class="dib">';
            strHtml +=  '<script type="text/plain" id="AnswermessageA'+i+'" name="message" style="width:100%;height:50px;">'
            strHtml +=  '<\/script>';
            strHtml +=  '</div>';
            strHtml +=  '</div>';
            strHtml +=  '<div class="dib mtb10 vertical-top ml10">';
            strHtml +=  '<span class="color3baeabFixed  mr0">分数</span>';
			strHtml +=  '<input type="number" class="inputCommon fraction'+i+'" placeholder="分数"><div class="red mt10 dn" >*该项为必选项或格式错误</div>';
            strHtml +=  '</div>';
            strHtml +=  '</div>';
            $('.answerDiv').append(strHtml);
            eval('var testVar = \'AnswermessageA\'+i');
            messageArray[i] = UE.getEditor(testVar);
        }
    }else if (completionN-clickbefore == 0) {
            return false
    }else {
        for (var j = completionN; j < clickbefore; j++) {
                $('.answerDiv').children('div').last().remove();
            messageArray[j].destroy();
            messageArray.removeByValue(j);
        }
    }
        clickbefore = completionN;
})

//索引查询到要删除的元素
Array.prototype.removeByValue = function(id) {
    var id = parseInt( id );
    for(var i=0; i<this.length; i++) {
        if(this[i] == id) {
            this.splice(i, 1);
            break;
        }
    }
}
function resShow(){
	var a = 0;
	if(UE.getEditor('completionA').getContentLength() == 0){
		$('#completionA').parent().siblings('.red').show();
		a++
	}else{
		$('#completionA').parent().siblings('.red').hide();
	}
	if($('.answerDiv').children().length == 0){
		$('.getTxt').siblings('.red').show();
		a++
	}else{
		$('.getTxt').siblings('.red').hide();
	}
	for (var i = 0; i < $('.answerDiv').children().length; i++) {
		if(UE.getEditor('AnswermessageA'+[i]).getContentLength() == 0 || $('.answerDiv').children().eq(i).find('input').val()==''||$('.answerDiv').children().eq(i).find('input').val()<=0){
			$('.answerDiv').children().eq(i).find('.red').show();
			a++;
		}else {
			$('.answerDiv').children().eq(i).find('.red').hide();
		}
	}
	if(UE.getEditor('messageJx').getContentLength() == 0){
		$('.jxtext').show();
		a++
	}else{
		$('.jxtext').hide();
	}
	return a
}
    function exerciseHtml(){
        $('.remarkAnswer').html('');
        var claimcaption = completionA.getContent();//填空题题干
        var remarkParse = messageJx.getContent();//填空题解析
        $('.remarkParse').html(remarkParse);
        var score = 0;
        var input = '<input type="text" class="answerInput" disabled>';//这是题目上的答题框
        var newClaimcaption = claimcaption.replace(/ㄖ/g,input);//替换特殊字符
        $('.claimcaption').html(newClaimcaption);

        for(var i = 0; i < $('.comAnswerBox').length; i++){
            var j = i+1;
            score+= $('.fraction'+i).val()*1;//总分
            var div_ = '<div class="answerBox">【第'+j+'空】'+messageArray[i].getContent()+'</div>';
            $('.remarkAnswer').append(div_)
        }

        $('.claimScore').html('('+score+'分)');//这道题的总分

        return $('.layerOutter').html();
    }

</script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/input/comm.js"></script>
