<layout name="exercise"/>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/exerciseNotify.js"></script>
<style media="screen">
	html,body{
		min-width: 1100px
	}
	li{
		list-style: none
	}
	.boxOutter{
		width: 1138px
	}
	.red{
		display: none
	}
</style>
<div class="boxOutter border-none p0">

  <div class="">
	  <li class="createCompletionLicontent pt0 border-none">
		  <div class="mt10 mb10">
			  <span class="color3baeabFixed textSpan">二级题目</span>
			  <div class="dib">
				  <script type="text/plain" id="completionA" name="message" style="width:580px">{$exercise_info.subject_name|html_entity_decode}</script>
			  </div>
			 <span class="red classred dn">*该项为必选项</span>
		  </div>
		  <button type="button" name="button" class="btn mb10 getTxt">生成答案</button>
		<p class="dib juse">(*点我生成答案输入框)</p>
		  <span class="red classred dn">*该项为必选项</span>
		<br>
	  <span class="m0">选项数量</span>
		<select class="exerciseNums selectSize" name="" onchange="optionShow(this)" >
	  </select>
		 <div class="ml62 choiseDiv">

		 </div>

		 <div class="text-center mtb10">
		   <button type="button" name="button" class="btn pl20 pr20 preview">预览</button>
		 </div>

		 <div class="answerDiv">

		 </div>
		 <include file="CreateExercise:compositeeditfooter" />
	  </li>
	  </ul>
  </div>
</div>

<div class="layerOutter">
	<div class="exerciseTitle">
		<div class="exerciseBtnOutter">
			<button type="button" name="button" class="btn answer4">所有选项一行</button>
			<button type="button" name="button" class="btn answer2">每行两个选项</button>
			<button type="button" name="button" class="btn answer1">每行一个选项</button>
		</div>
	    <div class="">
	        <div class="exerciseMain">
	        	<span class="numval"></span>
	            <span class="claimScore">(n分)</span>
	            <span class="claimcaption">这里是题干。</span>
	            <ul class="claimChoice exerciseContent"></ul>
	        </div>
	        <div class="exerciseMinor">
	            <div class="exerciseRemark">
	                <span class="remarkTitle">【答案】</span>
	                <span class="remarkText remarkAnswer"></span>
	            </div>
	            <div class="exerciseRemark">
	                <span class="remarkTitle">【解析】</span>
	                <span class="remarkText remarkParse">这里是解析。</span>
	            </div>
	        </div>
            <div class="bottomBorder"></div>
	    </div>
    </div>
</div>

<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script>
	var completionA = UE.getEditor('completionA');
	var AnswerMessageArray= new Array()
	for(var i=1;i<21;i++){
		if(i==4){
			$('.exerciseNums').append('<option selected="selected">'+[i]+'</option>')
		}else {
			$('.exerciseNums').append('<option>'+[i]+'</option>')
		}
	}
	var abcArr = new Array();
	abcArr = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T']
	for(var i=0;i<20;i++){
		var choiseDiv ="";
		if(i<4){
			choiseDiv += '<div class="mt10 editors db">';
			choiseDiv += '<span class="textSpan optionSpan">'+abcArr[i]+'</span>';
			choiseDiv += '<div style="width: 90%;" class="dib">';
			choiseDiv += '<script type="text/plain" id="message'+abcArr[i]+'" name="message" style="width:100%;height:50px;"><\/script>';
			choiseDiv += '</div>';
			choiseDiv += '<div class="red dn " style="margin: 9px;font-size:12px">*该项为必选项</div>';
			choiseDiv += '</div>';
		}else{
			choiseDiv += '<div class="mt10 editors dn">'
			choiseDiv += '<span class="textSpan optionSpan">'+abcArr[i]+'</span>'
			choiseDiv += '<div style="width:90%;" class="dib">'
			choiseDiv += '<script type="text/plain" id="message'+abcArr[i]+'" name="message" style="width:100%;height:50px;"><\/script>'
			choiseDiv += '</div><div class="red dn fz12" style="margin:9px;font-size:12px">*该项为必选项</div></div>'
		}
		$('.choiseDiv').append(choiseDiv);
		eval('var testVar = \'message\'+abcArr[i]');
		AnswerMessageArray[i] = UE.getEditor(testVar);
	}
	var arr = new Array();
	var messageJx = UE.getEditor('messageJx');
	var completionN = 0;
	var number;
	var clickbefore = 0;
	var messageArray= new Array();
	arr = ['%E3%84%96']
	$('.getTxt').click(function(){
		clickbefore = $('.answerDiv').children('div').length;
		completionN = 0 ;
		var str = completionA.getContentTxt();
		code = encodeURI(str);
		for(var i=0;i<arr.length;i++){
			var inputLength = code.split(arr[i]).length-1;
			completionN = completionN + inputLength;
			number = completionN + inputLength;
		}
		if(completionN-clickbefore>0){
		$(this).siblings('.juse').hide()
			for(var i=clickbefore;i<completionN;i++){
				var strHtml="";
				strHtml +=  '<div class="comAnswerBox">';
				strHtml +=  '<div class="dib mtb10 ">';
				strHtml +=  '<span class="color3baeabFixed w64 mr0 text-right vertical-top">答案</span>';
				strHtml +=  '<div style="width: 580px;" class="dib">';
				strHtml +=  '<script type="text/plain" id="AnswermessageA'+i+'" name="message" style="width:100%;height:50px;">'
				strHtml +=  '<\/script>';
				strHtml +=  '</div>';
				strHtml +=  '</div>';
				strHtml +=  '<div class="dib mtb10 vertical-top ml10">';
				strHtml +=  '<span class="color3baeabFixed  mr0">分数</span>';
			  strHtml +=  '<input type="number" class="inputCommon fraction'+i+'" placeholder="分数"><div class="red mt10 dn" >*该项为必选项或格式错误</div>';
				strHtml +=  '</div>';
				strHtml +=  '</div>';
				$('.answerDiv').append(strHtml);
				eval('var testVar = \'AnswermessageA\'+i');
				messageArray[i] = UE.getEditor(testVar);
			}
		}else if (completionN-clickbefore == 0) {
			return false
		}else {
			for (var j = completionN; j < clickbefore; j++) {
				$('.answerDiv').children('div').last().remove();
				messageArray[j].destroy();
				messageArray.removeByValue(j);
			}
		}
		clickbefore = completionN;
	})

	//索引查询到要删除的元素
	Array.prototype.removeByValue = function(id) {
		var id = parseInt( id );
		for(var i=0; i<this.length; i++) {
			if(this[i] == id) {
				this.splice(i, 1);
				break;
			}
		}
	}

</script>

<script type="text/javascript" src="__PUBLIC__/adminExercise/js/input/editcomm.js"></script>
<script>
	var numCount = "{$exercise_info.answer_count}";
	$('.exerciseNums').find('option').eq("{$exercise_info['numcopy']}").attr('selected','selected');
	optionShow('.exerciseNums');

	var num = "{$exercise_info.num}";
	var answer_select = "{$exercise_info.answer_select}";
	answer_select = answer_select.split('jingbanyunxx');
	//给选项设置值
	for(var i=0; i< num;i++) {
		AnswerMessageArray[i].data =  answer_select[i];
		AnswerMessageArray[i].ready(function() {
			this.setContent(this.data);
		});
	}
	//显示答案
	var scoreinfo = '{$exercise_info.score}';
	scoreinfo = scoreinfo.split(',');
	var answerinfo = '{$exercise_info.answer}';
	answerinfo = answerinfo.split('jingbanyunxx');

	for(var i=0;i<numCount;i++){
		var strHtml="";
		strHtml +=  '<div class="comAnswerBox">';
		strHtml +=  '<div class="dib mtb10 ">';
		strHtml +=  '<span class="color3baeabFixed w64 mr0 text-right vertical-top">答案</span>';
		strHtml +=  '<div style="width: 580px;" class="dib">';
		strHtml +=  '<script type="text/plain" id="AnswermessageA'+i+'" name="message" style="width:100%;height:50px;">'
		strHtml +=  '<\/script>';
		strHtml +=  '</div>';
		strHtml +=  '</div>';
		strHtml +=  '<div class="dib mtb10 vertical-top ml10">';
		strHtml +=  '<span class="color3baeabFixed  mr0">分数</span>';
		strHtml +=  '<input type="number" class="inputCommon fraction'+i+'" placeholder="分数" value="'+scoreinfo[i]+'"><div class="red mt10 dn" >*该项为必选项</div>';
		strHtml +=  '</div>';
		strHtml +=  '</div>';
		$('.answerDiv').append(strHtml);
		eval('var testVar = \'AnswermessageA\'+i');
		messageArray[i] = UE.getEditor(testVar);
		messageArray[i].info =  answerinfo[i];
		messageArray[i].ready(function() {
			this.setContent(this.info);
		});
	}
	function resShow(){
	  var a = 0;
	  if(UE.getEditor('completionA').getContentLength() == 0){
		  $('#completionA').parent().siblings('.red').show();
		  a++
	  }else{
		  $('#completionA').parent().siblings('.red').hide();
	  }
	  if($('.answerDiv').children().length == 0){
		  $('.getTxt').siblings('.red').show();
		  a++
	  }else{
		  $('.getTxt').siblings('.red').hide();
	  }
	  for (var j = 0; j <$('.exerciseNums').children('option:selected').val(); j++) {
		  if(UE.getEditor('message'+abcArr[j]).getContentLength() == 0){
			  $('.choiseDiv').children().eq(j).find('.red').show();
			  a++;
		  }else {
			  $('.choiseDiv').children().eq(j).find('.red').hide();
		  }
	  }
	  for (var i = 0; i < $('.answerDiv').children().length; i++) {
		  if(UE.getEditor('AnswermessageA'+[i]).getContentLength() == 0 || $('.answerDiv').children().eq(i).find('input').val()==''||$('.answerDiv').children().eq(i).find('input').val()<=0){
			  $('.answerDiv').children().eq(i).find('.red').show();
			  a++;
		  }else {
			  $('.answerDiv').children().eq(i).find('.red').hide();
		  }
	  }
	  if(UE.getEditor('messageJx').getContentLength() == 0){
		  $('.jxtext').show();
		  a++
	  }else{
		 $('.jxtext').hide();
	  }
	  return a
  }

  	function exerciseHtml(){
		$('.claimChoice,.remarkAnswer').html('');

		$('.answer1, .answer2, .answer4').show()

		var exerciseNum = $('.exerciseNums').children('option:selected').val();//共有几个选项
		//如果选项数量超过8个，则把“一行显示”按钮隐藏
		if(exerciseNum > 8) {
			$('.answer4').hide()
		}
		//这是全部选项的输入编辑框
		for(var i=0;i<exerciseNum;i++){
			let word = $('.editors').eq(i).children('.optionSpan').text()+'.';
			var li_ = '<li>'+word+AnswerMessageArray[i].getContent()+'</li>';
			$('.claimChoice').append(li_)
		}

		var claimcaption = completionA.getContent();//填空题题干
		var remarkParse = messageJx.getContent();//填空题解析
		$('.remarkParse').html(remarkParse);
		var score = 0;
		var input = '<input type="text" class="answerInput" disabled>';//这是题目上的答题框
		var newClaimcaption = claimcaption.replace(/ㄖ/g,input);//替换特殊字符
		$('.claimcaption').html(newClaimcaption);

	    for(var i = 0; i < $('.comAnswerBox').length; i++){
	    	var j = i+1;
	    	score+= $('.fraction'+i).val()*1;//总分
	    	var div_ = '<div class="answerBox">【第'+j+'空】'+messageArray[i].getContent()+'</div>';
			$('.remarkAnswer').append(div_)
	    }

	    $('.claimScore').html('('+score+'分)');//这道题的总分

	    return $('.layerOutter').html();

	}
</script>
