<layout name="admin_layout_exercise"/>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/exerciseNotify.js"></script>

<div class="boxOutter">

  <div class="">
      <include file="CreateExercise:commheader" />
      <div class="mb10">
          <label for="" class="color3baeabFixed ">列数</label>
          <select name="" class="selectSize lieNum" >
              <option>1</option>
              <option selected="selected">2</option>
              <option>3</option>
              <option>4</option>
          </select>
          <label for="" class="color3baeabFixed">行数</label>
          <select name="" class="selectSize hangNum" >

              <option>1</option>
              <option selected="selected">2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
          </select>
          <button type="button" name="button" class="btn getMathing">生成模板</button>
          <div class="m10 tableDiv">
              <div style="width: 100%;" class="dib">
                  <script type="text/plain" id="tableUE" name="message" style="width:100%;"></script>
              </div>
              <span class="red classred dn" v-if="subject" style="display:none">*该项为必选项</span>
          </div>
      </div>
      <div class="answerNum mb10">
          <label class="color3baeabFixed left lh32 w64 text-right mr5">答案数量</label>
          <select name="" class="answerNumSel selectSize" onchange="answerShow(this)">
              <option>请选择</option>
          </select>
          <span class="red classred dn" v-if="subject" style="display:none">*该项为必选项</span>
      </div>
      <div class="mathAnswer">
          <div class="red dn tishi">
              如果A1需要和B2相连，在答案输入框内填写“A1，B2” ，每条线作为一个答案
          </div>
      </div>


      <include file="CreateExercise:footer" />
      </li>
      </ul>
  </div>
</div>
<div class=" matchingTable dn">

</div>
<div class="exercise_choice dn">
	<div class="exerciseTitle">
        <p class="box1000 mt20">
        </p>
		<div class="exerciseTemplate">
			<div class="p15 pb0">
				<span class="score"></span>
				<span class="caption"></span>
			</div>
            <div class="of">

    			<div class="matchQuestionWrapper clearfix" >
                    <div class="matchQuestionLeftWrapper" first="0">
                    </div>
                    <div class="matchQuestionRightWrapper" first="0">
                    </div>
    			</div>

            </div>
			<div class="exerciseAnswer">
				<span class="color3baeab">【答案】</span>
				<span class="solution"></span>
			</div>
			<div class="exerciseJx">
				<span class="color3baeab">【解析】</span>
				<span class="analysisSpan"></span>
			</div>
			<div class="difficulty">
				<span >难度：</span>
				<span class="">

				</span>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="repeat_commit" class="repeat_commit" value="{:session('TOKEN')}">

<input type="hidden" class="big_paper_id" value="{$big_paper_id}">
<input type="hidden" class="paper_id" value="{$paper_id}">

<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script>
  var completionA = UE.getEditor('completionA');
  var messageJx = UE.getEditor('messageJx');
  var tableUE = UE.getEditor('tableUE');
  var lieNum ;
  var hangNum;
  for (var i = 1; i < 21; i++) {
      $('.answerNumSel').append('<option>'+i+'</option>');
      $('.mathAnswer').append('<div class="of dn mb10"><label class="color3baeabFixed left lh32 w64 text-right mr5">答案</label><input type="text" name="name" value="" class="inputCommon left mr30 AnswerInfo"><label class="color3baeabFixed left lh32 text-right mr5">分数</label><input type="number" name="name" value="" class="inputCommon left w64 fraction"><span class="red classred dn" v-if="subject" style="display:none">*该项为必选项</span></div>')
  }

  function answerShow(optionClass){
      var optionVal = $(optionClass).children('option:selected').val();
      $('.mathAnswer').children().hide();
      $('.tishi').show()
      for(var i=0;i<optionVal;i++){
          $('.mathAnswer').children().eq(i+1).show()
      }
  }
  $('.getMathing').click(function(){
      var Aarray = ['A','B','C','D'];
      lieNum = $('.lieNum').children('option:selected').val();
      hangNum = $('.hangNum').children('option:selected').val();
      var tableMathing = '';
      tableMathing += "<table style='width:100%'>";
	  tableMathing += "<tbody>";

      tableMathing += "<tr>";
      for (var q = 0; q<= lieNum; q++) {
          if(q == 0) {
              tableMathing += "<td style='min-width:20%;max-width:30%'></td>";
          } else {
              tableMathing += "<td style='min-width:20%;max-width:30%'>"+Aarray[q-1]+"</td>";
          }

      }
      tableMathing += "</tr>";

      for (var k = 0; k <hangNum ; k++) {
          tableMathing += "<tr>"
            for (var j = 0; j < lieNum; j++) {
                if (j==0) {
                    tableMathing += "<td style='min-width:20%;max-width:30%'>"+(k+1)+"</td>"
                } else {
                    tableMathing += "<td style='min-width:20%;max-width:30%'></td>"
                }

            }
          tableMathing += "</tr>"
      }
	  tableMathing += "</tbody>"
	  tableMathing += "</table>"
      tableUE.setContent(tableMathing);
  })
  $('.lianxianExercise').click(function(){
      if(resShow()>0){
          return false
      }
  })
  function resShow(){
      var a = 0;
      if($('.subjectLi').eq(1).find('.color3baeab').length == 0){
          $('.subjectLi').eq(1).children('.red').show();
          a++
      }else {
          $('.subjectLi').eq(1).children('.red').hide();
      }
      if($('.subjectLi').eq(2).find('.color3baeab').length == 0){
          $('.subjectLi').eq(2).children('.red').show();
          a++
      }else {
          $('.subjectLi').eq(2).children('.red').hide();
      }
      if(UE.getEditor('completionA').getContentLength() == 0){
          $('#completionA').parent().siblings('.red').show();
          a++
      }else{
          $('#completionA').parent().siblings('.red').hide();
      }
      if(UE.getEditor('tableUE').getContentLength() == 0){
          $('#tableUE').parent().siblings('.red').show();
          a++
      }else{
          $('#tableUE').parent().siblings('.red').hide();
      }
      if($('.presentation').children('option').length == 0 ||$('.presentation').children('option:selected').text() =='请选择'){
          $('.presentation').siblings('.red').show();
          a++
      }else{
          $('.presentation').siblings('red').hide();
      }
      if($('.answerNumSel').children('option:selected').val() == '请选择' ){
          $('.answerNumSel').siblings('.red').show();
          a++
      }else{
          $('.answerNumSel').siblings('.red').hide();
      }
      for (var i = 0; i <= $('.answerNumSel').children('option:selected').val(); i++) {
          if($('.mathAnswer').children().eq(i).children('input').eq(0).val()==''||$('.mathAnswer').children().eq(i).children('input').eq(1).val()==''||$('.mathAnswer').children().eq(i).children('input').eq(1).val()<=0 ){
              $('.mathAnswer').children().eq(i).find('.red').show();
              a++
          }else {
              $('.mathAnswer').children().eq(i).find('.red').hide();
          }
      }
      if(UE.getEditor('messageJx').getContentLength() == 0){
          $('.jxtext').show();
          a++
      }else{
          $('.jxtext').hide();
      }
      if($('.presentation').children('option:checked').text() == '请选择' ||$('.presentation').children('option:checked').text() == '' ){
          $('.presentation').siblings('.red').show();
          a++
      }else {
          $('.presentation').siblings('.red').hide();
      }
      return a
  }
  $('.matchPreview').click(function(){
      var fracTion = 0
      $('.matchingTable,.matchQuestionLeftWrapper,.matchQuestionRightWrapper,.solution').html('');
      for(var c=0;c<$('.answerNumSel').val();c++){
          var fracTion = $('.fraction').eq(c).val()*1+fracTion;
          $('.solution').append('<span>【第'+(c+1)+'条】'+$('.AnswerInfo').eq(c).val()+'</span><br>')
      }
      $('.score').html('('+fracTion+'分)');
      var exercistTitle = completionA.getContent();
      $('.caption').html(exercistTitle);
      $('.analysisSpan').html(messageJx.getContent());
      var tableHtml = tableUE.getContent();
      $('.matchingTable').html(tableHtml);
        for (var i = 1; i <$('.matchingTable').find('tr').length; i++) {
            var tableLeft = $('.matchingTable').find('tr').eq(i).children('td').eq(1).html();
            $('.matchQuestionLeftWrapper').append('<div class="matchQuestionShowItem " >'+tableLeft+'</div>');
            var tableRight = $('.matchingTable').find('tr').eq(i).children('td').eq(2).html();
            $('.matchQuestionRightWrapper').append('<div class="matchQuestionShowItem " >'+tableRight+'</div>');
        }

      layer.open({
          type: 1,
          shade: 0,
          zIndex: 20160922,
          content: $('.exercise_choice'),
          area: ['100%', '100%'],
          closeBtn: 1,
          move: false,
          scrollbar: false,
          title: ['习题预览', 'color：#fff']
      });


  })
</script>







<script type="text/javascript" src="__PUBLIC__/adminExercise/js/input/comm.js"></script>
