<layout name="admin_layout_exercise"/>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/new_ueditor/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/exerciseNotify.js"></script>

<div class="boxOutter">

    <div class="">
        <include file="CreateExercise:editcommheader" />
        <div class="mb10">
            <label for="" class="color3baeabFixed ">列数</label>
            <select name="" class="selectSize lieNum" >
                <option>1</option>
                <option selected="selected">2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <label for="" class="color3baeabFixed">行数</label>
            <select name="" class="selectSize hangNum" >
                <option>1</option>
                <option selected="selected">2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <button type="button" name="button" class="btn getMathing">生成模板</button>
            <div class="m10">
                <div style="width: 100%;" class="dib">
                    <script type="text/plain" id="tableUE" name="message" style="width:100%;">{$exercise_info['answer_select']}</script>
                </div>
            </div>
        </div>
        <div class="answerNum mb10">
            <label class="color3baeabFixed left lh32 w64 text-right mr5">答案数量</label>
            <select name="" class="answerNumSel selectSize" onchange="answerShow(this)">
            </select>
        </div>
        <div class="mathAnswer">
            <div class="red dn tishi" style="display: block">
                如果A1需要和B2相连，在答案输入框内填写“A1，B2” ，每条线作为一个答案
            </div>
        </div>

        <div class="displaycontent">

        </div>
        <include file="CreateExercise:editfooter" />
        </li>
        </ul>
    </div>
    <div class="borderBottom mt10">
        <span class="text-center tabBtn">试题追踪</span>
    </div>
    <table class="tableCommon borderNone mt20">
        <thead>
        <tr>
            <th width="20%">序号</th>
            <th width="20%">操作</th>
            <th width="20%">操作人</th>
            <th width="20%">时间</th>
            <th width="20%">备注</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($exercise_info['track'] as $trackK => $trackV): ?>
        <tr>
            <td><?=$trackK+1?></td>
            <td><?=$trackV['oper_name']?></td>
            <td><?=$trackV['operator_name']?></td>
            <td><?=$trackV['oper_time']?></td>
            <td class="showDetails"><a href="javascript:"><?=$trackV['comment']?></a></td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>

    </ul>
</div>
</div>
<div class=" matchingTable dn">

</div>
<div class="exercise_choice dn">
	<div class="exerciseTitle">
        <p class="box1000 mt20">
        </p>
		<div class="exerciseTemplate">
			<div class="p15 pb0">
				<span class="score"></span>
				<span class="caption"></span>
			</div>
            <div class="of">

    			<div class="matchQuestionWrapper clearfix" >
                    <div class="matchQuestionLeftWrapper" first="0">
                    </div>
                    <div class="matchQuestionRightWrapper" first="0">
                    </div>
    			</div>

            </div>
			<div class="exerciseAnswer">
				<span class="color3baeab">【答案】</span>
				<span class="solution"></span>
			</div>
			<div class="exerciseJx">
				<span class="color3baeab">【解析】</span>
				<span class="analysisSpan"></span>
			</div>
			<div class="difficulty">
				<span >难度：</span>
				<span class="">

				</span>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="repeat_commit" class="repeat_commit" value="{:session('TOKEN')}">
<input type="hidden" class="_send_paperid" value="{$paper_id}">
<input type="hidden" class="nextE" value="{$NextE.id}">

<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script>
    var completionA = UE.getEditor('completionA');
    var messageJx = UE.getEditor('messageJx');
    var tableUE = UE.getEditor('tableUE');
    var lieNum ;
    var hangNum;
    for (var i = 1; i < 21; i++) {
        $('.answerNumSel').append('<option>'+i+'</option>');
        $('.mathAnswer').append('<div class="of dn mb10"><label class="color3baeabFixed left lh32 w64 text-right mr5">答案</label><input type="text" name="name" value="" class="inputCommon left mr30 AnswerInfo"><label class="color3baeabFixed left lh32 text-right mr5">分数</label><input type="text" name="name" value="" class="inputCommon left w64 fraction"></div>')
    }

    function answerShow(optionClass){
        var optionVal = $(optionClass).children('option:selected').val();
        $('.mathAnswer').children().hide();
        for(var i=0;i<optionVal;i++){
            $('.mathAnswer').children().eq(i+1).show()
        }
    }
    $('.getMathing').click(function(){
        lieNum = $('.lieNum').children('option:selected').val();
        hangNum = $('.hangNum').children('option:selected').val();
        var tableMathing = '';
        tableMathing += "<table style='width:100%'>";
        tableMathing += "<tbody>";
        for (var k = 0; k <hangNum ; k++) {
            tableMathing += "<tr>"
            for (var j = 0; j < lieNum; j++) {
                tableMathing += "<td></td>"
            }
            tableMathing += "</tr>"
        }
        tableMathing += "</tbody>"
        tableMathing += "</table>"
        tableUE.setContent(tableMathing);
    })
</script>

<script type="text/javascript" src="__PUBLIC__/adminExercise/js/input/editcomm.js"></script>
<script>
    $('.answerNumSel').find('option').eq("{$exercise_info['numcopy']}").attr('selected','selected');
    optionShow('.answerNumSel');
    //答案数量
    //显示答案
    var scoreinfo = '{$exercise_info.score}';
    scoreinfo = scoreinfo.split(',');
    var answerinfo = '{$exercise_info.answer}';
    answerinfo = answerinfo.split('jingbanyunxx');

    var numCount = "{$exercise_info['num']}";
    var numCopy = 0;
    for (var t = 0;t<numCount;t++){
        $('.mathAnswer').children('div').eq(t+1).show()
        $('.mathAnswer').children('div').eq(t+1).find('.AnswerInfo').val(answerinfo[t]);
        $('.mathAnswer').children('div').eq(t+1).find('.fraction').val(scoreinfo[t]);
    }

    var strHtml='';
    for (var i = 1; i < 21; i++) {
        if (i<numCount) {

            strHtml +='<div class="of dn mb10 style="display: block;">';
            strHtml +='<label class="color3baeabFixed left lh32 w64 text-right mr5">答案</label>';
            strHtml +='<input type="text" name="name"  class="inputCommon left mr30 AnswerInfo" value="'+answerinfo[i]+'">';
            strHtml +='<label class="color3baeabFixed left lh32 text-right mr5">分数</label>';
            strHtml +='<input type="text" name="name"  class="inputCommon left w64 fraction" value="'+scoreinfo[i]+'">';
            strHtml +='</div>';
        }
    }
    $('.matchPreview').click(function(){
        var fracTion = 0
        $('.matchingTable,.matchQuestionLeftWrapper,.matchQuestionRightWrapper,.solution').html('');
        for(var c=0;c<$('.answerNumSel').val();c++){
            var fracTion = $('.fraction').eq(c).val()*1+fracTion;
            $('.solution').append('<span>【第'+(c+1)+'条】'+$('.AnswerInfo').eq(c).val()+'</span><br>')
        }
        $('.score').html('('+fracTion+'分)');
        var exercistTitle = completionA.getContent();
        $('.caption').html(exercistTitle);
        $('.analysisSpan').html(messageJx.getContent());
        var tableHtml = tableUE.getContent();
        $('.matchingTable').html(tableHtml);
          for (var i = 1; i <$('.matchingTable').find('tr').length; i++) {
              var tableLeft = $('.matchingTable').find('tr').eq(i).children('td').eq(1).html();
              $('.matchQuestionLeftWrapper').append('<div class="matchQuestionShowItem ">'+tableLeft+'</div>');
              var tableRight = $('.matchingTable').find('tr').eq(i).children('td').eq(2).html();
              $('.matchQuestionRightWrapper').append('<div class="matchQuestionShowItem " >'+tableRight+'</div>');
          }

        layer.open({
            type: 1,
            shade: 0,
            zIndex: 20160922,
            content: $('.exercise_choice'),
            area: ['100%', '100%'],
            closeBtn: 1,
            move: false,
            scrollbar: false,
            title: ['习题预览', 'color：#fff']
        });


    })
    tableUE.ready(function() {
        var tr = $("#ueditor_2").contents().find("tr").length;
        var td = $("#ueditor_2").contents().find("tr").find('td').length;
        td = td/tr;
        td = td - 2;
        tr = tr - 2;
        $('.hangNum').find('option').eq(tr).attr('selected','selected');
        $('.lieNum').find('option').eq(td).attr('selected','selected');
    });

    //试题审核时需要的
    function checkHtml(){
        $('.previewAllBtn').bind('click').click();
        return $('.exercise_choice').html()
    }
</script>
