html,
body,
.mainbody {
	background-color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none
}

.bookshelfImg {
	height: 19px;
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 22px;
}

.booksWrapper {
	/*        text-align: center;*/
	margin-bottom: 30px;
	padding: 0 2% 0 5%;
	width: 100%;
	background: url(/Public/img/book/bookBack.png) no-repeat center;
	background-size: 100% 100%;
	background-position: bottom left ;
}

.booksWrapper .bookCover {
	width: 80%;
	box-shadow: -webkit-box-shadow: 4px 3px 6px rgba(153,153,153,.5);  
  				-moz-box-shadow: 4px 3px 6px rgba(153,153,153,.5);    
  				-o-box-shadow: 4px 3px 6px rgba(153,153,153,.5);    
  				-ms-box-shadow: 4px 3px 6px rgba(153,153,153,.5);    
  				box-shadow: 4px 3px 6px rgba(153,153,153,.5);    
}

.booksWrapper .bookIntro {
	width: 100%;
	word-wrap: break-word;
	font-size: 12px;
	color: #5B5B5B;
	text-align: center;
	margin-top: 10px;
}

.booksWrapper .bookIntro span {
	display: inline-block;
	padding: 4px 6px;
	font-size: 16px;
	font-weight: bold;
}

.booksWrapper .book {
	display: inline-block;
	position: relative;
	width: 16%;
	text-align: center;
}

#listWrapper {
	background-color: #fff;
}

.bookCover {
	cursor: pointer;
}

.bookIntro span {
	cursor: pointer;
}

.resource_classify {
	width: 100%;
	overflow: hidden;
	line-height: 20px;
	margin-bottom: 10px;
}

.classify_p {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

.classify_ul {
	overflow: hidden;
	margin-bottom: 0;
}

.classify_ul li {
	float: left;
	margin: 0 10px 2px 10px;
	cursor: pointer;
}

.row {
	margin: 0;
}

.current_selected {
	color: red;
}

.sort_desc_red {
	background: url(/Public/img/home/r_descending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 2px;
}

.sort_asc_red {
	background: url(/Public/img/home/r_ascending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 9px;
}

a:focus {
	outline: none
}

@media(max-width:1600px) and (min-width:1281px) {
	.booksWrapper {
		margin-bottom: 30px;
		padding: 0 2% 0 4%;
		width: 100%;
		background: url(/Public/img/book/bookBack.png) no-repeat center;
		background-size: 100% 100%;
		background-position: bottom left ;
	}
	
	.booksWrapper .bookIntro {
		width: 100%;
		word-wrap: break-word;
		font-size: 12px;
		color: #5B5B5B;
		text-align: center;
		margin-top: 5px;
	}
	
	.booksWrapper .bookIntro span {
		display: inline-block;
		padding: 4px 6px;
		font-size: 14px;
		font-weight: bold;
	}
}

@media(max-width:1280px) and (min-width:0) {
	.booksWrapper {
		margin-bottom: 30px;
		padding: 0 2% 0 4%;
		width: 100%;
		background: url(/Public/img/book/bookBack.png) no-repeat center;
		background-size: 100% 100%;
		background-position: bottom left ;
	}
	
	.booksWrapper .bookIntro {
		width: 100%;
		word-wrap: break-word;
		font-size: 12px;
		color: #5B5B5B;
		text-align: center;
		margin-top: 7px;
	}
	
	.booksWrapper .bookIntro span {
		display: inline-block;
		padding: 1px 6px;
		font-size: 12px;
		font-weight: bold;
	}
}