body {
    background: white;
}

* {
    padding: 0;
    margin: 0;
}

#coverLayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #808080;
    z-index: 998;
    opacity: .4;
}

#footer {
    background: white;
}

#footer table {
    width: 100%;
    border: none;
}

#footer table td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#speedCtrl {
    display: inline-block;
    border: 1px solid #9966CC;
    border-radius: 5px;
    padding: 4px 6px;
    color: #9966CC;
    font-size: 12px;
}

#pageWrapper {
    text-align: center;
    position: relative;
}

.page {
    max-width: 100%;
    min-width: 100%;
}

.rectClickArea {
    position: absolute;
    background: transparent;
    z-index: 98;
}

.contentClickArea {
    position: absolute;
    background: transparent;
    z-index: 98;
}

#rectClickImgWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
    background: transparent;
    display: none;
}

#rectClickImgCell {
    text-align: center;
    vertical-align: middle;
}

#rectClickImg {
    max-width: 100%;
    min-width: 100%;
    display: inline-block;
}

#actionWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
    background: white;
    display: none;
}

#actionCell {
    text-align: center;
    vertical-align: middle;
}

#actionVideo {

}

.actionArea {
    position: absolute;
    background: transparent;
    width: 24px;
    height: 24px;
    z-index: 101;
}

#footer img {
    height: 46px;
    width: 46px;
    padding: 0 7px;
}

#kalaok {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: #fff;
    display: none;
}

.text {
    position: relative;
    top: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    -webkit-filter: brightness(1);
}

.text p {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, #f00 0%, #00f 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ctrl {
    position: relative;
    top: 25px;
    height: 20px;
    background: #0aa;
    display: -webkit-box;
    -webkit-box-shadow: 0 0 5px #646464;
    display: none;
    border-radius: 4px;
}

.ctrl span {
    padding: 0 10px;
}

.ctrl span:hover {
    background: #088;
    cursor: pointer;
}

#loading {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    opacity: .7;
    display: none;
}