<layout name="admin_layout_school"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">

<div class="titleBox">
	<p class="blueText fs18 underline1">
		管理员管理
		<span class="blueSpan">
			<a href="javascript:;">管理员账号</a>>>
			<a href="javascript:;">查看管理员信息</a>
<!--			<a href="javascript:;">修改管理员信息</a>-->
		</span>
	</p>
	<div class="underline2"></div>
</div>

<div class="blueBox">
	<span class="blueText left fs16">创建管理员</span>
	<a href="javascript:;" class="blackText right" id="" onclick="checkInfo()">
		<img src="{$oss_path}public/web_img/Admin/icon-save.png" alt="" class="mr10">
		保存修改
	</a>
</div>
<hr class="thin bg-grayLighter">

<div class="grid condensed">
	<div class="row cells3 infoBox">
		<div class="cell">管理员账号：afasgfvfba</div>
		<div class="cell">管理员姓名：天天天</div>
		<div class="cell">管理员手机号：13900000000</div>
		<div class="cell">管理员邮箱地址：111111@qq.com</div>
		<div class="cell">&nbsp;</div>
		<div class="cell">&nbsp;</div>
	</div>
</div>

<p class="blueText fs16 mt20">管理员已有的权限</p>
<hr class="thin bg-grayLighter">

<table id="listWrapper" class="table striped hovered border">
	<thead>
        <tr>
            <th class="text-center">可查看的页面</th>
            <th class="text-center">可操作的功能</th>
        </tr>
	</thead>
	<tbody id="body">
    	<tr>
			<td class="text-center">
				学生管理
			</td>
			<td class="text-center">
				<ul class="tdUl">
					<li class="tdLi">添加学生</li>
					<li class="tdLi">审核学生</li>
					<li class="tdLi">导出学生</li>
					<li class="tdLi">导入学生</li>
					<li class="tdLi">修改学生</li>
					<li class="tdLi">移除学生</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="text-center">
				教师管理
			</td>
			<td class="text-center">
				<ul class="tdUl">
					<li class="tdLi">添加教师</li>
					<li class="tdLi">审核教师</li>
					<li class="tdLi">导出教师</li>
					<li class="tdLi">导入教师</li>
					<li class="tdLi">修改教师</li>
					<li class="tdLi">移除教师</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>


<script src="__PUBLIC__/js/notify/adminNotify.js"></script>

<script>
    $(document).ready(function () {
        $('#listWrapper').DataTable({
            "scrollCollapse": true,
            "paging": false,
            "bSort": false,
            "aoColumns":[
                {"width":"20%"},
                {"width":"80%"}
            ]
        });
    });
</script>

<!--
<script>
	//一个按钮，无回调函数
	$.NotifyBox.NotifyOne('注意','123','确定');
	//一个按钮，有回调函数
	$.NotifyBox.NotifyOneCall('注意','123','确定',function(){
		alert('1')
	});
	//两个按钮，一个有回调函数，一个是灰色，一个是蓝色
	$.NotifyBox.NotifyTwoCallOneGray('注意','123','确定','取消',function(){
		alert('1')
	});
	//两个按钮，一个有回调函数，两个是蓝色
	$.NotifyBox.NotifyTwoCallOneGray('注意','123','确定','取消',function(){
		alert('1')
	});
	//两个按钮，两个有回调函数，两个是蓝色
	$.NotifyBox.NotifyTwoCallTwo('注意','123','确定','取消',function(){
		alert('1')
	},function(){
		alert('2')
	})
</script>
-->
