 .pager td {
        padding: 4px;
    }

	/*进度条*/
	.pmgressbar {
		display: none;
		width: 500px;
		height: 300px;
		background: #fff;
		border: 1px solid #000;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 50px;
		color: #333;
	}

	.pmgressbar p {
		margin: 0;
	}

	.pmgressbarTitle {
		line-height: 100px;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
	}

	.pmgressbarNum {
		margin-bottom: 20px !important;
	}

	.pmgressbarOuter {
		width: 330px;
		height: 20px;
		border: 1px solid #000;
		float: left;
	}

	.pmgressbarInner {
		width: 2%;
		height: 100%;
		background: #59cde2;
	}

	.percentage {
		float: left;
		margin-left: 20px
	}

	.cellSpecial {
		height: 53px;
		line-height: 53px;
	}

	.cellSpecial input {
		width: auto;
		height: auto;
		padding: 0;
	}

	.cellSpecial label {
		width: auto;
		height: auto;
	}

	.cellSpecial .checkbox {
		width: 16px !important;
		height: 16px !important;
		margin-top: -2px;
		margin-right: 2px;
		background:none;
	}
	
/*
	.searchbar input, .searchbar select {
		height: auto !important
	}
*/
	
	.label-before {
		width: initial !important; 
		max-width: initial !important;
		text-align: initial !important;
	}
	
	.label-before input{
		display: inline-block !important;
		position: relative;
		top: 5px;
	}


.cellBox .cell label {
	max-width: 170px;
}

.cellNew .cell1 {
	width: 33.33% !important;
}

.cellNew .cell2 {
	width: 66% !important;
}

.cell2 label {
	width: 13.3% !important;
}

.cell2 .input-control {
	width: 18.3% !important;
}

.inputLabel {
	max-width: 115px !important;
	width: auto !important;
	text-align: left !important;
	line-height: 2.75rem;
}

.adminNotifyContent .input-control {
	height: 40px !important;
	min-height: 40px !important;
	margin: 0 !important;
}

.aBoxHeight {
    height: 427px !important;
}

.aConHeight {
    height: 383px !important;
}

.adminNotifyButton {
    bottom: 10px !important;
}



/*专栏详情*/
.trainDetailsBox {
	padding: 0 20px;
	width: 90%;
	margin: 0 auto;
}

.trainDetailsBox .trainDetailsTitle {
	overflow: hidden;
	text-align: right;
	border-bottom: 1px solid #eee;
	padding: 10px;
	margin-bottom: 20px;
}

.trainDetailsBox .authorInfo {
	float: left;
	text-align: left;
}

.trainDetailsBox .authorInfo .authorAvatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.trainDetailsBox .authorInfo .authorName {
	font-size: 14px;
	color: #999;
}

.trainDetailsBox .blueBtn {
    padding: 10px 20px !important;
	margin-top: 20px !important;
	margin-bottom: 0 !important;
	outline: none
}

.trainDetailsBox .articleBox {
	font-size: 16px;
	line-height: 30px;
}

.trainDetailsBox .articleBox .articleTitle {
	text-align: center;
}

.trainDetailsBox .articleBox .articleMain {
	text-indent: 2em;
	margin-bottom: 50px;
}

.trainDetailsBox .trainDetailsIntro {
	clear: both;
	padding: 25px;
	background: #f7f6f9;
	margin-top: 10px;
}

.trainDetailsBox .trainDetailsIntro .trainRecommend {
	font-weight: 600;
	font-size: 18px;
}

.trainDetailsBox .trainDetailsIntro .introTitle {
	margin: 10px 0;
	padding-left: 20px;
}

.trainDetailsBox .trainDetailsIntro .introMain {
	padding: 0 20px;
	text-indent: 2em;
	line-height: 30px	
}

.trainDetailsBox.replyBox .trainDetailsTitle {
	position: relative;
}

.trainDetailsBox.replyBox .articleTitle {
	width: 60%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 18px;
	padding-top: 20px;
	font-weight: 600;
}

.trainDetailsBox.replyBox .authorElse {
	font-size: 14px;
	color: #999;
    margin-top: 50px;
}

.commentBox {
	margin: 10px 0;
	position: relative
}

.commentBox.commentLong {
	width: 100%;
}

.commentBox.commentShort {
	width: 95%;
	margin: 0 auto;
}

.commentBox.grayBack {
	background: #f6f7f9;
}

.commentBox .toAudit {
	position: absolute;
	height: 100%;
	left: -40px;
	background: #d7e5ee;
	width: 40px;
	padding: 0 12px;
}

.commentBox .toAudit .auditText {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 92px;
	margin: auto
}

.commentBox .comment {
	padding: 15px 20px 25px;
}

.commentBox .comment .commentTitle {
	font-size: 14px;
	color: #999;
	line-height: 45px;
}

.commentBox .comment .commentTitle .commentAvatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
}

.commentBox .comment .commentMain {
	margin-left: 55px;
	text-indent: 2em;
	line-height: 30px
}

.auditButton {
	text-align: center;
}

.auditButton .blueBtn {
	display: inline-block;
	margin: 20px !important
}

.selectHide select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    font-size: inherit !important;
    padding: 0;
    margin: 0;
    line-height: inherit;
    height: inherit;
    min-height: inherit;
}

.selectHide select::-ms-expand { 
    display: none; 
}