.form_section {
	margin-bottom: 12px;
}


/*
html, body, * {
	box-sizing: inherit;
}
*/

.exampl {
	content: attr(data-text);
	text-transform: lowercase;
	left: 1.5rem;
	top: 11.875rem;
	color: gray;
	display: block;
	font-size: 1rem;
	line-height: 1rem;
	height: 2rem;
	text-align: right;
	white-space: nowrap;
	direction: ltr;
	width: 1.5rem;
}

.codeBtn {
	height: auto;
	padding: 0;
	padding: .3125rem;
	margin-left: 2rem;
}

.codeBtnGray {
	background: #d9d9d9 !important;
	color: #ffffff;
	border-color: #d9d9d9 !important;
}

.codeCheck {
	font-size: .75rem;
	text-decoration: underline;
	display: none;
}

.limitBox,
.codeBox {
	display: none;
}

.input_control_short {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	border: 1px #d9d9d9 solid;
	min-height: 2.125rem;
	height: 2.125rem;
	padding: .3125rem;
	z-index: 0;
	outline: none;
	margin: 0 10px;
	width: 20%;
}

.input_control_short:hover {
	border-color: #787878;
}

.input_control_short3 {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	border: 1px #d9d9d9 solid;
	min-height: 2.125rem;
	height: 2.125rem;
	padding: .3125rem;
	z-index: 0;
	outline: none;
	margin: 0 10px 0 20px;
	width: 10%;
}

.input_control_short3:hover {
	border-color: #787878;
}

.ui-datepicker-prev,
.ui-datepicker-prev:hover {
	background: url({$oss_path}public/web_img/Admin/left.png) no-repeat center;
	background-size: 70% 70%;
}

.ui-datepicker-next,
.ui-datepicker-next:hover {
	background: url({$oss_path}public/web_img/Admin/right.png) no-repeat center;
	background-size: 70% 70%;
}

.remindBox {
	display: none;
	width: 400px;
	height: 250px;
	background: #fff;
	border: 1px solid #000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	padding: 20px;
	box-sizing: border-box;
}

.remindBox h4 {
	text-align: center;
}

.remindBox p {
	text-align: center;
	margin: 30px 0 70px;
}

.remindBox .buttonBox {
	text-align: center
}

.remindBox a {
	border: none;
	background: none;
	outline: none;
	padding: 6px 25px;
	border: 1px #333 solid;
	background: #fff;
	margin-right: 20px;
	color: #333
}

.remindBox a:hover {
	border: 1px #aaa solid;
}

.keyBox {
	display: none;
	border: 1px solid #d9d9d9;
	width: 500px;
	text-align: center;
	padding-bottom: 50px
}

.keyBox h4 {
	line-height: 80px;
}

.numBox {
	font-size: 14px;
	padding: 5px
}

.sureButton {
	display: block;
	margin: 20px auto 0;
}

.m0 {
	margin: 0 !important
}

.fs {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1
}


/*===活动详情==*/

.list_avatar {
	width: 36px;
	height: 36px;
	border-radius: 6px;
}

.member {
	display: inline-block;
	margin-right: 12px;
	margin-bottom: 12px;
}

.exampl {
	content: attr(data-text);
	text-transform: lowercase;
	left: 1.5rem;
	top: 11.875rem;
	color: gray;
	display: block;
	font-size: 1rem;
	line-height: 1rem;
	height: 2rem;
	text-align: right;
	white-space: nowrap;
	direction: ltr;
	width: 1.5rem;
}

/*==导入===*/
#import_outer {
	display: none;
}

.import {
	width: 800px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -200px;
	background: url(/Public/img/home/44.png) no-repeat left top;
	background-size: 100% 100%;
	z-index: 9999;
}

.close_btn {
	float: right;
	margin: 10px 15px 0 0;
	cursor: pointer;
}

.close_btn img {
	width: 20px;
}

.info .title_content {
	width: 115px;
}

.item {
	width: 28%;
}

.download_form {
	width: 100%;
	margin: 80px 0 50px 55px;
}

.browse {
	width: 100%;
	margin-left: 70px;
}

.browse input {
	width: 500px;
}

.file {
	width: 100%;
	margin: 30px 0 0 70px;
}

.outer {
	width: 500px;
	height: 17px;
	border: 1px solid #ccc;
	float: left;
	margin-top: 8px;
}

.inner {
	width: 2%;
	height: 15px;
	background: #E9C232;
}

/*邀请码弹窗*/
.fullBlack {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20161212;
	background: rgba(0,0,0,.4)
}

.codeOutter {
	display: none;
	width: 80%;
	height: 80%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 20161213;
	background: #fff;
	text-align: center;
	min-width: 600px;
	min-height: 500px
}

.codeClose {
	width: 50px;
	height: 50px;
	float: right;
	background: url(/Public/img/activity/resourceCloseGray.png) no-repeat center;
	background-size: 40px 40px;
	cursor: pointer
}

.codeClose:hover {
	background: url(/Public/img/activity/resourceCloseRed.png) no-repeat center;
}

.codeInner {
	margin-top: 60px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: #fff
}