/*==弹窗开始==*/
.fullscr, .fullscr1 {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.3);
	z-index: 20170000;
}

.adminNotifyBox {
	width: 85%;
	min-width: 280px;
	max-width: 350px;
	height: 200px;
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
	border: 1px solid #ededed;
	border-radius: 5px;
}

.adminNotifyTitle {
	text-align: center;
	color: #333;
	line-height: 40px;
	font-size: 18px;
	border-bottom: 1px solid #ededed;
	font-weight: 600;
}

.adminNotifyContent {
	border-top: 0;
	height: 158px;
	position: relative;
	padding: ;
}

.adminNotifyMsgBox {
	height: 100px;
	position: relative;
}

.adminNotifyMsg {
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	word-break: break-all;
	position: absolute;
	display: inline-table;
	top: 0;
	bottom: 0;
	margin: auto;
}

.adminNotifyButton {
	text-align: center;
	position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.adminNotifyBtn {
	width: 35%;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	padding-left: 2px;
}

.adminNotifyBtn:hover, .adminNotifyBtn:focus {
	color: #fff;
	text-decoration: none;
}

.adminNotifyBlue1 {
	background-color: #28cec2;
}

.adminNotifyBlue2 {
	margin: 0 15px;
	background: #28cec2;
}

.adminNotifyGray2 {
	margin: 0 15px;
	background: #e1e1e1;
}

/*==弹窗结束==*/


/*=====================================================APP头部=====*/
.appTop {
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 100;
    box-sizing: content-box;
}

.appTop .returnBox {
	width: 44px;
	height: 100%;
	background: url(/Public/img/Apphomework/fanhui.png) no-repeat center;
	background-size: 10px 16px;
	position: absolute;
	top: 0;
	left: 0;
}

.appTop .appTopTitle {
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	margin: 0 60px;
	text-align: center;
}

.appTop .appTopTitle .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	display: inline-block;
}

.appTop .appTopRight {
	position: absolute;
	top: 0;
	right: 15px;
	line-height: 44px;
	font-size: 16px;
}


/*input/button*/
.inputCommon {
	outline: none;
	border: none;
}


/*=====================================================loading图=====*/

.loadingImg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 95%;
}

/*=====================================================分享按钮=====*/
body {
	position: relative;
}

.m0 {
	margin: 0 !important;
}

.m5 {
	margin: 5px !important;
}

.m10 {
	margin: 10px !important;
}

.m15 {
	margin: 15px !important;
}

.m20 {
	margin: 20px !important;
}

.m25 {
	margin: 25px !important;
}

.m30 {
	margin: 30px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.p0 {
	padding: 0 !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px !important;
}

.p15 {
	padding: 15px !important;
}

.p20 {
	padding: 20px !important;
}

.p25 {
	padding: 25px !important;
}

.p30 {
	padding: 30px !important;
}

.pt0 {
	padding-top: 0px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.shareMask {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.shareBox {
	text-align: center;
}

.shareBox a {
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 20px;
    display: inline-block;
    margin: 20px auto;
}

.shareBox a:focus {
    color: #fff;
}

@media (max-width: 360px) {
	.appTop .appTopRight {
		right: 10px;
	    font-size: 15px;
	}
}

@media (min-width: 600px) {
	.appTop .appTopRight {
	    font-size: 18px;
	}
}
