.row {
  margin: 0;
}

      .blue{
          color:blue;
      }

.list_avatar {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}


h3 {
  margin: 0;
  padding: 0;
}
.color999{
    font-weight: 100;
    float: right;
    color: #999;
    margin-right: 10px
}
.ctrl_box {
  margin-left: 90%;
}

.ctrl_box img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.bdsharebuttonbox{
  position: absolute;
    z-index: 2000;
    width: 2000px;
  display: none;
  background-color: #fff;
    width: 270px;
}
.shareImg{
  position: relative;
   display: inline-block;
}
}
.file-name a {
  color: #333;
  padding: 10px 20px;
  display: inline-block;
  background: #e8f5e1
}

.file-name a:hover {
  background: #fff
}

ul,
li {
  list-style: none
}

#xiazai button {
  background: #fff;
  outline: none;
  border: none;
}

.classname {
  text-align: left;
  padding: 20px;
  background: #fff;
  position: relative;
  /*overflow: hidden;*/
  min-height: 290px;
  z-index: 1;
  margin-bottom: 50px;
}

#data_load {
  padding: 10px;
  background: #fff;
}

#data_load a {
  color: #333;
}

#data_load li:not(.dataLi1) {
	margin: 5px 0;
	border-bottom: 1px dashed #ccc;
}

#data_load li {
	overflow: hidden;
}

#data_load li a:hover, #data_load li a.active {
  color: #CB5F61;
  text-decoration: none;
}

.row {
  margin: 0
}

.browse_image img,
.rarImg {
  width: auto;
  max-width: 100%;
}

#contentWrapper {

  border: 1px solid #30b753;
  background: #f5fcf6;
}

#mediafile {
  text-align: center;
}

.res_details {
  font-size: 18px;
  color: #30b753;
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 20px;
}
.fullscreen .res_details{
  margin-top: 40px
}
.border_top {
  border-top: 1px dashed #ccc;
  padding: 10px 0;
  margin: 0;
}

.borderBack {
  width: 100%;
  position: absolute;
  top: 30px;
}

.res_name {
  font-size: 16px;
  font-weight: 600;
  color: #30b753;
  /*position: absolute;
  z-index: 2;
  top: 10px;*/
  /*overflow: hidden;*/
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
  background-image: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/greenBack.png),
  					url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/grayBorder.png);
  background-repeat: no-repeat, repeat-x;
  background-position: right 9px, center 9px;
  background-size: 10px, auto
}

.nameCode {
	background: #f5fcf6;
}

.resName {
	background: #f5fcf6;
}

.resCode {
	background: #f5fcf6;
	padding: 0 5px;
	position: relative;
	top: -2px;
}

.resCode .codeDiv {
	position: absolute;
	top: 21px;
}

.content_bg{
  background: #f5fcf6
}
.left {
  float: left;
}

.right {
  float: right;
}

.res_left {
  padding-right: 20px;
  width: 35%;
}

.res_right {
  padding-left: 20px;
  width: 65%;
  border-left: 1px dashed #999;
  word-break: break-all;
}
.fw{
  font-weight: bold;
}
.margin10{
  margin: 10px 0
}
.res_share{
  background: #fff;
  margin-bottom: 10px;
  position: relative;
}
.res_share img{
  margin: 10px;
  cursor: pointer
}
.resource_a img{
  position: relative;
  top: -2px;
}
#data_load .fw{
  font-size: 16px;
}
.margin_top20{
  margin-top: 20px;
}
.res_more{
  overflow: hidden;
  background-color: #fff;
     padding: 10px;
}
.res_more .resource_a{
  font-size: 16px;
  line-height: 28px;
  background: #fff;
}
.res_more .border_top {
  margin-top: 13px;
}
.of{
    overflow: hidden;
}
.tea_res a{
  color: #333;
  font-weight: bold;
}
.tea_res .resource_typeimg{
  float: left;
  position: relative;
  top:5px
}
.tea_res p{
  margin: 0;
  line-height: 28px;
  padding:0 10px;
  width: 250px;
    display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tea_res{
  border-bottom: 1px dashed #ccc;
  padding: 5px 0
}
.dataType{
   display: inline-block;
      margin-left: -6px;
}
#bdshare_weixin_qrcode_dialog_bg{
  height: 300px !important;
}
#bdshare_weixin_qrcode_dialog{
  height: 320px !important;
}
.bd_weixin_popup_foot{
  padding-left:10px;
      white-space: nowrap;
}
.tea_res p:nth-child(1) {

  text-indent: 10px;
}

.video_text{
  display: inline-block;
  position: absolute;
  left: 15%;
  top:10px
}
.text_color{
  color: #30b753;
  font-size: 18px;
  font-weight: 600
}
.FreeofCharge,.Fufee{

  padding: 1px 5px;
  color: #fff;
  border-radius: 4px
}
.FreeofCharge{
  background: #30b753
}
.Fufee{
  background: #efca33
}
.gopay_btn{
  text-decoration: none;
  width: 80%;
  line-height: 40px;
  background: #30b753;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  color: #fff !important;
  margin-left: 7px !important
}
.gopay_btn:hover, .gopay_btn:focus, .gopay_btn:link {
  color: #fff !important;
  text-decoration: none !important;
}
#data_load .tp3{
  position: relative;
  top: -3px
}
.gray{
  background: #ccc
}
.resourceImgDiv{
  width: 100px;
  height: 100px;
  position: relative;
}
.resourceImgDiv .resourceImg{
  max-width: 100px;
  max-height: 100px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.dib{
  display: inline-block;
}
.erweimaimg{
   width: 150px
}
.text-indext0{
  text-indent: 0
}
.erweima_div{
  background: #fff;
  display: none
}
.erweima_div p{
  width: 150px
}
.fz14{
  font-size: 14px;
  color: #333
}
.mt2{
  margin-top: 2px
}
.c_gray{
  color: gray
}
.imgText{
    position: relative;
    left: -7px;
    top: 2px;
}

.resNameDiv {
	float: left;
	max-width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}

.resBtnDiv {
	float: right
}

.resNameDiv a:focus {
	text-decoration: none;
}

@media (max-width:1200px) {
  .video_text{
    left: 5%
  }
  .resourceNameDiv p{
   width: 210px
  }
}
@media (max-width:1220px) {
  .resourceImgDiv{
    width: 100%;
    text-align: center;
  }
}
@media (min-width:1221px) and (max-width:1360px) {
    .resourceNameDiv p{
     width: 210px;
    }
}
@media (max-width:1300px) {
  .video_text{
    left: 5%
  }
  .resNameDiv {
  	max-width: 70%;
  }
}
@media (max-width:992px) {
  .resourceImgDiv{
    width: 100px;
  }
  .resourceNameDiv p{
   width: auto
  }

  .resNameDiv {
  	max-width: 80%;
  }
}
.mt22{
  margin-top: 22px
}

.dn{
    display: none
}
#storytellingDiv{
    width: 1200px;
    border: 1px solid #30b75a;
    border-top: none;
    padding: 30px;
    margin: 0 auto;
}
#contentWrapper.active{
    border: none;
    background: none;
    padding-top: 0
}
.Price{
    color: #30b75a;
    font-size: 16px;
    position: relative;
    top: 1px;
}
.fz26{
    font-size: 26px;
    color: #30b75a;
}
.white-space{
    white-space:nowrap
}
.text-indent{
    text-indent: 2em
}
.fz20{
    font-size: 20px;
    color: #30b75a;
}
.audioBtnImg{
    position: relative;

}
.audioStaus{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    margin: auto;
    background: url(../img/resource/weibofang.png) no-repeat center;
    cursor: pointer;
}
.audioStaus.active{
    background: url(../img/resource/bofangzhong.png) no-repeat center;
}
.audioStaus p{
    text-align: center;
    margin-top: 55px;
    color: #fff;

}
.priceBorder{
    border: 1px solid gray;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
}
.priceBorder:hover,.priceBorder.active{
    color: #30b753;
    border:1px solid #30b753
}
.borderBottomeee{
    border-bottom: 1px solid #eee
}
.storytellinglist li{
    border: 1px solid #ccc;
    margin-right: 23px;
    margin-bottom: 20px
}
.storytellinglist li a{
    color: #333;
    font-weight: bold;
    font-size: 16px
}
.storytellinglist li a:hover{
    text-decoration: none
}
.priceP{
    font-size: 20px;
    color: red;
    margin-top: 55px !important
}
.shanchuxian{
    color:#666;
    margin-bottom: 55px
}
.shanchuxian span{
        text-decoration: line-through;
}
.storytellinglist li p{
    margin: 0;
    border-top: 1px solid #ccc;
    line-height: 34px;
    text-indent: 12px;
    background: url(../img/resource/yinyue.png) no-repeat 165px 7px
}
.storytellinglist li:hover {
	border-color: #30b368;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
.goPayBtn{
    display: inline-block;
    width: 80px;
    line-height: 30px
}

.resourceSelect {
	width: 100px;
	padding: 0 10px;
	margin-left: 40px;
	margin-top: 5px;
    display: none
}

.resourceNum {
	color: #999;
}

#data_load {
	max-height: 320px;
	overflow-y: auto;
}

#data_load li:not(.dataLi1) {
	display: none;
}

.dataLi1 {
	background: #fff;
	padding: 0 10px;
}
@media(max-width:1355px) {
    .mainbody{
        width: 100%;
    }
}
