.left {
	float: left;
}

.right {
	float: right;
}

.oh {
	overflow: hidden;
}

ul {
	list-style: none;
}

#contentWrapper {
	overflow-x: auto;
	padding-bottom: 40px;
}

.list_title a {
	color: #1abc9c !important;
}

.list_title a:hover {
	color: #117964 !important;
}

.studentBoxOutter {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 20161101;
}

.studentBox {
	display: none;
	width: 925px;
	height: 55%;
	padding: 5px;
	background: #fff;
	border: 5px solid #eac31c;
	-webkit-box-shadow:0 0 10px #eac31c;
    -moz-box-shadow:0 0 10px #eac31c;
    box-shadow:0 0 10px #eac31c;
	border-radius: 5px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 10%;
	z-index: 20161102;
	margin: auto;
	overflow-y: auto;
}

.closeBox {
	width: 880px;
	text-align: right;
	position: fixed;
	left: 0;
	right: 20px;
	z-index: 20161103;
	margin: auto;
}

.closeBtn {
	cursor: pointer;
}

.studentUl {
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

.studentUl li {
	width: 124px;
	height: 124px;
/*	float: left;*/
	display: inline-block;
	text-align: center;
	margin: 10px
}

.studentUl li img {
	width: 84px;
	height: 84px;
}

.studentUl li p {
	margin: 0;
	margin-top: 17px;
}

.search {
	float: right;
	width: 282px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
	background: #f4f4f4;
	margin: 0 20px 20px 20px
}

.search_btn {
	float: left;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	background: url(/Public/img/resource/search_btn.png) no-repeat center;
	background-size: 50% 50%;
	border-radius: 20px;
	outline: none;
}

.search_text {
	width: 250px;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

/*新版小黑板*/
.messageOutter {
	display: inline-block;
	font-size: 16px;
}

.aUnread {
	color: #333;
	text-decoration: none;
}

.aUnread:hover, .aUnread:focus {
	color: #333;
	text-decoration: none;
}

.numberUnread {
	font-size: 12px;
	position: relative;
	background: #e95840;
	color: #fff;
	border-radius: 50%;
	padding: 2px;
	top: -10px;
	display: inline-block;
	min-width: 21px;
	text-align: center;
}

.searchOutter {
	width: 350px;
	height: 34px;
	line-height: 30px;
	border: 1px solid #b9b9b9;
	border-radius: 17px;
	padding: 1px;
	margin-top: 15px;
}

.searchOutter .searchText {
	width: 260px;
	border: none;
	background: none;
	outline: none;
	height: 100%;
	text-indent: 1em;
}

.searchOutter .searchButton {
	border: none;
	background: none;
	outline: none;
	height: 26px;
	background: #2899f7;
	color: #fff;
	width: 80px;
	line-height: 24px;
	margin: 2px;
	border-radius: 14px;
}

.messageTable {
	width: 100%;
}

.messageTable tr {
	border-bottom: 1px dashed #d6d6d6;

}

.messageTable td {
	padding: 15px 0;
}

.messageDiv {
	width: 100%;
}

.dataTitle {
	font-size: 18px;
	color: #333 !important;
	line-height: 30px;
}

.dataTitle:hover, .dataTitle:focus {
	color: #333 !important;
}

.dataTitle .imgNew {
	margin-left: 20px;
}

.messageTd1 {
	width: 100px;
}

.messageTd2 {
	width: 200px;
}

.btnYellow {
	display: block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #efcb32;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	border: none;
}

.btnYellow:hover, .btnYellow:focus {
	color: #333;
	text-decoration: none;
}

/*消息详情*/
.messageLeft {
	width: 180px;
	min-height: 170px;
	background: #fffbf2;
	border-left: 2px solid #efcb32;
	border-bottom: 2px solid #efcb32;
	padding: 15px;
	text-align: center;
	font-size: 14px;
}

.messageRight {
	overflow: auto;
	height: 400px;
	background: #234a3d;
	position: relative;
	color: #fff;
/*	padding: 20px 0;*/
}
.msgContent{
	font-size: 16px
}
.messageRight h3, .msgContent {
	margin: 20px;
	word-break: break-all;
}

.messageLeft p {
	margin: 0;
	line-height: 25px;
}

.teacherName {
	line-height: 30px;
	font-size: 16px;
}

.messageRight h3 {
	text-align: center;
}

.fullscreen #contentWrapper .messageMain {
	margin-top: 50px;
}

.classGrade {
	background: #f6eab9;
	line-height: 30px !important;
}

/*教师发布消息*/
.messageTitle {
	font-size: 18px;
	color: #e9920f;
	font-family: "黑体"
}

.tabBox {
	width: 100%;
}

.tabUl, .classUl {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.tabUl .tabLi {
	float: left;
	width: 16.66%;
	border: 1px solid #e5c33b;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.tabUl .tabActive, .tabUl .tabLi:hover {
	background: #e5c33b;
	color: #fff;
}

.tabCon .tabCon {
	width: 100%;
	display: none;
	min-height: 100px;
	background: #f2de95
}

.tabCon .tabConActive {
	display: block;
}

.classUl {
	padding: 10px 0;
}

.classUl .classLi {
	font-size: 14px;
	float: left;
	width: 12.5%;
	text-align: center;
	line-height: 40px
}

.classUl .classLi .classCheck {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.message_title {
	border: none;
	background: none;
	outline: none;
	width: 100%;
	border: 1px solid #e5c33b;
	border-radius: 5px;
	padding: 10px;
}

.messageScript {
	width: 100%;
	height: 300px;
	margin: 20px 0
}

.examineAll {
	margin-left: 10px;
}
