.row {
	background: rgb(255, 251, 242);
}

.class_name {
	color: #333;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #fff;
	background: #efca33;
	cursor: pointer
}

input[type="checkbox"] {
	position: relative;
	top: 1px;
	
}
.bjclass{
	padding-bottom: 20px;
	border-bottom: 1px dashed #efca33
}
.class_member,
.timetables,
.class_information,
.class_buildoneself,.timetables_schoole{
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	display: none;
}

#contentWrapper {
	padding-top: 0;
}

.padding5 {
	padding: 5px;
	cursor: pointer;
	position: relative;
	width: 42px
}

.padding5Active {
	background: rgb(244, 236, 217);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%
}

.class_wrapper {}

.delete_student,.delete_teacher {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	cursor: pointer
}

.student_siftings,.teacher_TimeTable,.class_TimeTable,.teacher_student_siftings {
	position: relative;
	z-index: 2
}

.teacher_siftings,.student_nosiftings {
	position: relative;
	z-index: 2
}

.row {
	margin: 0
}

.student_list,.teacher_list {
	padding: 20px;
	border: 1px solid #efca33;
	height: 200px;
	padding-right: 0px;
}
.student_lists {
	padding: 20px;
	border: 1px solid #efca33;

	padding-left: 50px;
}
.avatar,.student_avatar {
	width: 58px;
	height: 58px;
	float: left;
}

.class_left {
	width: 200px;
	padding: 0;
}

.right {
	float: right;
}

.right40 {
	margin-right: 40px
}

.parent_tel,
.email {
	word-break: break-all
}

.class_right {
	padding: 0;
	line-height: 30px;
	padding: 25px;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
}

.class_gary {
	color: #999;
	margin-left: 15px
}

.class_screen {
	overflow: hidden;
	margin: 20px 0
}

.search {
	float: left;
	width: 400px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
}

.search_btn,.school_search_teacher {
	float: right;
	width: 80px;
	height: 30px;
	border: none;
	background: #3087c7;
    color: #fff;

	border-radius: 20px;
	outline: none;
}
#addstudentTk input{
	line-height: normal;
}
.search_text {
	width: 290px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

.name,
.sex {
	margin-left: 20px
}

.padding15 {
	padding: 5px 15px;
	margin-right: 10px;
	color: #fff;
	background: #efca33;
	border-radius: 8px;
	border: none;
	outline: none
}

.margintop-105 {
	margin-top: -105px;
}

.margintop-65 {
	margin-top: -65px
}

.class_active {
	background: rgb(247, 234, 192);
}

p {
	margin: 0;
}

@media (min-width: 1200px) {
	.col-lg-3 {
		width: 33.33333333333333333333333333333%;
	}
}

@media (min-width:1400px) {
	.col-lg-3 {
		width: 25% !important;
	}
}

.fontColorEf {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	color: rgb(233, 198, 42);
}

.pborder {
	height: 44px;
	border-bottom: 1px solid #efca33
}

.divborder {
	border-bottom: 1px solid #efca33;
	padding-bottom: 20px
}

.width200 {
	width: 200px;
	height: 36px;
}

.margintop5 {
	margin-top: 5px;
}

.left {
	float: left;
	width: 50%
}

.remsubject {
	padding: 3px 25px 3px 7px;
	background: rgb(242, 233, 157) url(../img/classManage/chacha.png) no-repeat;
	background-position: 45px 5px;
	margin-right: 10px;
	cursor: pointer
}
.row1 {
	min-height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 50px
}
.margintop-50 {
	margin-top: -50px;
}

.colorccc {
	color: #ccc
}

.receive {
	position: absolute;
	top: 0;
	right: 5px;
}

.receive a {
	margin-right: 5px;
}

.receive_no {
	color: #e9573f
}

.receive_no:hover {
	color: #e9573f
}

.zjclass {
	position: relative;
	border-bottom: 1px solid #efca33;
	padding-bottom: 20px
}

#Popup,
#addstudentTk,.news {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	width: 400px;
	height: 250px;
	text-align: center;
	z-index: 30;
	background: #fff;
	display: none;
}

#addstudentTk {
	width: 520px;
	height: 300px
}

#Popup img,
#addstudentTk img,.news img {
	float: right;
	width: 30px;
	margin-top: 5px;
	position: absolute;
	right: 10px;
	cursor: pointer
}

#addstuP {
	text-align: left;
	line-height: 40px;
	font-size: 18px;
	background: #eaca33;
	text-indent: 16px;
	color: #fff
}

#Popup p:nth-child(1),.news p:nth-child(1){
	background: #efca33;
	line-height: 40px;
	font-size: 18px;
}

#student_registerDiv p,
#student_noregisterDiv p {
	width: 300px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	position: relative;
	padding-bottom: 14px;
}

#student_registerDiv p span,
#student_noregisterDiv p span {
	width: 83px;
	display: inline-block;
}

#student_noregisterDiv {
	display: none;
}

#student_registerDiv .pbtn,#student_noregisterDiv .pbtn {
	text-align: center;
	
}
#student_registerDiv p input,#student_noregisterDiv p input{
	width: 199px;
}
#student_noregister,
#student_register {
	position: relative;
	top: 1.5px
}

#student_noregisterlb,
#student_registerlb {
	color: #efca33;
}

#student_noregister {
	margin-left: 40px;
}

#Popup p:nth-child(2),.news p:nth-child(2){
	margin: 70px 0;
	font-size: 16px
}

#Popup button,.news button,{
	border: none;
	outline: none;
	width: 150px;
	padding: 5px;
	background-color: #eaca33;
	border-radius: 5px;
	color: #fff;
}
.daorusuccess{
	border: none;
	outline: none;
	
	padding: 5px;
	background-color: #eaca33;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	margin-top: 40px;
}

#student_registerDiv button,
#student_noregisterDiv button {
	border: none;
	outline: none;
	background-color: #eaca33;
	border-radius: 5px;
	color: #fff;
	width: 60px;
	height: 30px
}

.classtimetables,
.InformationSetting {
	/*
	position: absolute;
	top: 55px;
	left: 0;
*/
	display: none
}
.timetbDiv{
	text-align: center;width:710px;position:relative;margin: 0 auto
}
.classtimetables{
	text-align: center;
}
@media(max-width:1240px){
	.timetbDiv{
		margin: 0;
	}
}

@media(max-width:1205px) {
	.tea_stu {
		margin-right: 0
	}
	.class_screen {
		width: 500px;
		margin-top: 10px;
	}
	.btn4right {
		
		margin-top: 10px;
		float: left;
		margin-right: 0;
	}
}

@media(max-width:794px) {
	.class_student {
		padding-right: 31px;
	}
	.timeTable_box .text-center{
		font-size: 14px;
	}
}

@media(max-width:1050px) {
	.padding15 {
		margin-top: 10px !important;
		float: none;
	}
	.courseRemind {
    width: 60px  !important;
    height: 60px  !important;
   position: absolute;
    top: -100px  !important;
    left: 10px  !important;
}
	.row1 {
	overflow-x: auto
}
	.timetbDiv{
		margin-left: -30px
	}
}
.bellBox{
	overflow: hidden;
}
.bellTopSpan1,.bellTopSpan2{
	float: left;
}
.bellTopP1{
	float: left;
}
/*优化*/
#student_registerDiv .name_error,#student_registerDiv .tel_error, #student_registerDiv .pas1_error,#student_registerDiv .pas2_error,#student_noregisterDiv p .name_error1,#student_noregisterDiv p .tel_error1 {
	font-size: 14px;
	color: red;
	width: 145px;
	float: right;
	display: none;
	line-height: 14px;
	position: absolute;
	bottom: 0;
	right: 53px
}
.csvtishi {
	color: red;
	text-indent: 67px;
	display: none;
}
.no_register{
	color: red;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	display: none;
}
.welcome{
	z-index: 28;
}
.fullscreen_ctrl.fullscreen{
	z-index: 100;
}
.bg{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 29;
	display: none;
    background: rgba(0,0,0,.3);
}
.fullscreen_ctrl{
	z-index: 28;
}