ul li{
	list-style: none
}
ul{
	padding: 0
}
.search {
	margin: 0 auto;
	width:350px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	background: #f4f4f4;
}
.answerBox{
	float: right;
	width: 270px;

}
.questions,.historyQuestions{
	border: 1px solid #eee
}
.historyP{
	line-height: 30px;
	font-size: 16px;
	color: #333;
	background: #f4f4f4;
	padding-left: 10px
}
.historyP img{
	position: relative;
	top:-2px
}
.top1{
	position: relative;
	top:-1px
}
.questionsNum span{
	display: inline-block;
	float: left;
	width: 50%;
	margin-top: 10px ;
	text-align: center;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
.redDot{
	position: relative;
	top:-8px;
	left:-2px
}
.questionsNum{
	border-bottom: 1px solid #eee
}
.askQuestions{
	text-align: center;
	padding: 8px 20px;
	color: #fff;
	background: #e9573f;
	outline: none;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
}
.questionsNum span:nth-child(1){
	border-right: 1px solid #eee
}
.search_btn {
	float: right;
	width:80px;
	height: 30px;
	border: none;
	background: #3087c7;
    color: #fff;
	background-size: 50% 50%;
	border-radius: 20px;
	outline: none;
}
.search_text {
	width: 260px;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.left{
	float: left;

}
.right{
	float: right
}
.watch{
	padding-top: 25px;
	position: absolute;

	margin:0 10px;
	font-size: 16px;
	color: #999;
	bottom: 20px;
    width: 248px;
}
.watch img{
	position: relative;
	top: -1px;
	margin-right: 5px
}
.colorred{
	color:#e9573f;
	font-weight: bold;
}
.indexBox{
	width: 1200px;
	margin: 0 auto;
	border-top: 1px solid #eee;
}
.leftNav{

	width: 56px;
	margin-right: 10px
}
.historyQuestionsListDiv span img {
	width: 12px
}
.of{
	overflow: hidden;
}
.leftNav ul{
	padding: 0;
	margin-top: 20px;
	border-bottom: 3px solid #e9573f;
}
.leftNav li{
	position: relative;
}
.navBox{
	position: absolute;
	left: 56px;
	width: 800px;
	top: 0;k
	background: #fff;
	border: 1px solid #eee;
	border-left: none;
	z-index: 2;
	background: #fff;
	display: none
}
.navBox ul{
	border:none
}
.determine{
	outline: none;
	background: #e9573f;
	color: #fff;
	padding: 5px 15px;
	border: none;
	color: #fff
}
.navBox p span{
	display: inline-block;
	float: left;
	padding:5px 10px;
	cursor: pointer;
	margin-right: 10px
}
.navBox p span:hover,.navBox p span.active,.leftNavLi .active1{
	background: #e9573f;
	color:#fff;
}
.fz18{
	font-size: 18px
}
.leftNav li .navSubject,.leftNav li .navSort{
	font-size: 18px;
	background: #f4f4f4;
	color: #333;
	width: 56px;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
	display: block;
	font-weight: bold;
}
.sort{
	width: 96px;
	text-align: center;
}
.sort.active{
	color: #e9573f ;
}
.leftNav li .navSort{

	background: #e9573f;
	color: #fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.leftNav li .navSubject:hover,.leftNav li .navSubject.actives{
	color: #e9573f !important
}
.searchIframe{
	width: 860px;
	float: left;
}
.searchBox li{
	float: left;
	border-right: 1px solid #ccc;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 15px;
	cursor: pointer;
}
.searchBox li.shang{
	background: url(../img/directTrain/shangsheng.png) no-repeat  66px 5px
}
.searchBox li.xia{
	background: url(../img/directTrain/xiajiang.png) no-repeat  66px 5px
}
.searchBox li:nth-last-child(3),.searchBox li:nth-last-child(2),.searchBox li:nth-last-child(1){
	border: none;
	float: right;
}
.searchList li{
	border: 1px solid #fcf5f5;
	float: left;
	width: 270px;
	margin-left: 15px;
	height: 300px;
	background: #fcf5f5;
	position: relative;
	margin-bottom: 5px
}
#contentWrapper{
		min-height: 1200px
}
.subject{
	font-size: 16px

}
.searchList li p:nth-child(3),.searchList li p:nth-child(5){
	font-size: 16px
}
.watch span{
	font-size: 14px
}
.color666{
	color: #666
}
.headPortrait{
	margin: 0 auto;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px
}
.headPortrait img{
	width: 100%;
	height: 100%
}

.searchTitle{
	padding:0 20px;
	font-size: 18px;
	color: #333;
	height: 46px;
	overflow: hidden;
}
.historyQuestionsList div p{
	width: 200px
}
.historyQuestionsList div p a{
	color: #333;
	font-size: 16px

}
.historyQuestionsList div span{
	color: #666;
}
.historyQuestionsList div a,.historyQuestionsList div p a:hover{
	color:#ef9552
}
.searchList li:hover{
	border: 1px solid #e9573f
}
input[type="checkbox"]{
	width: 15px;
	height: 15px;
	margin-top: 0;
	position: relative;
	top:3px
}

.searchBoxList {
	color: #333;
	text-decoration: none;
}

.searchBoxList:hover, .searchBoxList:focus {
	text-decoration: none;
	color: #333
}

.answerState{
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
@media screen and (max-width: 1360px) and (min-width: 0) {
	body {
		min-width: 1250px;
		overflow-x: auto;
	}

	.mainbody {
		width: 97%;
	}

	#contentWrapper {
		overflow: hidden;
	}
}
