.left {
	float: left;
}

.right {
	float: right;
}

#contentWrapper {
	overflow: hidden;
}

.directTrainBox {
	margin: 10px auto;
}

.trainDetailsLeft {
	margin-bottom: 20px;
}

.trainDetailsTitle {
	overflow: hidden;
	line-height: 40px;
	padding: 0 20px;
}

.trainDetailsTitle .detailsTitle {
	color: #e9573f;
	font-size: 18px;
	font-weight: 600;
	margin-right: 10px;
}

.trainDetailsTitle .readingQuantity, .trainDetailsTitle .detailsTime {
	color: #999;
	font-size: 14px;
	margin-left: 10px;
}

.trainDetailsMain {
	min-height: 500px;
	word-break: break-all;
}

.trainDetailsMain .articleBox {
	width: 100%;
	height: 100%;
	min-height: 500px;
	background: #f9f6f1;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 40px;
	text-indent: 2em;
}

.trainDetailsMain .articleBox img {
	max-width: 100%;
	margin-left: -2em
}

.trainDetailsMain .articleBox p img {
	margin-left: 0
}

.trainDetailsMain .articleBox .limitNum {
	color: #999;
	font-size: 14px;
	display: inline-block;
	text-indent: 0;
}

.trainDetailsMain .articleBox .articleMore {
	color: #999;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	text-indent: 0;
}

.shareImg {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #999;
	float: left;
}

.shareImg img {
	position: relative;
	top: -2px;
	margin-left: 15px;
}

.bdsharebuttonbox {
	position: absolute;
	z-index: 2000;
	width: 2000px;
	display: none;
	background-color: #fff;
	width: 270px;
}

.trainDetailsBottom {
	padding: 15px 30px;
	line-height: 40px
}

.trainDetailsBottom .detailsNotify {
	margin-right: 20px;
}

.trainDetailsBottom .redText {
	color: #e9573f;
	font-size: 18px;
	font-weight: 600;
}

.trainDetailsBottom .longString {
	width: 1px;
	background: #eee;
	margin: 0 auto
}

.trainDetailsBottom .detailsMoney {
	font-size: 18px;
	font-weight: 600;
	margin-right: 20px;
}

.trainDetailsBottom .detailsMoney img {
	position: relative;
	top: -1px;
}

.trainDetailsBottom .detailsBuy {
	background: #e9573f;
	font-size: 18px;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 4px;
	width: 200px;
	line-height: 40px
}

.trainDetailsBottom.active {
	text-align: center
}

.trainDetailsBottom.active .shareImg {
	float: none;
}

.trainDetailsRight {
	padding-top: 40px;
	overflow: hidden;
}

.trainRecommend {
	font-size: 18px;
	font-weight: 600
}

.trainDetailsRight .recoBox {
	color: #999;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	display: block;
	margin: 18px 0 30px;
	overflow: hidden;
}

.trainDetailsRight .recoBox:hover .recoTitle {
	color: #e9573f;
}

.trainDetailsRight .recoBox .recoLeft {
	text-align: center;
	width: 50px;
	margin-right: 20px;
	line-height: 25px;
	position: absolute;
}

.trainDetailsRight .recoBox .recoLeft .recoAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.trainDetailsRight .recoBox .recoRight {
	margin-left: 70px;
}

.trainDetailsRight .recoBox .recoRight .recoTitle {
	/*height: 42px;*/
	max-height: 42px;
	overflow: hidden;
	margin-bottom: 6px;
}

.trainDetailsRight .recoBox .recoRight .recoTitle p {
	font-size: 14px;
	line-height: 21px;
	text-align: justify;
	margin-bottom: 0 !important;
	word-break: break-all;
}

.trainDetailsRight .recoBox .recoRight .recoGrade {
	margin-bottom: 6px;
}

.trainDetailsRight .recoBox .recoRight .resource_typeimg {
	width: 16px;
	position: relative;
	top: -2px;
	margin-left: 3px;
}

.trainDetailsIntro {
	clear: both;
	padding: 25px;
	background: #f7f6f9;
}

.trainDetailsIntro .introTitle {
	margin: 10px 0;
	padding-left: 20px;
}

.trainDetailsIntro .introMain {
	padding: 0 20px;
	text-indent: 2em;
	line-height: 30px	
}

@media (min-width: 992px) and (max-width: 1270px) {
	.trainDetailsBottom  .buyBox {
		float: left !important;
	}
}

@media (max-width: 992px) {
	.trainDetailsBottom {
		overflow: hidden;
	}

	.trainDetailsRight {
		padding-top: 0;
	}

	.trainDetailsRight .recoBox .recoRight .recoWatch {
		margin-right: 20px;
	}

	.trainDetailsRight .recoBox .recoRight .recoDate {
		float: left !important;
	}
}

@media (max-width: 860px) {
	.trainDetailsBottom  .buyBox {
		float: left !important;
	}
}

/*订单管理*/
#contentWrapper {
    border: none;
    background: none;
}

.paytitle {
    color: #e9573f;
}

.Confirmorder {
    background: url(/Public/img/directTrain/1.png) no-repeat;
}

.Price_span {
	color: #333;
}

.paytop {
	border-bottom: 2px solid #eee;
}

.timeBox, .orderNum {
	font-size: 16px;
	line-height: 50px;
}

.timeBox {
	margin-right: 20px;
}

.columnBox {
	height: 127px;
	position: relative;
}

.columnBox .bookcover_div {
	width: 100px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	height: 75px;
}

.columnBox .bookcover_div .recoAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.columnBox .bookcover_div .recoName {
	font-size: 14px;
	color: #999;
}

.columnBox .Confirmorder_div {
	width: 200px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.Confirmorder_btn {
    background: #e9573f;
}

.book_name {
	width: -webkit-fill-available;
	margin-left: 100px;
	margin-right: 200px;
	line-height: 30px;
	margin-top: 20px;
	color: #999;
}

.book_name .recoTitle {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	color: #333;
}

.book_name .recoWatch {
	margin-right: 50px;
}

.Confirmpayment_active {
    background: url(/Public/img/directTrain/2.png) no-repeat;
}

.Successfulpayment_active {
    background: url(/Public/img/directTrain/3.png) no-repeat;
}

.colorred {
    color: #e9573f;
}

.colorred:hover, .colorred:focus {
    color: #cc1b1b;
}


/*发布问题页面*/
.standardBox {
	width: 1200px;
	margin: 0 auto;
}

.standardBox .pubTitle {
	font-size: 22px;
	margin-top: 10px;
}

.standardBox .titleCommon {
	font-size: 18px;
	margin: 30px 0 15px 0;
}

.standardBox .titleCommon .titleDim {
	font-size: 14px;
	color: #999;
}

.standardBox #problemTitle {
    resize: none;
    width: 100%;
    height: 65px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #eee;
}

.standardBox .courseList {
	line-height: 30px;
}

.standardBox .courseList .courseBox, .standardBox .courseList .gradeBox, .standardBox .courseList .volumeBox {
	overflow: hidden;
	margin-bottom: 10px;
}

.standardBox .courseList .title {
	font-size: 16px;
}

.standardBox .courseList .main {
	margin-left: 40px;
	overflow: hidden;
}

.standardBox .courseList .main span {
    display: inline-block;
    padding: 0 12px;
    font-size: 16px;
    cursor: pointer;
    float: left;
    line-height: 30px;
    margin: 0 5px;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.standardBox .courseList .main span.active, .standardBox .courseList .main span.active:hover {
	background: #e9573f;
	color: #fff;
}

.standardBox .courseList .main span:hover {
	background: #eee;
}

.standardBox .labelBox {
	border: 1px solid #eee;
	padding: 20px 30px 0 0;
	overflow: hidden;
	font-size: 16px;
}

.standardBox .labelCheck {
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
}

.standardBox .labelCheck label {
    margin-bottom: 0;
    font-weight: 100;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    cursor: pointer
}

.standardBox .labelCheck img {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.standardBox .checkBox {
    display: none;
}

.edui-colorpicker-nocolor, .edui-default {
	box-sizing: content-box !important;
}

.standardBox .redNotify {
	color: #e9573f;
}

.btnRed {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #e9573f;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    margin: 20px auto 0;
}

.standardBox hr {
	margin: 60px 0 30px
}

.standardBox .historyTitle {
	font-size: 20px;
	font-weight: 600;
	border: 1px solid #999;
	width: 150px;
	text-align: center;
	line-height: 43px;
	height: 45px;
	border-radius: 23px
}

@media screen and (max-width: 1360px) and (min-width: 0) {
	body {
		min-width: 1250px;
		overflow-x: auto;
	}
	
	.mainbody {
		width: 97%;
	}

	#contentWrapper {
		overflow: hidden;
	}
}

.searchList ul {
	overflow: hidden;
	margin: 30px 0
}

.searchList ul li {
	margin: 0 15px 20px;
}

.searchList .watch {
	text-align: center;
}

.searchList .watch span {
	font-weight: 600
}

.searchList .watch span.active {
	color: #e9573f;
}


/*专栏详情*/
.trainDetailsBox {
	/*padding: 0 40px;*/
}

.trainDetailsBox .trainDetailsTitle {
	overflow: inherit;
	text-align: right;
	border-bottom: 1px solid #eee;
	padding: 10px 40px 10px 30px;
	margin-bottom: 15px;
    line-height: initial;
}

.trainDetailsBox .authorInfo {
	float: left;
	text-align: left;
}

.trainDetailsBox .authorInfo .authorAvatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.trainDetailsBox .authorInfo .authorName {
	font-size: 14px;
	color: #999;
}

.trainDetailsBox .blueBtn {
    padding: 10px 20px !important;
	margin-top: 20px !important;
	margin-bottom: 0 !important;
	outline: none
}

.trainDetailsBox .articleBox {
	font-size: 16px;
	line-height: 30px;
}

.trainDetailsBox .articleBox .articleTitle {
	text-align: center;
}

.trainDetailsBox .articleBox .articleMain {
	text-indent: 2em;
	margin-bottom: 50px;
	position: relative;
}

.trainDetailsBox .articleBox .articleContent {
	padding: 0 40px; 
}

.trainDetailsBox .articleBox .articleContent a {
	color: inherit !important;
	cursor: text
}

.trainDetailsBox .trainDetailsIntro {
	clear: both;
	padding: 25px;
	background: #f7f6f9;
	margin-top: 10px;
}

.trainDetailsBox .trainDetailsIntro .trainRecommend {
	font-weight: 600;
	font-size: 18px;
}

.trainDetailsBox .trainDetailsIntro .introTitle {
	margin: 10px 0;
	padding-left: 20px;
}

.trainDetailsBox .trainDetailsIntro .introMain {
	padding: 0 20px;
	text-indent: 2em;
	line-height: 30px	
}

.trainDetailsBox.replyBox .trainDetailsTitle {
	position: relative;
}

.trainDetailsBox.replyBox .articleTitle {
	width: 60%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 18px;
	padding-top: 20px;
	font-weight: 600;
}

.trainDetailsBox.replyBox .authorElse {
	font-size: 14px;
	color: #999;
    margin-top: 50px;
}

.trainDetailsBox.replyBox .shareImg {
	float: none;
	margin-left: 5px;
}

.trainDetailsBox.replyBox .bdsharebuttonbox {
	right: -5px;
}

.commentBox {
	margin: 10px 0;
	position: relative
}

.commentBox.commentLong {
	width: 100%;
}

.commentBox.commentShort {
	width: 95%;
	margin: 0 auto;
}

.commentBox.grayBack {
	background: #f6f7f9;
}

.commentBox .toAudit {
	position: absolute;
	height: 100%;
	left: -40px;
	background: #d7e5ee;
	width: 40px;
	padding: 0 12px;
}

.commentBox .toAudit .auditText {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 92px;
	margin: auto
}

.commentBox .comment {
	padding: 15px 20px 25px;
}

.commentBox .comment .commentTitle {
	font-size: 14px;
	color: #999;
	line-height: 45px;
}

.commentBox .comment .commentTitle .commentAvatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
}

.commentBox .comment .commentMain {
	margin-left: 55px;
	text-indent: 2em;
	line-height: 30px
}

.commentBox .comment .commentMain.commentMainDel {
	color: #999;
}

.auditButton {
	text-align: center;
}

.auditButton .blueBtn {
	display: inline-block;
	margin: 20px !important
}

.trainDetailsBox .wenImg {
	width: 30px;
	position: absolute;
	top: 0;
	left: 8px
}

.trainDetailsBox .commentBox .wenImg {
	left: -17px;
    top: 17px;
}

.trainDetailsBox .addComment {
	width: 100%;
	position: relative;
	padding-top: 10px;
	display: none;
}

.trainDetailsBox .addCommentBtn {
	width: 100%;
	text-align: right;
	padding-right: 42px;
}

.trainDetailsBox .addCommentBtn span {
	font-size: 14px;
	color: #ef9552;
	cursor: pointer
}

.trainDetailsBox .addCommentText {
	font-size: 14px;
	padding: 20px;
	border: 1px solid #eee;
	width: 100%;
	height: 80px;
	resize: none;
	display: block;
	outline: none
}

.trainDetailsBox .cornerImg {
	position: absolute;
	top: -1px;
	right: 50px;
}

.trainDetailsBox .commBtn {
	text-align: right;
}

.trainDetailsBox button {
	display: inline-block !important; 
	border: none;
	outline: none;
	font-size: 14px;
	margin-right: 10px;
}

.trainDetailsBox button.cancelBtn {
	background: none;
	color: #333;
	margin: 20px;
}

.trainDetailsBox button.cancelBtn:hover {
	color: #e9573f;
}



.articleLabelBox {
	overflow: hidden;
	font-size: 14px;
	color: #999;
	padding: 10px 40px 5px;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	position: relative;
	min-height: 40px
}

.articleLabelBox .labelBox {
	width: auto;
	margin-right: 200px;
	text-indent: 0;
}

.articleLabelBox .labelGrade {
	width: 200px;
	text-align: right;
    position: absolute;
    right: 40px;
    bottom: 8px;
}

.articleLabelBox .labelSpan {
	margin-bottom: 5px;
	margin-right: 20px;
	display: inline-block;
}

.articleLabelBox .labelSpan img {
	margin-right: 3px;
}
