#selectSingleExercises,
#selectAllExercises {
	width: 20px;
	height: 20px;
}

.layui-layer-title {
	background: #E9C232;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

.questionWrapper {
	margin-top: 110px;
	border: none
}

.copy_right {
	padding: 15px;
}

.collectImg {
	margin-left: 100px;
	cursor: pointer;
}

.collectSuccess {
	width: 464px;
	height: 272px;
	background: url(__PUBLIC__/img/material/collectSuccess.png) no-repeat center;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 20161003;
	color: #666;
	font-size: 16px;
	display: none;
}

.navTranImg {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 2px;
	vertical-align: middle;
}

/*========习题========*/
#exerciseWrapper {
	padding-left: 10%;
}

.exerciseChoose {
	margin: 10px 0 10px 6%;
}

.allChoose {
	margin-left: 6%;
}

.questionWrapper {
	max-width: 85%;
	border: none !important;
}

.exerciseQuestion {
	position: relative;
}

.collectImg {
	position: absolute;
	right: -40px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.main_name {
	margin-left: 5%
}


.nameDemand {
	padding-left: 6%;
	font-size: 16px;
	padding-top: 20px
}

#scoreWrapper {
	padding-left: 5% !important;
}

.querenBtn {
	margin-right: 5%;
}

#selectSingleExercises, #selectAllExercises {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	margin-right: 5px;
}

.sub_opr:hover {
    background-color: #EAC41B;
    border: 1px solid #EAC41B;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 15px;
    margin: 7px 6px 0 6px;
    color: #5B5754;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}