.left {
	float: left;
}

.right {
	float: right;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #333;
}

ul, li {
	list-style: none;
	padding-left: 0;
}

.oh {
	overflow: hidden;
}

.ib {
	display: inline-block;
}

p {
	margin: 0;
}

/*==更多页面==*/
.expertInfoMoreOutter, .expertInfoSearchOutter, .exportInfoOutter {
	margin: 10px 15px;
}

.expertInfoMoreOutter p {
	margin-bottom: 0;
	text-align: justify;
}

.educationalNews, .hotTopic, .teachingDynamic, .winningWorks {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	padding-bottom: 5px;
}

.educationalNews {
	border-bottom: 3px solid #e9573f
}

.hotTopic {
	color: #e9573f;
	border-bottom: 3px solid #e9573f
}

.teachingDynamic {
	color: #ef9552;
	border-bottom: 3px solid #ef9552
}

.winningWorks {
	color: #fc7f35;
	border-bottom: 3px solid #fc7f35
}

.educationalNews img, .hotTopic img {
	position: relative;
	top: -2px;
}

.searchResult {
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	color: #a7a5a6;
}

.expertInfoMoreInner {
	margin-top: 10px;
}

.expertInfoMoreMain {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.expertInfoMoreMain:hover .expertInfoMoreTop {
	background: #ef9552;
	color: #fff;
}

.expertInfoMoreMain:hover .expertInfoMoreTop .right {
	color: #fff;
}

.expertInfoMoreMain:hover .expertInfoMoreBottom {
	border: 1px solid #ef9552;
	border-top: none;
}

.expertInfoMoreMain .expertInfoMoreTop {
	padding: 10px 20px 10px 16px;
	font-size: 16px;
	background: #e0e0e0;
	border-left: 4px solid #ef9552;
	overflow: hidden;
}

.expertInfoMoreMain .expertInfoMoreTop .left {
	width: 88%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expertInfoMoreMain .expertInfoMoreTop .right {
	color: #999;
	font-size: 14px;
}

.expertInfoMoreBottom {
	padding: 5px 20px;
	border: 1px solid #e0e0e0;
	border-top: none;
	position: relative;
	min-height: 110px
}

.expertInfoMoreBottom .expertInfoMoreImg {
	width: 158px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.expertInfoMoreBottom .expertInfoMoreText {
	font-size: 14px;
	line-height: 30px;
	padding: 20px 0;
	text-indent: 2em;
}

.expertInfoMoreBottom .expertInfoMoreTextDynamic {
	margin-left: 180px;
	margin-bottom: 0 !important;
}

.expertInfoMoreWatch {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.detailSpan {
	color: #0d3a80;
}

.expertInfoMoreMainWorks {
	display: block;
	width: 95%;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #eee
}

.expertInfoMoreWorksImg {
	width: 245px;
	height: 155px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.expertInfoMoreRight {
	margin-left: 275px;
	padding: 19px 0
}

.expertInfoMoreRight .expertInfoMoreRightTitle {
	max-width: 100%;
	font-size: 16px;
	padding: 3px 12px;
	border-radius: 14px;
	margin-bottom: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expertInfoMoreRight .expertInfoMoreRightWatch {
	padding: 1px 12px;
	border-radius: 10px;
	margin-bottom: 25px;
}

.expertInfoMoreRight .expertInfoMoreRightWatch img {
	position: relative;
	top: -1px;
}

.expertInfoMoreRight .expertInfoMoreRightTime span {
	padding: 0 12px;
	border-radius: 13px;
	line-height: 26px
}

.expertInfoMoreRight .expertInfoMoreRightTime span.right {
	padding: 0 20px;
}

.expertInfoMoreMainWorks:hover {
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .2);  
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, .2); 
	box-shadow:0 0 10px rgba(0, 0, 0, .2);   
}

.expertInfoMoreMainWorks:hover .expertInfoMoreRightTitle, .expertInfoMoreMainWorks:hover .expertInfoMoreRightWatch, .expertInfoMoreMainWorks:hover .expertInfoMoreRightTime span  {
	background: #eee
}

.expertInfoMoreRightTitle:hover {
	color: #fc7f35;
}


/*==搜索页面==*/
.expertInfoSearch {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}

.search {
	width: 500px;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
	display: inline-block;
	overflow: hidden;
	font-size: initial;
	font-weight: initial;
	letter-spacing: initial;
}

.search select {
	width: 130px;
	padding-left: 10px;
	height: 30px;
	font-size: 14px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #b9b9b9;
	outline: none;
	background: #bee2f3 url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/select20-8.png) no-repeat right center;
	box-sizing: border-box;
	float: left;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.expertInfoSearch select {
	padding-left: 18px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.search select::-ms-expand { display: none; }

.search_btn {
	float: right;
	width: 70px;
	height: 30px;
	border: none;
	background: #2899f7;
	border-radius: 20px;
	color: #fff;
	outline: none;
	font-size: 16px;
	font-weight: 100
}

.search_text {
	text-indent: 15px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
	width: 290px;
	color: #333;
	font-weight: 100;
}

.search_text::-ms-clear{display:none;}

.me_search{
	width: 400px;
	position: relative;
	top: -5px;
}

.me_search form{
	margin: 0 !important
}

.expertInfoSearchMain {
	margin-top: 15px;
}

.SearchMainLeft {
	margin-right: 500px;
}

.SearchMainRight {
	float: right;
	width: 405px;
}

.SearchMainLeft .expertInfoMoreTop .left {
	width: 80%;
}

.SearchMainRight .SearchMainRightTit {
	height: 34px;
	border-bottom: 2px solid #eee;
}

.SearchMainRight .SearchMainRightTit span {
	font-size: 18px;
	font-weight: 600;
	padding: 9.2px 15px;
	background: url(/Public/img/expertInfo/redLeft.png) no-repeat left center;
	border-bottom: 2px solid #e9573f 
}

.SearchMainRightUl {
	border: 1px solid #eee;
	margin-top: 8px;
}

.SearchMainRightUl .SearchMainRightLi {
	border-bottom: 1px solid #eee;
}

.SearchMainRightUl .SearchMainRightLi:last-child {
	border-bottom: none;
}

.SearchMainRightUl .SearchMainRightLi:last-child .SearchMainRightA .numSpan {
	text-align: inherit;
}

.SearchMainRightUl .SearchMainRightA {
	display: block;
	padding: 8px 10px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SearchMainRightUl .SearchMainRightA.active .textSpan {
	/*color: #999;*/
}

.SearchMainRightUl .SearchMainRightA.active .hotImg {
	display: none;
}

.SearchMainRightUl .SearchMainRightA .numSpan {
	background: #999;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	width: 15px;
	height: 15px;
	line-height: 16px;
	margin-right: 3px;
	text-align: center;
	border-radius: 2px
}

.SearchMainRightUl .SearchMainRightA:hover {
	background: #f7f7f7;
}

.SearchMainRightUl .SearchMainRightA:hover .textSpan {
	color: #ef9552;
	text-decoration: underline
}


/*==首页==*/
.expertInfoMain {
	width: 1200px;
	margin: 15px auto 0;
	overflow: hidden;
}

.expertInfoMainLeft {
	width: 770px;
	float: left;
	/*margin-right: 500px;*/
}

.expertInfoMainRight {
	width: 405px;
	float: right;
}

.moreBtn {
	color: #999;
	margin-right: 10px;
	line-height: 30px;
	font-weight: 100;
	font-size: 14px;
}

.moreBtn:hover {
	color: #ef9552;
}

.expertInfoMainRight .InfoMainRightUl {
	margin-top: 8px;
}

.expertInfoMainRight .InfoMainRightA {
	display: block;
	padding: 10px;
	width: 100%;
	background: url(/Public/img/expertInfo/yuandian.png) no-repeat left center;
	overflow: hidden;
	position: relative;
}

.expertInfoMainRight .InfoMainRightA .textSpan {
	width: 300px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expertInfoMainRight .InfoMainRightA .InfoMainRightTime {
	float: right;
	color: #999
}

.expertInfoMainRight .InfoMainRightA .newImg {
	position: absolute;
	right: 0;
	top: 0;
}

.expertInfoMainRight .InfoMainRightA.active .newImg {
	display: none;
}

.expertInfoMainRight .InfoMainRightA.active .textSpan {
	color: #999;
}

.expertInfoMainRight .InfoMainRightA:hover .textSpan {
	color: #ef9552;
	text-decoration: underline
}

.eduNewsOutter {
	float: none;
	margin-bottom: 50px;
}

.hotTopicOutter {
	width: 100%;
	border: 2px dashed #999;
	border-radius: 10px;
	position: relative;
	padding-top: 20px;
	margin-top: 20px;
}

.hotTopicOutter .hotTopicImg {
	position: absolute;
	top: -17px;
	left: 20px
}

.hotTopicUl {
	border: none;
	margin-bottom: 0;
}

.hotTopicUl .SearchMainRightLi {
	border: none;
	padding-right: 2px;
}

.hotTopicUl .SearchMainRightA {
	padding: 10px 8px;
}

.hotTopicUl .SearchMainRightA:hover {
	background: none;
}

.hotTopicUl .SearchMainRightLi:last-child .SearchMainRightA .numSpan {
	text-align: center;
}

.hotTopicOutter .moreBox {
	text-align: right;
	padding-bottom: 10px;
}

.bannerBox .item a {
	width: 100%;
	height: 340px;
	display: block;
}

.bannerBox .item a img {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.bannerBox .carousel-control {
	width: 8%;
	height: 40px;
	margin: auto;
}

.bannerBox .carousel-indicators li {
	width: 8px;
	height: 8px;
}

.bannerBox .carousel-indicators .active {
	width: 10px;
	height: 10px;
}

.bannerBox .carousel-indicators {
	bottom: -7px;
}

.bannerBox .itemText {
	background: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 5px 22px;
	font-size: 16px;
}

.teachingDynamicBox {
	height: 300px;
	margin-top: 20px;
}

.winningWorksBox {
	margin-top: 30px;
	padding-bottom: 10px;
}

.teachingDynamicBox .teachingDynamicTop {
	color: #ef9552;
	border-top: 3px solid #ef9552;
	font-size: 18px;
	font-weight: 600;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.winningWorksBox .winningWorksTop {
	color: #e9573f;
	border-top: 3px solid #e9573f;
	font-size: 18px;
	font-weight: 600;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.teachingDynamicBox .teachingDynamicTop .moreBtn, .winningWorksBox .winningWorksTop .moreBtn {
	line-height: 25px;
}

.teachingDynamicBox .expertInfoMoreBottom, .teachingDynamicBox .expertInfoMoreBottom:hover, .teachingDynamicBox .expertInfoMoreMain:hover .expertInfoMoreBottom {
	border: none;
}

.teachingDynamicBox .expertInfoMoreBottom {
	height: 115px;
	display: none;
	padding: 0;
	min-height: auto
}

.teachingDynamicBox .expertInfoMoreBottom .expertInfoMoreText {
	line-height: 25px;
    padding: 15px 0;
}

.teachingDynamicBox .expertInfoMoreMain {
	margin-bottom: 5px;
}

.teachingDynamicBox .expertInfoMoreMain.active .expertInfoMoreTop {
	background: #ef9552;
	color: #fff;
}

.teachingDynamicBox .expertInfoMoreMain.active .expertInfoMoreTop .right {
	color: #fff;
}

.teachingDynamicBox .expertInfoMoreMain .expertInfoMoreBottom {
	margin-top: 5px;
}

.winningWorksBox .expertInfoMoreMainWorks {
	width: 98%;
}

