* {
	padding: 0;
	bottom: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	font-size: 16px;
	color: #000;
}

body {
	background: url(/Public/img/feedback/feedback.png) no-repeat top left;
	background-size: cover;
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.feedMain {
	width: 1200px;
	min-height: 640px;
	background: rgba(255,255,255,.5);
	-webkit-box-shadow:0 0 10px rgba(153, 153, 153, .5);
	-moz-box-shadow:0 0 10px rgba(153, 153, 153, .5);
	box-shadow:0 0 10px rgba(153, 153, 153, .5);
	border-radius: 20px;
	margin: 20px auto 10px;
	padding: 20px 30px;
}

.feedTitle {
	display: block;
	margin: 110px auto 0;
}

.feedTop {
	width: 100%;
	line-height: 30px;
}

.feedTop .feed2 {
	text-indent: 1em;
}

.feedTop .feed3 {
	text-indent: 2em;
}

.feedCon {
	width: 950px;
	height: 400px;
	margin: 20px auto;
	background: #fff;
	border: 3px solid rgba(44,197,249,.2);
	border-radius: 20px;
	padding: 20px 40px
}

.feedContent {
	width: 100%;
	overflow: hidden;
}

.feed_content {
	width: 100%;
	overflow: hidden;
	/*margin-bottom: 10px;*/
}

.feed_left {
	float: left;
	width: 200px;
}

.feed_left span {
	font-size: 20px;
	font-weight: 600;
}

.feed_left img {
	position: relative;
	top: -3px;
	margin-right: 2px;
}

.feed_left span.liyunquan {
	color: #c45543;
}

.feed_left span.jiaoxuejia {
	color: #7da941;
	position: relative;
}

.feed_left span.jiaoxuejia .plusIcon {
	position: absolute;
	font-size: 30px;
	top: -9px;
}

.feed_left span.banjixing {
	color: #d1b643;
}

.feed_right {
	float: left;
	width: -moz-calc(100% - 200px);
	width: -webkit-calc(100% - 200px);
	width: calc(100% - 200px);
}

.feed_right .feedCheck {
	float: left;
	width: 25%;
	margin-bottom:10px;
}

.feed_right .feedCheck label img {
	position: relative;
	top: -2px
}

.feed_right .feedCheck .checkBox {
	display: none;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 3px;
	position: relative;
	top: -1px;
}

.feedback_text {
	border-radius: 0;
	resize: none;
	height: 165px !important;
	margin-bottom: 10px;
}

.contactLabel {
	font-weight: 100
}

.contactInput {
	width: 330px;
	display: inline-block;
	border-radius: 0
}

.feedback_btn {
	background: none;
	border: none;
	outline: none;
	width: 107px;
	height: 31px;
	display: block;
	margin: 0 auto;
	background: url(/Public/img/feedback/submit.png) no-repeat center;
}

#bg, #bg2 {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background: rgba(0,0,0,.3)
}

/*公共弹窗开始*/
.regNotify {
	display: none;
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1002;
}

.regTop {
	width: 100%;
	height: 40px;
	background: #e3f0ff;
	line-height: 40px;
}

.regTopImg {
	height: 16px;
	margin-left: 20px;
	position: relative;
	top: -2px;
}

.regTopTitle {
	font-size: 16px;
	font-family: "黑体";
	color: #3d9aff;
	letter-spacing: 2px;
	font-weight: 600
}

.regTopClose {
	margin: 10px 14px 0 0;
	cursor: pointer;
}

.schoolSpan {
    display: inline-block;
    width: 280px;
    line-height: 16px;
    font-size: 12px;
	font-weight: 600;
}

.regMiddle {
	height: 200px;
	padding-top: 10px;
}

.regBottom {
	width: 100%;
}

.regSureBtn {
	display: block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
}

.regSureBtn:hover, .regSureBtn:focus {
	color: #fff;
	text-decoration: none;
}
/*公共弹窗结束*/

/*注册公用弹窗*/
.fullscr {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1001;
	background: rgba(0,0,0,.3);
}

.adminNotifyBox {
/*	display: none;*/
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.adminNotifyBox .regTopImg {
	margin-right: 5px;
}

.adminNotifyBox .notifyCon {
	padding: 60px 20px 0;
	text-align: center;
}

.adminNotifyBox .notifyCon p {
	font-size: 18px;
	font-weight: 600;
}
/*==弹窗结束==*/

#points4 .regMiddle {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 60px;
}

#points4 .regBottom {
	text-align: center;
}

.regSureBtn2 {
	display: inline-block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
	margin: 0 20px
}

.regSureBtn2:hover, .regSureBtn2:focus {
	color: #fff;
	text-decoration: none;
}

.copyRight {
	width: 100%;
	line-height: 25px;
	font-size: 12px;
	font-weight: 600;
	font-family: "微软雅黑";
	text-align: center;
	color: #000;
	position: absolute;
	bottom: 0;
}

@media(max-height:880px) and (min-height:830px){
	.feedTitle {
		display: block;
		margin: 60px auto 0;
	}
}

@media(max-height:829px) and (min-height:790px){
	.feedTitle {
		display: block;
		margin: 30px auto 0;
	}
}

@media(max-height:789px) and (min-height:0){
	.feedTitle {
		display: block;
		margin: 5px auto 0;
	}
	.copyRight {
		position: static;
	}
}
