.btn-main-opr {
	background: url(../img/icon/liyunquan.png) no-repeat;
	background-size: 100% 30px;
	min-width: 130px;
	line-height: 18px;
	padding-right: 20px;
	position: relative;
	z-index: 1;
	color: #595757 !important;
}

.btn-main-opr-active,
.btn-main-opr:hover {
	background: url(../img/icon/liyunquan2.png) no-repeat;
	background-size: 100% 30px;
	z-index: 2;
	color: #fff !important;
	font-size: 16px;
}

#ietanchuang {
	width: 473px;
	height: 280px;
	position: fixed;
	top: 37%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: url(../img/toolTip/ietanchuang.png) no-repeat;
	border-radius: 10px;
	z-index: 20161002;
	font-size: 16px;
	color: #666;
	display: none;
}

#ietanchuang span {
	padding: 7px 50px;
	background-color: #04c9a8;
	position: absolute;
	top: 200px;
	left: 170px;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
}

.nav {
	background-color: #e9573f !important;
}
.current,.num:hover,.prev:hover,.next:hover,.end:hover {
	background-color: #e9573f !important;
	border-color:  #e9573f !important;
}

.border-radius6 {
	border-radius: 6px
}

.btn1before {
	background: none;
	padding: 4px 14px !important;
	margin-left: 16px;
	letter-spacing: 4px;
	color: #60584D;
	background-color: #fff;
	border: 2px solid #e9573f;
}

.btn1before:hover {
	background: #e9573f;
}

.btn1backgrondNone {
	background: none;
}

#classname,.left .btn-primary {
	border: 1px solid #e9573f !important;
	background: #fff4f3 !important;
}

.courseTeacher {
	border: 1px solid #e9573f;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin: 20px;
	border-radius: 6px;
}
.filterContent,.classify_ul{
	border: 1px solid #e9573f!important;
}
.courseTeacher:hover,.left .btn-primary:hover{
	background-color: #e9573f!important;
	color: white !important;
}

.btnNew {
	border: none;
	background: none;
	outline: none;
	text-decoration: none;
	background: #e9573f;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	padding: 0 20px 0 22px;
	border-radius: 4px;
	letter-spacing: 2px;
	display: block;
}

.btnNew:hover {
	text-decoration: none;
	color: #fff;
}

.fullscr {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
	background: rgba(0,0,0,.3);
}

.adminNotifyBox {
/*	display: none;*/
	width: 484px;
	height: 284px;
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.aBoxHeight {
	height: 374px;
}

.adminNotifyTitle {
	background: #e9573f;
	line-height: 44px;
	position: relative;
}

.adminNotifyTitle .adTitle { 
	width: 400px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 600;
	color: #fff;
}
	
.adminNotifyTitle .adTitleImg {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.adminNotifyContent {
	border: 1px solid #e9573f;
	border-top: 0;
	height: 240px;
	position: relative;
}

.adminNotifyMsg {
	width: 100%;
	height: 170px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	word-break: break-all;
	padding: 60px 20px 0;
	font-family: "微软雅黑"
}

.adminNotifyButton {
	text-align: center;
	position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.adminNotifyBtn {
	width: 150px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	padding-left: 2px;
}

.adminNotifyBtn:hover, .adminNotifyBtn:focus {
	color: #fff;
	text-decoration: none;
}

.adminNotifyBtn2 {
	width: 100px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	padding-left: 2px;
}

.adminNotifyBtn2:hover, .adminNotifyBtn2:focus {
	color: #fff;
	text-decoration: none;
}

.adminNotifyColor1 {
	background-color: #e9573f;
}

.adminNotifyColor1:hover {
	background-color: #c45543;
}

.adminNotifyColor2 {
	margin: 0 30px;
	background: #e9573f;
}

.adminNotifyColor2:hover {
	background: #c45543;
}


/*注册*/
.adminNotifyBox.registerBox {
/*	display: none;*/
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.adminNotifyBox.registerBox .regTopImg {
	margin-right: 5px;
}

.adminNotifyBox.registerBox .notifyCon {
	padding: 60px 20px 0;
	text-align: center;
}

.adminNotifyBox.registerBox .notifyCon p {
	font-size: 18px;
	font-weight: 600;
}

.adminNotifyBox.registerBox .notifyCon p a {
	color: #e9573f;
}

.adminNotifyBox.registerBox .regTop {
	width: 100%;
	height: 40px;
	background: #e3f0ff;
	line-height: 40px;
}

.adminNotifyBox.registerBox .regTopImg {
	height: 16px;
	margin-left: 20px;
	position: relative;
	top: -2px;
}

.adminNotifyBox.registerBox .regTopTitle {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #3d9aff;
	letter-spacing: 2px;
	font-weight: 600
}

.adminNotifyBox.registerBox .regTopClose {
	margin: 10px 14px 0 0;
	cursor: pointer;
}

.adminNotifyBox.registerBox .regMiddle {
	height: 200px;
	padding-top: 10px;
}

.adminNotifyBox.registerBox .regBottom {
	width: 100%;
	text-align: center;
}

.adminNotifyBox.registerBox .regSureBtn {
	display: block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
}

.adminNotifyBox.registerBox .regSureBtn:hover, .regSureBtn:focus {
	color: #fff;
	text-decoration: none;
}

.adminNotifyBox.registerBox .regSureBtn2 {
	display: inline-block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
	margin: 0 10px
}

.adminNotifyBox.registerBox .regSureBtn2:hover, .regSureBtn2:focus {
	color: #fff;
	text-decoration: none;
}
/*==弹窗结束==*/
