.tile-group .tile-group-title, .tile-wide {
	width: 270px;
	height: 130px;
}

.tile-group {
	margin-left: 30px;
}

.tile {
	width: 130px;
	height: 130px;
}

.tile-group.double {
	width: 300px;
}

.actAnswerBox {
    position: absolute;
    top: -65px;
    right: -40px;
}

.actAnswerBox .answerImg {
    width: 100px;
}

.actAnswerBox .handImg {
	width: 20px;
    position: absolute;
    top: 10px;
    right: 14px;
}

body {
	overflow-x: hidden
}

@media(max-width:1000px) {
	.tile-group {
		margin-left: 10px;
	}
}

@media(max-width:920px) {	
	.tile {
		width: 115px;
		height: 115px;
	}

	.tile-group .tile-group-title, .tile-wide {
		height: 115px;
	}

	.tile-wide {
		width: 240px;
	}

	.tile-group.double {
		width: 250px;
	}

	.actAnswerBox {
	    position: absolute;
	    top: -55px;
	    right: -20px;
	}

	.actAnswerBox .answerImg {
	    width: 80px;
	}

	.actAnswerBox .handImg {
		width: 15px;
	    position: absolute;
	    top: 5px;
	    right: 10px;
	}
}

@media(max-width:800px) {
	.tile {
		width: 100px;
		height: 100px;
	}

	.tile-group.double {
		width: 240px;
		height: 240px;
	}
	
	.tile-group .tile-group-title, .tile-wide, tile-group.double {
		width: 210px;
		height: 100px;
	}

	img {
		vertical-align: top;
	}

	.actAnswerBox {
	    right: -30px;
	}
}

@media(width:1024px) {
	.tile-group {
		margin-left: 40px;
	}

	.tile-group .tile-group-title {
		font-size: 26px !important;
		line-height: 46px;
	}
}


