.mAuto {
	display: block;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.mb15 {
	margin-bottom: 15px;
}

.leftImg {
	float: left;
	margin-right: 20px;
}

.rightImg {
	float: right;
	margin-left: 20px;
}

.indentSpan {
	display: inline-block;
	width: 30px;
}

.indentSpan2 {
	display: inline-block;
	width: 20px;
}

.plusIcon {
	font-size: 30px;
	position: relative;
	top: 3px;
}

.jbEmptyDiv {
	width: 2px;
	height: 15px;
}

.jbOutter {
	border: 1px solid #dcdcdc;
	height: 100%;
	position: relative;
	font-family: simsun
}

.jbOutter .jbLeft {
	width: 180px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-family: "黑体"
}

.jbOutter .jbLeft .jbLeftTop {
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid #dcdcdc;
	letter-spacing: 3px;
	position: relative;
}

.jbOutter .jbLeft .jbLeftTop .redLine {
    position: relative;
    top: -2px;
    height: 30px;
    margin-right: 10px;
}

.jbOutter .jbLeft .jbLeftTop .cornerButtom {
	position: absolute;
	left: 30px;
	bottom: -5px
}

.jbOutter .jbLeft .jbLeftBottom {
	padding-top: 15px;
}

.jbOutter .jbLeft .jbLeftBottom .jbTab {
	width: 112px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 12px;
	color: #333;
	background-size: 100% 100%;
	margin: 10px auto;
	cursor: pointer;
}

.jbOutter .jbRight {
	padding: 20px;
	margin-left: 180px;
	border-left: 1px solid #dcdcdc;
}

.jbOutter .jbRight img {
	max-width: 100%;
}

.jbOutter .jbRight .jbRightP {
	font-size: 20px;
	line-height: 35px;
	text-indent: 2em;
	text-align: justify;
	margin-top: 15px;
	overflow: hidden;
}

.jbOutter .jbRight .jbRightP .jbRightPCode {
	float: left;
	width: 33.33%;
	text-align: center;
	text-indent: 0
}

.jbOutter .jbRight .jbRightP .jbRightPCode img {
	max-width: 100%
}

.jbOutter .jbRight .jbRightP .jbRightPCode p {
	font-size: 18px
}

.jbOutter .jbRight .jbRightTitle {
	margin-top: 25px;
	font-size: 24px;
	font-weight: 600;
	color: #e9573f;
	text-align: center;
}

.jbOutter .jbRight .jbTitle {
	font-size: 22px;
	font-weight: 600;
	margin-top: 15px;
}

.jbOutter .jbRight .jbTitle .plusIcon {
	font-size: 36px;
	position: relative;
	top: 5px;
}

.jbOutter .jbRight .redFont {
	color: #e9573f;
}

.jbOutter .jbRight .purpleFont {
	color: #af284b;
}

.jbOutter .jbRight .skyBlueFont {
	color: #4bc2e2;
}

.jbOutter .jbRight .orangeFont {
	color: #e89c42;
}

.jbOutter .jbRight .blueFont {
	color: #4496e5;
}

.jbOutter .jbRight .greenFont {
	color: #2f9b74;
}

.jbOutter .jbRight .lilacFont {
	color: #a176b2;
}

.jbOutter .jbRight .commonRedFont {
	color: #e9573f;
}

.jbOutter .jbRight .commonGreenFont {
	color: #30b753;
}

.jbOutter .jbRight .commonYellowFont {
	color: #efca33;
}

.redBack span, .yellowBack span, .greenBack span, .orangeBack span, .blueBack span, .purpleBack span {
	display: inline-block;
	padding: 0 5px;
	color: #fff;
}

.redBack {
	border-bottom: 2px solid #e9573f;
}

.redBack span {
	background: #e9573f;
}

.yellowBack {
	border-bottom: 2px solid #febd1a;
}

.yellowBack span {
	background: #febd1a;
}

.greenBack {
	border-bottom: 2px solid #80c712;
}

.greenBack span {
	background: #80c712;
}

.orangeBack {
	border-bottom: 2px solid #fc7f35;
}

.orangeBack span {
	background: #fc7f35;
}

.blueBack {
	border-bottom: 2px solid #1cc6b4;
}

.blueBack span {
	background: #1cc6b4;
}

.purpleBack {
	border-bottom: 2px solid #8571ff;
}

.purpleBack span {
	background: #8571ff;
}

.jbOutter .jbRight .jbTit {
	font-size: 20px;
	margin-top: 22px;
	text-indent: 0;
}

.jbOutter .jbRight .blueTitle {
	color: #4496e5;
	font-size: 22px;
}

@media(max-width:1441px) and (min-width:0){
	.jbOutter .jbRight .jbRightTitle {
		font-size: 22px
	}

	.jbOutter .jbRight .jbTitle {
		font-size: 20px
	}

	.jbOutter .jbRight .jbRightP {
		font-size: 18px;
	}

	.jbOutter .jbRight .jbTit {
		font-size: 18px;
		margin-top: 15px;
	}

	.indentSpan {
		display: inline-block;
		width: 26px;
	}

	.indentSpan2 {
		display: inline-block;
		width: 16px;
	}

	.jbOutter .jbRight .blueTitle {
		color: #4496e5;
		font-size: 20px;
	}

	.plusIcon {
		font-size: 28px;
		position: relative;
		top: 3px;
	}

	.jbOutter .jbRight .jbTitle .plusIcon {
		font-size: 32px;
		position: relative;
		top: 4px;
	}
}


/*===APP===*/
.jbApp {
	width: 100%;
	box-sizing: border-box;
}

.jbApp .jbAppTop {
	width: 100%;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff
}

@media(min-width:600px) {
	.jbApp .jbAppTop {
		font-size: 20px;
	}

	.padImg {
		max-width: 50% !important; 
	}
}

.jbApp .jbAppTop .jbTab {
	width: 33.33%;
	float: left;
	border-bottom: 1px solid #eee;
	line-height: 40px;
	background: #fff;
}

.jbApp .jbAppTop .jbTab.active {
	color: #e9573f;
	border-bottom: 1px solid #e9573f;
}

.jbApp img {
	max-width: 100%
}

.jbApp .w90 {
	width: 90%
}

.jbApp .jbBottom {
	padding: 15px;
	margin-top: 3.5rem;
}

.jbApp .jbBottom .jbRightP {
	font-size: 18px;
	line-height: 30px;
	text-indent: 2em;
	text-align: justify;
	margin-bottom: 10px;
	overflow: hidden;
}

.jbApp .imgMb15 {
	margin-bottom: 1.5rem;
}

.jbApp .imgMb5 {
	margin-bottom: 0.5rem;
}

.jbApp .tab2Img3, .jbApp .tab2Img5, .jbApp .tab2Img6 {
	margin: 1rem 0;
}

.jbApp .tab2Img4 {
	width: 50%;
	float: right;
	margin-left: 0.5rem;
}

.jbApp .jbBottom .jbRightTitle {
	font-size: 20px;
	font-weight: 600;
	color: #e9573f;
	text-align: center;
	margin-bottom: 10px;
}

.jbApp .jbBottom .rIcon {
    position: relative;
    top: -0.6rem;
    padding: 0 0.2rem
}

.jbApp .jbBottom .jbRightP .jbRightPCode {
	float: left;
	width: 33.33%;
	text-align: center;
	text-indent: 0
}

.jbApp .jbBottom .jbRightP .jbRightPCode img {
	max-width: 90%;
	display: block;
	margin: 0 auto;
}

.jbApp .jbBottom .jbRightP .jbRightPCode p {
	font-size: 18px;
	margin: 0;
}

.jbApp .jbBottom .jbTitle {
	font-size: 18px;
	margin-bottom: 2px;
	font-weight: 600;
}

.jbApp .jbBottom .jbBottomTab3 .jbTitle {
	font-size: 18px;
	margin-bottom: 2px;
	font-weight: 600;
}

.jbApp .jbBottom .commonRedFont {
	color: #e9573f;
}

.jbApp .jbBottom .commonGreenFont {
	color: #30b753;
}

.jbApp .jbBottom .commonYellowFont {
	color: #efca33;
}

.jbApp .jbBottom .jbTit {
	font-size: 18px;
	margin-bottom: 2px;
}

.jbApp .jbBottom .jbTitle .plusIcon {
	font-size: 30px;
	position: relative;
	/*top: 0.2rem;*/
	z-index: -1;
	top: 5px;
}

.jbApp .jbBottom .jbRightP .plusIcon {
	font-size: 28px;
	position: relative;
	/*top: 3px;*/
	z-index: -1
}

.jbApp .jbBottom .redBack {
	border-bottom: 1px solid #e9573f;
}

.jbApp .jbBottom .yellowBack {
	border-bottom: 1px solid #febd1a;
}

.jbApp .jbBottom .greenBack {
	border-bottom: 1px solid #80c712;
}

.jbApp .jbBottom .orangeBack {
	border-bottom: 1px solid #fc7f35;
}

.jbApp .jbBottom .blueBack {
	border-bottom: 1px solid #1cc6b4;
}

.jbApp .jbBottom .purpleBack {
	border-bottom: 1px solid #8571ff;
}

.jbApp .jbBottom .blueTitle {
	color: #4496e5;
	font-size: 18px;
}

.iphoneImg {
	width: 250px;
}
