@font-face {
    font-family: FangZhengZhunYuan;
    src: url('../font/fangzhengzhunyuanjianti.ttf');
}

@font-face {
    font-family: FangZhengCuYuan;
    src: url('../font/fangzhengcuyuanjianti.ttf');
}

@font-face {
    font-family: FangZhengKaiShu;
    src: url('../font/fangzhengyingbikaishujianti.ttf');
}

@font-face {
    font-family: PingFangBold;
    src: url('../font/PingFangBold.ttf');
}

@font-face {
    font-family: PingFangLight;
    src: url('../font/PingFangLight.ttf');
}

@font-face {
    font-family: PingFangMedium;
    src: url('../font/PingFangMedium.ttf');
}

@font-face {
    font-family: PingFangRegular;
    src: url('../font/PingFangRegular.ttf');
}

.fs12 {
	font-size: 12px !important;
}

.fs14 {
	font-size: 14px !important;
}

.fs16 {
	font-size: 16px !important;
}

.fs18 {
	font-size: 18px !important;
}

.fs20 {
	font-size: 20px !important;
}

.m0 {
	margin: 0 !important;
}

.m5 {
	margin: 5px !important;
}

.m10 {
	margin: 10px !important;
}

.m15 {
	margin: 15px !important;
}

.m20 {
	margin: 20px !important;
}

.m25 {
	margin: 25px !important;
}

.m30 {
	margin: 30px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.p0 {
	padding: 0 !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px !important;
}

.p15 {
	padding: 15px !important;
}

.p20 {
	padding: 20px !important;
}

.p25 {
	padding: 25px !important;
}

.p30 {
	padding: 30px !important;
}

.pt0 {
	padding-top: 0px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pr30 {
	padding-right: 30px !important;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

input::-ms-clear{display:none;}

select {
	background-image: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/select20-8.png) !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
    display: none;
	overflow-x: hidden;
}

.header {
    position: relative;
    height: 120px;
    z-index: 10;
	background:#065b78 url(../img/icon/cloud.png) repeat-x ;

}

.header .moduleInfo {
    text-align: center;
    color: #999;
    font-size: 14px
}

.welcome {
    color: white;
    position: absolute;
    z-index: 20160920;
    top: 30px;
    left:95px;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '\\5FAE软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    font-size: 18px;
}

.logo {
    position: absolute;
    top: 12px;
    left: 16px;
    height: 76px;
}

.content {
   padding-top: 30px;

}

.mainbody {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-top: 39px;

}

.nav {
    height: 20px;
    -webkit-box-shadow: 0 3px 3px 3px #A8AEB0;
    -moz-box-shadow: 0 3px 3px 3px #A8AEB0;
    box-shadow: 3px 3px 3px #A8AEB0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 39px;
    color: white;
    font-size: 20px;
    position: relative;
}

a:focus, button:focus, div:focus, span:focus, p:focus, input:focus{
    outline: none !important;
}

.nav span {
    margin-left: 12px;
}

.wrapper {
    padding: 15px 0px;
}

.topbar {
    background: transparent;
    text-align: right;
    padding-bottom: 4px;
    z-index: 25;
    position: absolute;
    right: 5%;
    bottom: 0;
	z-index: 11
}

.topbar img {
    height: 30px;
    border-radius: 6px;
}

.topbar a {
	display: inline-block;
	margin-right: 5px;
}

.bottombar {
    width: 1178px;
    margin: 0 auto;

    height: 40px
}
@media(max-width:1178px){
	.bottombar{
	width: 100%;
	}
}

.company {
    text-align: center;
    line-height: 20px;
    color: #666;
    margin-top:10px;
    margin-bottom: 5px;
}

.company p{
	margin: 0
}

.cloud_left img {
    width: 280px;
}

.cloud_right img {
    width: 80px;
}

.cloud1 img {
    width: 465px;
}

.wrapper {
}

.navTitle {
    text-align: center;
    color: white;
    line-height: 60px;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '\\5FAE软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
}
.jiaoxueplus{
    height: 27px;
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 6px;
}

.navTitleImg {
    width: 80px;
}

.navThumImg {
    width: 60px;
    position: absolute;
    cursor: pointer;
}

.navThumImg1 {
    left: 50px;
    top: 17px;
}

.navThumImg2 {
    left: 106px;
    top: 0px;
}

.navThumImg3 {
    left: 160px;
    top: 17px;
}

.navThumImg4 {
    left: 216px;
    top: 0px;
}

.navThumImg5 {
    left: 266px;
    top: 0px;
}

.navThumWrapper {
    position: absolute;
    left: 15%;
    top: 64px;
}
@media(max-width:1024px){
	.navThumWrapper{
		left: 5%
	}
}
.navTranImg {
    height: 30px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.main_opr {
    position: absolute;
    top: 9px;
    left: 0;
    text-align: center;
    width: 100%;
    background: transparent;
}



form {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.btn {
    font-family: "黑体";
}

.btnReturn1,.btnReturn2,.btnReturn3{
    padding: 6px 14px 4px 34px;
    margin-left: 16px;
    letter-spacing: 4px;
    color: #333;
    background:url(../img/fanhui.png) no-repeat;
	background-size: 30px ;
	position: absolute;
	top:0;
  	line-height: 15px;
	border: none;
	font-size: 16px;
	font-weight: bold;
}

.btnR3{
    padding: 4px 14px 4px 25px;
    margin-left: 16px;
    letter-spacing: 4px;
    color: #595757;
    background:url(../img/fanhui.png) no-repeat;
	background-size: 22px ;
    line-height: 15px;
	border: none
}

input[required]:invalid, input:focus:invalid, textarea[required]:invalid, textarea:focus:invalid {
    box-shadow: none;
}



.nav.fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 10px;
    z-index: 99;
}

#contentWrapper.fullscreen {
    min-height: 100% !important;
    margin-top: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mainbody.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

.fullscreen_nopaddingtop {
    padding-top: 0 !important;
    height: 100%;
}

.fullscreen_ctrl {
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: -4px;
    z-index: 101;
}

.fullscreen_ctrl.fullscreen {
    top: 5px !important;
    position: fixed;
}

.main_opr.fullscreen {
    top: -1px ;
    z-index: 100;
    position: fixed;
	height: 11px;
	background: #fff;
}

#contentWrapper{
    background-color: #fff;
    overflow-x: auto;
    min-height: 700px;
/*	padding: 30px;*/
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none !important;
    font-size: 16px;
    white-space: nowrap;
    color: #595757;
}

.table thead {
    border-bottom: none !important;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    border-top: none !important;
}

/*======鼠标滑过图标转动 title=======*/
.imgTitle {
	display: none;
	font-size: 12px;
	color: #333;
	background: #fff;
	padding: 4px 6px;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20160922;
	-webkit-box-shadow:0 0 10px rgba(153, 153, 153, .5);
	-moz-box-shadow:0 0 10px rgba(153, 153, 153, .5);
	box-shadow:0 0 10px rgba(153, 153, 153, .5);
}


/*========填空题========*/
.firstRow td {
/*	min-width: 300px !important; */
	max-width: 200px !important;
}

@media screen and (min-width: 1439px) and (max-width: 1680px) {
    .firstRow td {
		max-width: 170px !important;
	}

	.firstRow td input {
		max-width: 130px !important;
	}
}

@media screen and (max-width: 1438px) {
    .firstRow td {
		max-width: 150px !important;
	}

	.firstRow td input {
		max-width: 110px !important;
	}
}

/*========滑动门========*/
#slide_title {
	min-width: 210px;
}

/*========习题========*/
/*#exerciseWrapper,#exerciseWrapper_1 {
	padding-left: 10%;
}*/

.exerciseChoose {
	margin: 10px 0 10px 6%;
}

.allChoose {
	margin-left: 6%;
}

.questionWrapper {
	max-width: 85%;
	border: none !important;
}

.exerciseQuestion {
	position: relative;
}

.collectImg {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main_name {
	margin-left: 5%
}


.nameDemand {
	padding-left: 6%;
	font-size: 16px;
	padding-top: 20px
}

#scoreWrapper {
	padding-left: 5% !important;
	overflow-x: auto !important;
}

.querenBtn {
	margin-right: 5%;
}

#selectSingleExercises, #selectAllExercises {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	margin-right: 5px;
}

.collectImg:hover {
	cursor: pointer;
}

.search {
	background: #fff !important;
}

.search_text {
	font-size: 14px;
}

.search_btn{
	background: #2899f7 !important;
	margin: 2px !important;;
    line-height: 24px !important;;
	height: 26px !important;;
}

/*
.exerciseQuestion {
	border: 1px dashed #ccc;
	border-bottom: none;
	margin: 0 !important;
}

.tianKongInput, .textAreaInput, .exerciseQuestionWordOption {
	border: 1px dashed #ccc;
	border-bottom: none;
	border-top: none;
}
*/
/*========VIP========*/
#data_bg {
	padding: 0 20px !important;
}
.imgVip{
	vertical-align: middle !important;
	margin-top: -4px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
#data_bg, #data_bg p {
	color: #333;
}
#data_bg img{
	width: auto !important;
	height: auto !important;
  margin-right: 5px
}
#data_bg a, #data_bg span {
	font-weight: bold
}
#vipp{
	margin-top: 10px !important;
	margin-left: 20px !important;
	margin-bottom: 0 !important;
	height: 20px !important;
}
#data_bg p:nth-child(2) {
	margin-top: 0;
}
/*========标题按钮========*/
.btn-main-opr-white {
	background: #fff;
	color: #333;
	cursor: default
}

/*========个人中心左上角消息数量========*/
.messageNum {
	width: 20px;
	height: 20px;
	border-radius: 10px;
/*	background: #af1515;*/
	position:absolute;
	top: -10px;
	left: -5px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	word-break: normal;
/*
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
*/
}

/*云弹窗——两个按钮*/
.fullscr {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
}

.toolTipBox {
	display: none;
	width: 484px;
	height: 284px;
	font-family: FangZhengZhunYuan;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
	}

.tooTipContent {
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	color: #666;
	margin: 105px 20px 0;
}

.notifyBusy .tooTipContent {
	margin-top: 120px;
}
.toolTip1 {
	background: url(/Public/img/toolTip/toolTip1.png) no-repeat center;
}

.toolTipClose {
	display: block;
	width: 25px;
	height: 25px;
	background: url(/Public/img/toolTip/closeGray_100×100.png) no-repeat center;
	background-size: 100% 100%;
	float: right;
	margin: 17px 15px 0;
	cursor: pointer;
}

.toolTipClose:hover {
	background: url(/Public/img/toolTip/closeRed_100×100.png) no-repeat center;
	background-size: 100% 100%;
	}

.toolTipButton {
	text-align: center;
	position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
}

.toolTipBtn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 6px;
	text-decoration: none
}

.toolTipBtn:hover {
	color: #fff;
	text-decoration: none;
}

.toolTipBtnGreen1 {
	background: #28D0C1;
}

.toolTipBtnGreen1:hover {
	background: #209994;
}

.toolTipBtnGreen2 {
	margin: 0 10px;
	background: #28D0C1;
}

.toolTipBtnGreen2:hover {
	background: #209994;
}

.toolTipBtnGray2 {
	margin: 0 10px;
	background: #b7b7b7;
}

.toolTipBtnGray2:hover {
	background: #999;
}

/*提示弹窗——一个按钮*/
.prompt_ppt {
	background: url(/Public/img/toolTip/prompt_ppt.png) no-repeat center;
}

.prompt_limit {
	background: url(/Public/img/toolTip/prompt_limit.png) no-repeat center;
}

.prompt_save {
	background: url(/Public/img/toolTip/prompt_save.png) no-repeat center;
}

.prompt_delete {
	background: url(/Public/img/toolTip/prompt_delete.png) no-repeat center;
}

.prompt_applyfail {
	background: url(/Public/img/toolTip/prompt_applyfail.png) no-repeat center;
}

.prompt_applyend {
	background: url(/Public/img/toolTip/prompt_applyend.png) no-repeat center;
}

.prompt_busy {
	background: url(/Public/img/toolTip/prompt_busy.png) no-repeat center;
}

.prompt_submitsuccess {
	background: url(/Public/img/toolTip/prompt_submitsuccess.png) no-repeat center;
}

.prompt_submitfail {
	background: url(/Public/img/toolTip/prompt_submitfail.png) no-repeat center;
}

/*提示弹窗——两个按钮*/
.prompt_confirm {
	background: url(/Public/img/toolTip/prompt_confirm.png) no-repeat center;
}

.prompt_applySuccess {
	background: url(/Public/img/toolTip/prompt_applySuccess.png) no-repeat center;
}

.prompt_nowork {
	background: url(/Public/img/toolTip/prompt_nowork.png) no-repeat center;
}

.prompt_changeinfo {
	background: url(/Public/img/toolTip/prompt_changeinfo.png) no-repeat center;
}

/*综合后的提示框*/
.notifyCloud {
	background: url(/Public/img/toolTip/notifyCloud.png) no-repeat center;
}

.notifyPrompt {
	background: url(/Public/img/toolTip/notifyPrompt.png) no-repeat center;
}

.notifyBusy {
	background: url(/Public/img/toolTip/notifyBusy.png) no-repeat center;
}
/*公共按钮*/

.btn-primary_red,.btn-primary-red {
	color: #595757;
    background-color: #fff;
    border: 1px solid #db4f50;
    font-weight: 600;
}

.btn-primary_red:hover,.btn-primary-red:hover {
	background-color: #db4f50;
	color: #fff
}

.btn-red {
	min-width: 84px;
	border-radius: inherit;
	background: #db4f50;
	color: #fff;
	opacity: inherit !important
}

.btn-red:hover, .btn-red:focus {
	background: #db4f50;
	color: #fff;
}

.btn-gray {
	min-width: 84px;
	border-radius: inherit;
	background: #999;
	color: #ccc;
	opacity: inherit !important
}

.btn-gray:hover, .btn-gray:focus {
	background: #999;
	color: #ccc;
}

.applyInfoBtn {
	text-align: center;
}
/*新版二级页面*/
/*励耘圈*/
/*黑色蒙层*/
.blackBack {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20160921
}

.sub_opr.btnReturn3.layer-open.layui-layer-close {
	position: relative !important
}
.inf_video {
	position: absolute;
    right: 70px;
    top: 4px;
    color: #666;
    text-decoration: underline;
}

/*个人中心 上传头像*/
#avatar-name {
	display: none;
}
/*放大*/
.fullscreen table,.fullscreen form,.fullscreen .aui-content,.fullscreen .main_name{
	margin-top: 35px;
}
.fullscreen .listview{
	margin-top: 20px;
}

/*空白占位图*/
.emptyDiv {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	font-family: PingFangBold !important;
	color: #999;
	letter-spacing: 2px;
	line-height: 35px;
	clear: both;
	min-height: 500px
}

.emptyDiv p {
	margin-bottom: 0;
	text-align: center !important;
}

.emptyDiv img {
	margin-bottom: 20px;
}
.notice{
    z-index: 200 !important;
    position: fixed !important;
}
