* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

ul,
li {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}


.oh {
	overflow: hidden;
}


/*1*/


#contentWrapper {
	overflow-x: hidden;
	padding-top: 0;

}

.class_left {
	width: 200px;
	padding: 0;
}

.row {
	margin: 0;
}

.class_name {
	color: #333;
	line-height: 50px;
	text-indent:30px;
	border-bottom: 1px solid #efca33;
	background: #FFFBF2;
	cursor: pointer;
}

.class_active {
	background: #F7EAC0;
}

.class_right {
	padding: 0;
	line-height: 30px;
	padding: 25px;
	font-size: 16px;
}

.stu_zongshu {
	line-height: 50px;
	color: red;
	background: #eeeeee;
	font-size: 20px;
	text-indent: 1em;
}

.student_list {
	padding: 20px;
	border: 1px solid #efca33;
	height: 200px;
}

.avatar {
	width: 58px;
	height: 58px;
	float: left;
}

.info_link,
.title_content {
	display: inline-block;
	margin-top: 8px;
}

.btn-primary-active {
	background: #efca33;
	color: #333
}

.bang {
	width: 2px;
	background: #efca33;
	height: 34px;
	display: inline-block;
	padding: 0;
}

@media(min-width: 1200px) {
	.col-lg-10 {
		width: 80% !important;
	}
}

.filterTable {
	width: 100%;
	border: 1px solid #000;
	border-radius: 10px;
}

.filterTable td {
	text-align: center;
	width: 20%;
	padding: 0px;
}

.filterTable_item.selected {
	background-color: #41C7DB;
	;
}

.filterTable_item {
	position: relative;
	cursor: pointer;
	height: 30px;
}

.filter_unit {
	line-height: 30px;
	font-size: 18px;
}

.filter_show {
	position: absolute;
	z-index: 200;
	left: 0;
	top: 30px;
	border: 1px solid #000;
	width: 200px;
	background-color: #fff;
	display: none;
	padding: 4px;
}

.filter_show input {
	width: 100%;
}

.filter_show_section {
	margin: 12px 0;
}

.filterTable_item img {
	height: 26px;
	position: absolute;
	z-index: 200;
	right: 3px;
	top: 3px;
}

.bgnone {
	background: none;
}

#filter_day,
#filter_month {
	height: 26px;
}

#grid_wrapper {
	overflow: hidden;
}

/*2*/
.wishContent {
	width: 100%;
	overflow: hidden;
}

.search {
	float: right;
	width:350px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	background: #f4f4f4;
}

.search_btn {
	float: right;
	width:80px;
	height: 30px;
	border: none;
	background: #3087c7;
    color: #fff;
	background-size: 50% 50%;
	border-radius: 20px;
	outline: none;
}

.search_text {
	width: 260px;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

.wishBtn {
	display: inline-block;
	color: #fff;
	padding: 5px 15px;
	text-indent: 20px;
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;
}

.wishBtn.wishBtnAdd {
	background: url(../img/learningPath/wishBtnAdd.png) no-repeat 5px center,
				url(../img/learningPath/wishBtn.png) repeat-x center;
	background-size: 18px 18px, contain;
}

.wishBtn.wishBtnTeach1 {
	background: url(../img/learningPath/wishBtnTeach1.png) no-repeat 5px center,
				url(../img/learningPath/wishBtn.png) repeat-x center;
	background-size: 18px 18px, contain;
}

.wishBtn.wishBtnTeach2 {
	background: #b1b1b1 url(../img/learningPath/wishBtnTeach2.png) no-repeat 5px center;
	color: #eee;
	cursor: default;
}

.wishBtn:hover, .wishBtn:focus {
	color: #fff;
	text-decoration: none;
}

.wishBtn.wishBtnTeach2:hover, .wishBtn.wishBtnTeach2:focus {
	color: #eee;
	text-decoration: none;
}

.wishContent .wishEmpty {
	font-size: 18px;
    color: #999;
    text-align: center;
	margin-top: 40px;
}

.wishContent .wishUl {
	width: 100%;
	overflow: hidden;
}

.wishContent .wishUl .wishLi {
	width: 100%;
	margin-bottom: 20px;
}

.wishContent .wishUl .wishLi .wishLiTitle {
	line-height: 30px;
	color: #ea6363;
	font-size: 16px;
}

.wishContent .wishUl .wishLi .wishPoint {
	position: relative;
	top: -2px;
	margin-right: 10px;
}

.wishContent .wishUl .wishLi .wishDelete {
	cursor: pointer;
}

.wishContent .wishUl .wishLi .wishName {
	color: #999;
	font-size: 16px;
}

.wishContent .wishUl .wishLi .wishLiMain {
	width: 100%;
	background: #f4f4f4;
	border-top: 4px solid #d3b342;
	font-size: 16px;
	text-indent: 2em;
	padding: 20px;
	line-height: 30px
}

.wishContent .wishAdd {
	width: 100%;
	border: 1px solid #ccc;
	position: relative;
	margin-top: 20px;
	display: none;
}

.wishContent .wishTextarea {
	width: 98%;
	display: block;
	padding: 20px;
	border: none;
	border-bottom: 1px solid #f0f0f0;
	height: 200px;
	margin: 0 auto;
	outline: none;
	resize: none;
	font-size: 16px;
}

.wishContent .wishClose {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.wishContent .applyBtn {
	outline: none;
	border: none;
	background: none;
	margin: 10px auto;
	display: block;
	padding: 5px 30px 5px 33px;
	color: #fff;
	background: #efca33;
	letter-spacing: 3px;
	border-radius: 5px;
}

hr {
	clear: both;
}

.studentOutter {
	width: 100%;
}

.studentOutter .title {
	font-weight: 600;
	font-size: 18px
}

.studentOutter .studentBox {
	border: 1px solid #efca33;
	color: #333;
	background: #fff;
	padding: 4px 10px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 5px 10px;
}

.studentOutter .studentBox.active {
	color: #fff;
	background: #efca33;
}

.timeOutter {
	width: 420px;
	margin: 0 auto;
	overflow: hidden;
}

.timeOutter .startBox, .timeOutter .endBox {
	overflow: hidden;
}

.timeOutter .startLabel {
	float: left;
	width: 23px;
	height: 25px;
	background: url(/Public/img/learningPath/startTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .startLabel.yellow {
	background: url(/Public/img/learningPath/startTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .endLabel {
	float: left;
	width: 23px;
	height: 25px;
	background: url(/Public/img/learningPath/endTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .endLabel.yellow {
	background: url(/Public/img/learningPath/endTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .timeInput {
	width: 150px;
	line-height: 25px;
	margin: 0 15px 0 5px;
	float: left;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	text-indent: 5px;
}

.timeOutter .searchTime {
	float: left;
	border: none;
	outline: none;
	background: none;
	width: 25px;
	height: 25px;
	background: url(/Public/img/learningPath/searchTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .searchTime:hover {
	background: url(/Public/img/learningPath/searchTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.wrongTitle {
	width: 100%;
	font-size: 18px;
	color: #ea6363;
	margin: 10px 0
}

.exerciseOutter {
	width: 100%;
	overflow: hidden;
	border: 1px solid #eee;
	border-bottom: none;
	padding-left: 0 !important;
}

.exerciseOutter .questionOutter {
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.exerciseOutter .questionOutter.active {
	background: #f6f6f6
}

.exerciseOutter .questionOutter .questionLeft {
	width: 85%;
	font-size: 16px;
}

.exerciseOutter .questionOutter .collectImg.collImg {
	position: absolute;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.laydate_body .laydate_bottom, .laydate_body .laydate_top, .laydate_body .laydate_ym .laydate_yms {
	box-sizing: content-box;
}
