* {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.resource_box {
	padding: 20px;
	overflow: hidden;
}

.resource_top,
.resource_middle {
	width: 98%;
	margin: 0 auto;
	overflow: hidden;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #7f7f7f;
}

.resource_middle {
	margin: 10px auto;
}

.search {
	float: right;
	width: 340px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	background: #f4f4f4;
}

.search_btn {
	float: right;
	width: 80px;
	height: 30px;
	border: none;
	background: #3087c7;
    color: #fff;
	
	border-radius: 20px;
	outline: none;
}

.search_text {
	width: 250px;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

.resource_classify {
	width: 100%;
	overflow: hidden;
	line-height: 20px;
	margin-bottom: 10px;
}

.classify_p {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

.classify_ul {
	overflow: hidden;
	margin-bottom: 0;
}

.classify_ul li {
	float: left;
	margin: 0 10px 2px 10px;
	cursor: pointer;
}

.classify_sort {
	width: 50px;
	margin-left: 50px;
}

.sort_text {
	width: 32px;
	line-height: 40px;
}

.sort_btn {
	width: 15px;
	font-size: 13px;
}

.order_btn {
	display: block;
	width: 100%;
	height: 40%;
	border: 0;
	background: none;
	outline: none;
}

.ascending {
	background: url(../img/home/ascending.png) no-repeat center;
	background-size: 80%;
	background-position: 0 9px;
}

.descending {
	background: url(../img/home/descending.png) no-repeat center;
	background-size: 80%;
	background-position: 0 2px;
}

.experiment {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.resource_border {
	width: 100%;
	height: 5px;
	background: #ededed;
}

.row {
	margin: 0;
}

.resource_ul {
	text-align: center;
}

.resource_li {
	margin: 25px 0;
	text-align: center;
}

.resource_li img {
	display: inline-block;
}

.resource_li a {
	display: block;
	font: 16px/30px "微软雅黑";
	color: #666;
	position: relative;
}

.resource_p {
	line-height: 40px;
	font-size: 14px;
	color: #7e7e7e;
	width: 250px;
	overflow: hidden;
	margin: 0 auto;
}

.res_box {
	width: 321px;
	height: 317px;
	margin: 0 auto;
	background-size: 100% 100%;
}

.resource_img {
	margin-top: 40px;
	height: 191px
}

.resource_title {
	width: 200px;
	line-height: 38px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.current_selected {
	color: red;
}

.sort_desc_red {
	background: url(../img/home/r_descending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 2px;
}

.sort_asc_red {
	background: url(../img/home/r_ascending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 9px;
}

a:focus{ 
	outline: none
}

.resource_li .newImg { 
	position: absolute;
	top: 0;
	right: 0;
}

.fileUpload {
	position: absolute;
	right: 0;
	bottom: 0;
}

.fileButton {
	border: none;
	background: none;
}

.rightBtn {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-top: 10px;
}

.compile {
	background :url(../img/material/compile_black.png) no-repeat center;
	background-size: 100% 100%;
	margin-right: 5px;
}

.compile:hover {
	background :url(../img/material/compile_red.png) no-repeat center;
	background-size: 100% 100%;
}

.delete {
	background :url(../img/material/delete_black.png) no-repeat center;
	background-size: 100% 100%;
}

.delete:hover {
	background :url(../img/material/delete_red.png) no-repeat center;
	background-size: 100% 100%;
}


.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 20161003;
	color: #666;
	font-size: 16px;
	display: none;
}
.compileTitleTop{
	background: #e9573f;
	line-height: 44px;
	position: relative;
}
.compileTitle {
	width: 484px;
	height: 284px;
	border: 1px solid #e9573f;
	background: #fff;
	z-index: 20161002;
}

.compileTitleTop, .compileTitleMiddle, .compileTitleBottom {
	overflow: hidden;
}

.compileTitleTop p{
	width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}

.compileTitleMiddle {
	width: 400px;
	margin: 70px auto 40px;
}

.compileTitleBottom {
	text-align: center;
}

.yesBtn, .noBtn {
	background-color: #28D0C1;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-size: 22px;
    padding: 6px 33px 6px 38px;
	letter-spacing: 5px;
}

.yesBtn:hover, .noBtn:hover {
	background-color: #209994;
}

.deleteSure .yesBtn {
	background-color: #c6c6c6;
}

.deleteSure .yesBtn:hover {
	background-color: #999;
}

.imgClose {
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.saveSuccess {
	width: 467px;
	height: 275px;
	background: url(../img/material/saveSuccess.png) no-repeat center;
	background-size: 100% 100%;
}

.btnBottom {
	margin-top: 190px;
	text-align: center;
}

.systemBusy {
	width: 466px;
	height: 272px;
	background: url(../img/material/systemBusy.png) no-repeat center;
	background-size: 100% 100%;
}

.deleteSuccess {
	width: 462px;
	height: 274px;
	background: url(../img/material/deleteSuccess.png) no-repeat center;
	background-size: 100% 100%;
}
#saveCompile{
	height: 35px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #e9573f;
}
.deleteSure {
	width: 463px;
	height: 274px;
	background: url(../img/material/deleteSure.png) no-repeat center;
	background-size: 100% 100%;
}

.noBtn {
	margin-left: 80px;
}