.left {
	float: left;
}

.right {
	float: right;
}

.row {
	margin: 0;
}

form {
	margin: 0 !important;
}

#contentWrapper {
	padding: 0;
	overflow-x: hidden;
}

p {
	margin: 0;
}

.leftUl {
	padding: 0;
}

.leftWrapper {
	float: left;
	width: 250px;
	background-color: #fff4f3;
	border: 2px solid #e9573f;
	border-top: none;
}

.leftTitle {
	line-height: 70px;
	font-size: 22px;
	text-align: center;
	border-bottom: 2px solid #fadbe0;
	margin-bottom: 20px;
	font-weight: 600
}


.leftWrapper a, .leftWrapper a:hover, .leftWrapper a:link, .leftWrapper a:focus {
	text-decoration: inherit;
	color: inherit;
}

.leftA {
	display: block;
/*	overflow: hidden;*/
/*	padding-left: 40px;*/
}

.leftP {
	line-height: 55px;
	font-size: 18px;
	margin-left: 40px;
	text-indent: 35px;
}

.leftLi.leftLi1 .leftP {
	background: url(../img/icon/gerenziliao.png) no-repeat left center;
}

.leftLi.leftLi2 .leftP {
	background: url(../img/icon/black2.png) no-repeat left center;
}

.leftLi.leftLi3 .leftP {
	background: url(../img/icon/black3.png) no-repeat left center;
}

.leftLi.leftLi4 .leftP {
	background: url(../img/icon/wodexiaoxi.png) no-repeat left center;
}

.leftLi.leftLi5 .leftP {
	background: url(../img/icon/wodefabu.png) no-repeat left center;
}

.leftLi.leftLi6 .leftP {
	background: url(../img/icon/wodeshoucang.png) no-repeat left center;
}

.leftLi.leftLi7 .leftP {
	background: url(../img/icon/wodesucaiku.png) no-repeat left center;
}

.leftLi.leftLi8 .leftP {
	background: url(../img/icon/wocanjiadehuodong.png) no-repeat left center;
}

.leftLi.leftLi9 .leftP {
	background: url(../img/icon/yijianfankui.png) no-repeat left center;
}

.leftLi.leftLi10 .leftP {
	background: url(../img/icon/wodebiji.png) no-repeat left center;
}

.leftLi.leftLiOrder .leftP {
	background: url(../img/icon/wodedingdan.png) no-repeat left center;
}

.leftLi.leftdoc {
	border-top: 1px solid #e9573f;
	margin: 50px 0;
}

.leftLi.leftdoc .leftP {
	background: url(../img/icon/medoc.png) no-repeat left center;
	font-size: 16px;
}

.leftLi.leftLi1 .leftA:hover .leftP, .leftLi.leftLi1 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/gerenziliao2.png) no-repeat left center !important;
}

.leftLi.leftLi2 .leftA:hover .leftP, .leftLi.leftLi2 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/white2.png) no-repeat left center !important;
}

.leftLi.leftLi3 .leftA:hover .leftP, .leftLi.leftLi3 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/white3.png) no-repeat left center !important;
}

.leftLi.leftLi4 .leftA:hover .leftP, .leftLi.leftLi4 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodexiaoxi2.png) no-repeat left center !important;
}

.leftLi.leftLi5 .leftA:hover .leftP, .leftLi.leftLi5 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodefabu2.png) no-repeat left center !important;
}

.leftLi.leftLi6 .leftA:hover .leftP, .leftLi.leftLi6 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodeshoucang2.png) no-repeat left center !important;
}

.leftLi.leftLi7 .leftA:hover .leftP, .leftLi.leftLi7 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodesucaiku2.png) no-repeat left center !important;
}

.leftLi.leftLi8 .leftA:hover .leftP, .leftLi.leftLi8 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wocanjiadehuodong2.png) no-repeat left center !important;
}

.leftLi.leftLi9 .leftA:hover .leftP, .leftLi.leftLi9 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/yijianfankui2.png) no-repeat left center !important;
}

.leftLi.leftLi10 .leftA:hover .leftP, .leftLi.leftLi10 .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodebiji2.png) no-repeat left center !important;
}

.leftLi.leftLiOrder .leftA:hover .leftP, .leftLi.leftLiOrder .leftA.active .leftP {
	color: #fff !important;
	background: url(../img/icon/wodedingdan2.png) no-repeat left center;
}

.leftA:hover , .bc, .leftLi.leftLi1 .leftA {
	background-color: #e9573f
}

.rightOutter {
	margin-left: 250px;
	padding: 20px;
}

.rightOutter .meTitleBox {
	width: 100%;
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/point.png) repeat-x center;
}

.rightOutter .meTitleBox .meTitle {
	display: inline-block;
	background: #fff url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/rhombus.png) no-repeat center left;
	font-size: 20px;
	text-indent: 20px;
	font-weight: 600;
	padding-right: 10px;
}

.rightOutter .orangeText {
	font-size: 14px;
	color: #e08a00;
	font-weight: 100;
	cursor: pointer;
}

.rightOutter .grayText {
	font-size: 12px;
	color: #999;
}

.rightOutter .basicInfo, .rightOutter .accountSafe {
	width: 100%;
	/*overflow: hidden;*/
	position: relative;
	padding: 20px;
}

.rightOutter .basicInfo .basicInfoLeft {
	width: 90px;
	float: left
}

.rightOutter .accountSafe .accountSafeLeft {
	width: 100px;
	float: left
}

.rightOutter .accountSafe .accountSafeLeft .changePwd {
	display: none;
}

.rightOutter .basicInfo .basicInfoLeft .orangeText {
	margin: 5px 0;
}

.rightOutter .basicInfo .basicInfoRight, .rightOutter .accountSafe .accountSafeRight {
	margin-left: 100px;
}

.rightOutter .basicInfo .infoRow {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 25px;
	/*overflow: hidden;*/
	min-height: 25px
}

.rightOutter .accountSafe .accountRow {
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 25px
}

.rightOutter .basicInfo .infoRow .infoRowTitle, .rightOutter .accountSafe .accountRow .accountRowTitle {
	color: #999;
	float: left;
	min-width: 80px
}

.rightOutter .accountSafe .accountRow .accountRowTitle {
	padding-left: 20px;
}

.rightOutter .accountSafe .accountRow .myPhone {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/myPhone.png) no-repeat 0 3px;
}

.rightOutter .accountSafe .accountRow .phoneText {
	padding-top: 1px;
}

.rightOutter .accountSafe .accountRow .pwdText {
	padding-top: 4px;
}

.rightOutter .basicInfo .infoRow .infoRowText {
	display: block;
	margin-left: 83px;
}

.rightOutter .accountSafe .accountRow .accountRowText {
	display: block;
	margin-left: 85px;
}

.rightOutter .basicInfo .infoRow .myCourse {
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/courseBack.png) repeat-x center left;
    color: #3e9aff;
    display: inline-block;
    line-height: 25px;
}

.rightOutter .basicInfo .infoRow .studentOutter {
    position: relative;
}

.rightOutter .basicInfo .infoRow .studentOutter .myCourse {
	cursor: pointer
}

.rightOutter .basicInfo .infoRow .studentOutter .studentBox {
	padding: 10px;
	background: #fff;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, .2);
	box-shadow:0 0 5px rgba(0, 0, 0, .2);
	width: 220px;
	font-size: 14px;
	min-height: 220px;
	position: absolute;
	right: 50px;
	top: 28px;
	display: none;
}

.rightOutter .basicInfo .infoRow .studentOutter .studentBox .studentAvatar {
	width: 80px;
	height: 80px;
	background: #f4f4f4;
	margin-bottom: 15px;
}

.rightOutter .basicInfo .infoRow .lh35 {
	line-height: 35px
}

.rightOutter .basicInfoAfter, .rightOutter .accountSafeAfter {
	display: none;
}

.rightOutter .basicInfoAfter .infoRow {
	overflow: hidden;
	margin-bottom: 5px;
}

.rightOutter .accountSafeAfter .accountRow {
	overflow: hidden;
	padding-left: 20px;
}

.rightOutter .accountSafeAfter .accountRowTitle, .rightOutter .basicInfoAfter .infoRow {
	color: #333;
	line-height: 35px;
	padding-left: 0 !important;
}

.rightOutter .accountSafeAfter .phoneNum {
	line-height: 25px;
}

.rightOutter .input-common {
	float: left;
	padding: 4px;
	font-size: 16px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	margin-right: 10px;
	line-height: 25px;
	width: 203px;
    outline: none;
}

.rightOutter .input-code {
	width: 100px;
}

.rightOutter .input-newPwd {
	position: relative;
	left: -2px;
}

.rightOutter .input-error {
	display: none;
	float: left;
	font-size: 12px;
	color: #e9573f;
	line-height: 35px
}

.rightOutter .input-btn {
	background:#e9573f;
	font-size: 16px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	color: #fff;
	display: inline-block;
	width: 90px;
	line-height: 25px;
	text-align: center;

}

.rightOutter .input-intro {
	width: 85%;
	resize: none;
	padding: 0 5px;
	outline: none;
}

.rightOutter .input-delete {
	cursor: pointer;
	margin-left: 5px;
	position: relative;
	top: -2px;
}

.rightOutter label {
	margin: 0 10px
}

.rightOutter .account-btn {
	margin-left: 110px;
}

.rightOutter .courseList {
	background: #f4f4f4;
	margin-left: 80px;
	width: 85%;
	padding: 10px 0 20px;
	display: none;
}

.rightOutter .courseList .courseBox, .rightOutter .courseList .gradeBox, .rightOutter .courseList .versionBox {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	overflow: hidden;
}

.rightOutter .courseList .buttonBox {
	text-align: center;
}

.rightOutter .courseList .buttonBox span {
	margin: 0 10px;
	cursor: pointer;
}

.rightOutter .courseList .versionBox {
	border: none;
}

.rightOutter .courseList .title {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	padding-left: 10px;
}

.rightOutter .courseList .main {
	margin-left: 40px;
	overflow: hidden;
}

.rightOutter .courseList .main span {
	display: inline-block;
	padding: 0 8px;
	line-height: 25px;
	font-size: 14px;
	cursor: pointer;
	float: left;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 2px
}

.rightOutter .courseList .main span.active, .rightOutter .courseList .main span.active:hover {
	background: #e9573f;
	color: #fff;
}

.rightOutter .courseList .main span:hover {
	background: #e0e0e0;
}

.rightOutter .courseList .studentInfo {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 20px 0;
}

.rightOutter .courseList .studentInfo label {
	width: 100px;
	text-align: right;
}

.rightOutter .courseList .studentInfo input {
	border: none;
	background: none;
	outline: none;
	padding: 0 8px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 400px;
	height: 30px;
	line-height: 30px;
	font-size: 14px
}

.rightOutter .courseList .studentInfo .input-error {
	display: block;
	float: inherit;
	line-height: 25px;
}

.rightOutter .addCourse, .rightOutter .addStudent {
	cursor: pointer
}

.rightOutter .infoRow.courseInfo, .rightOutter .infoRow.studentInfo {
	line-height: 0;
	margin-bottom: 10px;
}

.rightOutter .infoRow.courseInfo {
	min-height: 0
}

.rightOutter .saveInfo {
	display: block;
	margin-left: 85px;
}

#avatarSuccess {
	display: none;
}

.avatarOutter {
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -2;
    opacity: 0;
}

.avatarOutter.active {
	background: rgba(0,0,0,.3);
	z-index: 20161230;
	opacity: 1;
}

.avatarOutter .avatarInner {
	width: 900px;
	height: 580px;
	background: #fff;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width:1400px) and (min-width:0) {
	.leftWrapper {
		width: 200px;
	}

	.rightOutter {
		margin-left: 200px;
	}

	.leftP {
		margin-left: 20px;
		text-indent: 35px;
	}
}

@media (max-width:1000px) and (min-width: 851px) {
	.avatarOutter .avatarInner {
		width: 800px;
	}
}

@media (max-width: 850px) and (min-width:0) {
	.avatarOutter .avatarInner {
		width: 750px;
	}
}

.avatarOutter .avatarInner .avatarTop {
	line-height: 50px;
	width: 100%;
	color: #e9573f;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.avatarOutter .avatarInner .avatarTop .cameraImg {
	height: 26px;
	margin: 0 10px 0 30px;
}

.avatarClose {
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/avatarClose1.png) no-repeat center;
	background-size: cover;
	margin: 10px 10px 0 0;
}

.avatarClose:hover {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Me/avatarClose2.png) no-repeat center;
	background-size: cover;
}

.modal-body, .avatar-body, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	padding: 0 !important;
}

.avatar-form {
 	margin: 0 !important;
 	margin-left: 10px !important;
}

.avatar-btns {
	margin-top: 15px !important;
}

/*====【一】我的京版云====*/
.info {
	width: 500px;
	margin: 55px auto 0;
}

.infoStudent {
	width: 300px;
	margin: 55px auto 0;
}

.infoP {
	font-size: 16px;
	margin-bottom: 14px;
}

.infoP .col-md-4 {
/*	text-align: right;*/
}

.infoP span:nth-child(1) {
	color: #666
}

.infoP span:nth-child(2) {
	text-align: justify
}

.scoreBox {
	position: absolute;
	top: 20px;
	right: 20px;
}

.scoreBox .scoreImg {
	width: 40px;
	float: left;
}

.scoreBox .scoreNum {
	display: inline-block;
	line-height: 40px;
	font-size: 30px;
	color: #e48d08;
	margin-left: 10px;
}

.scoreBox .scoreContent {
	font-size: 20px;
	color: #555;
	font-family: "黑体";
	letter-spacing: 2px
}

.navListImg {
	width: 80px;
	height: 80px;
}
/*====【二】编辑个人资料====*/
.rightTitle {
	width: 15%;
	height: 72px;
	border-bottom: 4px solid #e9573f;
	font-size: 18px;
	text-align: center;
	padding-top: 40px;
	font-weight: 600
}

.m_title {
	text-align: right;
	padding-right: 20px !important;
	font-size: 18px;
}

.m_input {
	width: 265px;
	text-align: left !important;
}

.m_input input,
.m_input textarea,
.m_input select {
	background-color: #fff4f3;
	padding: 5px 10px;
	margin: 5px 0;
	border: none;
	width: 265px;
	font-size: 16px;
	resize: none;
}

.m_btn {
	background:#e9573f;
	font-size: 20px;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	color: #fff;
	display: block;
	margin: 50px auto 0;
}

/*================选择学校=======================*/
#bg {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity=70);
}

#show {
	display: none;
	position: fixed;
	top: 25%;
	left: 22%;
	width: 53%;
	height: 63%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.show_top {
	width: 100%;
	height: 80%;
	text-align: center;
}

.show_bottom {
	width: 100%;
	height: 20%;
}

.school_select {
	margin-right: 10px;
}

.school_select select {
	width: 50%;
	background-color: #E8E9F7;
	margin: 5px 0;
	display:inline-block;
}

#queding {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(../img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}

/*================选择学校=======================*/
.show_top {
	width: 100%;
	height: 80%;
	text-align: center;
	padding-top: 5%;
}

.show_bottom {
	width: 100%;
	height: 20%;
}

.school_select {
	margin-right: 10px;
}

.school_select select {
	width: 50%;
	background-color: #E8E9F7;
	margin: 5px 0;
	display:inline-block;
}

#queding {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(../img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}

#show_course {
	display: none;
	position: fixed;
	top: 25%;
	left: 22%;
	width: 53%;
	height: 55%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

#show_choice {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 400px;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.course_select {
	float: left;
	width: 50%;
	text-align: center;
}

.course_select select {
	width: 50%;
	background-color: #E8E9F7;
	margin: 5px 0;
	display:inline-block;
}

#course_sure {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(../img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}

.choice span {
	padding: 0 5px;
	cursor: pointer;
}

.choice_hide {
	text-align: center;
}

#choice_sure {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(../img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}

.btn_box {
	margin-bottom: 5px;
	text-align: left;
	padding-left: 30px;
}

.btn_box span {
	padding-right: 5px;
}

.close_btn {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.close_btn img {
	width: 20px;
}

/*====【三】修改/重置密码====*/
.warning {
	text-align: left;
	display: none;
}

#sendcodebutton {
	background-color: #3086c6;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	width: 93px;
	float: left;
	font-size: 14px;
	margin-right: 10px;
}

#pwdSuccess {
	overflow: hidden;
}

#pwdSuccess .container {
	display: none;
	width: 466px;
	height: 256px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
	background: url(../img/home/register.png) no-repeat center;
	background-size: 100% 100%;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-top: -128px;
	margin-left: -233px;
}

#pwdSuccess .cont {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.cont img {
	display: inline;
	width: 100px;
}

.cont span {
	font-size: 22px;
	color: #666;
	font-family: "微软雅黑";
}

.new_pwd {
	font-size: 22px;
	color: #666;
	font-family: "微软雅黑";
	text-align: center;
}

#spanText {
	display: block;
	color: red;
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
}

.time {
	font-size: 12px;
}

#pwdSuccess .login {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 35px;
	background: url(../img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 35px;
	text-decoration: none;
}

/*====【四】更换头像====*/
#xiuxiuEditor {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.rightWrapper {
	position: absolute;
	width: 100%;
}

#rightWrapper4 {
	left: -2000px;
}

.infoName {
	margin-bottom: 0;
}

.lineName {
	width: 200px;
	height: 2px;
	background: #e4cdd3;
	margin-bottom: 10px;
	margin-left: -10px
}

.ui-datepicker-trigger {
	width: 24px;
	height: 23px;
	display: inline;
	cursor: pointer;
	margin-left: 6px;
}

.dib{
	display: inline-block;
}
.dn{
	display: none
}
.color999{
	color: #999
}
.fz14{
	font-size: 14px
}

.requiredStar {
	font-size: 16px;
	color: #e9573f;
	float: left;
	padding-right: 5px;
	position: relative;
	top: 4px;
}

.requiredStar.addStar {
	float: none;
	top: 5px;
}

.myClass {
	padding-right: 20px;
}

.myClass.xjClass {
	padding-right: 0;
}

.myClass.xjClass img {
	position: relative;
	top: -18px;
	right: 2px;
}
