
    .list_title {
/*        line-height: 189px;*/
        font-size: 18px;
    }

    .list_title a {
        color: #744632 !important;
        width: 195px;
		    height: 140px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    		line-height: 160px;
    		text-align: center;
    }
    #datepicker {
        height: 31px;
        width: 218px;
        border-radius: 14px;
        text-indent: 16px;
        margin: 0;
        display: inline-block;
        border: 1px solid #b9b9b9;
        border-radius: 20px;
        background: #f4f4f4;
/*        display: none;*/
		margin-right:5px
    }

    .ui-datepicker-trigger {
        width: 25px;
        height: 25px;
        display: inline;
        cursor: pointer;
        margin: auto 0;
    }

    .search_btn {
        float:right;
        width: 80px;
        height: 31px;
        border: none;
       background: #3087c7;
    	color: #fff;

        border-radius: 20px;
        outline: none;
    }
    .secrch_right{
      border-bottom: 5px solid #ededed
    }
    .resource_middle:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .search_text {
        width: 220px;
        text-indent: 15px;
        border-radius: 20px;
        border: none;
        background: none;
        outline: none;
        height: 31px;
    }

    .search {
        display: inline-block;
        line-height: 31px;
        border: 1px solid #999;
        border-radius: 20px;
        background: #f4f4f4;
        margin-left: 2%
    }

    .datalist {
        width: 256px;
        height: 250px;
        margin: 30px auto;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    .datalist_t {
        vertical-align: middle;
        font-size: 16px;
        margin-top: 24px;
        color: #744632
    }

    .datalist_t a {
        color: #744632;
        float: right;

        padding: 1px 6px;
        margin-top: -3px;
        text-decoration: none;
          border: 1px solid #744632 !important;
          margin-right: 10px;
          border-radius: 3px
    }
    .of{
      overflow: hidden;
    }
    .h45{
      height: 45px
    }
    .del_button {
        float: right;
        background: none;
        border: none;
        outline: none;
        position: relative;
        top:8px;
        right:5px
    }

    .row {
        margin: 0
    }

    .datalist_t button:hover {
        background: #04c9a8;
        color: #fff;
    }

    .datalist_t a:hover {
        background: #744632 !important;;
        color: #fff;
    }
.ui-datepicker { z-index:9999 !important}
ul, li {
    list-style: none;
}
.resource_classify {
width: 200px;
	line-height: 20px;
    border-bottom: 5px solid #ededed;
	float: left;

	position: relative;
	text-align: center;
}

.classify_p {
    display: inline-block;
	   padding: 0 20px;
    height: 100%;
    height: 40px;
	   margin: 0;
     text-align: top
}

.classify_ul {
	overflow: hidden;
	margin-bottom: 0;
	width: 100%;
	position: absolute;
	top:45px;
	z-index: 1;
	text-align: left;
	border: 3px solid #04c9a8;
	border-top: none;
	padding: 20px 0 ;
	background: #fff;
	display: none;
}

.classify_ul li {
float: left;
margin: 0 3px 2px 10px;
cursor: pointer;
	min-width: 49px;
}
.current_selected,.current_selected1 {
    color: red;
}

	.resource_border {
		width: 100%;
		height: 5px;
		background: #ededed;
	}
	  .class_img {
	    padding: 0 7px;
    background: url(../img/home/descending.png) no-repeat;
    background-size: 10px;
    background-position: 2px;
    margin-left: -16px;
}
	.resource_classify span{
	font-size: 12px
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 200%
}
.db{
  display: block;
}
.dib{
  display: inline-block;
}
.creat_LP{
  background: url(../img/myLessonPlannings/chuangjianjiaoan1.png);
  height: 100%
}
.creat_LP:hover{
    background: url(../img/myLessonPlannings/chuangjianjiaoan2.png);
}
.left{
  float: left;
}
.secrch_right .img_div{
  float: right;
  width: 80px;
  text-align: center;
  height: 80px;

  line-height: 80px;
}
.secrch_right .img_div:hover{
  width: 80px;
  height: 80px;
  background-color: #F4F4F4;
}
.p_border{
  border-bottom: 3px solid #30b753;
}
#contentWrapper{
  padding-top: 0;
  overflow: hidden
}
.secrch_left{
  margin-top: 30px
}
.secrch_right .img_div img{
  cursor: pointer;
}
.searchDiv{
  background-color: #f4f4f4;
  height: 85px;
}
.m22{
  margin: 22px
}
.m29{
  margin: 29px
}
.right{
  float: right;
}
.w900{
  width: 900px;
  margin-top: 26px
}
.timeOutter .startLabel {
    float: left;
    width: 23px;
    height: 25px;
    background: url(/Public/img/myLessonPlannings/kaishishijian.png) no-repeat center;
    background-size: 100% 100%;
}
.timeOutter {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 670px
}
.timeOutter .startBox, .timeOutter .endBox {
    overflow: hidden;
}
.timeOutter .timeInput,.search_text {
    width: 150px;
    line-height: 25px;
    margin: 0 15px 0 5px;
    float: left;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    text-indent: 5px;
    border-radius: 0px;
    height: auto;
}
.timeOutter .endLabel {
    float: left;
    width: 23px;
    height: 25px;
    background: url(/Public/img/myLessonPlannings/zhongzhishijian.png) no-repeat center;
    background-size: 100% 100%;
}
.timeOutter .shu{
  float: left;
  width: 23px;
  height: 25px;
  background: url(/Public/img/myLessonPlannings/qingshurujiaoanmingcheng.png) no-repeat center;
  background-size: 100% 100%;
}
.laydate_body .laydate_bottom, .laydate_body .laydate_top, .laydate_body .laydate_ym .laydate_yms {
    box-sizing: content-box;
}
.seachText{
    float: right;
    margin-top: 30px;
    padding: 1px 10px;
    border: 1px solid #30b753;
    border-radius: 5px;
}
.seachText a{
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top:2px;
  background: url(/Public/img/myLessonPlannings/green.png) no-repeat center;
}
.seachText a:hover{
    background: url(/Public/img/myLessonPlannings/red.png) no-repeat center;
}
.emptyResult{
  position: absolute;
  width: 100%;
}
