#datepicker {
	height: 31px;
	width: 218px;
	border-radius: 14px;
	text-indent: 16px;
	margin: 0;
	display: inline-block;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
	background: #f4f4f4;
	margin-right:5px
}

.ui-datepicker-trigger {
	width: 25px;
	height: 25px;
	display: inline;
	cursor: pointer;
	margin: auto 0;
}

.btnChoice {
	clear: both;
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
}

.btn-padding {
	padding: 3px 12px;
	margin-right: 10px
}

.btn-red {
	background-color: #fff;
	border: 1px solid #e9573f;
	color: #333
}

.btn-select {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color: #fff;
    border: 1px solid #e9573f;
	outline: none;
}

.messageTitle {
	border-bottom: 2px solid #ccc;
	padding: 10px 5px;
	overflow: hidden;
}

.messageUl {
/*	width: 80%;*/
	margin: 0 auto;
	
}

.messageUl li {
	padding: 0 10px;
	line-height: 40px;
	overflow: hidden;
}

.messageUl li:hover {
	background-color: #f3f3f3
}

.mesCheckbox {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-top: 10px !important;
}

.mesA {
	width: 95%;
	display: inline-block;
	margin: 0;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
	border-bottom: 1px solid #eee;
	margin-left: 10px;
	color: #333;
	text-decoration: none
}

.mesA:hover {
	color: #333;
	text-decoration: none
}
.btn-red:hover{
	background: #e9573f !important
}
.mesABold {
	font-weight: bold;
	color: #000
}

.messageUl li:last-child .mesA{
	border: none;
}

.btn-primary {
	color: #333;
	font-weight: 600
}

.btn-red {
    border-radius: 6px;
}