ul, li {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.time-length {
	background: url(/Public/img/icon/timebk.gif) repeat-y 63px 0;
	-webkit-background-size: 5px;
	background-size: 5px;
	position: relative;
}

.timedot {
	position: absolute;
	top: 0;
	left: 43px;
	bottom: 0;
	margin: 0 auto;
	vertical-align: middle
}

.timedot img {
	width: 50px;
}

.introduced {
	margin-left: 200px;
	/*        border: 1px solid #cacaca;*/
	/*        width: 70%;*/
	/*        background: #f4f4f4;*/
	/*        overflow: hidden;*/
	vertical-align: middle;
	border-radius: 10px;
	padding-bottom: 20px
}

.introduced a {
/*
	color: #333;
	line-height: 60px;
	font-size: 20px
*/
}

#looknum {
	font-size: 16px;
	/*        text-align: right*/
}

.contnei {
	padding: 0 17px;
	font-size: 14px;
	text-indent: 28px;
	word-wrap: break-word;
	overflow: hidden
}

.ctrl_box {
	display: inline-block;
	overflow: hidden;
	/*        line-height: 60px*/
}

#btnZan,
#btnFavor {
	/*        margin: 10px 17px 0 0;*/
	height: 20px;
}

.ctrl_box span {}

.publish {
	background: #fff url(/Public/img/icon/plane_black.png) no-repeat 5px center;
	background-size: 20px 20px;
	text-indent: 30px;
	color: #333;
}

.introduced {
	margin-top: 30px
}

.myintroduced {
/*	height: 321px;*/
/*	width: 321px;*/
	width: 274px;
	height: 274px;
	background-size: 100% 100%;
	margin: 0 auto;
	text-align: center
}

.resource_masking {
	display: none;
/*	width: 321px;*/
/*	height: 317px;*/
	width: 274px;
	height: 274px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 15px;
}

.works_masking {
	display: none;
/*	width: 321px;*/
/*	height: 317px;*/
	width: 248px;
	height: 234px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.myintroduced:hover .resource_masking {
	display: block;
}

.works_box:hover .works_masking {
	display: block;
}

.resource_img {
	margin-top: 40px;
/*	height: 191px;*/
	height: 150px;
	width: auto;
/*	max-width: 235px;*/
	max-width: 190px;
}

.resource_title {
	display:block; 
	width: 200px;
	font-size: 16px;
	line-height: 30px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
}

.resource_title:hover {
	color: #333;
}

.masking_top,.masking_bottom {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.masking_span {
	display: block;
	margin: 100px auto 10px;
	color: #fff;
	font-size: 20px;
	font-family: "微软雅黑";
}

.masking_bottom .masking_a {
	display: inline-block;
	margin: 20px 5px;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
}

.masking_bottom .masking_btn {
	display: inline-block;
	margin: 20px 5px;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
	background: none;
	border: none;
}

.resource_p {
	margin: 0;
	padding: 0 10px;
	text-align: left;
	font-size: 12px;
	line-height: 22px
}

.resource_p img {
	position: relative;
	top: -2px;
}

/*===我收藏的活动作品===*/
.works_box {
	width: 248px;
	height: 234px;
	background: url(/Public/img/activity/worksBox.png) no-repeat center;
	overflow: hidden;
	position: relative
}

.works_title {
	display: block;
	width: 195px;
	height: 75px;
	margin: 57px auto 35px;
	color: #fff !important;
	overflow: hidden;
	line-height: 25px;
	font-size: 16px;
}

.works_box .activities_p {
	padding: 0 15px;
	text-align: center
}

.boxShadow {
	-webkit-box-shadow: 0 0 40px #ccc;
    -moz-box-shadow: 0 0 40px #ccc;
    box-shadow: 0 0 40px #ccc;
	width: 248px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 40px
}

.actName {
	display: block;
	width: 248px;
	background: #fff;
	height: 40px;
	overflow: hidden;
	color: #36d7b6 !important;
	text-align: left;
	text-decoration: none !important;
	position: absolute !important;
	z-index: 2;
}

.actName span {
	display: block;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 30px;
}

.actName:hover {
	background: #36d7b6;
	color: #fff !important;
}

.workType { 
	position: absolute;
	top: -11px;
	right: 0;
}

.introBox {
	min-width: 280px;
	margin-bottom: 30px
}

.resource_p {
	overflow: hidden;
}

.pubResBox {
	padding-bottom: 40px;
}