* {
	word-break: break-all;
}

.left {
	float: left;
}

.right {
	float: right;
}

.of {
	overflow: hidden;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.newActivity_main {
	width: 100%;
	font-family: "微软雅黑" !important;
}

.newActivity_top {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.selectType {
	display: inline-block;
	margin-right: 20px;
	overflow: hidden;
}

.selectType img {
	height: 28px;
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.selectType select {
	width: 200px;
	height: 32px;
	border: none;
	outline: none;
	background: #ed7864;
	color: #fff;
	border-radius: 3px;
	padding-left: 5px;
}

.search {
	width: 500px;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
	display: inline-block;
	overflow: hidden;
}

.search select {
	width: 130px;
	padding-left: 13px;
	height: 30px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #b9b9b9;
	outline: none;
	background: #bee2f3;
	box-sizing: border-box;
	float: left;
}

.search_btn {
	float: right;
	width: 70px;
	height: 30px;
	border: none;
	background: #2899f7;
	border-radius: 20px;
	color: #fff;
	outline: none;
}

.search_text {
	text-indent: 15px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
	width: 290px;
}

.newActivity_con {
	width: 1225px;
	margin: 0 auto;
	overflow: hidden;
}

.newActivity_left {
	width: 940px;
	float: left;
}

.newActivity_right {
	width: 280px;
	float: right;
	background: #f4f4f4;
}

.newActBox {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.newActBoxGray {
	background: #f4f4f4;
}

.newActBox_name {
	background: url(../img/resource/xuxian.png) repeat-x;
	background-size: 8px;
	overflow: hidden;
	background-position: 0 13px;
	margin: 10px 10px 0 10px;
}

.newActBox_left,
.newActBox_right {
	width: 100px;
	float: left;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-indent: 20px;
	background: #fff url(../img/activity/biaotou.png) no-repeat;
	background-position: 5px
}

.newActBox_right {
	float: right;
	background: #fff url(../img/activity/gengduo.png) no-repeat;
	background-position: 9px;
	font-size: 16px;
}

.newActBox_right a,
.newActBox_right a:hover,
.newActBox_right a:focus {
	color: #333;
}

.newActBoxGray .newActBox_left {
	background: #f4f4f4 url(../img/activity/biaotou.png) no-repeat;
	background-position: 5px
}

.newActBoxGray .newActBox_right {
	background: #f4f4f4 url(../img/activity/gengduo.png) no-repeat;
	background-position: 9px;
	font-size: 16px;
}

.noGray .newActBox_name {
	background: none;
}

.newActBox_ul {
	/*	width: 100%;*/
	overflow: hidden;
	padding: 0 15px;
}

.newActBox_ul:hover {
	background: #fff
}

.newActBoxGray .newActBox_ul:hover {
	background: #f4f4f4
}

.newActBox_ul .newActBox_li {
	float: left;
	width: 33.33%;
/*	width: 263px;*/
/*	height: 298px;*/
/*	border: 1px solid #ccc;*/
/*	margin: 0 20px;*/
}

.carousel {
	height: 340px;
}

.carousel-control {
	width: 36px;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	filter: none
}

.carousel-indicators {
	display: none;
}

.carousel-indicators li {
	background: #999;
}

.carousel-indicators .active {
	background: #30b753;
}

.newActBox_li a {
	display: block;
	width: 263px;
	height: 298px;
	padding: 8px;
	color: #333;
	border: 1px solid #ccc;
	margin: 20px auto;
	background: #fff;
	position: relative;
}

.newActBox_li a:hover,
.newActBox_li a:focus {
	text-decoration: none;
	color: #333;
}

.newActBox_li .actLi_top {
	width: 245px;
	height: 165px;
	position: relative;
}

.newActBox_ul .newActBox_li_one {
	width: 100%;
}

.newActBox_li_one a {
	display: block;
	width: 700px;
	width: 95%;
	height: 395px;
	color: #fff;
	margin: 0 auto;
	background: #fff;
	position: relative;
}

.newActBox_li_one .actLi_main_one {
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,.3);
	bottom: 0;
	padding: 5px 10px;
}

.newActBox_li_one .actLiType {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto;
}

.newActBox_li_one .actLi_title_one, .newActBox_li_one .actLi_text_one {
	width: 500px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 70px;
}

.newActBox_li_one .actLi_title_one {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.newActBox_ul .newActBox_li_two {
	float: left;
	width: 50%;
}

.newActBox_li_two a {
	display: block;
	width: 410px;
	/*height: 320px;*/
	height: 300px;
	padding: 8px;
	color: #333;
	border: 1px solid #ccc;
	margin: 20px auto;
	background: #fff;
	position: relative;
}

.newActBox_li_two a:hover,
.newActBox_li_two a:focus {
	text-decoration: none;
	color: #333;
}

.newActBox_li_two .actLi_top {
	width: 392px;
	/*height: 200px;*/
	height: 180px;
	position: relative;
}

.newActBox_li_two .actLi_title {
	line-height: 30px;
    height: auto;
    text-align: center;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.smallCircle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.actLi_title {
	font-size: 16px;
	font-weight: 600;
	height: 50px;
	margin: 10px 0;
	overflow: hidden;
}

.actLi_title p {
	margin: 0;
	line-height: 25px;
}

.actLi_main {
	height: 50px;
	overflow: hidden;
}

.actLi_main p {
	margin: 0;
	line-height: 25px;
}

.actLi_object,
.actLi_time {
	line-height: 25px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actLi_time {
	
}

.actLi_rule {
	height: 25px;
	overflow: hidden;
	line-height: 25px;
}

.actLi_rule p {
	margin: 0;
	line-height: 25px;
}

.hisory_ul {
	/*	width: 100%;*/
	overflow: hidden;
	padding: 20px 15px 0;
}

.hisory_ul .hisory_li {
	float: left;
	width: 263px;
	height: 226px;
	border: 1px solid #ccc;
	margin: 0 20px 20px;
	background: #fff;
}

.hisory_li .actLi_top {
	width: 245px;
	height: 165px;
	position: relative;
}

.hisory_li .history_box {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	color: #333;
}

.hisory_li a:hover,
.hisory_li a:focus {
	text-decoration: none;
	color: #333;
}

.history_title {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
	margin-top: 10px;
	color: #333;
}

.actRightTitle {
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 5px;
	text-align: center;
	font-weight: 600;
	background: #ed7864 url(../img/activity/column.png) no-repeat 10px center;
	padding-top: 10px;
}

.actRightMain {
	border: 1px solid #e8e8e8;
	border-top: none;
}

.columnBox {
	padding-top: 20px;
	border-top: 1px dashed #959595;
}

.columnBox:hover {
	background: #fff;
}

.columnBox:nth-child(1) {
	border-top: none;
}

.columnBoxTop {
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	padding: 0 10px;
}

.newActivity_right .columnLi {
	background: none !important;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}

.newActivity_right .columnLi a {
	display: block;
/*	width: 98%;*/
	width: 100%;
	line-height: 35px;
	font-size: 14px;
	border-top: 1px solid #e8e8e8;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	text-decoration: none;
	text-indent: 35px;
}

.newActivity_right .columnLi:nth-child(1) a {
	border-top: none;
}

.newActivity_right .columnLi a:hover,
.newActivity_right .columnLi a:focus {
	text-decoration: none;
}

.newActivity_right .columnLi.voteLi a {
	background: url(../img/activity/voteColor.png) no-repeat 10px center;
}

.newActivity_right .columnLi.voteLi a:hover {
	color: #fff;
	background: #ef8a76 url(../img/activity/voteWhite.png) no-repeat 10px center;
}

.newActivity_right .columnLi.infoLi a {
	background: url(../img/activity/infoColor.png) no-repeat 10px center;
}

.newActivity_right .columnLi.infoLi a:hover {
	color: #fff;
	background: #ef8a76 url(../img/activity/infoWhite.png) no-repeat 10px center;
}

.newActivity_right .columnLi.applyLi a {
	background: url(../img/activity/applyColor.png) no-repeat 10px center;
}

.newActivity_right .columnLi.applyLi a:hover {
	color: #fff;
	background: #ef8a76 url(../img/activity/applyWhite.png) no-repeat 10px center;
}

.columnMore {
	line-height: 35px;
	text-align: right;
	padding: 0 10px
}

.columnMore a {
	display: inline-block;
	width: 60px;
	background: url(../img/activity/gengduo.png) no-repeat left center;
	color: #333
}


/*搜索结果*/

.activitySearch_top {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #f5f5f5;
	position: relative;
}

.activitySearch_top .search {
	margin: 10px 0;
}

.filter {
	border: 1px solid #ef806d;
	position: absolute;
	left: 0;
/*	top: 3px;*/
	top: 104px;
	width: 200px;
	line-height: 50px;
	background: #fff;
	text-align: left;
}

.filter .filterTop {
	background: url(../img/activity/filter.png) no-repeat 15px center;
	text-indent: 40px;
	font-size: 18px;
	font-weight: 600;
}

.filter .filterLi {
	text-indent: 70px;
	font-size: 16px;
	cursor: pointer;
}

.filter .filterLi:nth-child(1) {
	background: url(../img/activity/eventColor.png) no-repeat 40px center;
}

.filter .filterLi:nth-child(1):hover,
.filter .filterLi:nth-child(1).active {
	color: #fff;
	background: #f08b79 url(../img/activity/eventWhite.png) no-repeat 40px center;
}

.filter .filterLi:nth-child(2) {
	background: url(../img/activity/trainColor.png) no-repeat 40px center;
}

.filter .filterLi:nth-child(2):hover,
.filter .filterLi:nth-child(2).active {
	color: #fff;
	background: #f08b79 url(../img/activity/trainWhite.png) no-repeat 40px center;
}

.searchText {
	color: #a7a5a6;
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: -30px;
}

.searchMoreText {
	color: #a7a5a6;
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: -30px;
}

.activitySearch_con {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.searchUl {
	width: 98%;
	margin: 50px auto 0;
}

.searchUl.seUl {
	width: -moz-calc(100% - 230px);
	width: -webkit-calc(100% - 230px);
	width: calc(100% - 230px);
	float: right;
}

.searchLi {
	width: 100%;
	height: 112px;
	border: 1px solid #eee;
	font-family: "微软雅黑";
	text-align: left;
	margin-bottom: 10px;
}

.searchLi .imgBox {
	width: 100px;
	height: 100px;
	margin: 5px;
}

.searchLi .textBox {
	margin: 0 30px;
/*	width: 320px;*/
	width: -moz-calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
	width: calc(100% - 300px);
}

.searchLi .textBox .textA {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	line-height: 50px;
}

.searchLi .textBox .textA:hover {
	color: #333;
	text-decoration: none;
}

.searchLi .textBox .textObject,
.searchLi .textBox .textTime {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 25px;
}

.searchLi .rightBox {
	float: right;
	width: 110px;
	height: 110px;
}

.searchLi .rightBox a {
	display: block;
	width: 100%;
	height: 100%;
	background: #eee;
	text-align: center;
	color: #e9573e;
	font-size: 16px;
	line-height: 25px;
	padding: 30px 10px
}

.searchLi .rightBox a:hover {
	text-decoration: none;
	background: #e9573e;
	color: #fff;
}

@media screen and (max-width: 920px) and (min-width: 650px) {
	.filter {
		top: 54px;
	}

	.searchUl.seUl {
		width: 100%;
		margin: 170px auto 0;
	}
}

@media screen and (max-width: 649px) and (min-width: 0) {
	.filter {
		top: 54px;
	}

	.searchUl.seUl {
		width: 100%;
		margin: 170px auto 0;
	}

	body {
		min-width: 650px;
		overflow-x: scroll
	}
}

.Pagination a:hover,
.current {
	background: #e8583d !important;
	border: #e8583d !important;
}


/*个人中心*/

.active_right {
	background: #f4f4f4 url(../img/activity/gengduo.png) no-repeat;
	background-position: 9px;
	font-size: 18px;
	font-weight: 600;
	line-height: 55px;
	text-indent: 20px;
}

.resource_a {
	color: #333
}

.newActBoxGray .activity_o,
.me_div2 .activity_t {
	background: #f4f4f4 url(../img/activity/saishi.png) no-repeat;
	text-indent: 50px;
	line-height: 50px;
	background-position: 5px 0;
}

.me_div2 .activity_t {
	background: #fff url(../img/activity/peixun.png) no-repeat 0 5px;
}

.me_div1,
.me_div2 {
	padding: 10px 0 30px;
	margin: 10px 0
}

.me_div2 .active_right {
	background-color: #fff
}

.me_div1 .newActBox_name,
.me_div2 .newActBox_name {
	background-position: 0 27px
}

.match ul {
	padding: 0 15px 0;
}
.row{
	margin: 0 !important;
}
.match_ul .match_li {
	margin: 10px auto;
	width: 263px;
	height: 226px;
	border: 1px solid #ccc;
}

.match_li .actLi_top {
	width: 245px;
	height: 165px;
	position: relative;
}

.match_li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	color: #333;
	background: #fff
}

#contentWrapper {
	overflow-x: inherit;
}

.me_search{
	width: 400px;
}

.me_search form{
	margin: 0 !important
}
.bgnone{
	background: none;
}
.pdtnone{
	padding-top: 0;
}

/*更多页面*/

.hisText {
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	font-family: "微软雅黑";
	color: #333;
	text-indent: 50px;
	background: url(../img/activity/biaotou.png) no-repeat 40px center;
	margin-top: 10px;
}


/*专栏列表页*/

.newColumnList {
	overflow: hidden;
}

.newColumnLeft {
	width: 275px;
	float: left;
}

.newColumnLeft .columnImg {
	width: 255px;
	height: 170px;
	margin: 30px 10px 0;
}

.newColumnLeft .columnTitle {
	font-size: 16px;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid #fbfbfb;
}

.bdsharebuttonbox {
	padding: 15px;
	width: 275px;
}

.bdsharebuttonbox span.left {
	line-height: 44px;
	font-size: 14px;
	margin-right: 13px;
}

.bdshare-button-style0-32 a {
	margin-right: 10px;
	width: 36px;
	height: 36px;
}

.bdshare-button-style0-32 .bds_tsina {
	background-image: url(../img/activity/tsina.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-32 .bds_weixin {
	background-image: url(../img/activity/weixin.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-32 .bds_sqq {
	background-image: url(../img/activity/sqq.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-32 .bds_qzone {
	background-image: url(../img/activity/qzone.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-16 a {
	margin-right: 10px;
	width: 36px;
	height: 36px;
}

.bdshare-button-style0-16 .bds_tsina {
	background-image: url(../img/activity/tsina.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-16 .bds_weixin {
	background-image: url(../img/activity/weixin.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-16 .bds_sqq {
	background-image: url(../img/activity/sqq.png);
	background-size: cover;
	background-position: inherit;
}

.bdshare-button-style0-16 .bds_qzone {
	background-image: url(../img/activity/qzone.png);
	background-size: cover;
	background-position: inherit;
}

.bd_weixin_popup {
	box-sizing: content-box
}

.newColumnRight {
	width: -moz-calc(100% - 275px);
	width: -webkit-calc(100% - 275px);
	width: calc(100% - 275px);
	float: left;
	padding: 30px 15px;
	min-height: 700px;
	border-left: 2px solid #f6f6f6;
}

.columnUl {
	width: 100%;
}

.columnUl .columnLi {
	width: 100%;
	background: #f2f2f2;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 10px
}

.columnLi .colLiTitle {
	width: 100%;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #d5d5d5;
}

.columnLi .colLiTitle div.title {
	width: -moz-calc(100% - 220px);
	width: -webkit-calc(100% - 220px);
	width: calc(100% - 220px);
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
}

.columnLi .colLiTitle p.right {
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.columnLi .colLiMain {
	width: 100%;
	padding: 20px 80px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.columnLi .colLiA {
	width: 100%;
	text-align: right;
/*	line-height: 0;*/
}

.columnLi .colLiA a {
	display: inline;
	color: #1b9eba;
	margin-right: 20px;
}

.columnLi .colLiA a:hover {
	text-decoration: underline;
}

/*投票页*/
.newVote {
	width: 100%;
	overflow: hidden;
}

.newVoteTop {
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	background: #f2f2f2 url(../img/activity/voteBack.png) no-repeat left bottom;
	position: relative;
}

.newVoteTop .voteTitle {
	width: -moz-calc(100% - 550px);
	width: -webkit-calc(100% - 550px);
	width: calc(100% - 550px);
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding-top: 30px;
}

.newVoteMain {
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 2px dashed #ccc;
}

.voteText {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 30px 0;
}

.newVoteMain .voteRuleMain {
	line-height: 30px;
	font-size: 16px;
}

.newVoteUl	{
	width: 100%;
}

.newVoteLi {
	width: 100%;
	border: 1px solid #d6d6d6;
	margin-bottom: 20px;
	padding: 10px;
	min-height: 210px;
	overflow: hidden;
	position: relative;
}
.ranking{
	position: absolute;
	right: 0;
	top:10px;
	background: url(../img/activity/paiming.png) no-repeat;
	width: 74px;
	line-height: 28px;
	background-size: 100% 100%;
	color: #fff;
	font-size: 16px
}
.vote_span{
	color: #db4f4e;
	position: relative;
	top:-10px
}
.newVoteLi:hover {
	border: 1px solid #ed7864;
}

.newVoteLi .voteImg {
	width: 245px;
	height: 190px;
	float: left;
}

.newVoteLi .voteImg .voteBox {
	display: inline-block;
	background: #fff;
	padding: 0 5px 5px 0;
}

.newVoteLi .voteImg .voteBox .pollBox {
	font-size: 12px;
}

.newVoteLi .voteImg .voteBox .pollBox .poll1 {
	color: #ea7a64;
}

.newVoteLi .voteImg .voteBox .nameBox {
	font-size: 14px;
}

.newVoteLi .voteImg .voteBox .nameBox .name1 {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	font-size: 12px;
}

.newVoteLi .voteImg .voteBox .nameBox .name2 {
	position: relative;
	top: 1px;
}

.voteMain {
	width: -moz-calc(100% - 265px);
	width: -webkit-calc(100% - 265px);
	width: calc(100% - 265px);
	float: right;
}

.voteMain .voteBtn {
	border: none;
	background: none;
	outline: none;
	padding: 8px 10px;
	background: #db4f4e;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
}

.voteMain .voteBtn:disabled {
	background: #ccc;
}

.voteMain .voteDepict {
	background: #eee;
	padding: 10px;
	margin-top: 30px;
	position: relative;
}

.voteMain .voteDepict .voteDepTitle {
	font-size: 16px;
	padding-left: 38px;
        font-weight: 600;
}

.voteMain .voteDepict .voteDepMain {
	margin: 10px;
	height: 60px;
	overflow: hidden;
}

.voteMain .voteDepict .voteDepMain .mainCon {
	text-indent: 28px;
	text-align: justify;
}

.voteMain .voteDepict .foldImg {
	position: absolute;
	right: 5px;
	bottom: 0;
	cursor: pointer;
	padding: 10px;
}
.w380{
	 width: 380px
}
.fullscrDiv {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
	background: rgba(0,0,0,.3);
}
.fullscrDiv img{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.raking_top {
    position: absolute;
    right: 0;
    top: 10px;
    right: 10px;
		z-index: 2
}
.pollBox{
		position: absolute;
		right: 0;
		top:14px;
    right: 80px;
		z-index: 2
}
.pollBox .poll1 {
	color: #ea7a64;
}



.blackLive {
	display: none;
	position: absolute;	
	background: rgba(0,0,0,.3) url(../img/activity/bofang.png) no-repeat center;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.liveBtn {
	position: absolute;
	right: 0;
	top: 0;
    width: 50px;
    line-height: 22px;
    text-align: center;
	font-size: 14px;
	color: #999;
	background: #fff;
	z-index: 6
}

.liveBtn.active {
	color: #e9573f;
} 
