* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: scroll;
}

p {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

ul, li {
	list-style: none;
}

.orderMain {
	padding: 0 20px;
	font-size: 16px;
	font-family: "微软雅黑"
}

#checkAll {
	/*display: inline-block;*/
	width: 16px;
	height: 16px;
	/*position: relative;*/
	/*top: 2px;*/
	float: left;
	margin-right: 2px;
}

.checkLabel {
	font-weight: 100;
	font-size: 16px;
	margin-right: 15px;
	float: left
}

button.payMerge, button.deleteBatch {
	background: none;
	border: none;
	outline: none;
	border: 1px solid #b1b1b1;
	font-size: 14px;
	padding: 2px 15px;
	margin-right: 5px;
	border-radius: 5px;
}

button.payMerge:hover, button.deleteBatch:hover {
	background: #e9573f;
	border: 1px solid #e9573f;
	color: #fff;
}

.orderUl {
	width: 100%;
	padding: 0;
	margin-top: 20px;
}

.orderUl .orderLi {
	width: 100%;
	margin-bottom: 30px;
}

.orderLi .orderCon {
	width: 100%;
	height: 180px;
/*
	background: url(/Public/img/sinology/border1.png) top left repeat-x,
				url(/Public/img/sinology/border1.png) bottom left repeat-x,
				url(/Public/img/sinology/border2.png) top left repeat-y,
				url(/Public/img/sinology/border2.png) top right repeat-y;
*/

	border: 1px solid #b1b1b1;
	position: relative;
	padding: 7px
}

.orderLi .orderCon:hover {
	border: 2px solid #32b653;
	padding: 6px
}
.orderLi .bordernone:hover {
	padding: 7px;
	border: 1px solid #b1b1b1;
}
.orderLi .orderCon.active {
	border: 2px solid #32b653;
	padding: 6px
}

.orderLi .orderCon .conTop {
	margin: 0 10px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	padding: 0 20px;
}

.orderLi .orderCon .conTop span {
	display: inline-block;
}

.orderCon .conTop .conNum {
	margin-left: 20px;
}

.orderCon .conTop .conPrice {
	float: right;
	color: #32b653
}

.orderCon .conTop .conPrice img {
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.conMain {
	padding: 10px;
	width: 100%;
	height: 125px;
	position: relative;
}

.conMain .checkOne {
	display: none;
}

.conMain .checkImg {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 25px;
	left: 0
}
#contentWrapper{
	padding-bottom: 30px
}
.conMain .imgOutter {
	width: 105px;
	height: 105px;
	position: relative;
	margin-left: 40px;
	margin-right: 20px;
	float: left;
}

.conMain .imgOutter .imgInner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.conMain .divCon1, .conMain .divCon2, .conMain .divCon3, .conMain .divCon4 {
	float: left;
	height: 100%;
	display: inline-block;
	line-height: 25px
}

.conMain .divCon1 {
	width: 40%;
}

.conMain .divCon2 {
	width: 20%;
	text-align: center;
	position: relative;
	display: table;
}

.conMain .divCon3 {
	width: 20%;
	text-align: center;
	position: relative;
	display: table;
}

.conMain .divCon4 {
	width: 150px;
	position: relative;
	float: right;
}

.conMain .nameBox {
	height: 100%;
	margin-left: 160px;
	width: auto;
}

.conMain .nameBox .nameOutter {
	/*display: table;*/
	height: 100%;
}

.conMain .nameBox .nameOutter .nameInner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 105px	
}

.conMain .stateOutter {
	display: table-cell;
    vertical-align: middle;
}

.conMain .checkInner {
	color: #32b653;
	text-decoration: none;
	padding: 0 20px;
	background: url(/Public/img/sinology/fold.png) no-repeat center right;
}

.conMain .checkInner.active {
	color: #e9573f;
	background: url(/Public/img/sinology/unfold.png) no-repeat center right;
}

.conMain .orderOutter {
	display: table-cell;
    vertical-align: middle;
}

.conMain .orderOutter p {
	/*display: inline-block;*/
	cursor: pointer;
}

.conMain .payBtn {
	border: none;
	background: none;
	outline: none;
	height: 40px;
	line-height: 40px;
	width: 150px;
	border-radius: 5px;
	background: #e9573f;
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	text-align: center;
}

.conMain .payBtn:hover {
	color: #fff;
	text-decoration: none;
}

@media(max-width:951px) and (min-width: 0){
	body {
		width: 950px;
		overflow-x: auto
	}
}

.orderLi .orderState {
	width: 100%;
	background: #f4f4f4;
	padding: 10px 20px;
	display: none;
}

.orderState .orderTitle {
	color: #e9573f;
	margin-bottom: 10px;
}

.orderState .orderDetail {
	font-size: 14px;
	overflow: hidden;
	padding-left: 30px;
	background: url(/Public/img/sinology/orderDetail.png) no-repeat center left;
}

.orderState .orderDetail .orderDiv {
	width: 300px;
}

.orderState .orderLine {
	width: 5px;
	height: 70px;
	border-left: 2px solid #999;
	margin: 5px 0;
	margin-left: 8px;
}

.orderMain .filterBox {
	float: right;
	position: relative;
	z-index: 2;
	width: inherit;
}

.filterBox .filterBtn {
	float: right;
	color: #333;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
	padding-right: 20px;
	background: url(/Public/img/sinology/foldGray.png) no-repeat center right;
}

.filterBox .filterBtn:hover {
	color: #333;
	text-decoration: none;
}

.filterBox .filterBtn.active {
	background: url(/Public/img/sinology/unfoldGray.png) no-repeat center right;
}

.filterBox .filterOutter {
	border: 1px solid #c45543;
	width: 520px;
	height: 224px;
	border-radius: 5px;
	background: #fff;
	position: absolute;
	top: 40px;
	right: -20px;
	padding: 20px;
	display: none;
}

.filterBox .filterOutter .redCorner {
	position: absolute;
	right: 60px;
	top: -8px
}

.filterBox .filterOutter .filterInner {
	width: 450px;
	height: 100%;
	margin: 0 auto;
}

.filterBox .filterOutter .filterInner .inputBox {
	width: 100%;
	margin-bottom: 17px;
}

.filterBox .filterOutter .filterInner .inputBox label {
	font-weight: 100;
	width: 80px;
}

.filterBox .filterOutter .filterInner .inputBox input, .filterBox .filterOutter .filterInner .inputBox select {
	font-size: 14px;
	padding: 5px 10px;
}

.filterBox .filterOutter .filterInner .inputBox .filterInput1 {
	width: 360px;
}

.filterBox .filterOutter .filterInner .inputBox .filterInput2 {
	width: 172px;
}

.filterBox .filterOutter .filterInner .sureBtn {
	margin: 0 auto;
}
