.winningContent{
  background: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 30px;
}
.wrapper{
  padding-top: 0
}
.cff8a0c{
  color: #ff8a0c
}
.fz24{
  font-size: 24px
}
.relative{
  position: relative;
}
.top4{
  top: 4px
}
.text-center{
  text-align: center !important;
}
.composition{
  width: 97%;
  margin: 20px auto;
  background: #fff
}
.composition_top{
  height: 70px;
  background: url(../img/expertInfo/huojiangzuopin2.png) no-repeat;
  border-bottom:2px solid #e9573f
}
.dib{
  display: inline-block;
}
.composition_number{
  line-height: 64px;
  font-size: 36px;
  color: #e9573f;
  margin-left: 190px;
}
.text-indent2{
  text-indent: 2em;

}
.text-indent0{
    text-indent: 0 !important
}
.worksText{
  width: 97%;
  margin: 0 auto;
  background: url(../img/expertInfo/xian.png) repeat;
  font-size: 18px;
  line-height: 36px;
  color: #333;
  text-align: justify;
}
.composition_footer{
  background:#f9f6f1;
  width: 97%;
  margin: 0 auto;
}
.fz16{
  font-size: 16px;
  color: #333
}
.timePublisher, .hottitle {
    text-align: right;
    /* font-size: 20px; */
    color: #595757;
    padding-bottom: 0;
    line-height: 30px;
    border-bottom: 1px solid #faab01;
    overflow: hidden;
}
.timePublisher_left {
    display: inline-block;
    float: left;
    background-color: #faab01;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
}
.newContent li {
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    background: url(../img/expertInfo/yuandian.png) no-repeat 0 13px;
    padding: 5px
}

.newContent li .newsName {
    display: inline-block;
    text-indent: 1em;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0
}

.newContent li .newContentP {
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 0
}
.newContent li .newContentP img{
  position: relative;
  top: -2px;
}

.newContent li a {
    color: #333;
    display: block;
    height: 24px
}
.newContent li a:hover{
  color: #fc7f35 !important;
}
.newContent li:hover{
  background-color: #eee
}
