.pictureOutter {
	width: 100%;
	overflow: hidden;
    background: url(/Public/img/book/bookBack.png) no-repeat center;
    background-size: 100% 100%;
    background-position: bottom left;
}

.pictureOutter .pictureInner {
	width: 25%;
	float: left;
}

.picOutter {
	width: 250px;
	margin: 0 auto;
	overflow: hidden;
	padding: 50px 0 7px 0;
}

.picOutter .picBox {
	width: 180px;
	height: 180px;
	/*float: left;*/
	display: block;
	margin: 0 auto;
}

.picOutter .picBox img {
	width: 100%;
	height: 100%;
}

.picOutter .picBtnBox {
	float: left;
	display: none;
}

.picOutter .picBtnBox .picBtn {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 26px;
	border: 2px solid #30b753;
	border-left: none;
	box-sizing: border-box;
	color: #30b753;
	margin-bottom: 11px;
	text-align: center;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.picOutter .picBtnBox .picBtn:nth-child(1) {
	margin-top: 11px;
}

.picOutter .picBtnBox .picBtn:hover {
	background: #f1742a;
	color: #fff;
	text-decoration: none;
	border: 2px solid #f1742a;
	border-left: none;
}

.picOutter .picBtnBox .picBtn:focus {
	text-decoration: none;
}

.picName {
	text-align: center;
	color: #333;
	display: block;
	margin: 0 auto;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.picName:hover {
	text-decoration: none;
	color: #333;
}
