* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.left {
	float: left;
}

.right {
	float: right;
}

ul, li {
	list-style: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	/*background: #4182d2;*/
	position: relative;
}

img {
	vertical-align: middle;
}

.logOutter {
	overflow: hidden;
}

.logOutter .regLogo {
	display: block;
	margin: 0 auto;
	width: 22%;
	margin-top: 30px;
}

.logOutter .regTitle {
/*	font-size: 1.5rem;*/
	font-size: 18px;
	color: #fff;
	text-align: center;
/*	line-height: 5rem;*/
	line-height: 50px;
}

.logOutter .regTab {
	width: 80%;
	min-width: 240px;
	margin: 0 auto;
}

.logOutter .tabUl {
/*	background: #ccc;*/
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 20px 0;
	color: #333;
}

.logOutter .tabLi {
	/*display: inline-block;*/
	float: left;
/*	font-size: 1.4rem;*/
	font-size: 16px;
	text-align: center;
	width: 33.33%;
	/*height: 80px;*/
	/*line-height: 80px;*/
	/*border-radius: 40px;*/
}

.logOutter .tabLi:nth-child(1) {
	/*float: left;*/
}

.logOutter .tabLi:nth-child(3) {
	/*float: right;*/
}

.logOutter .tabLi.tabActive {
	/*background-color: rgba(255,255,255,.2) ;*/
}

.logOutter .tabDiv {
	display: none;
}

.logOutter .inputBox {
	width: 100%;
	padding: 10px 0;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px solid #ccc
}

.logOutter .inputBox input {
	width: 150px;
	height: 100%;
	border: none;
	background: none;
	outline: none;
	display: block;
	color: #333;
/*	font-size: 1.2rem;*/
	font-size: 14px;
	text-indent: 5px;
}

.logOutter .inputBox a {
	display: block;
	width: 80px;
	background-color: #3baeab;
	color: #fff;
	text-decoration: none;
	text-align: center;
/*	font-size: 1rem;*/
	font-size: 12px;
	height: 24px;
    line-height: 24px;
    border-radius: 12px;
	text-align: center;
}

.logOutter .buttonBox {
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
}

.logOutter .buttonBox .button {
	border: none;
	background: none;
	outline: none;
	display: block;
	width: 100%;
	/*min-width: 110px;*/
	color: #fff;
	text-decoration: none;
	text-align: center;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	height: 40px;
    line-height: 40px;
    background: #3baeab;
}

.logOutter .tabDiv.tabConActive {
	display: block;
}

.radioImg {
	width: 16px;
    position: relative;
    top: -1px;
}

/*重置密码*/

.pwdOutter {
	width: 85%;
	min-width: 280px;
	margin: 30px auto 0; 
}

.pwdOutter .inputBox {
	width: 100%;
	padding: 10px 0;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px solid #ccc
}

.pwdOutter .inputBox span {
	width: 70px;
	color: #333;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	line-height: 24px;
}

.pwdOutter .inputBox input {
	width: 125px;
	height: 100%;
	border: none;
	background: none;
	outline: none;
	display: block;
	color: #333;
/*	font-size: 1.2rem;*/
	font-size: 14px;
	text-indent: 5px;
}

.pwdOutter .inputBox a {
	display: block;
	width: 80px;
	/*background-color: #3baeab;*/
	color: #3baeab;
	text-decoration: none;
	text-align: center;
/*	font-size: 1rem;*/
	font-size: 12px;
	height: 24px;
    line-height: 24px;
    border-radius: 12px;
	text-align: center;
}

.pwdOutter .inputBox .imgCode {
	height: 24px;
}

.pwdOutter .inputBox .inputSpecial {
	width: 100px;
}

.pwdOutter .buttonBox {
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
}

.pwdOutter .buttonBox .button {
	border: none;
	background: #3baeab;
	outline: none;
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-align: center;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	height: 40px;
    line-height: 40px;
}

/*快速注册*/
.regOutter {
	width: 85%;
	min-width: 280px;
	margin: 0 auto;
	padding-top: 30px;
}

.regOutter .tabUl {
/*	background: #ccc;*/
	width: 100%;
	overflow: hidden;
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

.regOutter .tabLi {
	/*display: inline-block;*/
	float: left;
/*	font-size: 1.4rem;*/
	font-size: 16px;
	text-align: center;
	width: 33.33%;
	/*height: 80px;*/
	/*line-height: 80px;*/
	/*border-radius: 40px;*/
	/*margin: 0 5px;*/
}

.regOutter .tabLi:nth-child(1) {
	/*float: left;*/
}

.regOutter .tabLi:nth-child(3) {
	/*float: right;*/
}

.regOutter .tabLi.tabActive {
	/*background-color: rgba(255,255,255,.2) ;*/
}

.regOutter .inputBox {
	width: 100%;
	padding: 10px 0;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px solid #ccc
}

.regOutter .inputBoxSpecial {
	width: 100%;
	height: 45px;
	overflow: hidden;
}

.regOutter .inputBox span {
	width: 80px;
	color: #333;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	line-height: 24px;
}

.regOutter .inputBoxSpecial span.left {
	width: 60px;
	color: #333;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	line-height: 24px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-top: 10px;
}

.regOutter .inputBoxSpecialImg span.left {
	width: 85px;
}

.regOutter .inputBoxSpecialImg .imgCode {
	height: 24px;
	max-width: 94px;
}

.regOutter .inputBoxSpecial span.emptyWhite {
	color: #fff;
} 

.regOutter .inputBox .spanPhone {
	width: 150px;
}

.regOutter .inputBoxSpecial .inputLine {
	float: right;
	border-bottom: 1px solid #ccc;
	width: 85% !important;/*写给不支持calc()的浏览器*/ 
	width: -moz-calc(100% - 60px) !important; 
	width: -webkit-calc(100% - 60px) !important; 
	width: calc(100% - 60px) !important;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.regOutter .inputBoxSpecialImg .inputLine {
	width: 80% !important;/*写给不支持calc()的浏览器*/ 
	width: -moz-calc(100% - 90px) !important; 
	width: -webkit-calc(100% - 90px) !important; 
	width: calc(100% - 90px) !important;
}

.regOutter .inputBox input, .regOutter .inputBoxSpecial input {
	width: 140px;
	height: 24px;
	line-height: 24px;
	border: none;
	background: none;
	outline: none;
	display: block;
	color: #333;
/*	font-size: 1.2rem;*/
	font-size: 14px;
	text-indent: 5px;
}

.regOutter .inputBox .inputSpecial {
	width: 100px;
}

.regOutter .inputBox .imgCode {
	height: 24px;
}

.regOutter .inputBox a, .regOutter .inputBoxSpecial a {
	display: block;
	width: 80px;
	/*background-color: #3baeab;*/
	color: #3baeab;
	text-decoration: none;
	text-align: center;
/*	font-size: 1rem;*/
	font-size: 12px;
	height: 24px;
    line-height: 24px;
    /*border-radius: 12px;*/
	text-align: center;
}

.regOutter .checkBox {
	width: 100%;
	margin-top: 20px;
	color: #fff;
	/*text-align: center;*/
/*	font-size: 1rem*/
	font-size: 12px;
}

.regOutter .buttonBox {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.regOutter .buttonBox .button {
	border: none;
	background: #3baeab;
	outline: none;
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-align: center;
/*	font-size: 1.3rem;*/
	font-size: 14px;
	height: 40px;
    line-height: 40px;
/*    border-radius: 17px;
	background: url(/Public/img/register/buttonBack.png) repeat center;
	background-size: contain;*/
}

.regOutter .checkbox {
	display: none;
}

.regOutter .agreeA {
	color: #3baeab !important;
	text-decoration: none !important;
}

.regOutter .checkImg {
	width: 16px;
	position: relative;
	top: -1px;
}

.regBg {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #333;
}

.regBg .regSuccess {
	width: 250px;
	height: 150px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
}

.regBg .regTitle {
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 5px;
	text-indent: 5px;
}

.regBg .regIcon {
	display: block;
	width: 30px;
	margin: 15px auto 5px;
}

.regBg .regCon {
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	text-indent: 10px;
}

.regBg .regSure {
	display: block;
	margin: 0 auto;
	background: #28cec2;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 100px;
	line-height: 30px;
	letter-spacing: 2px;
	text-indent: 2px;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
}

/*提示*/
.blackNotify {
	display: none;
	position: fixed;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.blackNotify .bNotify {
	background: rgba(0,0,0,.7);
	color: #fff;
	padding: 7px 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
}

.visibleBox {
	text-align: right;
	padding-right: 10px;
	width: 50px !important;
	margin-top: 6px;
}

.visibleBox .visibleImg {
	width: 20px;
	display: block;
	float: right;
}

.slider {
	margin: 20px 0
}

.image_code {
	font-size: 12px !important;
	display: inline-block;
	width: 15px !important;
	color: #3baeab !important;
	text-align: right;
}


	.inputNoRight input {
		width: 85% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 80px) !important; 
		width: -webkit-calc(100% - 80px) !important; 
		width: calc(100% - 80px) !important;
	}

	.inputRight input {
		width: 70% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 180px) !important; 
		width: -webkit-calc(100% - 180px) !important; 
		width: calc(100% - 180px) !important;
	}

	.inputQuickNoRight input {
		width: 85% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 90px) !important; 
		width: -webkit-calc(100% - 90px) !important; 
		width: calc(100% - 90px) !important;
	}

	.inputBoxSpecial.inputQuickNoRight input {
		width: 100% !important;
	}

	.inputQuickRight input {
		width: 70% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 190px) !important; 
		width: -webkit-calc(100% - 190px) !important; 
		width: calc(100% - 190px) !important;
	}

	.inputBoxSpecial.inputQuickRight input {
		width: 85% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 90px) !important; 
		width: -webkit-calc(100% - 90px) !important; 
		width: calc(100% - 90px) !important;
	}

	.inputBoxSpecialImg.inputQuickRight input {
		width: 80% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 100px) !important; 
		width: -webkit-calc(100% - 100px) !important; 
		width: calc(100% - 100px) !important;
	}

	.inputQuickRight.visibleRight input {
		width: 70% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 150px) !important; 
		width: -webkit-calc(100% - 150px) !important; 
		width: calc(100% - 150px) !important;
	}

	.inputBoxSpecial.inputQuickRight.visibleRight input {
		width: 85% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 60px) !important; 
		width: -webkit-calc(100% - 60px) !important; 
		width: calc(100% - 60px) !important;
	}

	.inputQuickShortRight input {
		width: 75% !important;/*写给不支持calc()的浏览器*/ 
		width: -moz-calc(100% - 160px) !important; 
		width: -webkit-calc(100% - 160px) !important; 
		width: calc(100% - 160px) !important;
	}

@media(min-width: 500px) {
	.regBg .regSuccess {
		width: 50%;
		height: 200px;
	}

	.regBg .regIcon {
		margin: 20px auto 15px;
	}

	.regBg .regSure {
		width: 110px;
		margin-top: 25px
	}
}
