html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	font-size: 16px;
	color: #333;
}

body {
	background: url(/Public/img/register/regBack.png) no-repeat top left;
	background-size: cover
}

.left {
	float: left;
}

.right {
	float: right;
}
.stu_div,.parent_div{
	display: none;
}
.regMain {
/*	width: 80%;*/
	width: 1100px;
/*	height: 70%;*/
	min-height: 635px;
	background: rgba(255,255,255,.5);
	border: 5px solid rgba(44,197,249,.1);
	border-radius: 20px;
	margin: 160px auto 0;
    overflow-y: auto;
}

.regMain .regLeft {
	width: 400px;
	margin: 100px 0 0 50px;
}

.regMain .regRight {
	width: 600px;
}

#yes {
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

.text-right{
	text-align: right
}

input,
textarea,
select {
	box-sizing: border-box !important;
}

.form_table td {
	padding: 4px;
}

.f_input input,
.f_input textarea,
.f_input select {
/*	background-color: #DCE7EB;*/
	padding: 6px 8px;
	border: none;
	width: 265px;
	border: 1px solid #eee
}

.f_input input:focus,
.f_input textarea:focus,
.f_input select:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.red {
	color: red;
	display: inline-block;
	font-size: 20px;
	margin-left: 6px;
	font-weight: 600;
}

.f_title {
	text-align: right;
	padding-right: 10px !important;
}

.red {
	color: #ff0000;
}

.notify-container {
	right: 42% !important;
}

#bg, #bg2 {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background: rgba(0,0,0,.3)
}

/*
#show {
	display: none;
	position: fixed;
	top: 25%;
	left: 22%;
	width: 53%;
	height: 55%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
*/

/*
#show_course {
	display: none;
	position: fixed;
	top: 25%;
	left: 22%;
	width: 53%;
	height: 55%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
*/

#show_choice {
	display: none;
	position: absolute;
	top: 25%;
	left: 38%;
	width: 20%;
	height: 50%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.school_item {
	display: inline-block;
	font-size: 16px;
	margin-left: 20px;
	padding: 8px 6px;
	border: 1px solid #d3d3d3;
	margin-bottom: 15px;
}

.school_item.selected {
	background-color: #209994;
	color: white;
}

.btn {
	background-color: #28D0C1;
	border: 1px solid transparent;
	border-radius: 6px;
	color: white;
	font-size: 22px;
	padding: 6px 18px;
}

.btn:hover {
	background-color: #209994;
	color: white;
}
/*=============警告框=================*/

.warning {
	display: none;
}
/*================选择学校=======================*/

.show_top {
	width: 100%;
	height: 80%;
	text-align: center;
	padding-top: 5%;
}

.show_bottom {
	width: 100%;
	height: 20%;
}

.school_select {
	text-align: center;
	font-size: 14px;
}

.school_select select {
	width: 50%;
	margin: 5px 0;
	display: inline-block;
}

.notifySelect {
	background: #fff;
	border-radius: 0;
	border: 1px solid #eee;
	padding: 3px 8px
}

.regMiddle {
	height: 200px;
	padding-top: 10px;
}

.regBottom {
	width: 100%;
}

.regSureBtn {
	display: block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
}

.regSureBtn:hover, .regSureBtn:focus {
	color: #fff;
	text-decoration: none;
}

/*
#queding {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}
*/
/*================选择学科=======================*/
.course_select {
	display: inline-block;
	width: 120px;
	text-align: center;
	font-size: 14px;
	margin-right: 20px;
}

.course_select select {
	width: 100%;
	margin: 5px 0;
	display: inline-block;
}

#grade {
	margin-left: 50px;
}

.notifyClass {
	width: 90%;
	height: 25px;
	line-height: 25px;
	color: #cd2f2e;
	border-bottom: 1px solid #eee;
	margin: 0 auto;
	font-size: 12px;
	padding: 0 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.addClassBtn {
	width: 60px;
	font-size: 14px;
	border: none;
	background: none;
	background: #58a8ff;
	color: #fff;
	line-height: 22px;
	border-radius: 3px;
}

/*
#course_sure {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}
*/

.choice span {
	padding: 0 5px;
	cursor: pointer;
	font-size: 12px
}

.choice_hide {
	text-align: center;
}

#choice_sure {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 30px;
	background: url(__PUBLIC__/img/home/15.png) no-repeat left top;
	background-size: 100% 100%;
	color: #fff;
	font: 18px/30px "微软雅黑";
	text-align: center;
	text-decoration: none;
}

.choiceClass {
	overflow: hidden;
	width: 100%;
	height: 115px;
}

.choiceClass .choiceSpan {
	display: inline-block;
	border: 1px solid #eee;
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 8px;
	margin-left: 20px;
    margin-bottom: 10px;
	background: #f8f8f8;
	color: #58a8ff;
}

.choiceClass .choiceSpan .choiceSpanImg {
	width: 12px;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-left: 10px;

}

.choice .choiceSpan {
	display: inline-block;
	border: 1px solid #eee;
	font-size: 12px;
	padding: 2px 4px;
	margin-right: 10px;
    margin-bottom: 5px;
	background: #fff
}

.choice .choiceSpan .choiceSpanImg {
	width: 12px;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-left: 10px;

}

.notifyEm {
	width: 15px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.btn_box {
	margin-bottom: 5px;
}

.btn_box span {
	padding-right: 5px;
}

.loginbtn {
	width: 122px;

	background: none;
	border: none;
	border-radius: 0;
	background:rgb(25,146,168);
	background-size: cover;
	position: relative;
	left: -12px;
}
.loginbtn:hover {
	background:rgb(220,14,6);
	background-size: cover;
}
.teacher_refreshA,.student_refreshA,.parent_refreshA{
	width: 110px;
	margin:4px 6px
}
.loginbtn:disabled {
	background: #969292;
}

#submitbtn {
	width: 122px;
	height: 40px;
	background: none;
	border: none;
	border-radius: 0;
	background: url(/Public/img/register/submitGreen.png);
	background-size: cover;
	position: relative;
	left: -12px;
}

#submitbtn:hover {
	background: url(/Public/img/register/submitRed.png);
	background-size: cover;
}

#submitbtn:disabled {
	background: #969292;
}

.beizhu {
	font-size: 14px
}

.beizhu input {
	position: relative;
	top: 2px;
	margin-right: 4px;
}

#xuanzexuexiao {
	position: relative
}

#xuanze {
	position: absolute;
	top: 0
}

#telephone {
/*	background: #DCE7EB url({$oss_path}public/web_img/Register/phone.png) no-repeat center right;*/
/*	background-size: 18px auto*/
}


/*公共弹窗开始*/
.regNotify {
	display: none;
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1002;
}

.regTop {
	width: 100%;
	height: 40px;
	background: #e3f0ff;
	line-height: 40px;
}

.regTopImg {
	height: 16px;
	margin-left: 20px;
	position: relative;
	top: -2px;
}

.regTopTitle {
	font-size: 16px;
	font-family: "黑体";
	color: #3d9aff;
	letter-spacing: 2px;
	font-weight: 600
}

.regTopClose {
	margin: 10px 14px 0 0;
	cursor: pointer;
}

.schoolSpan {
    display: inline-block;
    width: 280px;
    line-height: 16px;
    font-size: 12px;
	font-weight: 600;
	margin-left: 12px
}
/*公共弹窗结束*/

.middleCon {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;
	padding: 40px;
}

.middleCon div {
	text-indent: 28px;
	font-size: 14px;
	font-weight: 100;
}

.middleCon div a {
	color: #58a8ff;
}

.serverCon {
	padding: 60px 35px 0;
}

.serverCon h3 {
	display: inline-block;
}

.regCon {
	text-align: center;
}

.regCon h3 {
	display: inline-block;
}

.regCon div {
	font-size: 12px;
	color: #aaa;
	margin-top: 20px;
}

.regCon div .time {
	font-size: 16px;
	color: #cd2d2d;
}

.regCon div a {
	color: #58a8ff;
}

.form_table a{
	color: #168ca8;
}

.form_table a:hover, .form_table a:focus {
	color: #168ca8;
}

#man_teacher, #woman_teacher, #man_parent, #woman_parent, #man_student, #woman_student {
	margin-left: 20px;
	visibility: hidden;
}

.sexImg {
	width: 23px;
	margin-right: 3px;
}

.sexTd label {
	cursor: pointer
}

.role_input {
	cursor: default;
	margin: 0 25px 0 5px
}

.role_input input {
	margin: 0 3px;
}

@media(max-height:850px) and (min-height:770px){
	.regMain{
		margin: 85px auto 0;
	}
}

@media(max-height:769px) and (min-height:700px){
	.regMain{
		margin: 40px auto 0;
	}
}

@media(max-height:699px) and (min-height:0){
	.regMain{
		margin: 5px auto;
	}
}

@media(max-width:1099px) and (min-width:600px){
	.regMain{
		width: 600px;
	}

	.regLeft {
		display: none;
	}
}

@media(max-width:599px) and (min-width:0){
	.regMain{
		width: 600px;
	}

	.regLeft {
		display: none;
	}

	html, body {
		overflow-x: auto;
	}
}


/*注册公用弹窗*/
.fullscr {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1001;
	background: rgba(0,0,0,.3);
}

.adminNotifyBox {
/*	display: none;*/
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.adminNotifyBox .regTopImg {
	margin-right: 5px;
}

.adminNotifyBox .notifyCon {
	padding: 60px 20px 0;
	text-align: center;
}

.adminNotifyBox .notifyCon p {
	font-size: 18px;
	font-weight: 600;
}
/*==弹窗结束==*/


/*完善资料弹窗*/

.perfectBox {
	display: inline-table;
	width: 500px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 16px;
}

.perfectBox .perfectTop	{
	background: #e3f0fe;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #449cfc;
}

.perfectBox .perfectImg {
	height: 45px;
	margin-left: 10px;
}

.perfectBox .perfectMain {
	border: 1px solid #eee;
	border-top: none;
	width: 100%;
	padding: 10px 20px;
}

.perfectBox .perfectTitle {
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}

.perfectBox .perfectTitle .redSpan {
	color: #cb2e33;
	font-size: 16px;
	font-weight: 600;
}

.perfectBox .starImg {
	position: relative;
	top: -3px;
}

.perfectBox .rightStar {
	color: #cb0018;
	font-size: 22px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.perfectBox .radioBox {
	width: 100%;
	clear: both;
}

.perfectBox .radioBox .radioInput {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}

.perfectBox .radioBox label {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
}

.perfectBox .perSchool_select {
	width: 100%;
	font-size: 14px;
	margin-bottom: 8px;
}

.perfectBox .perSchool_select .sch_select {
	width: 390px;
	border: 1px solid #eee;
    padding: 3px 8px;
}

.perfectBox .schJoin {
	text-decoration: underline;
	margin-left: 2px;
}

.perfectBox .perCourse_select {
	display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
}

.perfectBox #grade {
	margin-left: 0;
}

.perfectBox .perCourse_select .cour_select {
	width: 100%;
	border: 1px solid #eee;
    padding: 3px 8px;
}

.perfectBox .sch_notify {
	display: none;
	color: #cd2f2e;
    font-size: 12px;
    padding: 2px 10px 0;
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

.perfectBox .cour_notify {
	color: #cd2f2e;
    font-size: 12px;
    padding: 2px 10px 0;
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

.perfectBox .cour_choice {
	overflow: hidden;
	width: 100%;
	max-height: 93px;
	margin-top: 5px;
}

.perfectBox .cour_choice .choiceSpan {
	display: inline-block;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 5px 5px;
    background: #f8f8f8;
    color: #58a8ff;
}

.perfectBox .cour_choice .choiceSpan .choiceSpanImg {
	width: 12px;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-left: 10px;

}

.perfectBox .addClassBtn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#studentBox .perSchool_select {
	margin-bottom: 15px;
}

.perCon {
    padding: 30px 35px 0;
	text-align: center;
}

#parent_verify_code,#student_verify_code,#teach_verify_code{
	width: 98px;
	float: left;
}
