

/*京版资源样式*/
* {
	margin: 0;
	padding: 0;
}
body{
	display: block !important;
}
.mt60{
	margin-top: 60px !important
}
ul,
li {
	list-style: none;
}
.filter_a{
	color: #e9573f
}

.left {
	float: left;
}
.laydate_body .laydate_top, .laydate_body .laydate_bottom{
	    box-sizing: content-box;

}

#laydate_hms {
	display: none !important;
}
.more_left a{
	position: relative;
	top:3px;
	background: #30b753;
	color: #fff;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}

.more_left a:hover, .more_left a:focus {
	text-decoration: none !important;
}

.right {
	float: right;
}

.mainbody {
	width: 100%;
}
.fz12 {
	font-size: 12px;
	color: #666

}
.of{
	overflow: hidden;
}
.subject_p1 img{
	margin-right: 5px;
}
.subject_p1{
text-indent:30px;
	color: #fff;
}
.more_filter li{
	text-indent: 60px;
	background: #fff;
	cursor: pointer;
	color: #333
}
.more_filter a:hover{
	text-decoration: none
}
.more_filter .more {
	color: #30b753
}
.filter_left{
	width: 180px;
	margin-top: 60px;
	border: 1px solid #30b753
}
.none{
	display: none;
}
.mb18{margin-bottom: 28px}
.list_img{
	width: 248px;
	height: 164px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.filter_right{
	width: 900px;
	margin-right: 40px;
	margin-top: 50px;
}
.list_p{

}
.filter_right select{
	background: none;
	background: #30b753;
	color: #fff;
	padding: 3px 5px;
	width: 90px;
	outline: none;
	border: none;
}

.filter_right select option {
	padding: 0 5px
}
.more_left{
	margin-left: 100px;
}
.filter_right select option,.more_left select option{
	color: #333
}
.more_filter{
	background: #30b753;
}
.border_eee{
	position: relative;
border: 2px solid #eee;
top: 49px;
z-index: 2;
}
.selected span{
	display: inline-block;
	padding:1px 5px ;
	border: 1px solid #30b753;
	margin-right: 10px;
	border-radius: 4px
}
.selected img{
	margin: 0 5px;
	cursor: pointer
}
.more_filter li,.more_filter p{
	margin: 0;
	line-height: 40px;
}
.title_span1{
	width: 30%;
	text-align: center;
	padding-top: 5px;
}

.title_span1 img {
	display: block;
	margin: 0 auto
}

.title_span1,.title_span2 {

	display: inline-block;
	float: left;
}
.title_span2{
	width: 70%;
}
.resource_box {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.resource_top,
.resource_middle {
	margin: 0 auto;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #7f7f7f;
}
.mlr95{
	margin:0 47px
}
.resource_top {
	overflow: hidden;
	margin-top: 10px;
}
.filter_list {
	overflow: hidden;
	width: 100%;
	margin-top: 10px
}
.filter_list li{
	width: 268px;
	float: left;
	border: 1px solid #ccc;
	/*padding-bottom: 10px;*/
	margin-bottom: 30px
}
.list_p {
	padding: 5px
}
.search {
	margin: 0 auto;
	width: 600px;
	height: 32px;
	line-height: 30px;
}

.search select {
	width: 140px;
	font-size: 14px;
	color: #333;
	float: left;
	padding:0 5px;
	height: 30px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #b9b9b9;
	outline: none;
	background: #bee2f3;
  box-sizing: border-box;
	padding-right: 0
}

.search select option {
	padding: 0 5px
}

.laydate_body .laydate_y .laydate_yms ul li{
	width: 59px;
}
.red{
	position: absolute;
	top: 0;
	right: -160px;
	color: red;
	display: none;
}
.res_box span img {
	width: 14px;
	height: 14px;
	position: relative;
	top: -2px
}

.search_btn {
	float: right;
	width: 70px;
	height: 30px;
	border: none;
	background: #3087c7;
	border-radius: 20px;
	color: #fff;
	outline: none;
}

.search_text {
	float: left;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
	width: 400px;
}

.resource_subject {

	color: #333;
	line-height: 40px;
	cursor: pointer;
	text-indent: 28px;
	background-image:url(../img/resource/xu.png),url(../img/resource/hengxuD.png);
	background-repeat:no-repeat;
	background-position:26px 0 ,30px 18px;
	background-size: 3px 2000px,auto;
	position: relative;

}
.resource_subject:nth-child(1){
	background-image:url(../img/resource/xu.png),url(../img/resource/hengxuD.png);
	background-repeat:no-repeat;
	background-position: 26px 16px,30px 18px;
}
.resource_classify p {
	margin: 0;
}
.resource_classify{
	position: relative;
}
.resource_subject:last-child{
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/xu.png),url(../img/resource/hengxuD.png);
	background-repeat: no-repeat;
	    background-size: auto,auto,auto;
	background-position: 20px bottom ,26px 0 ,30px 18px;
}
.resource_grade {

	text-indent: 28px;
	background-position: 2px 13px;
	position: relative;
}

/*.resource_subject img{
	position: absolute;
	left: 20px;
	top: 11px;
	z-index: 50;
	width: 17px;
}*/
.resource_grade img,.resource_unt img,
.resource_les img,
.resource_points img,.resource_subject img {
	position: absolute;
	left: 20px;
	top: 11px;
	z-index: 50;
	width: 17px;
}

.resource_grade img{
	left: 44px
}
.resource_unt img{
	left: 12px
}
.resource_les {

	text-indent: 18px;
	background-position: 2px 13px;
	position: relative;
	padding-left: 10px;
}

.resource_unt {

	text-indent: 18px;
	background-position: 2px 13px;
	position: relative;
	padding-left: 10px;
}

.resource_points {
	padding-left: 10px;
}

.search_left {
	width: 487px;
	float: left;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
	overflow: hidden;
}

.search_right {
	width: 80px;
	float: left;
	margin-left: 10px;
}
.filter_list li p{
margin: 0;
}

.list_content{
	color:#333;
	padding: 0 20px
}
.seach_active{
	color: #e9573f
}
.filter_list a:hover{
	text-decoration: none
}

.list_grade{
	color: #333;
	text-align: center;
	line-height: 35px;
}
.list_grade span{
	/*margin-right: 10px;*/
}
.resource_grade,
.resource_les,
.resource_points,
.resource_unt,
.resource_lesdiv,
.resource_untdiv,
.resource_pointdiv,
.resource_pointlist {
	display: none;
	line-height: 40px;
	color: #333;
	cursor: pointer
}
.resource_pointdiv, .resource_pointlist {
	margin-left: -10px;
}

.resource_points {
	position: relative;
}
.resource_les img{
	left:20px
}
.resource_points {
	text-indent: 25px;
}

.resource_middle {
	width: 220px;
	float: left;
	border-right: 1px solid #30b753;
}

.carousel {
	height: 250px;
}

.resource_middle a,
.resource_ul3 a {
	color: #30b753;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
	line-height: 20px;
}

.resource_ul3 a {
	color: #333;
	text-decoration: none;
	/*margin-left: 9px;*/
	line-height: 20px;
	display: block;
}

.nobook_ul li:hover {
	border-color: #30b753;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.carousel-indicators .active {
	background: #30b753;
}

.resource_classify span {
	font-size: 12px
}

.carousel-indicators li {
	background: #999;
}
.nobook_ul:hover{
	background: #fff;
}
.carousel {
	margin-top: 30px;
}

#fullscreen_ctrl {
	right: 4%;
}

.carousel-control.left {
	width: 20px;
	height: 100px;
	filter: none;
}

.carousel-control.right {
	width: 100px;
	height: 100px;
	filter: none;
}

.nobook_ul {
	overflow: hidden;
	padding: 0 5% 5px 5%;
	margin: 0;
}

.nobook_ul li,.resource_li3 {
	float: left;
	width: 245px;
	height: 227px;
	padding: 5px;
	margin: 0 20px;
	border: 1px solid #ccc
}


/*
@media(max-width:1700px){
	.nobook_ul li{
		margin: 0 60px
	}
}
@media(max-width:1610px){
	.nobook_ul li{
		margin: 0 40px
	}
}
@media(max-width:1900px){
	.nobook_ul li{
		margin: 0 40px
	}
}
@media(max-width:1450px){
	.nobook_ul li{
		margin: 0 30px
	}
}
@media(max-width:1380px){
	.nobook_ul li{
		margin: 0 20px
	}
}
@media(max-width:1310px){
	.nobook_ul li{
		margin: 0 10px
	}
}
@media(max-width:1230px){
	.nobook_ul li{
		margin: 0 5px
	}
	.nobook_ul{
		padding: 0 2%;
	}
	.carousel-control.right{
		width: 50px;
	}
}

*/

@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: -14px;
	}
}
.more{
	color: #30b863;
}
.nobook_ul li img,.resource_li3 a .sinology_img {
	width: 100%;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	top: 56px;
}

.classify_ul li {
	cursor: pointer;
	line-height: 40px;
	background: #30b863;
	color: #333;
	border-bottom: 1px solid #fff;
}

.row {
	margin: 0;
}

.resource_rightname a {
	color: #333;
	text-decoration: none
}

.resource_bottom {
	padding-left: 230px;
}

.resource_ul,
.resource_ul3 {
	margin-top: 30px;
	overflow: hidden;
}

.bjresource_img {
	border: 1px solid #ccc;
	margin-left: 20px;
}

.bjresource_img:hover {
	border-color: #30b368;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.resource_ul3 li {
	width: 264px;
	height: 141px;
	margin: 10px 30px;
	border: 1px solid #ccc;
	float: left;
}

.resource_ul3 li p {
	margin: 0;
	line-height: 33px;
}

.resource_ul3 li:hover .resource_green {
	/*background: #a6e1b4;*/
}

.resource_ul3 li:hover {
	/*border-color: #30b753;*/
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.resource_ul3 p:nth-child(1) {
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: 600;
	background: #eee;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.resource_subject ul{
	margin: 0;
}
.nav {
	width: 90%;
	margin: 0 auto
}

.resource_ul3 .resource_green {
	text-indent:25px;
}

.resource_subname {
	font-size: 18px;
	font-weight: 600;
	margin-top: 40px;
	display: block;
/*	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.resource_subtype,
.resource_sub {
	font-size: 16px;
}

.resource_li {
	margin: 25px 0;
	width: 50%;
	float: left;
}

.filtepopups,.filtepopups_left {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 1050px;
	height: 70%;

	z-index: 20170318;
	background: #e0f6e4;
	border: 2px solid #30b753;
	display: none;
}
.filtepopups{
		height: 700px;
}
.rightdiv {
	display: inline-block;
}
.filtepopups input, .filtepopups select {
    width: 470px;
    height: 40px;
    margin-left: 5px;
    background: #e0f6e4;
    border: 1px solid #ccc;
    padding: 0 5px;
}
.filtepopups .select220{
	width: 220px;
}
.filterbtn{
	padding: 3px 80px;
    border: none;
    outline: none;
    background-color: #30b753;
    color: #fff;
	border-radius: 5px
}
.formdiv {
	width: 600px;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
		position: relative;
}
.fp1{
	font-size: 18px;
	color: #30b753;
	line-height: 30px;
	text-indent: 55px;
	margin-top: 30px;
	font-weight: 600;
	background: url(../img/resource/gaojijiansuo.png) no-repeat 30px 5px;
}
.fp2{
	font-size: 16px;
	color: #999;
	text-indent: 60px;
}
.delete {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer
}
#bg {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 20170317;
	-moz-opacity: 0.7;
	opacity: .70;
	display: none;
}

.resource_rightname {
	width: 220px;
	float: left;
	margin-left: 10px
}

.resource_li img {
	display: inline-block;
}

.nobook_ul a ,.resource_li3 a{
	color: #333;
	text-decoration: none
}

.nobook_ul p,.resource_li3 p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.resource_li a {
	display: block;
	font: 16px/30px "微软雅黑";
	color: #333;
	position: relative;
	height: 100%
}

.resource_left,
.resource_right {
	width: 100px;
	float: left;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-indent: 20px;
	background: #fff url(../img/resource/jingpinziyuan.png) no-repeat;
	background-position: 5px
}

.resource_right {
	float: right;
	background: #fff url(../img/resource/gengduo.png) no-repeat;
	background-position: 9px
}

.resource_a {
	color: #333
}

.resource_name {
	background: url(../img/resource/xuxian.png) repeat-x;
	background-size: 8px;
	overflow: hidden;
	background-position: 0 13px;
	margin-top: 20px;
}

.resource_p {
	line-height: 20px;
	font-size: 12px;
	color: #7e7e7e;
	width: 250px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 10px
}
.banner_img{
	width: 245px;
	height: 165px;
}
.res_box {
	width: 247px;
	background-size: 100% 100%;
	position: relative;
	float: left;
	height: 184px
}
.res_typeimages{
	position: relative;
	top: 10px;
	left: 10px
}

.left_title {
	line-height: 40px;
	font-size: 18px;
	color: #333;
	border: 1px solid #30b753;
	background: #ace2ba;
	text-align:center;
}

.left_title img {
	margin-right:10px;
	position: relative;
	top: -2px;
}

.resource_title {}

a:focus {
	outline: none
}

.resource_subject a:hover{
	color: #f1742a
}
/*
@media(max-width:1270px){
	.resource_li{
		width: 100%;
	}
}
*/

.resource_li .newImg {
	position: absolute;
	top: 6px;
	right: 1px;
}


/*  nobook	*/

.experiment {
	position: absolute;
	left: 0;
	top: -30px;
	/*		z-index: 9999;*/
}

.experiment img {
	width: 100px;
}

.nobookButton {
	position: absolute;
	left: 35px;
	top: 71px;
	z-index: 9998;
}

.nobookButton ul {
	overflow: hidden;
	display: none;
}

.nobookButton a {
	display: block;
	width: 46px;
	line-height: 18px;
	padding: 3px 5px;
	margin-bottom: 5px;
	background: #cdf7ef;
	color: #065c7a;
	text-align: center;
}

.nobookButton .borderTopNone {
	border-top: none;
}

.nobookButton a:hover {
	background: #04c5a4;
	color: #fff;
	text-decoration: none;
}

.nobookButton .borderTopNone:hover {
	border-top: none;
}

.filtepopups_left .resource_classify {
    width: 14%;
    line-height: 20px;
    border-bottom: 5px solid #eee;
    float: left;
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.filtepopups_left{
	background: #fff;
	padding: 10px 20px;
	overflow: hidden;
}
.filtepopups_left .classify_p {
    display: inline-block;
    padding: 0 20px;
    height: 100%;
    height: 30px;
    margin: 0;
}
.filtepopups_left .class_img {
    padding: 0 7px;
    background: url(../img/home/descending.png) no-repeat;
    background-size: 10px;
    background-position: 2px;
    margin-left: -16px;
}
.filtepopups_left .classify_ul {
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 1;
    text-align: left;
    border: 3px solid #30b753;
    border-top: none;
    padding: 20px 0;
    background: #fff;
    display: none;
}
.filtepopups_left .classify_ul li {
   text-align: center;
    margin: 0 10px 5px 10px;
    cursor: pointer;
    min-width: 50px;
	background: none;
	line-height: 20px;
	border-bottom: 1px solid #eee;
	word-break: break-all;

}
.filtepopups_left .choice{
	position: absolute;
    bottom:100px;
    left: 0;
    right: 0;
	font-size: 16px;
}
.filtepopups_left .formdiv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.width140{
	width: 140px
}
.ff_icon{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2
}
.resource_points{
	background:url(../img/resource/hengxuD.png) no-repeat 30px 20px
}
.resource_classify .resource_subject:nth-child(1){
	border: none
}
.return_a{
	padding: 3px 10px;
	background: #30b753;
	border-radius: 5px;
	margin-left: 15px;
}
.return_a a{
	color: #fff
}
.return_a img{
		width: 11px;
    position: relative;
    margin-right: 5px;
    top: -1px;
}

.return_a a:hover, .return_a a:focus {
	text-decoration: none;
}
.m90{
	margin-left:  72px !important;
	margin-right:  72px !important
}
.resource_li3{
	margin: 20px;
	position: relative;
}
.sinology1_img{
	width: 336px;
	height: 226px
}
.resource_li1{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px;
	position: relative;
}
.resource_w580{
	width: 540px
}
.f18{
	font-size: 18px
}
.describe{
	height: 110px;
	background: #e8e8e8
}
.jianjie{
	position: relative;
top: -11px;
left: -15px;
}
.describe{
	position: relative;
}
.describe p{
	width: 380px;
	margin: 0 auto;
	font-size: 16px;
    text-indent: 2em;
	word-break: break-all;
}
.mt-10{
	margin-top: -10px
}
.h68{
	height: 68px
}
.muzhi{
	position: absolute;
	top: 25px;
	right: 30px;
}
.qianbao{
	background: url(../img/resource/qianbao.png) no-repeat;
	line-height: 28px;
	width: 195px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}
.searchTop{
	font-size: 16px;
	line-height: 32px;
	color: #30b753;
	font-weight: bold;
	width: 120px;

}
.w300{
	width:290px;

}
.searchTopLeft{
	background: url(../img/resource/xia.png) no-repeat 100px 9px;
	background-size: 13px;
}
.shang{
	background: url(../img/resource/shang.png) no-repeat 100px 9px;
		background-size: 13px;
}
.dn{
	display: none
}
.searchTopUl{
	height: 32px;

	position: relative;
}
.dib{
	display: inline-block;
}
.fz16{
	font-size: 16px;
	color: #30b753;

	line-height: 24px;
}
.searchLi{
	border-top: 1px solid rgb(245,252,246);
		padding: 0 1px;
		border-bottom: 1px solid #30b753;
		height: 32px;
		cursor: pointer;
}
.checkedBoxImg{
	width: 16px;
	position: relative;
	top: -2px;
}
.searchDiv{

		position: absolute;
		z-index: 100;
		background: #fff;

		width: 100%;

}
.searchBox{
	  padding: 7px 28px;
		border: 1px solid #30b753;
		border-top: none;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
		-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
.relative{
	position: relative;
}
.border3{
	border: 1px solid #30b753;
	border-bottom: none;
	padding: 0
}
.radioImg{
	width: 17px;
position: relative;
top: -2px;
}

/*高級搜索詳情頁*/
.bothBorder {
	border: 1px solid #30b753;
	border-top: none;
	padding: 15px 0 0;
}

#contentWrapper {
	padding-top: 0;
}

.filter_list_search {
	padding: 0 19px;
	margin-top: 20px;
}

.filter_list_search li {
	margin: 42px 11px;
	margin-top: 0;
}

.searchTopUl_search {
	padding: 0 30px;
}

.searchTopUl_search .searchTop {
	width: 140px;
}

.searchTopUl_search .searchTopLeft {
	background-position: 110px 9px;
}

.searchTopUl_search .backPosition {
	background-position: 93px 9px;
}

.searchTopUl_search .wEmpty {
	width: 82px;
	cursor: inherit;
}

.searchTopUl_search .choose_search {
	text-align: right;
	width: 100px;
}

.searchDiv_search {
	padding: 0 30px
}

@media(max-height:750px) and (min-height:630px){
	.filtepopups {
		height: 550px;
	}

	.fp1 {
		margin-top: 10px;
	}

	.formdiv {
		margin: 15px auto;
		line-height: 35px;
		height: 35px;
	}

	.filtepopups input, .filtepopups select {
		height: 35px;
	}
}

@media(max-height:629px) and (min-height:0){
	.filtepopups {
		height: 460px;
	}

	.fp1 {
		margin-top: 10px;
	}

	.formdiv {
		margin: 10px auto;
		line-height: 30px;
		height: 30px;
	}

	.filtepopups input, .filtepopups select {
		height: 30px;
	}
}

@media(max-width:1400px) and (min-width:1250px){
	.nav {
		width: 99%;
	}

	#fullscreen_ctrl {
		right: 0.5%
	}
}

@media(max-width:1249px) and (min-width:0){
	.nav {
		width: 99%;
	}

	#fullscreen_ctrl {
 right: 0.5%
 }
 }
 .resource_subject a{
 	font-weight: bold;
	font-size: 18px;
	overflow: hidden;
	    white-space: nowrap;
	text-overflow: ellipsis;
 }
 .resource_grade a{
 margin-left: 0;
 padding-left: 20px;
 font-size: 16px;
	font-weight: normal;
	display: inline-block;
 padding-top: 7px;
 line-height: 25px;
 }
 .resource_unt a{
	width: 135px;
	padding-left: 10px;
	text-indent: 0;
	overflow: hidden;
  text-overflow: ellipsis;
 }
.resource_grade{
	padding-left: 52px;
  text-indent: 0;
 	background-image:url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
  background-position: 29px 18px,37px 18px
 }

.resource_grade.active {
 	background-image:url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
  background-position: 29px 18px,51px 0px,37px 18px
 }

.resource_subject li:nth-child(1) .resource_grade{
	background-image: url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position: 28px 18px,37px 18px
}

.resource_subject li:nth-child(1) .resource_grade.active {
	background-image: url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position: 28px 18px,51px 16px,37px 18px
}

.resource_subject li:last-child .resource_grade {
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position: 50px bottom,29px 18px,36px 18px;
}

.resource_subject li:last-child .resource_grade.active{
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position: 50px bottom,29px 18px,51px 10px,36px 18px;
}


/*.resource_grade:nth-child(3) .resource_untdiv:first-child .resource_unt.active{
	background-image: url(../img/resource/changxu.png),url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position:0px 22px,15px 0,0px 19px,19px 0px,20px 19px;
}*/
.resource_les a{
	font-size: 14px;
	padding-left: 15px;
	text-indent: 0;
	width: 130px
}
.resource_points a{
	font-size: 12px;
	padding-left: 10px;
	width: 120px
}

.resource_pointlist a {
	padding-left: 40px;
	width: 150px
}

.resource_les {
	background-image: url(../img/resource/heng27_3.png);
	background-repeat: no-repeat;
	background-position: 11px 19px;
}

.resource_les.active {
	background-image:url(../img/resource/shuxu20.png), url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
	background-repeat: no-repeat;
	background-position:24px 0, 11px 19px,27px 19px;
}

.resource_unt .resource_lesdiv:nth-child(3) .resource_les {
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/heng27_3.png);
	background-repeat:no-repeat;
	background-position:25px 0,11px 19px;
}

.resource_unt .resource_lesdiv:nth-child(3) .resource_les.active {
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
	background-repeat:no-repeat;
	background-position:25px 0,11px 19px,27px 0
}

.resource_unt .resource_lesdiv:last-of-type .resource_les {
	background-image: url(../img/resource/changxu.png),url(../img/resource/changxu.png),url(../img/resource/heng27_3.png);
	background-repeat: no-repeat;
	background-position: 25px 21px,8px 21px,11px 19px;
}

.resource_unt .resource_lesdiv:last-of-type .resource_les.active{
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/changxu.png),url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
	background-repeat: no-repeat;
	    background-size: 10px 10px,auto,auto,auto;
	background-position: 25px bottom,8px 21px,11px 19px,27px 19px;
}

.resource_grade .resource_untdiv:last-child .resource_lesdiv:last-child .resource_les {
    background-image: url(../img/resource/changxu.png),url(../img/resource/shuxu20.png),url(../img/resource/heng27_3.png);
    background-repeat: no-repeat;
    background-position: 9px 22px,0 0,11px 19px;
}

.resource_grade .resource_untdiv:last-child .resource_lesdiv:last-child .resource_les.active {
    background-image: url(../img/resource/changxu.png),url(../img/resource/shuxu20.png),url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
    background-repeat: no-repeat;
		background-size: auto;
    background-position: 9px 22px,0 0,11px 19px,27px 19px;
}

.resource_subject{
	/*background-color: yellow*/
}
.resource_subject li:only-child .resource_grade {
    background-image: url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
    background-repeat: no-repeat;
		    background-size: 10px 25px,auto,auto,auto;
    background-position:46px bottom, 29px 18px,51px 24px,37px 18px;
}

.resource_grade .resource_untdiv .resource_unt {
  background-image:url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
  background-position: 1px 19px
 }

.resource_grade .resource_untdiv .resource_unt.active {
	background-image: url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat: no-repeat;
	background-position: 1px 19px,19px 10px,1px 19px;
 }

.resource_grade .resource_untdiv:last-of-type .resource_unt {
	background-image: url(../img/resource/changxu.png),url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position:0px 22px,17px bottom,0px 17px,0px 17px;

}

.resource_grade .resource_untdiv:last-of-type .resource_unt.active {
	background-image: url(../img/resource/changxu.png),url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
	background-repeat:no-repeat;
	background-position:0px 22px,17px 0,0px 19px,19px 0px,7px 19px;
}

.resource_grade .resource_untdiv:first-of-type .resource_unt {
    background-image: url(../img/resource/hengxu.png),url(../img/resource/hengxu.png);
    background-repeat: no-repeat;
    background-position: 0px 19px,0px 19px;
}

.resource_grade .resource_untdiv:first-of-type .resource_unt.active {
    background-image: url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
    background-repeat: no-repeat;
    background-position: 0px 19px,19px 19px,7px 19px;
}

.resource_grade .resource_untdiv:only-of-type .resource_unt {
    background-image:url(../img/resource/changxu.png), url(../img/resource/changxu.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
    background-repeat: no-repeat;
    background-position: 0 22px, 19px 21px,1px 17px,19px 19px,5px 17px;
}

.resource_grade .resource_untdiv:only-of-type .resource_unt.active {
    background-image:url(../img/resource/changxu.png), url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png);
    background-repeat: no-repeat;
    background-position: 0 22px, 17px bottom,1px 17px,5px 17px,18px 19px  ;
}

.resource_unt .resource_lesdiv:only-of-type .resource_les {
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/shuxu20.png),url(../img/resource/changxu.png),url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
	background-repeat: no-repeat;
	    background-size: auto,10px 25px,auto,auto,auto;
	background-position: 25px 0px,25px bottom,8px 21px,11px 19px,27px 0;
}

.resource_unt .resource_lesdiv:only-of-type .resource_les.active {
	background-image: url(../img/resource/shuxu20.png),url(../img/resource/shuxu20.png),url(../img/resource/changxu.png),url(../img/resource/heng27_3.png),url(../img/resource/xu.png);
	background-repeat: no-repeat;
	background-position: 25px 0px,25px bottom,8px 21px,11px 19px,27px 0;
}
.resource_grade.active{
    padding-left: 52px;
    text-indent: 0;
    background-image: url(../img/resource/shuxu20.png),url(../img/resource/hengxu.png),url(../img/resource/xu.png),url(../img/resource/hengxu.png);
    background-repeat: no-repeat;
    background-position: 47px 0px,28px 18px,51px 0px,37px 18px;
}

.resource_unt .resource_pointdiv:last-of-type .resource_points {
    background-image: url(../img/resource/changxu.png),url(../img/resource/hengxuD.png);
    background-repeat: no-repeat;
    background-position: 25px 21px,30px 20px;
}

.resource_unt .resource_pointdiv:last-of-type .resource_points.active {
	background-image: url(../img/resource/hengxuD.png);
	background-repeat: no-repeat;
	background-position: 30px 20px;
}


.resource_pointlist {
	background-image: url(../img/resource/hengxuD.png);
	background-repeat: no-repeat;
	background-position: 28px 18px;
}

.resource_points .resource_pointlist:last-of-type, .resource_points .resource_pointlist:only-of-type {
	background-image: url(../img/resource/shuxu20.png), url(../img/resource/hengxuD.png);
	background-repeat: no-repeat;
	background-position: 25px 20px,28px 18px;
}

.resource_middle .resource_classify .heightcolor{
	color: #f1742a !important
}

.resource_points .resource_pointlist:nth-child(3) a {
	text-indent: 20px;
	background: url(../img/resource/one1.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(3) a:hover {
	text-indent: 20px;
	background: url(../img/resource/one2.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(4) a {
	text-indent: 20px;
	background: url(../img/resource/two1.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(4) a:hover {
	text-indent:20px;
	background: url(../img/resource/two2.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(5) a {
	text-indent: 20px;
	background: url(../img/resource/three1.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(5) a:hover {
	text-indent: 20px;
	background: url(../img/resource/three2.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(6) a {
	text-indent: 20px;
	background: url(../img/resource/four1.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(6) a:hover {
	text-indent: 20px;
	background: url(../img/resource/four2.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(7) a {
	text-indent: 20px;
	background: url(../img/resource/five1.png) no-repeat 43px 13px;
}

.resource_points .resource_pointlist:nth-child(7) a:hover {
	text-indent:20px;
	background: url(../img/resource/five2.png) no-repeat 43px 13px;
}

.Pagination {
	margin-bottom: 10px !important;
}

