* {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
}

body{
	display: block !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.laydate_body .laydate_top, .laydate_body .laydate_bottom {
	    box-sizing: content-box;
}

#laydate_hms {
	display: none !important;
}
.resource_box {

	overflow: hidden;
	width: 1150px;
	margin: 0 auto
}
.resource_typeimg {
   height: 164px !important;
    max-width: 248px !important;
    width: auto !important;
}
.resource_listbox {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.filter_left{
	width: 180px;
	margin-top: 20px;
	border: 1px solid #30b753
}
.of {
    overflow: hidden;
}
.title_span1, .title_span2 {
    display: inline-block;
    float: left;
}
.title_span1 {
    width: 30%;
    line-height: 51px;
    text-align: center;
}
.more_filter li{
	text-indent: 60px;
	background: #fff;
	cursor: pointer;
	color: #333
}
.more_filter a:hover{
	text-decoration: none
}
.more_filter .more {
	color: #30b753
}
.subject_p1 {
    text-indent: 30px;
    color: #fff;
}
.selected span {
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid #30b753;
    margin-right: 10px;
    border-radius: 4px;
	margin-bottom: 4px;
}
.filter_list a:hover{
	text-decoration: none
}
.none{
	display: none;
}

.filter_list li {
    width: 268px;
    float: left;
    border: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.list_grade {
    color: #333;
    text-indent: 20px;
    line-height: 26px;
}
.list_content {
    color: #333;
    padding: 0 20px;
}
.list_name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_name {
    line-height: 30px;
    background: #30b753;
    color: #fff;
    text-indent: 20px;
}
.list_name, .list_name:hover, .list_name:focus {
	color: #fff !important;
	text-decoration: none
}
.filter_list li p {
    margin: 0;
}
.list_p {
    padding: 5px;
	height: 174px;
	position: relative;

}
.shareImg{
    position: relative;
    display: inline-block;
}
.list_img {
    height: 164px;
    max-width: 248px;
}
.selected img {
    margin: 0 5px;
    cursor: pointer;
}
.title_span2 {
    width: 70%;
}
.more_filter {
    background: #30b753;
}
.more_filter li, .more_filter p {
    margin: 0;
    line-height: 40px;
}
.subject_p1 img {
    margin-right: 5px;
}
.resource_top {
    overflow: hidden;
    margin-top: 10px;
}
.filter_right{
	width: 900px;
	margin-top: 20px;
}
.resource_top, .resource_middle {
    margin: 0 auto;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #7f7f7f;
}

.resource_middle {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #7f7f7f;
	width: 98%;
	margin: 0 auto;
}

.imgPBox {
	display: block;
}

.search {
	margin: 0 auto;
	width: 600px;
	height: 32px;
	line-height: 30px;
	background-color: inherit !important;
}

.search_left {
	width: 500px;
	float: left;
	border: 1px solid #b9b9b9;
	border-radius: 20px;
}

.search select {
	padding-left: 20px;
	height: 30px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #b9b9b9;
	outline: none;
	background: #bee2f3;
}

.search_btn {
	float: right;
	width: 70px;
	height: 30px;
	border: none;
	background: #3087c7;
	border-radius: 20px;
	color: #fff;
	outline: none;
}

.of {
	overflow: hidden;
}

.resource_name {
	background: url(../img/resource/xuxian.png) repeat-x;
	background-size: 8px;
	overflow: hidden;
	background-position: 0 13px;
	margin-top: 20px;
}

.resource_left,
.resource_right {
	width: 100px;
	float: left;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-indent: 20px;
	background: rgb(245,252,246) url(../img/resource/jingpinziyuan.png) no-repeat;
	background-position: 5px
}

.resource_right {
	float: right;
	width: 170px;
	background: rgb(245,252,246) url(../img/resource/gengduo.png) no-repeat;
	background-position: 9px
}

.search_text {
        width:400px;
	text-indent: 15px;
	border-radius: 20px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

.search_right {
	width: 80px;
	float: left;
	margin-left: 10px;
}

.filter_a {
	color: #e9573f;
}
.mlr95{
	margin:0 47px
}
.filter_right select {
    background: none;
	background: #30b753;
	color: #fff;
	padding: 3px 5px;
	width: 90px;
	outline: none;
	border: none;
}
.resource_classify {
	width: 15%;
	line-height: 20px;
	border-bottom: 5px solid #ededed;
	float: left;
	margin-top: 30px;
	position: relative;
	text-align: center;
}

.resource_middle:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
#contentWrapper{
background: rgb(245,252,246);

}
.resource_classify span {
	font-size: 12px
}

.classify_p {
	display: inline-block;
	padding: 0 20px;
	height: 100%;
	height: 30px;
	margin: 0;
}

.classify_ul {
	overflow: hidden;
	margin-bottom: 0;
	width: 100%;
	position: absolute;
	top: 35px;
	z-index: 1;
	text-align: left;
	border: 3px solid #04c9a8;
	border-top: none;
	padding: 20px 0;
	background: #fff;
	display: none;
}

#ietanchuang {
	width: 473px;
	height: 280px;
	position: fixed;
	top: 37%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: url(../img/toolTip/ietanchuang.png) no-repeat;
	border-radius: 10px;
	z-index: 20161002;
	font-size: 16px;
	color: #666;
	display: none;
}

#ietanchuang span {
	padding: 7px 50px;
	background-color: #04c9a8;
	position: absolute;
	top: 200px;
	left: 170px;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
}

.classify_ul li {
	float: left;
	margin: 0 10px 8px 10px;
	cursor: pointer;
	min-width: 50px;
	text-align: center;
}

.resource_bottom {
	min-height: 500px;
}

.fp1{
	font-size: 18px;
	color: #30b753;
	line-height: 30px;
	text-indent: 50px;
	margin-top: 30px;
	font-weight: 600;
	background: url(../img/resource/xuanzejiansuokongzhitiaojian.png) no-repeat 30px 5px;
}
.fp2{
	font-size: 16px;
	color: #999;
	text-indent: 60px;
}
.delete {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer
}
.rightdiv {
	display: inline-block;
}
.classify_sort {
	width: 50px;
	margin: 0 10px;
}

.class_img {
	padding: 0 7px;
	background: url(../img/home/descending.png) no-repeat;
	background-size: 10px;
	background-position: 2px;
	margin-left: -16px;
}

.sort_text {
	line-height: 40px;
}

.sort_btn {
	width: 15px;
	font-size: 13px;
}

.order_btn {
	display: block;
	width: 100%;
	height: 40%;
	border: 0;
	background: none;
	outline: none;
}

.ascending {
	background: url(../img/home/ascending.png) no-repeat center;
	background-size: 80%;
	background-position: 0 9px;
}

.descending {
	background: url(../img/home/descending.png) no-repeat center;
	background-size: 80%;
	background-position: 0 2px;
}

.experiment {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.resource_border {
	width: 100%;
	height: 5px;
	background: #ededed;
}

.row {
	margin: 0;
}
#bg {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 20170317;
	-moz-opacity: 0.7;
	opacity: .70;
	display: none;
}
.filtepopups input, .filtepopups select {
    width: 470px;
    height: 40px;
    margin-left: 5px;
    background: #e0f6e4;
    border: 1px solid #ccc;
}
.filtepopups .select220{
	width: 220px;
}
.filterbtn{
	padding: 3px 80px;
    border: none;
    outline: none;
    background-color: #30b753;
    color: #fff;
	border-radius: 5px
}
.formdiv {
	width: 600px;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.filtepopups {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 1050px;
	height: 700px;
	z-index: 20170318;
	background: #e0f6e4;
	border: 2px solid #30b753;
	display: none;
}
.resource_ul {
	text-align: center;
	margin-bottom: 50px;
}

.resource_li {
	margin: 25px 0;
	text-align: center;
	width: 20%;
	float: left;
	height: 161px;
}
.type_img{
	width: 15px;
	height: 15px;
	margin: 0 5px
}
.resource_li img {
	display: inline-block;
}

.resource_li a {
	display: block;
	font: 16px/30px "微软雅黑";
	color: #666;
	position: relative;
	height: 138px;
	background-size: 100%
}

.resource_p {
	line-height: 20px;
	font-size: 12px;
	color: #7e7e7e;
   border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin: 0 auto;

	padding: 0 5px;
}

.res_box{
	width: 188px;
	height: 138px;
	margin: 0 auto;
	position: relative
}

.res_bottom {
	height: 75px;
	position: relative;

}



.res_abox {
	width: 188px;
	margin: 0 auto;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #666;
	border-color: #fff
}


.role_name{
	font-size: 12px;
    color: #fff;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #333;
    opacity: 0.7;
    padding: 0 5px;
	left: 0;
    line-height: 26px;
}
.role_name .left,.role_name .right{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;
	text-overflow: ellipsis;
}
.role_name:hover, .role_name:focus {
	color: #fff !important;
}
.role_name .left{
	text-align: left;
}
.res_school .left,.res_school .right{
	width: 88px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;

	text-overflow: ellipsis;
}
.res_school .left{
text-align: left;
}
.role_name:hover{
	color: #fff
}
.resource_img {
	width: auto;
	max-width:100%;
	height: 154px;
}
.resource_li .res_school{
	font-size: 12px;
	color: #fff;
	height: auto;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #333;
	opacity: 0.7;
	padding: 0 5px
}
.resource_title {

	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	text-align: left;
    color: #30b753
}
.res_bottom a:hover{
	 color: #30b753
}
.current_selected,
.current_selected1 {
	color: red;
}

.sort_desc_red {
	background: url(../img/home/r_descending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 2px;
}

.sort_asc_red {
	background: url(../img/home/r_ascending.gif) no-repeat center;
	background-size: 80%;
	background-position: 0 9px;
}

a:focus {
	outline: none
}


.filtepopups_left .resource_classify {
    width: 14%;
    line-height: 20px;
    border-bottom: 5px solid #eee;
    float: left;
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.filtepopups_left{
	background: #fff;
	padding: 10px 20px;
}
.filtepopups_left .classify_p {
    display: inline-block;
    padding: 0 20px;
    height: 100%;
    height: 30px;
    margin: 0;
}
.filtepopups_left .class_img {
    padding: 0 7px;
    background: url(../img/home/descending.png) no-repeat;
    background-size: 10px;
    background-position: 2px;
    margin-left: -16px;
}
.filtepopups_left .classify_ul {
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 1;
    text-align: left;
    border: 3px solid #30b753;
    border-top: none;
    padding: 20px 0;
    background: #fff;
    display: none;
}
.filtepopups_left .classify_ul li {
   text-align: center;
    margin: 0 10px 5px 10px;
    cursor: pointer;
    min-width: 50px;
	background: none;
	line-height: 30px;
}
.filtepopups_left {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 1050px;
	height: 700px;
	z-index: 20170318;
	background: #e0f6e4;
	border: 2px solid #30b753;
	display: none;
}
.filtepopups_left .choice{
	position: absolute;
    bottom:100px;
    left: 0;
    right: 0;
	font-size: 16px;
}
.filtepopups_left .formdiv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.resource_a,.resource_a:hover {
	color: #30b753
}
.fz12 {
    font-size: 12px;
    color: #666;
}
.res_bottom a{
	height: auto;
}
@media(max-width:1050px){
	.resource_listbox{
		width: 900px;
	}
	.search{
		position: relative;
		left: 20px;
		background: inherit !important;
	}
	.filter_right{
		width: 700px;
	}
	.filter_list li{
		margin-right: 70px;
	}
	.mlr95{
		margin: 0;
	}
	.filtepopups, .filtepopups_left{
		width: 850px;
	}
}
@media(max-width:1310px){
	.resource_box{
		width: 100%;
	}
}
@media(max-width:1260px){
	.resource_box{
		width: 100%;
	}
	.resource_li{
	width: 25%;
	}
}
@media(max-width:1020px){
	.resource_box{
		width: 100%;
	}
}
@media(max-width:992px){
    	.resource_li{
	width: 33.3%;
	}
}
