.left {
	float: left
}

.right {
	float: right
}

#contentWrapper {
	padding-top: 0;
	/*background: #f5f4f9;*/
}

.grayBack {
	width: 100%;
	height: 100%;
	padding-bottom: 15px;
	overflow: hidden;
	background: #f5f4f9;
}

.teachStyleOutter {
	width: 1200px;
	margin: 0 auto;
}

.teachTop {
	width: 100%;
	margin: 20px 0;
}

.teachTop .teachTopTitle {
	width: 100%;
}

.teachTop .teachTopBox {
	padding: 0 50px;
	overflow: hidden;
	margin-top: 5px;
}

.teachTop .teachTopBox .teachRanking {
	background: #eee;
	float: left;
}

.teachTop .teachTopBox .teachRanking1, .teachTop .teachTopBox .teachRanking3 {
	width: 350px;
	margin-top: 30px;
}

.teachTop .teachTopBox .teachRanking1 .rank, .teachTop .teachTopBox .teachRanking3 .rank {
	height: 110px;	
	display: block;
	overflow: hidden;
}

.teachTop .teachTopBox .teachRanking2 {
	width: 400px;
	padding: 5px;
}

.teachTop .teachBorder {
	width: 100%;
	height: 17px;
	margin-top: 8px;
}

.teachTop .rankImgBox {
	width: 48%;
	background: #fff;
	float: left;
	position: relative;
	overflow: hidden;
}

.teachTop .rankImgBox .rankName {
	text-align: center;
	color: #fff;
}

.teachTop .rankImgBox.rankImgBoxLeft .rankName {
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 10px 0 0 5px
}

.teachTop .rankImgBox.rankImgBoxRight .rankName {
	float: right;
	width: 55px;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 10px 3px 0 0
}

.teachTop .teachRanking2 .rankImgBox .rankName {
	width: 60px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 16px;
}

.teachTop .teachRanking2 .rankImgBox.rankImgBoxRight .rankName {
	right: 5px;
	left: inherit
}

.teachTop .rankImgBox.rankImgBoxLeft .triangle {
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 15px;
}

.teachTop .rankImgBox.rankImgBoxRight .triangle {
	float: right;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 15px;
}

.teachTop .rankImgBox .teachAvater {
	width: 110px;
	height: 110px;
}

.teachTop .rankImgBox.rankImgBoxLeft .teachAvater {
	float: right;
}

.teachTop .rankImgBox.rankImgBoxRight .teachAvater {
	float: left;
}

.teachTop .teachRanking2 .rankImgBox .teachAvater {
	width: 124px;
	height: 125px;
	border-top-left-radius: 62.5px;
	border-bottom-left-radius: 62.5px;
}

.teachTop .teachRanking2 .rankImgBox.rankImgBoxRight .teachAvater {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 62.5px;
	border-bottom-right-radius: 62.5px;
}

.teachTop .rankTextBox {
	width: 52%;
	float: left;
	padding: 8px;
	color: #666;
	background: #eee;
	position: relative
}

.teachTop .rankTextBox .medalImg {
	position: absolute;
	top: 5px;
	right: 10px;
	height: 60px;
}

.teachTop .teachRanking2 .rankTextBox {
	padding: 11px;
}

.teachTop .rankTextBox .rankTextTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 5px;
	cursor: default;
}

.teachTop .teachRanking2 .rankTextBox .rankTextTitle {
	width: 140px;
	margin-bottom: 10px;
}

.teachTop .rankTextBox .rankTextSubject {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	cursor: default;
}

.teachTop .rankTextBox .rankTextIntro {
	font-size: 12px;
	height: 48px;
	overflow: hidden;
	cursor: default;
}

.teachTop .teachRanking2 .rankTextBox .rankTextSubject, .teachTop .teachRanking2 .rankTextBox .rankTextIntro {
	font-size: 14px;
}

.teachTop .teachRanking2 .rankTextBox .rankTextSubject {
	width: 140px;
}

.teachTop .rankTextBox .rankTextIntro p {
	line-height: 16px;
	margin: 0;
	display: block;
	text-align: justify;
}

.teachBottom {
	width: 100%;
	background: #e9e9e9;
	padding: 10px 7px
}

.teachBottom .teachListBox {
	width: 100%;
	overflow: hidden;
}

.teachBottom .teachList {
	width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 15px;
	color: #666;
	display: inline-block;
	background: #fff;
	float: left;
	text-align: center;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	letter-spacing: 1px;
	padding-left: 1px;
}

.teachBottom .teachList.active {
	color: #fff;
	font-size: 18px;
	letter-spacing: 3px;
	padding-left: 3px;
}

.teachBottom .borderBox {
	width: 100%;
	height: 2px;
}

.teachBottom .teachSortBox {
	height: 46px;
	padding-top: 10px;
	margin-top: 20px;
	text-align: right;
	border-bottom: 2px solid #ce1823;
}

.teachBottom .teachSort {
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	font-size: 15px
}

.teachBottom .teachSort .teachSortBtn {
	height: 22px;
	line-height: 22px;
	color: #000;
	padding: 0 10px;
	border-radius: 2px;
}

.teachBottom .teachSort.active .teachSortBtn {
	color: #fff;
	font-size: 15px;
}

.teachBottom .teachSort.active {
	padding-bottom: 12px;
}

.teachBottom .teachTable {
	width: 100%;
	font-size: 14px;
	table-layout:fixed;
}

.teachBottom .teachTable thead {
	border-bottom: 2px solid #eee
}

.teachBottom .teachTable th {
	line-height: 40px;
	background: #fff;
	color: #666;
	font-size: 15px;
}

.teachBottom .teachTable td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.teachBottom .teachTable tbody tr {
	border-bottom: 2px solid #fff;
	color: #666;
}

.teachBottom .teachTable tbody tr:nth-child(odd) {
	background: #f5d9d9;
}

.teachBottom .teachTable tbody tr:nth-child(even) {
	background: #faeeea;
}

.teachBottom .teachTable tbody tr:nth-child(5n) {
	border-bottom: 13px solid #fff;
}

.teachBottom .teachTable tbody tr:nth-child(1), .teachBottom .teachTable tbody tr:nth-child(2), .teachBottom .teachTable tbody tr:nth-child(3) {
	color: #000;
}

.teachBottom .teachTable tbody td {
	padding: 5px 0;
	line-height: 20px;
}

.teachBottom .teachTable tbody tr:nth-child(1) td, .teachBottom .teachTable tbody tr:nth-child(2) td, .teachBottom .teachTable tbody tr:nth-child(3) td {
	padding: 4px 0;
}

.teachBottom .teachTable tbody td .numId {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	border: 1px solid #5c5c5c;
	text-align: center;
	line-height: 14px;
	font-family: "黑体"
}

@media screen and (max-width: 1400px) and (min-width: 1300px) {
	.mainbody {
		width: 98%;
	}
}

@media screen and (max-width: 1299px) and (min-width: 1250px) {
	.mainbody {
		width: 100%;
	}
}

@media screen and (max-width: 1249px) and (min-width: 0px) {
	body {
		width: 1249px;
		overflow-x: scroll
	}

	.mainbody {
		width: 100%;
	}
}