.voiceDiv{
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	color: #333;
	line-height: 26px;
	overflow: hidden;
	border: 1px solid #E9C232;
	margin-bottom: 10px;
	position: relative;
}
.voiceName{
	padding: 0 10px;
}
.voiveTitle{
    font-weight: 600;
	padding: 10px 10px 0 10px;
}
.voiveFanyi{
	height: 30px;
	padding: 0 10px;
	border-bottom: 1px solid #e9c232
}
.voiveFanyi p{
	display: none;
}
.voicePlay,.voiveKanfy{
	float: left;
	width: 200px;
	padding: 0px 0 3px 10px;
	cursor: pointer;
}
.voiceDiv .audioIcon1,.voiceDiv .audioIcon2{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top:7px
}
.voiveKanfy img{
	width: 20px;
	height: 20px;
}
.voiceDiv .audioIcon1{
	background: url(../img/exercise/bofang1.png) no-repeat;
	background-size: 90%
}
.voiceDiv .audioIcon2{
	background: url(../img/exercise/gendu1.png) no-repeat;
	background-size: 100%
}
.voiceDiv .audioIcon1.active{
	background: url(../img/exercise/bofang2.png) no-repeat;
	background-size: 100%
}
.voiceDiv .audioIcon2.active{
	background: url(../img/exercise/gendu2.png) no-repeat;
	background-size: 100%
}
.voicePlay span,.voiveKanfy span{
	display: inline-block;
	margin-left: 4px;
	font-size: 16px;
	position: relative;
	top: 2px
}
.right{
	float: right;
}
.isRight{
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px
}
.juzi .voiveKanfy{
	display: none
}
