<layout name="teacher_layout_1"/>
<style>
    .register-users span {
        display: inline-block;
        padding: 4px 12px;
        margin-right: 10px;
        background-color: #FC923F;
        color: white;
    }
</style>
<style>
    .content a{
        color: #444;
    }
</style>
<div class="list-item fn-clear card-border-rad fs-feed-item">
    <div class="fs-list-item">
        <div class="feed-main-warp">
            <div class="item-top fn-clear">
                <div class="item-face" feedid="1422">
                    <a href="#">
                        <img src="__PUBLIC__/img/jingtong.png"></a>
                </div>
                <div class="item-info">
                    <div class="item-name fn-clear">
                        由 <a class="employee-name" href="#">{$activity.publisher}</a> 发布
                    </div>
                    <div class="item-time fn-clear">
                            <span class="create-time">
                                <a href="{:U('Teacher/activityDetails?id=')}{$data.id}"
                                   class="f-date">
                                    {$activity.create_at|date="Y-m-d H:i",###}</a>
                            </span>
                        <span>-</span>
                            <span class="group" data-ispublic="true">
                                <a href="javascript:void(0);"> 面向 {$activity.stakeholder}</a>
                            </span>
                    </div>
                </div>
                <div class="item-info-right">
                </div>
            </div>
            <div class="item-detail">
                <div class="info-all-content ">
                    <div class="item-text">
                        <div class="content">
                                <span class="feed-summary-text">
                                    <h3>{$activity.title}</h3>
                                    <br>
                                    {$activity.content}
                                </span>
                        </div>
                    </div>
                    <div class="item-media"></div>
                    <div class="audio-btn"></div>
                    <div style="margin-top: 20px;">
                        <strong>已报名人员(<span>{$registerTotal}</span>)：</strong>
                        <p style="margin-top: 8px;" class="register-users">
                            <volist name="registerDetails" id="data" empty="暂时没有">
                                <span>{$data.user_name}</span>
                            </volist>
                        </p>
                    </div>
                </div>

                <div class="item-func fn-clear">
                    <div class="handle">
                        <div class="fl-fn-btn"><a
                                href="javascript:void(0);"
                                class="aj-Reply aj-feed-fn-com-btn"> 申请报名</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--feed下部回复部分-->
        <div class="feed-reply-wrapper">
            <div class="feed-reply list-repeat card-feed-reply" data-widget-cid="widget-62" style="">
                <div class="reply-header-wrapper">
                    <div class="reply-header">
                        <div class="input-box main-input main-input-with-pt">
                            <div class="input-box-shown fn-clear fn-hide" style="display: block;">
                                <div class="avatar-wrapper fn-left">
                                    <img src="http://www.fspage.com/html/base-dist/assets/images/employee_default_120_120.png"
                                         alt="" class="login-user-avatar">
                                </div>
                                <div class="box-r fn-left">
                                    <div class="input-wrapper">
                                        <fieldset>
                                            <textarea
                                                    class="reply-input autosize-animated fs-publish-input fs-publish-at-focus"
                                                    placeholder="{$activity.register_info}..."
                                                    style="overflow: hidden; word-wrap: break-word; resize: none; height: 32px;"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="media">

                                    </div>
                                    <div class="f-actions">
                                        <button type="button" class="f-sub button-submit">报名</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
