<layout name="teacher_layout_2"/>
<link href="__PUBLIC__/oa/forum.css" rel="stylesheet">
<style>
    .w-g-main{
        background-color: white;
        padding-left: 20px;
        width: 880px !important;
    }
    .type-title{
        font-size: 20px;
    }
    .common-block-body{
        clear: both;
        display: block;
    }
</style>
<div class="type-block common-block">
    <div class="type-title ">
        我收藏的板块
    </div>
    <div class="common-block-body">
        <div class="row">
            <volist name="list" id="data">
                <div class="col-xs-4 form-brief">
                    <div class="one_forum margin_bottom_10 clearfix">
                        <div class="row forum_bg">
                            <div class="col-xs-3">
                                <a href="{:U('Teacher/bbsTopics?id=')}{$data.id}">
                                    <img class="logo" src="__ROOT__/Uploads/Forum/{$data.id}.jpg"></a>
                            </div>
                            <div class="col-xs-6 forum-intro">
                                <div>
                                    <h3><a href="{:U('Teacher/bbsTopics?id=')}{$data.id}" class="">{$data.class_name}</a>
                                    </h3>
                                </div>

                                <div>
                                    <div class="admin text-more" style="width: 100%"
                                         title="{$data.intro}">{$data.intro}
                                    </div>
                                </div>
                                <div class=" body">
                                    <div class="margin_bottom_10">
                                        帖子：<a href="{:U('Teacher/bbsTopics?id=')}{$data.id}">{$data.topic_count}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>
        </div>

    </div>
</div>