<layout name="teacher_layout_1"/>
<volist name="list" id="data" empty="暂时没有信息">
<div class="list-item fn-clear card-border-rad fs-feed-item">
    <div class="fs-list-item">
        <div class="feed-main-warp">
            <div class="item-top fn-clear">
                <div class="item-face">
                    <a href="#">
                        <img src="__ROOT__/Uploads/Avatars/{$data.publisher_id}_t.jpg"></a>
                </div>
                <div class="item-info">
                    <div class="item-name fn-clear">
                        <a class="employee-name"
                           href="#">{$data.publisher}</a>
                    </div>
                    <div class="item-time fn-clear">
                        <span class="create-time">
                            <a href="#" class="f-date">{$data.create_at|date="Y-m-d H:i",###}</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="item-detail">
                <div class="info-all-content ">
                    <div class="item-text">
                        <div class="content">
                            <h4 style="text-align: center;">{$data.title}</h4>
                            <span class="feed-summary-text">{$data.content}</span>
                        </div>
                    </div>
                    <div class="item-media"></div>
                    <div class="audio-btn"></div>
                </div>
                <div class="item-func fn-clear">
                    <div class="handle">
                        <div class="fl-fn-btn islike"><span
                                class="islike-btn aj-feed-fn-com-btn"
                                title="赞"><b></b><span href="javascript:void(0);"
                                                       class="likecount ">(<span
                                class="likecountnum">{$data.zan_count}</span>)</span></span>
                        </div>
                        <div class="fl-fn-btn"><i class="S_txt3">|</i> <a
                                href="javascript:void(0);"
                                class="aj-Reply aj-feed-fn-com-btn"> 回执</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</volist>