<layout name="teacher_layout_2"/>
<style>
    .btn {
        width: 100px;
        height: 52px !important;
        margin: 0 10px;
        display: inline-block;
        line-height: 52px;
        color: white !important;
    }
</style>
<div class="list-item fn-clear card-border-rad fs-feed-item">
    <h3 style="font-weight: normal;padding: 20px 0 0 20px;font-size: 16px;">请选择要发布的资源形式：</h3>

    <div style="height: 156px;padding-top: 50px;text-align: center;">
        <a href="{:U('Teacher/publishResourceCusPage')}" class="btn w-g-btn w-g-btn-default">交互式课件</a>
        <a href="{:U('Teacher/publishResourcePptPage')}" class="btn w-g-btn w-g-btn-default">PPT</a>
        <a href="{:U('Teacher/publishResourceAttPage')}" class="btn w-g-btn w-g-btn-default">普通附件</a>
    </div>
</div>
