body {
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    font-size: 16px;
    margin: 0;
}

.wrapper {
    padding: 15px;
}

img {
    max-width: 100%;
	height: auto !important;
}

.list_avatar {
    width: 26px;
    height: 26px;
}

.padding10 {
    padding: 10px;
}

.section {
    margin: 6px 0;
}

.brief {
    text-align: left;
    padding: 10px 0 !important;
    line-height: 26px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 12px 0;
}

.content {
    padding-top: 20px;
}
.clearfix{
    clear: both;
}
.top-info{
    font-size: 14px;
    padding-top: 10px;
}
.gray-word{
    color: #989898;
}