.questionWrapper {
    margin:  0 auto;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    width: 1000px;

}

.exerciseQuestion {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 0;
    margin-bottom: 8px;
    margin-top: 20px;
    width: 1000px;
    position: relative;
}

.exerciseQuestion p:nth-child(2){
    display: inline-block;
    margin: 0;
}

.textAreaInput, .tianKongInput {
    padding: 8px 0 8px 20px;
}
.exerciseQuestionWordOption{
  padding: 0;
  width: 50%;
  float: left;
  position: relative;
  z-index: 2
}
.exerciseQuestionWordOption label{
  margin-bottom: 0
}
.textAreaInput textarea {
    width: 96%;
    padding: 6px;

}

.tianKongInput input {
    display: inline-block;
  width: 170px;

    border: none;
    border-bottom: 1px #808080 solid;
    text-align: center;
}

.exerciseQuestionWordOption.checked {
    color: green;
}

/*横向选项的样式*/
.exerciseQuestionWordOption.horizontal {
    display: inline-block;
}

/*竖向选项的样式*/
.exerciseQuestionWordOption.vertical {

}

#scoreDetails {
    width: 100%;
    border-collapse: collapse;
}

#scoreDetails td {
    border: 1px solid #000;
    padding: 4px;
    text-align: center;
    text-wrap: avoid;
    background-color: #fff;
    width: 80px;
}

.scoreInput {
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    margin-left: 7px;
}

#scoreWrapper h3 {
    padding-left: 10px;
}

/*连线题*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.matchQuestionWrapper {
    position: relative;
    width: 700px;
    margin: 0;
    cursor: pointer;
}

.match_canvas {
    position: absolute;
    left: 250px;
    top: 0px;
    z-index: 1;
}

.match_backcanvas {
    position: absolute;
    left: 250px;
    top: 0px;
    z-index: 0;
}

.matchQuestionLeftWrapper {
    float: left;
    width: 150px;
}

.matchQuestionRightWrapper {
    float: right;
    width: 150px;
}

.matchQuestionShowItem {
    width: 250px;
    height: 120px;
    display: block;
    margin: 10px 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #EAC41B;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    overflow-y: auto;
}
.matchQuestionShowItemWraper{
    display: block;
    margin: 20px;
}

.matchQuestionWrapper div.addstyle {
    background: #F96;
}

.match_tools {
    position: absolute;
    height: 30px;
/*    width: 464px;*/
    width: 700px;
    position: absolute;
    top: -50px;
/*    left: 10px;*/
    left: 50px;
}

.match_tools div {
    float: right;
    height: 30px;
    padding: 0 5px;
    margin: 0 5px;
    color: #0C9;
    cursor: pointer;
    line-height: 52px;
}

.match_tools div:hover {
    color: #C30;
}

.match_tools .addstyle {
    background-color: #fff !important;
}
.radioExaminationDiv,.radioExamination{
  overflow: hidden;
}
