.exerciseContent .choiceAnswer,.exerciseContent li p{
	float: left;
	display: contents;
}
.exerciseContent li,.exerciseJx,.exerciseAnswer{
	overflow: hidden;
	padding: 10px
}
.difficulty,.exerciseDifficulty{
	display: none
}
.exerciseTemplate{
	border-bottom: 1px dashed #f2b81a
}
.exerciseOutter{
	padding: 10px;
}
.appTopTitle{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.exerciseTemplate .p10,.exerciseTemplate .p15{
	padding: 10px !important;
	overflow: hidden;
}
.color3baeab,.remarkTitle{
	margin-left: -8px
}
.caption{
	float: left
}
.answerInput{
	outline: none;
	border: none;
	border-bottom: 1px solid #000;
	width: 30px;
	background: #fff
}
.answerBox p{
	display: contents
}
