#mainWrapper {
    background: url(../../img/bg2.png) repeat-x;
    background-color: #f8f1df;
    padding: 96px 80px 0 0 !important;
}

.tile-group-title {
    font-size: 28px !important;
    width: 320px;
    text-align: center;
    background: url("../../img/title_bg.png") no-repeat;
    color: #5D5D5C !important;
    height: 57px;
    line-height: 57px !important;

}

.tile-container {
    margin-top: 50px;
}

.logo {
    position: absolute;
    left: 75px;
    top: 21px;
}

.bg-jingtongquan {
    background: #940B01 !important;
}

.bg-jiaoxuejia {
    background: #6A582C !important;
}

.bg-banjixing {
    background: #A49267 !important;
}

.bg-me {
    background: #908E87 !important;
}

.image-button .icon {
    background-color: #999999 !important;
}