#mainWrapper {
background: url("../../img/topbg3.jpg") repeat-x #5c6164 !important;
}

.tile-group-title {


}

.tile-container {

}

.logo {
    position: absolute;
    left: 75px;
    top: 21px;
}

.bg-jingtongquan {
    background: #AD0911 !important;
}

.bg-jiaoxuejia {
    background: #00A0EA !important;
}

.bg-banjixing {
    background: #699CDD !important;
}

.bg-me {
    background: #908E87 !important;
}

.image-button .icon {
    background-color: #999999 !important;
}
.tile-group .tile-group-title{
font-size: 30px  !important;
}
.tile-label{
font-size: 19px  !important;
}