
.tile-group {
    margin-top: 0px;
    padding-top: 35px !important;
}

.logo {
    position: absolute;
    left: 78px;
    top: 10px;
    height: 90px;
}

.bg-jingtongquan,.bg-jingtongquan img {
    background: #2F919E !important;
}

.bg-jiaoxuejia {
    background: #2F919E !important;
}

.bg-banjixing {
    background: #2F919E !important;
}

.image-button .icon {
    background-color: #999999 !important;
}

.tile-group .tile-group-title {
    font-size: 30px !important;
    width: 320px;
    text-align: center;
}

.tile-label {
    font-size: 19px !important;
}

#mainWrapper {
    background: url("desktopbg.png") repeat-x #0C607D !important;
    margin: 0 auto;
    width: 1000px;
}

#copyright {
    position:absolute;
    bottom:16px;
    text-align: center;
    width: 100%;
    font-size: 19px;
    color: white;
}
.feature-img {
    height: 100%;
    display: inline-block;
}

.tile-content {
    text-align: center;
    line-height: inherit;
    overflow: hidden;
}

.tile-area-controls{
    top: 20px !important;
}
.tile-group .tile-group-title
{
    top: -6px !important;
}
.tile-area{
    padding-top: 105px;
}
