.app-bar {
    background: url('../../img/topbg3.jpg') repeat-x !important;
}

.app-bar .app-bar-menu > li.selected {
    background-color: #5c6164;
}

.app-bar .app-bar-menu > li:hover,
.app-bar .app-bar-menu > li > a:hover,
.app-bar .app-bar-menu > li:active,
.app-bar .app-bar-menu > li > a:active {
    background-color: #5c6164;
}

.app-bar .app-bar-element:hover,
.app-bar .app-bar-element:active {
    background-color: #5c6164;
}

.app-bar .app-bar-menu > li .d-menu {
    border: 1px solid #5c6164;
}

.app-bar .app-bar-drop-container {
    border: 1px solid #5c6164;
}

.text-center {
    text-align: center !important;
}

.app-bar .app-bar-menu, .branding {
    margin-top: 5px !important;
}

.branding {
    margin-top: 10px !important;
}

h3 {
    color: #566579;
}

.button.dark {
    background: #53667A;
    color: #ffffff;
    border-color: #8C959F;
}

/*列表搜索栏样式*/
.searchbar label {
    display: inline-block;
    width: 70px;
}

.searchbar select {
    border: 1px #d9d9d9 solid;
    width: 140px;
    height: 100%;
    padding: .3125rem;
}

.searchbar input {
    border: 1px #d9d9d9 solid;
    width: 140px;
    height: 100%;
    padding: .3125rem;
}