
.app-bar {
    background: #fff !important;
    border-bottom: 1px solid #940B01;
}

.module3 {
    background-color: orange !important;
}

.module2 {
    background-color: green !important;
}

.module1 {
    background-color: red !important;
}

.app-bar .app-bar-menu > li {
    margin-right: 19px !important;
}

.app-bar .app-bar-menu > li.selected {
    background-color: #940B01;
}

.app-bar .app-bar-menu > li:hover,
.app-bar .app-bar-menu > li > a:hover,
.app-bar .app-bar-menu > li:active,
.app-bar .app-bar-menu > li > a:active {
    background-color: #C10E01;
}

.app-bar .app-bar-element:hover,
.app-bar .app-bar-element:active {
    background-color: #940B01;
}

.app-bar .app-bar-menu > li .d-menu {
    border: 1px solid #940B01;
}

.app-bar .app-bar-drop-container {
    border: 1px solid #940B01;
}

.text-center {
    text-align: center !important;
}

.app-bar .app-bar-menu, .branding {
    margin-top: 5px !important;
}

.branding {
    margin-top: 10px !important;
}

h3 {
    color: #566579;
}

.app-bar .app-bar-menu > li, .app-bar .app-bar-menu > li > a {
    font-size: 22px !important;
}

.app-bar-element.place-right {
    color: #000;
}

.app-bar > a:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.app-bar > a:active {
    background-color: #fff !important;
    color: #000 !important;
}

.app-bar-element.branding:active {
    background-color: #fff !important;
    color: #000 !important;
}

.button {
    height: 40px !important;
    font-size: 19px !important;
}

.d-menu li a {
    color: #000;
    font-size: 16px;
}

/*列表搜索栏样式*/
.searchbar label {
    display: inline-block;
    width: 70px;
}

.searchbar select {
    border: 1px #d9d9d9 solid;
    width: 140px;
    height: 100%;
    padding: .3125rem;
}

.searchbar input {
    border: 1px #d9d9d9 solid;
    width: 140px;
    height: 100%;
    padding: .3125rem;
}

.btn-main-opr {
    color: white !important;
}

