.app-bar{
    background: url('../../img/appbar_bg.png') repeat-x !important;
}
.app-bar .app-bar-menu > li.selected{
    background-color: #940B01;
}
.app-bar .app-bar-menu > li:hover,
.app-bar .app-bar-menu > li > a:hover,
.app-bar .app-bar-menu > li:active,
.app-bar .app-bar-menu > li > a:active {
    background-color: #C10E01;
}
.app-bar .app-bar-element:hover,
.app-bar .app-bar-element:active {
    background-color: #940B01;
}
.app-bar .app-bar-menu > li .d-menu
{
    border: 1px solid #940B01;
}
.app-bar .app-bar-drop-container{
    border: 1px solid #940B01;
}
.text-center{
    text-align: center !important;
}
.app-bar .app-bar-menu,.branding{
    margin-top: 5px !important;
}
.branding{
    margin-top: 10px !important;
}
h3{
    color: #566579;
}