.list_avatar {
    width: 36px;
    height: 36px;
    border-radius: 6px;
}

.list_title {
    font-size: 16px;
    padding: 4px 0;
    margin: 0;
}

.list_title a {
    color: #171717 !important;
    display: block;
/*    white-space: nowrap;*/
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
	line-height: 25px;
}

.list_sub_title {
    font-size: 14px;
    color: #566579;
    padding: 4px 0;
    width: 300px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_sub_title img {
    display: none;
}

.table.border {
    border: none;
}

.table thead {
    border-bottom: 4px solid #dddddd;
}

.table {
    table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}

.avatarDiv {
    border: 1px solid #52677a;
    border-radius: 6px;
    width: 36px;;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

.table td {
    vertical-align: middle !important;
    padding: 4px 4px !important;
    word-break: keep-all; /* 不换行 */
/*    white-space: nowrap;  不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}

.emptyResult {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.list_title {
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis; /* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis"); /*FireFox*/
}
.dataTables_filter,.dataTables_info{
    display: none;
}
table.dataTable thead th, table.dataTable thead td{
/*    border-bottom: 1px solid #dddddd !important;*/
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
/*    border-bottom: 1px solid #dddddd !important;*/
}
