*{margin:0; padding: 0;}
body{color: #333; font-size: 15px; font-family: 'CalibriRegular', Arial, sans-serif; background: #fff;}
.wrapper{margin: 0px auto; width: 802px;
-moz-box-shadow: 0px 0px 15px #999;
-webkit-box-shadow: 0px 0px 15px #999;
box-shadow: 0px 0px 15px #999;
padding: 10px 10px 15px;overflow: hidden;
background: #EFEFEF;
border: 1px solid #FFF;}

p{margin: 10px 0;}
h1{color: #2D5AC3;background: #5E5544;padding: 7px 10px 0;}
h4{margin-top: 15px;font-size: 18px;}
#mediaspace{padding-top: 5px;text-align: center;}
ul{-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
overflow: hidden;
margin: 1em 0;}
ul li{width: 50%; float: left;}
ul {margin: 0;padding: 0 25px;}

pre{white-space: pre-wrap; font-family: 'CalibriRegular', Arial, sans-serif;}

#samplecontent{margin: 15px 0 10px;}
#samplecontent h4{margin-bottom: 10px;}
#samplecontent li{list-style:none;}
#samplecontent p{font-weight: bold;}
p.support{font-weight: bold; font-size: 14px;}
p a{color: #1E7EC8;}
p.support a{color: #1E7EC8;
text-decoration: none;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;}

h5{font-weight: bold; font-size: 14px;margin-bottom: 10px;}
.hdflv_screenshot{overflow: visible; list-style: none;}
.hdflv_screenshot li div{display: none; width: 622px; height: 351px;}
.hdflv_screenshot li .thumb {width: 101px; height: 57px;}
.hdflv_screenshot li .screenimg {}
.hdflv_screenshot li{position: relative;text-align: center;float: left;margin: 0 10px;width: 101px;
padding: 2px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;}
.hdflv_screenshot li:hover div{display: block;
bottom: 70px;
position: absolute;
padding: 2px;
-webkit-box-shadow: 0 0 6px #000;
-moz-box-shadow: 0 0 6px #000;
box-shadow: 0 0 6px #000;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background: #fff;
}
.hdflv_screenshot li div{}
.hdflv_screenshot li div.screen_2{left: -124px;}
.hdflv_screenshot li div.screen_3{left: -194px;}
.hdflv_screenshot li div.screen_4{left: -319px;}
.hdflv_screenshot li div.screen_5{left: -396px;}
.hdflv_screenshot li div.screen_6{left: -583px;width: 684px;height: 388px;}
.hdflv_screenshot li div::after {
content: "";
width: 0;
height: 0;
bottom: -8px;
position: absolute;
border-left: 8px solid #DFDFDF;
border-right: 8px solid #DFDFDF;
border-top: 8px solid #FFF;
}
.hdflv_screenshot li div.screen_1::after {left: 44px;}
.hdflv_screenshot li div.screen_2::after {left: 171px;}
.hdflv_screenshot li div.screen_3::after {left: 242px;}
.hdflv_screenshot li div.screen_4::after {left: 364px;}
.hdflv_screenshot li div.screen_5::after {left: 444px;}
.hdflv_screenshot li div.screen_6::after {left: 630px;}




