<layout name="admin_layout_school"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">

<div class="indexOutter overHidden">
    <div class="standardMain hrefContent">
        <a href="{:U('Teacher/teacherList')}" class="returnBack">教师列表</a>
        >
        <span class="thePage">导入教师</span>
    </div>

    <div class="standardMain classContent tableContent mt0">
        <div class="blueBox">
        	<span class="left blueTitle">批量导入教师</span>
        	<a href="{:U('Teacher/downloadTeacherDemo')}" class="blackText right" id="">
        		<img src="__PUBLIC__/img/admin/xiazaimoban.png" alt="" class="mr10">
        		下载教师导入模板
        	</a>
        </div>

        <div class="p20 fileBox mb30">
        	<label for="">文件地址：</label>
        	<input type="text" class="input-control fileAddress" placeholder="文件地址" id='address' readonly autocomplete="off">
        	<a href="javascript:;" title="浏览" class="commonBtnBlue operateBtn btnBig browse_button">浏览</a>
        	<input type="file" name="file" style="display:none;" class="file_csv" id="file_csv" />
        	<a href="javascript:;" title="上传" class="commonBtnBlue operateBtn btnBig upload_file">上传</a>
        </div>

        <div class="tableOutter mb30" id="listWrapperSuccessOutter" style="display: none">
            <p class="tableTitle">导入成功列表</p>
            <!--导入成功-->
			<table id="listWrapperSuccess" class="table striped hovered border newTable">
				<thead>
					<tr>
						<th class="text-center" style="width: 10%;">序号</th>
						<th class="text-center" style="width: 15%;">教师姓名</th>
						<th class="text-center" style="width: 15%;">教师手机号</th> 
						<th class="text-center" style="width: 15%;">性别</th> 
						<th class="text-center" style="width: 15%;">任教年级学科</th> 
						<th class="text-center" style="width: 15%;">邮箱</th> 
						<th class="text-center" style="width: 15%;">简介</th> 
					</tr>
				</thead>
				<tbody id="body"> 
				</tbody>
			</table>
			<div class="Pagination">{$page}</div> 
		</div>

		<div class="tableOutter" id="listWrapperFailOutter" style="display: none">
			<button class="blueBtn commonBtnBlue right" id="download_failed_data">下载失败数据</button> 
            <p class="tableTitle left pt20">导入失败列表</p>
			<table id="listWrapperFail" class="table striped hovered border newTable">
				<thead>
					<tr>
						<th class="text-center" style="width: 12%;">序号</th>
						<th class="text-center" style="width: 12%;">教师姓名</th>
						<th class="text-center" style="width: 12%;">教师手机号</th> 
						<th class="text-center" style="width: 12%;">性别</th> 
						<th class="text-center" style="width: 12%;">任教年级学科</th> 
						<th class="text-center" style="width: 12%;">邮箱</th> 
						<th class="text-center" style="width: 12%;">简介</th> 
						<th class="text-center" style="width: 16%;">失败原因</th>
					</tr>
				</thead>
				<tbody id="body"> 
				</tbody>
			</table>
			<div class="Pagination">{$page}</div> 
		</div>
	</div>
</div>

<!-- <script>
	window.onload=function(){
		var tabs=document.getElementById("tabUl").getElementsByTagName("li");
		var divs=document.getElementById("tabCon").getElementsByClassName("divTable");

		for(var i=0;i<tabs.length;i++){
			tabs[i].onclick=function(){
				change(this);
			}
		}

		function change(obj){
			for(var i=0;i<tabs.length;i++){
				if(tabs[i]==obj){
					tabs[i].className="tabLi tabActive";
					divs[i].className="divTable tabConActive";
				}else{
					 tabs[i].className="tabLi";
					 divs[i].className="divTable";
				}
			}
		} 
	}
	
</script> -->

<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script src="__PUBLIC__/js/importCommon.js"></script>

<script> 
    var file_upload_url="{:U('Teacher/importTeacher')}"; 
    
    var failed_tr='<tr>'+
                    '<td class="text-center">1</td>'+ 
                    '<td class="text-center">教师姓名</td>'+
                    '<td class="text-center">教师手机号</td>'+ 
                    '<td class="text-center">性别</td>'+ 
                    '<td class="text-center">任教年级学科</td>'+ 
                    '<td class="text-center">邮件</td>'+ 
                    '<td class="text-center">简介</td>'+ 
                    '<td class="text-center">失败原因</td>'+ 
                    '</tr>';
    var success_tr='<tr>'+
                    '<td class="text-center">1</td>'+ 
                    '<td class="text-center">教师姓名</td>'+
                    '<td class="text-center">教师手机号</td>'+ 
                    '<td class="text-center">性别</td>'+ 
                    '<td class="text-center">任教年级学科</td>'+ 
                    '<td class="text-center">邮件</td>'+ 
                    '<td class="text-center">简介</td>'+  
                    '</tr>'; 
     
     $('.upload_file').click(function(){  
        upload_file();
    });
    
    var import_complete_data;
    function upload_management(msg){
        if(msg.status==200){
            import_complete_data=msg.data;
            var data=msg.data;
            if(data.failed.length){     //notice_message
                for(var i=0;i<data.failed.length;i++){
                    var failed_tr_obj=$(failed_tr).clone(true);
                    $(failed_tr_obj).find('td').eq('0').text(i+1);
                    $(failed_tr_obj).find('td').eq('1').text(data.failed[i].name);
                    $(failed_tr_obj).find('td').eq('2').text(data.failed[i].telephone);
                    $(failed_tr_obj).find('td').eq('3').text(data.failed[i].sex);
                    $(failed_tr_obj).find('td').eq('4').text(data.failed[i].grade_course);
                    $(failed_tr_obj).find('td').eq('5').text(data.failed[i].email);
                    $(failed_tr_obj).find('td').eq('6').text(data.failed[i].brief_intro);
                    $(failed_tr_obj).find('td').eq('7').text(data.failed[i].notice_message);
                    $("#listWrapperFail").find('#body').append(failed_tr_obj);
                }
                $("#listWrapperFailOutter, #listWrapperFail").show();
                $('.failedEmptyResult').hide();
            }else{
                $('.failedEmptyResult').show();
            }
            if(data.success.length){
                for(var i=0;i<data.success.length;i++){
                    var success_tr_obj=$(success_tr).clone(true);
                    $(success_tr_obj).find('td').eq('0').text(i+1);
                    $(success_tr_obj).find('td').eq('1').text(data.success[i].name);
                    $(success_tr_obj).find('td').eq('2').text(data.success[i].telephone);
                    $(success_tr_obj).find('td').eq('3').text(data.success[i].sex);
                    $(success_tr_obj).find('td').eq('4').text(data.success[i].grade_course);
                    $(success_tr_obj).find('td').eq('5').text(data.success[i].email);
                    $(success_tr_obj).find('td').eq('6').text(data.success[i].brief_intro);
                    $("#listWrapperSuccess").find('#body').append(success_tr_obj);
                }
                $("#listWrapperSuccessOutter, #listWrapperSuccess").show();
                $('.successEmptyResult').hide();
            }else{
                $('.successEmptyResult').show();
            }
        }else{
            $.NotifyBox.NotifyOne('提示',msg.msg,'确定');
            return false;
        }
    }
    
    //下载失败的数据
    $("#download_failed_data").click(function(){
        var failed_data=import_complete_data.failed;
        if(failed_data.length==0){
            // $.Notify({
            //     caption: '提示',
            //     content: '没有失败数据的数据可以导出!',
            //     type: 'warning'
            // });
             $.NotifyBox.NotifyOne('提示', '没有失败数据的数据可以导出', '确定');
            return false;
        }
        var form="";
        form = $("<form></form>");
        form.attr('action',"{:U('Teacher/downloadImportErrorData')}");
        form.attr('method','post');
        
        for(var i=0;i<failed_data.length;i++){  
            var div=$("<div></div>");
            var teacher_name= $("<input type='hidden' name='teacher_name[]'/>");
            var telephone= $("<input type='hidden' name='telephone[]'/>");  
            var sex= $("<input type='hidden' name='sex[]'/>");
            var grade_course= $("<input type='hidden' name='grade_course[]'/>");
            var email= $("<input type='hidden' name='email[]'/>");
            var brief_intro= $("<input type='hidden' name='brief_intro[]'/>");

            $(teacher_name).attr('value',failed_data[i].name);
            $(telephone).attr('value',failed_data[i].telephone); 
            $(sex).attr('value',failed_data[i].sex);
            $(grade_course).attr('value',failed_data[i].grade_course);
            $(email).attr('value',failed_data[i].email);
            $(brief_intro).attr('value',failed_data[i].brief_intro);
 
            div.append(teacher_name);
            div.append(telephone);
            div.append(sex);
            div.append(grade_course);
            div.append(email);
            div.append(brief_intro);
            form.append(div);
        } 
        form.appendTo("body");
        form.css('display','none');
        form.submit();
    });
</script>