html {
    overflow-y: scroll;
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.w-g-btn-default {
    background: #3E84E9;
    border: 1px solid #3E84E9;
    color: #FFF;
    cursor: pointer;
}
.w-g-btn {
    display: inline-block;
    min-width: 50px;
    height: 20px;
    padding: 6px 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 0;
}
.col-xs-4 {
    width: 30%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-10 {
    width: 76%;
}
.text-center {
    text-align: center;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e5e5e5;
}
.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.col-xs-12 {
    width: 100%;
}
.col-xs-2 {
    width: 12%;
}
audio, canvas, img, svg, video {
    max-width: 100%;
    vertical-align: middle;
}
input, textarea, select {
    outline: 0;
    resize: none;
}
textarea {
    font-family: inherit;
    line-height: 1.5em;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
.clearfix {
    clear: both;
    zoom: 1;
}
ol, ul {
    list-style: none;
}

html, body {
    background-color: #E3E4E9;
    color: #333;
    -webkit-font-smoothing: antialiased;
}
body, button, input, select, textarea {
    font: 13px/1.5 tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei', \5b8b\4f53;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}
body {
    overflow: visible;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    background: #eee;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}


a {
    color: #3487E2;
}
ins, a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
}
.app-wrapper {
    width: 100%;
    min-width: 1200px;
}
.f-g-hd {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    position: relative;
    z-index: 100;
}

.hd-t {
    position: relative;
    min-width: 1200px;
    height: 60px;
    line-height: 60px;
    background-color: #F4F6FC;
    color: #666;
    z-index: 10;
}
.f-g-hd .app-inner {
    height: 60px;
}
.fn-clear {
    display: block;
}
.fn-clear:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}
.fn-clear {
    display: block;
}
.app-inner {
    margin: 0 20px;
    position: relative;
}
.clearfixed, .fn-clear {
    zoom: 1;
}
.hd-t .section-l {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 200px;
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 14px;
}
.section-l .company-name {
    float: left;
    height: 29px;
    line-height: 29px;
    border-left: 1px solid #999;
    padding-left: 12px;
    margin-top: 3px;
    margin-left: 12px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    max-width: 300px;
}

.section-l img {
    max-width: 332px;
    max-height: 35px;
    float: left;
    line-height: 35px;
}

.hd-t .section-c {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -345px;
    font-size: 14px;
}
.hd-t .section-c .state-active {
    border-bottom: 3px solid #FC923F;
    font-weight: 700;
}
.hd-t .section-c a {
    overflow: hidden;
    float: left;
    position: relative;
    width: 6.2em;
    height: 57px;
    margin-right: 40px;
    text-align: center;
}
.hd-t .section-c .app-top-nav-l.state-active:before {
    background-position: 0 -30px;
}
.hd-t .section-c .apps-top-nav-l.state-active:before {
    background-position: -60px -30px;
}
.hd-t .section-c .manage-top-nav-l.state-active:before {
    background-position: -90px -30px;
}
.hd-t a, .hd-t a:visited {
    color: #666;
}
.hd-t a, .hd-t a:visited {
    color: #666;
}
.hd-t .section-c .apps-top-nav-l:before {
    background-position: -60px 0;
}
.hd-t .section-c .manage-top-nav-l:before {
    background-position: -90px 0;
}
.h-search-btn, .hd-t .common-use-l .common-use-title:after, .hd-t .section-c a:before {
    background: url(http://www.fspage.com/html/base-dist/assets/images/header/header.png) no-repeat;
}
.hd-t .section-c a:before {
    content: ' ';
    overflow: hidden;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: middle;
}
.global-search-f {
    position: absolute;
    left: 40%;
    top: 10px;
    width: 242px;
    height: 40px;
    margin-left: 270px;
}
.global-search-f .f-field {
    padding: 10px 0 10px 20px;
    border: 1px solid #D6DAE5;
    border-color: transparent transparent transparent #D6DAE5;
}
.h-search-text {
    display: block;
    width: 205px;
    height: 20px;
    line-height: 20px;
    background: 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #666;
    padding-left: 15px;
    vertical-align: middle;
}
.tpl {
    width: 100%;
    zoom: 1;
}
.h-search-btn {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-position: -120px -30px;
    border: 0 none;
    vertical-align: middle;
    cursor: pointer;
}
.hd-t .section-r {
    float: right;
    height: 35px;
}
.f-header-sharegroup {
    position: relative;
    display: none;
    cursor: pointer;
}
.f-header-sharegroup, .complete-user-control .common-use-l {
    float: left;
    margin: 0 15px;
}
.f-header-sharegroup, .complete-user-control .common-use-l {
    float: left;
    margin: 0 15px;
}
.hd-t .common-use-l .common-use-title {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}
.hd-t a, .hd-t a:visited {
    color: #666;
}
.hd-t .common-use-l .common-use-title:after {
    content: ' ';
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 26px;
    width: 12px;
    height: 8px;
    background-position: -150px -10px;
}
.hd-t .common-use-l .common-use-list {
    position: absolute;
    top: 45px;
    right: -15px;
    width: 108px;
    padding: 10px 0;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    line-height: 27px;
    z-index: 2;
}
.logout-f .logout-l, .hd-t .common-use-l .common-use-list a {
    display: block;
    height: 27px;
    padding: 0 15px;
    color: #333;
}
.logout-f {
    display: block;
}
.logout-f .logout-l {
    background: #FFF;
    border: 0;
    cursor: pointer;
}
.logout-f .logout-l, .hd-t .common-use-l .common-use-list a {
    display: block;
    height: 27px;
    padding: 0 15px;
    color: #333;
}

.hd-t .common-use-l .common-use-list .version-info {
    position: absolute;
    top: 0;
    right: 8px;
    width: 18px;
    background: #E7EDFF;
    padding: 5px 0 7px;
    color: #7E95BA;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.app-inner {
    margin: 0 20px;
    position: relative;
}
.w-g-page-container {
    width: 1160px;
    margin: 15px auto 0;
}
.w-main-layout-nav-wrapper {
    float: left;
    width: 220px;
    margin: 0 15px 15px 0;
}
.w-g-nav {
    float: left;
    width: 220px;
    margin-right: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    border-radius: 2px;
    background: #FFF;
    z-index: 10;
}
.w-head-img-wrap {
    position: relative;
    box-shadow: none;
    width: 220px;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: transparent;
}
.w-g-section {
    margin: 0 0 15px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    background: #FFF;
    border-radius: 2px;
}
.w-head-img-wrap {
    position: relative;
    box-shadow: none;
    width: 220px;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: transparent;
}
.w-head-img-wrap .img-wrap {
    position: relative;
    z-index: 2;
}
.w-head-img-wrap .img-wrap img {
    width: 55px;
    height: 55px;
    margin: 20px;
    float: left;
    border-radius: 5px;
}
.w-head-img-wrap .img-wrap .img-wrap-username {
    display: inline-block;
    font-size: 16px;
    color: #333;
    margin-top: 35px;
    width: 115px;
}
.w-head-img-wrap .head-line {
    width: 180px;
    height: 0;
    border-bottom: 1px solid #eee;
    margin-left: 20px;
}
.w-work-nav {
    font-size: 13px;
    width: 180px;
    padding: 7px 20px;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
}
.w-work-nav li {
    position: relative;
    color: #3e5685;
    font-size: 13px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.w-work-nav li a.cur {
    color: #FC923F;
    font-weight: 700;
}
.w-work-nav li a {
    color: #4D6595;
    width: 100%;
    display: inline-block;
}
.w-work-nav li.title {
    margin-top: 8px;
    font-weight: 700;
}
.w-work-nav .sub-link {
    margin-left: 15px;
}
.w-work-nav li .num-icon {
    color: #FC923F;
    border: 1px solid #FC923F;
    display: inline-block;
    border-radius: 8px;
    height: 12px;
    line-height: 12px;
    padding: 0 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    min-width: 8px;
    display: none;
}
.w-work-nav .show-more-wrapper {
    position: relative;
}
.w-mycircle-nav {
    font-size: 13px;
    width: 180px;
    padding: 0 20px 7px;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
}
.w-mycircle-nav .title {
    color: #999;
    height: 28px;
    line-height: 28px;
    padding-top: 7px;
    border-top: 1px solid #eee;
}
.w-mycircle-nav .list {
    overflow: hidden;
}
.w-mycircle-nav .task-item {
    position: relative;
    color: #3e5685;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
}
.w-mycircle-nav .task-item a {
    color: #4D6595;
    width: 100%;
    display: inline-block;
}
.w-mytopic-nav {
    font-size: 13px;
    width: 180px;
    padding: 0 20px 13px;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
}
.w-mytopic-nav .title {
    color: #999;
    height: 28px;
    line-height: 28px;
    padding-top: 7px;
    border-top: 1px solid #eee;
    position: relative;
}
.w-mytopic-nav .list {
    overflow: hidden;
}
.w-mytopic-nav .list .empty-desc {
    color: #ccc;
    padding-top: 10px;
}
.w-g-main {
    float: left;
    width: 600px;
    padding: 0 0 30px;
}
.w-g-section {
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    background: #FFF;
    border-radius: 2px;
}
.w-g-filter-bar.filter-box {
    padding: 0 15px;
}
.w-g-filter-bar {
    position: relative;
    padding-left: 25px;
}
.w-g-filter-bar {
    position: relative;
    padding-left: 25px;
}
.feed-remind {
    width: 578px;
    height: 32px;
    text-align: center;
    background-color: #ffb173;
    border: 1px solid #eca46b;
    margin: 0 auto -4px;
    border-radius: 4px;
    line-height: 31px;
    color: #fff;
    cursor: pointer;
}
.feed-list .fs-feed-item {
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    border-radius: 2px;
}
.card-border-rad {
    border: 0;
}
.fs-list-item {
    position: relative;
}
.fs-list-item .item-top {
    position: relative;
    padding: 20px 25px 6px;
}
.fs-list-item .item-top .item-face {
    width: 45px;
    height: 45px;
    float: left;
    position: relative;
    margin-right: 10px;
}
.fs-list-item .item-top .item-face img {
    width: 45px;
    height: 45px;
    border-radius: 6px;
}
.fs-list-item .item-top .item-info {
    float: left;
}
.fs-list-item .item-top .item-name {
    line-height: 24px;
    color: #999;
    z-index: 0;
}
.fs-list-item .item-top .employee-name {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    white-space: nowrap;
    font-weight: 700;
    color: #444;
}
.fs-list-item .item-top .item-info .item-time {
    color: #969696;
    float: left;
    margin-top: 3px;
}
.fs-list-item .item-top .item-info span {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.fs-list-item .item-top .item-info .item-time {
    color: #969696;
    float: left;
    margin-top: 3px;
}
.fs-list-item .item-top .item-info .item-time a {
    color: #969696;
}
.fs-list-item .item-top .item-info-right {
    float: right;
}
.fs-list-item .item-top .item-info-right span {
    height: 20px;
    line-height: 20px;
    margin-left: 8px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.fs-list-item .share-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #72abff;
    margin-bottom: 1px;
}
.fs-list-item .item-detail .contnet-isencrypted {
    display: none;
    background: #F1F1F1;
    color: #999;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 16px;
}
.fs-list-item .item-detail .contnet-isencrypted .isencrypted-tit {
    font-weight: 700;
    color: #333;
}
.fs-list-item .item-detail .contnet-isencrypted img {
    display: inline-block;
    float: left;
    margin-right: 4px;
    margin-top: 1px;
}
.fs-list-item .item-detail .info-all-content {
    padding: 0 26px;
    padding-top: 7px;
    padding-bottom: 20px;
}
.fs-list-item .item-text {
    color: #444;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.fs-list-item .item-detail .content {
    line-height: 26px;
    margin-top: 10px;
}
.fs-list-item .audio-btn {
    display: none;
    margin-top: 10px;
}
.fs-list-item .item-func {
    background-color: #f4f7fd;
    height: 46px;
    position: relative;
    line-height: 46px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #6C7A96;
}
.fs-list-item .item-func .handle {
    float: right;
    position: relative;
    height: 46px;
    vertical-align: top;
    padding-right: 26px;
    white-space: nowrap;
}
.fs-list-item .item-func .more, .fs-list-item .item-func .feed-remind-btn, .fs-list-item .item-func .fl-fn-btn {
    position: relative;
    display: inline-block;
    _zoom: 1;
    height: 46px;
}
.fs-list-item .item-func .fl-fn-btn {
    float: left;
}
.fs-list-item .item-detail .more-icon {
    display: inline-block;
    width: 14px;
    height: 16px;
    background-image: url(http://www.fspage.com/html/fs-dist/assets/images/feedlist/more-icon.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
}
.fs-list-item .item-func a {
    color: #6c7a95;
}
.fs-list-item .item-func .fl-fn-btn i {
    vertical-align: top;
    float: left;
}
.fs-list-item .item-func .S_txt3 {
    font-style: normal;
    color: #E3E4E9;
    margin: 0 10px;
    height: 30px;
}
.fs-list-item .item-func .islike-btn {
    display: inline-block;
    cursor: pointer;
}
.fs-list-item .item-func .islike-btn b {
    margin-top: 17px;
    float: left;
    width: 13px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://www.fspage.com/html/fs-dist/assets/images/feedlist/islike.png);
    background-position: 0 -12px;
    margin-right: 2px;
    cursor: pointer;
}
.fs-list-item .item-func .islike-btn .likecountnum {
    color: #6C7A96;
}
.fs-list-item .list-repeat {
    display: block;
    background: #f4f7fd;
    border-radius: 2px;
}
.card-feed-reply .reply-header-wrapper {
    border-radius: 2px;
}
.card-feed-reply .reply-header-wrapper {
    padding: 0 24px;
}
.card-feed-reply .reply-header .main-input-with-pt {
    padding-bottom: 18px;
}
.card-feed-reply .avatar-wrapper, .dialog-reply .avatar-wrapper {
    margin-right: 10px;
}
.card-feed-reply .reply-header .main-input-with-pt .input-box-shown .avatar-wrapper img {
    border-radius: 6px;
}
.card-feed-reply .avatar-wrapper img, .dialog-reply .avatar-wrapper img {
    width: 35px;
    height: 35px;
    border-radius: 6px;
}
.card-feed-reply .main-input .box-r, .dialog-reply .main-input .box-r {
    width: 507px;
}
.fn-left {
    float: left;
}
.fn-left, .fn-right {
    display: inline;
}
.card-feed-reply .input-wrapper, .dialog-reply .input-wrapper {
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 2px;
    background: #fff;
}
.card-feed-reply .input-wrapper fieldset, .dialog-reply .input-wrapper fieldset {
    padding: 8px 10px;
}
.card-feed-reply .main-input textarea, .dialog-reply .main-input textarea {
    overflow: hidden;
    width: 468px;
    height: 32px;
    border: 1px solid #fff;
    word-break: break-all!important;
}
fieldset, img {
    border: 0;
}
.card-feed-reply .f-actions, .dialog-reply .f-actions {
    margin-right: 8px;
}
.card-feed-reply .media, .dialog-reply .media {
    margin-right: -36px;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-top: 0;
    width: 505px;
    margin-top: -1px;
    margin-bottom: 10px;
}
.card-feed-reply .f-actions .button-submit, .dialog-reply .f-actions .button-submit {
    color: #fff;
    border: 1px solid #3487e2;
    padding: 0 20px;
    line-height: 28px;
    cursor: pointer;
    background-color: #3487e2;
    border-radius: 2px;
    margin-right: 10px;
}
.card-feed-reply .f-actions .button-cancel, .dialog-reply .f-actions .button-cancel {
    color: #000;
    border: #e2e2e2 solid 1px;
    padding: 0 20px;
    line-height: 28px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
}

.w-main-layout-side-wrapper {
    float: right;
    width: 310px;
}
.w-g-side {
    float: right;
    width: 310px;
}
.w-asterisk-colleague {
    width: 310px;
    padding-top: 19px;
    position: relative;
}
.w-asterisk-colleague .header {
    height: 14px;
    padding: 0 16px 0 17px;
    display: block;
}
.w-asterisk-colleague .content {
    width: 276px;
    padding: 9px 13px 20px 19px;
}
.w-asterisk-colleague .header .title {
    float: left;
    font-size: 14px;
    line-height: 14px;
    color: #333;
}
.w-asterisk-colleague .header .colleagues {
    float: right;
    line-height: 12px;
    text-align: right;
    font-size: 12px;
    color: #3487e2;
}
.w-asterisk-colleague .header:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}
.w-asterisk-colleague .content .no-asterisk-colleague {
    line-height: 46px;
}
.no-asterisk-colleague a{
    color: #4D6595;
}