<!DOCTYPE html>
<html class='no-js'>

<head>
    <meta charset='utf-8'>
    <meta name="renderer" content="webkit">
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>家长找回密码 :: 京版云教育平台</title>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href="__PUBLIC_THEME__/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC_THEME__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/layout.css?v=7" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/register.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/external/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/common.js?v=4.0" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/js/external/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.validate.msg.js"></script>
    
    <style>
		.regMain .regRight {
			margin-top: 120px;
		}
		
		#submitbtn {
			margin-top: 20px;
		}
	</style>
</head>

<body>
    <div class="regMain">
		<img src="__PUBLIC__/img/register/patriarch.png" alt="" class="left regLeft">
		<div class="right regRight">
			<form id="info-list" action="__URL__/forgetPassword?{$share_str}" method="post" onsubmit="return check();">
				<table class="form_table" style="width: 100%">
					<tr>
						<td width="110"></td>
						<td width="300" align="left" style="font-size: 22px;">
							<div class="p10">重置密码<span style="color:red; font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;为必填选项</span></div>
						</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td class="f_title">手机号</td>
						<td class="f_input">
							<input type="text" name="telephone" id="telephone" placeholder="请输入家长手机号" maxlength="11" autocomplete="off" onblur="return tel();" required>
							<span class="red">*</span></td>
						<td>
							<div class="warning" id="p_forget_error_phone">
								<img style="width:15%" src="/Public/img/home/warning.png">
								<span style="color:red; font-size:12px;">手机号码输入错误</span>
							</div>
						</td>
					</tr>
                                        <tr>
						<td class="f_title">图形验证码</td>
						<td class="f_input">
							<input type="text" name="verify_code" id="parent_verify_code" placeholder="图形验证码" maxlength="6" autocomplete="off" onblur="return image_verify_code();" required>
							<span class="red">*</span>
                                                        <div id="code" style="float:left;">
                                                            <img src="/index.php?m=Home&c=Parent&a=produceVerifyCodeP" alt="" class="parent_refreshA" title="换一个" >
                                                        </div>
							<a href="javascript:;" title="换一个" class="parent_refreshB" style=""> 
								刷新
							</a>
                                                </td>
						<td>
							<div class="warning" id="t_forget_error_image_code">
								<img style="width:15%" src="/Public/img/home/warning.png">
								<span style="color:red; font-size:12px;">请输入图形验证码</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="f_title">手机验证码</td>
						<td class="f_input">
							<input style="width: 162px;" type="text" name="valid_code" id="valid_code" placeholder="验证码" maxlength="6" onblur="return code();" required>
							<span class="red">*</span>
							<a href="javascript:void(0);return false;" onclick="sendPhoneCode();" id="sendcodebutton">发送验证码</a>
						</td>
						<td>
							<div class="warning" id="p_forget_error_code">
								<img style="width:15%" src="/Public/img/home/warning.png">
								<span style="color:red; font-size:12px;">请输入验证码</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="f_title">新密码</td>
						<td class="f_input">
							<input type="password" style="display:none">
							<input onfocus="this.type='password'" type="text" name="password" id="password" placeholder="请输入6-16位密码" maxlength="16" onblur="return pas1();" required autocomplete="off">
							<span class="red">*</span>
						</td>
						<td>
							<div class="warning" id="p_forget_error_pwd1">
								<img style="width:15%" src="/Public/img/home/warning.png">
								<span style="color:red; font-size:12px;">密码长度不少于6位</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="f_title">密码确认</td>
						<td class="f_input">
							<input type="password" style="display:none">
							<input onfocus="this.type='password'" type="text" name="confirm_password" id="confirm_password" placeholder="请输入6-16位密码" maxlength="16" required autocomplete="off" onblur="return pas2();">
							<span class="red">*</span></td>
						<td>
							<div class="warning" id="p_forget_error_pwd2">
								<img style="width:15%" src="/Public/img/home/warning.png">
								<span style="color:red; font-size:12px;">两次密码输入不一致</span>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="text-center">
							<button class="btn" type="submit" onclick="return check();" id="submitbtn"></button>
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	
	<div id="bg"></div>
	<!--【弹窗】服务器繁忙-->
   <div class="regNotify" id="serverBusy">
   		<div class="regTop">
   			<img src="__PUBLIC__/img/register/notify2.png" alt="" class="regTopImg">
   			<span class="regTopTitle">提示！</span>
   			<img src="__PUBLIC__/img/register/regTopClose.png" alt="" class="right regTopClose close_img">
   		</div>
   		<div class="regMiddle">
           <div class="serverCon">
           		<img src="__PUBLIC__/img/register/serverBusy.png" alt="" class="serverImg">
           		<h3>服务器繁忙，请稍候再试！</h3>
           </div>
   		</div>
   		<div class="regBottom">
   			 <a id="serverSure" class="regSureBtn" href="javascript:;" onclick="$(this).hide();">确定</a>
   		</div>
   </div>
   
    <!--【弹窗】重置密码成功-->
   <div class="regNotify" id="resetSuccess">
   		<div class="regTop">
   			<img src="__PUBLIC__/img/register/notify3.png" alt="" class="regTopImg" style="height: 32px">
   			<img src="__PUBLIC__/img/register/regTopClose.png" alt="" class="right regTopClose close_img">
   		</div>
   		<div class="regMiddle">
           <div class="regCon">
           		<img src="__PUBLIC__/img/register/regSuccess.png" alt="" class="serverImg">
           		<h3>密码重置成功！</h3>
           		<div>
           			请使用新密码登录京版云！<br>系统将在<span class="time">5</span>秒后返回首页页面，如果没有请<a href="{:U('Index/index')}">点击手动跳转</a>。
           		</div>
           </div>
   		</div>
   		<div class="regBottom">
   			 <a id="regSucSure" class="regSureBtn" href="{:U('Index/index')}">返回主页</a>
   		</div>
   </div>

    <script src="__PUBLIC__/js/external/jquery-ui-1.10.1.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/external/jquery.form.js"></script>
    <script src="__PUBLIC__/js/external/modernizr.min.js" type="text/javascript"></script>
    <script src="__PUBLIC_THEME__/javascripts/application-985b892b.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/bootstrap-notify.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/notify/notifyRegister.js"></script>
    
    <script>
        var err = '{$err}';
        if (err == 1) $('#wrongpassword').show();
        if (err == 2) $('#wrongcode').show();

        function isValidPhone(str) {
            var re = /^1\d{10}$/
            if (re.test(str)) {
                return true;
            } else {
                return false;
            }
        }
        var hasSentPhoneCode = false;
        var isinerval, times;
        
        function image_verify_code(){ 
            var code=$('#parent_verify_code').val(); 
            var url="/index.php?m=Home&c=Parent&a=check_verify_p"; 
            if(code==''){
                $('#t_forget_error_image_code').hide();
                $("#t_forget_error_image_code").find('span').val('请输入图形验证码');
                return false;
            }
            $.ajax({
                url: url, //请求的url地址
                dataType: "json", //返回格式为json 
                data: {
                    'code': code
                }, //参数值
                type: "GET", 
                success: function (msg) {
                    if(msg.status==200){
                        $('#t_forget_error_image_code').hide(); 
                    }else{
                        $("#t_forget_error_image_code").find('span').val('图形验证码错误');
                        $('#t_forget_error_image_code').show(); 
                    } 
                } 
            }); 
        }

        //教师刷新验证码
        $('.parent_refreshA,.parent_refreshB').click(function(){
            $('.parent_refreshA').attr('src',"./index.php?m=Home&c=Parent&a=produceVerifyCodeP&time="+Math.random());			
        });

        function sendPhoneCode() {

            if (hasSentPhoneCode == true) {
                return;
            } 
            var telephone = $('#telephone').val(); 
            if (!isValidPhone(telephone)) { 
                $('#p_forget_error_phone').css('display', 'block');
                return false;
            }
            var code=$("#parent_verify_code").val();
            if(code==''){
                $('#t_forget_error_image_code').find('span').text('请输入图形验证码');
                $("#t_forget_error_image_code").show();
                return false;
            }
            
            hasSentPhoneCode = true;

            $.ajax({
                url: "__URL__/sendForgetPasswordPhoneCode", //请求的url地址
                dataType: "json", //返回格式为json
                //async: true, //请求是否异步，默认为异步，这也是ajax重要特性
                data: {
                    'telephone': telephone,
                    'code':code
                }, //参数值
                type: "GET", //请求方式
                beforeSend: function () {
                    //请求前的处理
                },
                success: function (req) {
                    var res = eval(req);
                    if (res.status < 0) {
                        $.NotifyBox.NotifyRegisterOne("提示！", res.msg, "确定");
                        hasSentPhoneCode = false;
                    }
                    else
                    {
                        hasSentPhoneCode = true;
                        $("#sendcodebutton").html('<span id="GetVerify">60</span>秒后重发');
                        times = 59;
                        isinerval = setInterval(CountDown, 1000);
                    }
                },
                complete: function () {
                    //请求完成的处理
                },
                error: function () {
                    //请求出错处理
                }
            });
        }

        function tel() {
            var regTel = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            var tel = $("#telephone").val()
            if (regTel.test(tel) == true) {
                $('#p_forget_error_phone').hide();
                return true
            } else if (tel == '') {
                $('#p_forget_error_phone').hide();
                return false;
            } else {
                $('#p_forget_error_phone').show();
                return false;
            }
        }

		function code() {
            if ($('#valid_code').val() != '') {
                $('#p_forget_error_code').hide();
                return true;
            }
        }

        function pas1() {
            var pas1 = $('#password').val();

            if (pas1 == '') {
                $('#p_forget_error_pwd1').hide();
                return false;
            } else if (pas1.length < 6) {
                $('#p_forget_error_pwd1').show();
                return false;
            } else {
                $('#p_forget_error_pwd1').hide();
                return true;
            }
        }

        function pas2() {
            var pas1 = $('#password').val();
            var pas2 = $('#confirm_password').val();
            if (pas2 == '') {
                $('#p_forget_error_pwd2').hide();
                return false;
            } else if (pas1 != pas2) {
                $('#p_forget_error_pwd2').show();
                return false;
            } else {
                $('#p_forget_error_pwd2').hide();
                return true;
            }
        }

        function check() {  
            var code=$("#parent_verify_code").val(); 

            if (tel() == false) {
                $('#p_forget_error_phone').show();
                return false
            }else if(code==''){
                $("#t_forget_error_image_code").find('span').text('请输入图形验证码');
                $("#t_forget_error_image_code").show();
                return false;
            } else if ($('#valid_code').val() == '') {
                $('#p_forget_error_code').show();
                return false
            }  else if (pas1() == false) {
                $('#p_forget_error_pwd1').show();
                return false
            } else if (pas2() == false) {
                $('#p_forget_error_pwd2').show();
                return false
            } else {
                return true
            }
        } 
        
        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                } else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        } 
        
        function CountDown() {
            if (times < 1) {
                hasSentPhoneCode = false;
                clearInterval(isinerval);
                $('#sendcodebutton').html('重新发送');
                return;
            }
            $('#GetVerify').html(times);
            times--;
        }

        $(function () {
            window.setTimeout(function () {
                $('input').val('');
            }, 500);
        }); 
        
        $(function () {
            var options = {
                // target:        '#output',   // target element(s) to be updated with server response
                //beforeSubmit:  showRequest,  // pre-submit callback
                success: showResponse, // post-submit callback
                resetForm: false,
                dataType: 'json'

                // other available options:
                //url:       url         // override for form's 'action' attribute
                //type:      type        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                //clearForm: true        // clear all form fields after successful submit
                //resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind to the form's submit event
            $('#info-list').submit(function () {
                // inside event callbacks 'this' is the DOM element so we first
                // wrap it in a jQuery object and then invoke ajaxSubmit
                $(this).ajaxSubmit(options);

                // !!! Important !!!
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        function showResponse(responseText, statusText) {
            switch (responseText.code) {
            case -1: //failed
//                alert(responseText.msg);
                $.NotifyBox.NotifyRegisterOne("提示！", responseText.msg, "确定");
                break;
            case 0: 
                    $('#bg,#resetSuccess').show();
                    time();
                break;
            case 2:  
                    location.href=responseText.url;
                break;
            default:
//                alert(responseText.msg);
                $.NotifyBox.NotifyRegisterOne("提示！", responseText.msg, "确定");
                break;
            }
        } 
        
        var target_url="{:U('Index/index')}";
		function time() {
			var s = 5;
			var timer = setInterval(function () {
				s--;
				$('.time').html(s);
				if (s <= 0) {
					clearInterval(timer);
					location.href = target_url;
				}
			}, 1000);
		}
    </script>
    
	<script>
		$('.close_img').on('click', function () {
            $('#bg').css('display', 'none');
            $('.regNotify').css('display', 'none');
        })
	</script>

</body>

</html>