<layout name="parent_layout_3"/>
<div style="margin-bottom: 12px;">
    <a href="{:U('Parent/myChildren')}" title="返回" class="btn btnReturn3">返回</a>
</div>
<div>
    <div style="text-align: center;margin: 20px 0;">
        <img width="90" src="__ROOT__/Uploads/StudentAvatars/{$student.avatar}">
    </div>
    <h3 style="text-align: center;">修改密码</h3>

    <div style="width: 500px;margin: 0 auto;">
        <form id="mainForm" action="{:U('Parent/modifyChildPassword')}" method="post"
              onsubmit="$('#saveButton').attr('disabled',true);">
            <input type="hidden" name="student_id" value="{$student.id}">

            <div class="example" data-text="基本信息">

                <div class="form_section">
                    <label for="password">新密码</label>

                    <div class="input-control text full-size">
                        <input type="password" name="password" id="password" class="form-control" required
                               placeholder="必填"
                               autocomplete="off"
                               maxlength="20">
                    </div>
                </div>
                <div class="form_section" style="margin-top: 15px;">
                    <label for="password">新密码确认</label>

                    <div class="input-control text full-size">
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                               required placeholder="必填"
                               autocomplete="off"
                               maxlength="20">
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;text-align: right;">
                <button type="submit" class="btn btn-primary" id="saveButton" onclick="return check();">确定</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        window.setTimeout(function () {
            $('#confirm_password,#password').val('');
        }, 800);
    });

    function check() {
        var pwd = $('#password').val();
        var confirmPwd = $('#confirm_password').val();
        if (pwd.length < 6) {
            alert('密码长度不少于6位');
            return false;
        }

        if (pwd != confirmPwd) {
            alert('密码与确认密码不一致');
            return false;
        }

    }
</script>