<layout name="admin_layout" />
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<style>
    #listWrapper img{
        width: 50px !important;
        height: 50px !important;
		margin-right: 10px;
		margin-top: 5px;
    }
    
    select {
        border: 1px #d9d9d9 solid;
        width: 140px;
        height: 100%;
        padding: .3125rem;
    }
	
	.list_title {
		width: 120px;
		line-height: 50px;
	}
	
	.list_title a {
		color: #2086bf !important;
	}
</style>
<!--
<div style="margin-bottom: 12px;float: left">
    <a href="javascript:window.history.go(-1)" title="返回" class="button {:session('btntheme')}" style="box-sizing:border-box;">&lt; 返回</a>
</div>-->

<div style="text-align: right;">
   	<label>是否生成邀请码：</label>
	<select id="level" name="level" onchange="" class="input-control" style="margin-right: 50px">
		<option value="">-请选择-</option>
		<option value="2" {$is_generate==2?'selected':''}>是</option>
		<option value="1" {$is_generate==1?'selected':''}>否</option>
	</select>
    <div class="input-control text" data-role="input" style="width: 320px;">
        <input type="text" id="keyword" name="keyword" placeholder="请输入活动名称或邀请码" value="{$keyword|default=''}">
		<button onclick="search()" class="button"><span class="mif-search"></span></button>
    </div>
    <div>
		<a href="{:U('InvitationCode/exportAll')}" class="button" style="">全部导出</a>
	</div>
</div>

<table id="listWrapper" class="table striped hovered border">
    <thead>
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">活动名称</th>
            <th class="text-center">是否生成邀请码</th>
            <th class="text-center">邀请码个数</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        <volist name="list" id="data">
            <tr>
                <td class="text-center">
                    <?php echo $data_page--;?>
                </td>
                <td class="text-center">{$data.title}</td>
                <td class="text-center">
                    <if condition="($data.is_generate eq 1) OR ($data.is_disable eq 2) "> 否
                        <else /> 是
                    </if>
                </td>
                <td class="text-center">
                    {$data.snum}
                </td>
                <td class="text-center">
                    <a href="{:U('InvitationCode/lookCodeDetails?id=')}{$data.id}&titles={$data.title}" class="button info">查看</a>
                </td>

            </tr>
        </volist>
    </tbody>
</table>

<div class="Pagination">{$page}</div>
<script>
    $(document).ready(function () {
        $('#listWrapper').DataTable({
            "scrollY": ($('body').height() - 375) + "px",
            "scrollCollapse": true,
            "paging": false,
            "bSort": false,
            "aoColumns":[
                {"width":"10%"},
                {"width":"30%"},
                {"width":"20%"},
                {"width":"20%"},
                {"width":"20%"}
            ]
        });
    });
    //搜索
    function search() {
        var string = "";
        var keyword = $('#keyword').val();
        var is_generate = $('#level').val();
        if (keyword != '') {
            string += '&keyword=' + keyword;
        }
        if (level != '') {
            string += '&is_generate=' + is_generate;
        }
        var url = 'index.php?m=Home&c=InvitationCode&a=codeList'+string;
        window.location.href = url;
    }
	
	//回车搜索
	$("#keyword").keydown(function (evt) {
		if (event.keyCode == "13") { //keyCode=13是回车键
			var evt = (evt) ? evt : ((window.event) ? window.event : "")
			var keyCode = evt.keyCode ? evt.keyCode : (evt.which ? evt.which : evt.charCode);

			var string = "";
			var keyword = $('#keyword').val();
			var is_generate = $('#level').val();
			if (keyword != '') {
				string += '&keyword=' + keyword;
			}
			if (level != '') {
				string += '&is_generate=' + is_generate;
			}
			var url = 'index.php?m=Home&c=InvitationCode&a=codeList'+string;
			window.location.href = url;

		}
	})

    //点击恢复使用
    function recovery(id,obj) {
        
        $.get('index.php?m=Home&c=Account&a=recovery', {id: id}, function (res) {
            if (res == 'success') { 
                //$(obj).html('恢复使用');
                //$(obj).prev('td').text('已停用');
                window.location.reload();
            } else {
                alert('通过失败，请刷新页面后重新尝试');
            }
        })
    }


    //点击停用
    function approve(id,obj) {
        
        $.get('index.php?m=Home&c=Account&a=approve', {id: id}, function (res) {
            if (res == 'success') { 
                //$(obj).html('恢复使用');
                //$(obj).prev('td').text('已停用');
                window.location.reload();
            } else {
                alert('通过失败，请刷新页面后重新尝试');
            }
        })
    }

    //点击删除
    $('.delete_button').click(function(){
        if(confirm('您确认删除么')){
            var id=$(this).attr('attr'); 
            var obj=this;
            $.get("index.php?m=Home&c=Account&a=deleteAccount",{'id':id},function(msg){
                if(msg=='success'){
                    $(obj).parent().parent().remove();
                }else{
                    alert('删除时候,请刷新页面后重试');
                }
            });
        }
    });
</script>