<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{$nav} :: 精通云教育平台</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link href="__PUBLIC__/oa/all.css" rel="stylesheet">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<div id="app-portal" class="app-wrapper">
    <header class="hd f-g-hd">
        <div class="hd-t">
            <div class="hd-inner app-inner fn-clear">
                <div class="section-l">
                    <a href="{:U('Teacher/index')}">
                        <img src="__PUBLIC__/img/jingtong.png" style="max-height:32px;">
                        <span class="company-name">精通云教育平台</span>
                    </a>
                </div>
                <div class="section-c fn-clear fs-limit-user-hide">
                    <a href="{:U('Teacher/oa')}" class="app-top-nav-l top-nav-l sc-tagon tnavon">精通圈</a>
                    <a href="{:U('Teacher/resourceList')}" class='apps-top-nav-l top-nav-l sc-tag'>教学+</a>
                    <a href="{:U('Teacher/blackboard')}" class="manage-top-nav-l top-nav-l sc-tag state-active">班级行</a>
                </div>
                <div class="global-search-f fs-limit-user-hide">
                    <div class="f-field"><input type="text" id="global-search" class="textfield h-search-text"
                                                placeholder="搜索" maxlength="100"/>
                        <button class="h-search-btn"></button>
                    </div>
                </div>
                <div class="section-r fn-clear">
                    <div class="complete-user-control fs-limit-user-hide">
                        <div class="common-use-l">
                            <div class="common-use-title"><a href="#profile" class="user-name-l tpl-nav-l" title="">
                                &nbsp;{:session('teacher.name')} 老师</a></div>
                            <div class="common-use-list" style="display:none;">
                                <a href="{:U('Teacher/profile')}" class="tpl-nav-l" title="">个人设置</a>

                                <form action="__URL__/logout" method="post" class="logout-f">
                                    <button type="submit" class="logout-l">退出登录</button>
                                </form>
                                <span class="version-info">精通云</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="bd f-g-bd">
        <div id="sub-tpl" class="bd-inner app-inner" style="min-height: 842px;">
            <div id="w_page_container" class="tpl w-g-page-container clearfix fs-tpl-active">
                <div class="w-main-layout-nav-wrapper">
                    <div class="w-g-nav" style="position: static;top: 0;">
                        <div class="w-g-section w-head-img-wrap" style="">
                            <div class="w-head-img-wrap fn-clear">
                                <div class="img-wrap fn-clear">
                                    <a href="{:U('Teacher/profile')}"><img
                                            src="__ROOT__/Uploads/Avatars/{:session('teacher.id')}_t.jpg"><span
                                            class="img-wrap-username">{:session('teacher.name')}</span></a>
                                </div>
                                <div class="head-line"></div>
                            </div>
                        </div>
                        <div class="w-g-work-nav w-work-nav" style="">
                            <ul class="list">
                                <li class="task-item title" title="小黑板">
                                    <a href="#stream" href-bak="#stream" class="link">
                                        <span class="content">小黑板</span>
                                        <span class="num-icon"></span>
                                    </a>
                                </li>
                                <li class="task-item" title="消息列表">
                                    <a href="{:U('Teacher/oa')}" class="link sub-link {$subnav=='消息列表'?'cur':''}">
                                        <span class="content">消息列表</span>
                                        <span class="num-icon" style="display: none;"> </span>
                                    </a>
                                </li>
                                <li class="task-item" title="消息管理">
                                    <a href="{:U('Teacher/oaMyPublished')}"
                                       class="link sub-link {$subnav=='消息管理'?'cur':''}">
                                        <span class="content">消息管理</span>
                                        <span class="num-icon" style="display: none;"> </span>
                                    </a>
                                </li>
                                <li class="task-item" title="电子小秘书">
                                    <a href="{:U('Teacher/oaMyReceipts')}"
                                       class="link sub-link {$subnav=='电子小秘书'?'cur':''}">
                                        <span class="content">电子小秘书</span>
                                        <span class="num-icon" style="display: none;"> </span>
                                    </a>
                                </li>

                                <li class="task-item title" title="课堂表现">
                                    <a href="#" class="link">
                                        <span class="content">课堂表现</span>
                                        <span class="num-icon" style="display: none;"> </span>
                                    </a>
                                </li>
                                <li class="task-item" title="学生列表">
                                    <a href="#" class="link sub-link {$subnav=='学生列表'?'cur':''}">
                                        <span class="content ">学生列表</span>
                                        <span class="num-icon"></span>
                                    </a>
                                </li>
                                <li class="task-item title" title="留言板">
                                    <a href="#" class="link">
                                        <span class="content">留言板</span>
                                        <span class="num-icon" style="display: none;"> </span>
                                    </a>
                                </li>
                                <li class="task-item" title="留言列表">
                                    <a href="{:U('Teacher/activities')}"
                                       class="link sub-link {$subnav=='留言列表'?'cur':''}">
                                        <span class="content ">留言列表</span>
                                        <span class="num-icon"></span>
                                    </a>
                                </li>
                                <li class="task-item" title="我的留言">
                                    <a href="{:U('Teacher/myRegisteredActivities')}"
                                       class="link sub-link {$subnav=='我的留言'?'cur':''}">
                                        <span class="content ">我的留言</span>
                                        <span class="num-icon"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="w-g-mycircle-nav w-mycircle-nav" style="display: block;">
                            <div class="title">我的积分</div>
                            <ul class="list">
                                <li data-key="1021" class="task-item" title="云平台组">
                                    <a href="#" class="link">
                                        <span class="content">{:session('teacher.points')}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-g-main">

                    <div class="w-g-feedlist w-feed-list" style="">

                        <div class="feed-list-wrapper">
                            <div class="feed-list">
                                <div class="feed-remind" style="display: none;"><span class="remind-text">有未读新信息</span>
                                </div>
                                <div class="feed-list-inner">
                                    {__CONTENT__}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-main-layout-side-wrapper" style="position: static;top: 0;">
                    <div class="w-g-side">
                        <div class="w-g-section w-asterisk-colleague" style="">
                            <div class="header"><span class="title">小黑板</span>
                                <a href="#" class="colleagues">全部(<span
                                        id="activitiesTotalCount"></span>)</a></div>
                            <div class="content" id="activitiesWrapper">
                            </div>
                        </div>
                        <div class="w-g-section w-announcements" style="display: none;">
                            <div class="loading"></div>
                        </div>
                        <div class="w-g-section w-mini-calendar" style="">
                            <div class="j-tasks">
                                <div class="tasks-wrapper">
                                    <div class="j-tasks-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="to-top-btn"></div>
</div>
<script>
    function getLatestActivities() {
        var url = "{:U('Teacher/getLatestActivities')}";
        $.get(url, function (res) {
            var html = [];
            $.each(res, function (i, n) {
                html.push("<p class=\"no-asterisk-colleague\"><a href=\"{:U('Teacher/activityDetails?id=')}{2}\">{0}.{1}</a></p>".format(i + 1, n.title, n.id))
            });
            $('#activitiesWrapper').html(html.join(''));
        });
    }
    function getActivitiesTotalCount() {
        var url = "{:U('Teacher/getActivitiesTotalCount')}";
        $.get(url, function (res) {
            $('#activitiesTotalCount').html(res);
        });
    }
    $(function () {
        getLatestActivities();
        getActivitiesTotalCount();
    });
</script>
                                                                            
</body>
</html>
