<layout name="teacher_layout"/>
<style>
    .list_avatar {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }
</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回 消息列表" class="button {:session('btntheme')}">&lt; 返回</a>
</div>
<div class="example" data-text="发布者">
    <div class="listview set-border padding10">
        <div class="padding10" style="border-bottom: 1px solid #ccc;">
            <img class="list_avatar" src="__ROOT__/Uploads/Avatars/{$data.publisher_id}_t.jpg">
            &nbsp;<a href="">{$data.publisher}</a>
        </div>
    </div>
</div>

<div class="example" data-text="消息内容">
    <div class="listview set-border padding10">
        <div class="padding10">
            <h3>{$data.message_title}</h3>
        </div>
        <div class="padding10">
            {$data.message}
        </div>
    </div>
</div>
