<layout name="teacher_layout"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=2.0" type="text/css" rel="stylesheet">
<div style="margin-bottom: 12px;">
    <a href="{:U('Teach/publishBlackboardMessage')}" title="发布消息" class="btn btn-primary">发布消息</a>
</div>
<table class="table striped hovered border">
    <thead>
    <tr>
        <th>班级</th>
        <th>发布人</th>
        <th>消息</th>
        <th class="text-center">发布时间</th>
        <th class="text-center">观看数</th>
        <th class="text-center">详细</th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="data" empty="暂时没有信息">
        <tr id="l_{$data.id}">
            <td>
                {$data.class_name}
            </td>
            <td>
                <img class="list_avatar" src="__ROOT__/Uploads/Avatars/{$data.publisher_id}_t.jpg">
                &nbsp;
                {$data.publisher}
            </td>
            <td>
                <h3 class="list_title">
                    <a href="{:U('Teach/blackboardMessageDetails?id=')}{$data.id}">{$data.message_title}</a>
                </h3>

                <div class="list_sub_title">{$data.message}</div>
            </td>
            <td class="text-center">{$data.create_at|date="Y-m-d H:i",###}</td>
            <td class="text-center">
                {$data.view_count}
            </td>
            <td class="text-center">
                <a href="{:U('Teach/blackboardMessageDetails?id=')}{$data.id}" title="详细">详细</a>
            </td>
        </tr>
    </volist>
    </tbody>
</table>