<layout name="teacher_layout"/>
<style>
    .form_section {
        margin-bottom: 12px;
    }
</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回">&lt; 返回</a>
</div>
<div>
    <form action="__URL__/createClassroom" method="post">
        <div class="example" data-text="课堂数据">
            <div class="form_section">
                <label for="class_id">班级</label>
                <div class="input-control text full-size">
                    <select id="class_id" name="class_id" class="form-control" onchange="getTextbooks()" data-validate-hint="班级不能为空">
                        <option value="">-请选择-</option>
                        <volist name="classes" id="dataClass" empty="暂时没有信息">
                            <option value="{$dataClass.id}">{$dataClass.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="course_id">关联学科</label>
                <div class="input-control text full-size">
                    <select id="course_id" name="course_id" class="form-control" onchange="getTextbooks()" data-validate-hint="关联学科不能为空">
                        <option value="">-请选择-</option>
                        <volist name="courses" id="dataCourse" empty="暂时没有信息">
                            <option value="{$dataCourse.id}">{$dataCourse.code} : {$dataCourse.course_name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="grade_id">关联年级</label>

                <div class="input-control text full-size">
                    <select id="grade_id" name="grade_id" class="form-control" onchange="getTextbooks()"  data-validate-hint="关联年级不能为空">
                        <option value="">-请选择-</option>
                        <volist name="grades" id="dataGrade" empty="暂时没有信息">
                            <option value="{$dataGrade.id}">{$dataGrade.grade}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="textbook_id">关联教材</label>

                <div class="input-control text full-size">
                    <select id="textbook_id" name="textbook_id" class="form-control" data-validate-hint="关联教材不能为空">
                        <option value="">-请选择-</option>
                    </select>
                </div>
            </div>
            <div class="form_section">
                <label for="classroom">上课教室</label>

                <div class="input-control text full-size">
                    <input type="text" name="classroom" id="classroom" class="form-control" data-validate-hint="上课教室不能为空">
                </div>
            </div>
        </div>
        <div class="form-actions" style="text-align: left; ">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script>
    function getTextbooks() {
        var courseId = $('#course_id').val();
        var gradeId = $('#grade_id').val();
        if (courseId == '' || gradeId == '') {
            $('#textbook_id').html('<option value="">-请选择-</option>');
        }
        $.get('index.php?m=Home&c=DictRest&a=get_textbooks_by_courseAndGrade', {
            'course_id': courseId,
            'grade_id': gradeId
        }, function (res) {
            var options = [];
            $.each(res, function (index, item) {
                options.push('<option value="{0}">{1}</option>'.format(item.id, item.name));
            });
            if (options.length > 0) {
                $('#textbook_id').html(options.join(''));
            } else {
                $('#textbook_id').html('<option value="">-请选择-</option>');
            }
        })
    }
</script>
<script>
    function notifyOnErrorInput(input){
        var message = input.data('validateHint');
        $.notify({
            title: '提示',
            message: message
        },{
            type: 'warning',
            placement: {
                from: "top",
                align: "center"
            }
        });
    }
</script>