<layout name="teacher_layout"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=2.0" type="text/css" rel="stylesheet">
<div style="margin-bottom: 12px;">
    <a href="{:U('Teach/assignHomework')}" title="布置作业" class="btn btn-primary">布置作业</a>
</div>

<table class="table striped hovered border">
    <thead>
    <tr>
        <th>班级</th>
        <th>课程</th>
        <th>作业名称</th>
        <th>作业要求</th>
        <th class="text-center">布置时间</th>
        <th class="text-center">习题数量</th>
        <th class="text-center">关联教材</th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="data" empty="暂时没有分享的资源">
        <tr id="l_{$data.id}">
            <td>
                {$data.class_name}
            </td>
            <td>
                {$data.course_name}
            </td>
            <td>
                {$data.homework_name}
            </td>
            <td>
                {$data.claim}
            </td>
            <td class="text-center">{$data.create_at|date="Y-m-d H:i",###}</td>
            <td class="text-center">
                {$data.exercises_number}
            </td>
            <td class="text-center">
                {$data.textbook}
            </td>
            <td>
                <a href="{:U('Teach/homeworkCompleteDetails')}&homeworkId={$data.id}" title="完成情况">作业完成情况</a>
            </td>
        </tr>
    </volist>
    </tbody>
</table>