<link rel="stylesheet" href="__PUBLIC__/css/bjOrder.css?v=3.0" media="screen" title="no title" charset="utf-8">
<div class="of paytop">
  <div class="of">
    <div class="paytitle left">
        资源购买
    </div>
    <div class="right">
      <div class="Confirmorder left">
        确认订单
      </div>
      <div class="Confirmpayment left">
        确认支付
      </div>
      <div class="Successfulpayment left">
        支付成功
      </div>
    </div>
  </div>
    <div class="mt25 Confirmordermsg">
      确认订单信息
    </div>

</div>
<div class="PaymentContent">
  <div class="orderCon">
    <div class="orderCon_content">
    <ul class="of orderCon_ul">

          <li class="right Price">
          <img src="__PUBLIC__/img/sinology/money.png" alt="" / class="money"><span class="Price_span">{$order.real_price}/套</span>
          </li>
    </ul>
    <div class="of">
      <div class="bookcover_div left m10">
          <img src="{$oss_path}{$order.pc_cover}" alt="" / class="bookcover left">
      </div>
        <div class="book_name left">
            <p title="{$order.resource_name}">{$order.resource_name}</p>
            <!--<p class="ti5">醉把佳人成双对</p>-->
        </div>
      <div class="Confirmorder_div right ">
        <a  href="{:U('OrderManage/payment',array('id'=>$order['id']))}" class="right text-center Confirmorder_btn">去支付</a>
      </div>
    </div>
    </div>
  </div>
</div>
