<link rel="stylesheet" href="__PUBLIC__/css/bjOrder.css" media="screen" title="no title" charset="utf-8">
<div class="of paytop">
  <div class="of">
    <div class="paytitle left">
        资源购买
    </div>
    <div class="right">
      <div class="Confirmorder left">
        确认订单
      </div>
      <div class="Confirmpayment left Confirmpayment_active">
        确认支付
      </div>
      <div class="Successfulpayment left Successfulpayment_active">
        支付成功
      </div>
    </div>
  </div>
    <div class="mt25 Confirmordermsg">
      确认订单信息
    </div>
</div>
<div class="syccesspay_centent text-center">
    <img src="__PUBLIC__/img/sinology/dingdanwancheng.png" alt="" /><span>订单完成！</span>
    <div class="mt20">
      <a href="{:U('BjResource/bjResourceDetails',array('id'=>$id))}" class="colorred ml20">返回资源详情页</a>
    </div>
</div>
