/*完善资料弹窗*/
.perfectBack {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
	background: rgba(0,0,0,.3);
}

.perfectBox {
	display: inline-table;
	width: 500px;
/*	max-height: 570px;*/
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 16px;
	z-index: 20170001;
	background: #fff;
}

.perfectBox .perfectTop	{
	background: #e3f0fe;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #449cfc;
}

.perfectBox .perfectImg {
	height: 45px;
	margin-left: 10px;
}

.perfectBox .perfectMain {
	border: 1px solid #eee;
	border-top: none;
	width: 100%;
	padding: 10px 20px;
}

.perfectBox .perfectTitle {
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}

.perfectBox .perfectTitle .redSpan {
	color: #cb2e33;
	font-size: 16px;
	font-weight: 600;
}

.perfectBox .starImg {
	position: relative;
	top: -3px;
}

.perfectBox .rightStar {
	color: #cb0018;
	font-size: 22px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.perfectBox .radioBox {
	width: 100%;
	clear: both;
}

.perfectBox .radioBox .radioInput {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	/*top: 2px;*/
}

.perfectBox .radioBox label {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
}

.perfectBox .perSchool_select {
	width: 100%;
	font-size: 14px;
	margin-bottom: 8px;
}

.perfectBox .perSchool_select .sch_select {
	width: 390px;
	border: 1px solid #eee;
    padding: 3px 8px;
}

.perfectBox .schJoin {
	text-decoration: underline;
	margin-left: 2px;
}

.perfectBox .perCourse_select {
	display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
}

.perfectBox .perCourse_select select {
	width: 120px;
	padding: 3px 8px;
}

.perfectBox #grade {
	margin-left: 0;
}

.perfectBox .perCourse_select .cour_select {
	width: 100%;
	border: 1px solid #eee;
    padding: 3px 8px;
}

.perfectBox .sch_notify {
	display: none;
	color: #cd2f2e;
    font-size: 12px;
    padding: 2px 10px 0;
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

.perfectBox .cour_notify {
	color: #cd2f2e;
    font-size: 12px;
    padding: 2px 10px 0;
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

.perfectBox .notifyEm {
	width: 14px;
	margin-right: 3px;
	margin-top: -3px;
}

.perfectBox .cour_choice {
	overflow: hidden;
	width: 100%;
	max-height: 93px;
	margin-top: 10px;
}

.perfectBox .cour_choice .choiceSpan {
	display: inline-block;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 5px 10px;
    background: #f8f8f8;
    color: #58a8ff;
}

.perfectBox .cour_choice .choiceSpan .choiceSpanImg {
	width: 12px;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-left: 10px;
	
}

.perfectBox .addClassBtn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#studentBox .perSchool_select {
	margin-bottom: 15px;
}

.perCon {
    padding: 30px 35px 0;
	text-align: center;
}


/*公共弹窗开始*/
#bgBack {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170000;
	background: rgba(0,0,0,.3);
}

.regNotify.regPerfect {
	display: none;
	width: 450px;
	height: 300px;
	background: #fff;
	border: 1px solid #e3f0ff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20170001;
}

.regNotify.regPerfect .regTop {
	width: 100%;
	height: 40px;
	background: #e3f0ff;
	line-height: 40px;
}

.regNotify.regPerfect .regTopImg {
	height: 16px;
	margin-left: 20px;
	position: relative;
	top: -2px;
}

.regNotify.regPerfect .regTopTitle {
	font-size: 16px;
	font-family: "黑体";
	color: #3d9aff;
	letter-spacing: 2px;
	font-weight: 600
}

.regNotify.regPerfect .regTopClose {
	margin: 10px 14px 0 0;
	cursor: pointer;
	float: right;
}

.regNotify.regPerfect .schoolSpan {
    display: inline-block;
    width: 280px;
    line-height: 16px;
    font-size: 12px;
	font-weight: 600;
}
/*公共弹窗结束*/

.regNotify.regPerfect .middleCon {
	width: 100%;
	height: 100%;
	background: url(/public/img/register/addSchoolBack.png) no-repeat center;
	background-size: contain;
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;
	padding: 40px;
}

.regNotify.regPerfect .middleCon div {
	text-indent: 28px;
	font-size: 14px;
	font-weight: 100;
}

.regNotify.regPerfect .middleCon div a {
	color: #58a8ff;
}

.regNotify.regPerfect .serverCon {
	padding: 60px 35px 0;
}

.regNotify.regPerfect .serverCon h3 {
	display: inline-block;
}

.regNotify.regPerfect .regCon {
	text-align: center;
}

.regNotify.regPerfect .regCon h3 {
	display: inline-block;
}

.regNotify.regPerfect .regCon div {
	font-size: 12px;
	color: #aaa;
	margin-top: 20px;
}

.regNotify.regPerfect .regCon div .time {
	font-size: 16px;
	color: #cd2d2d;
}

.regNotify.regPerfect .regCon div a {
	color: #58a8ff;
}

.perfectForm {
	margin: 0 !important;
}

.regMiddle {
	height: 200px;
	padding-top: 10px;
}

.regBottom {
	width: 100%;
}

.regSureBtn {
	display: block;
	width: 110px;
	height: 25px;
	line-height: 25px;
	background: #58a8ff;
/*	background: #ccc;*/
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	outline: none;
	border: none;
}

.regSureBtn:hover, .regSureBtn:focus {
	color: #fff;
	text-decoration: none;
}

.addClassBtn {
	width: 60px;
	font-size: 14px;
	border: none;
	background: none;
	background: #58a8ff;
	color: #fff;
	line-height: 22px;
	border-radius: 3px;
}


