
<link type="text/css" rel="stylesheet" href="__PUBLIC__/umeditor/third-party/mathquill/mathquill.css">
<script type="text/javascript" src="__PUBLIC__/umeditor/third-party/mathquill/mathquill.min.js"></script>
<style>
    .bottomRightUl li.bottomRightShare {
        /*visibility: visible;*/
    }

    ul, li {
        list-style: none
    }

    .right {
        float: right;
    }

    .of{
        overflow: hidden;
    }

    .list_avatar {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }

    .expertTitle {
        text-align: center;
        /*        font-size: 32px;*/
        color: #231815;
    }

    .timePublisher, .hottitle {
        text-align: right;
        /*        font-size: 20px;*/
        color: #595757;
        padding-bottom: 0;
        line-height: 30px;
        border-bottom: 1px solid #faab01
    }

	.newsContent p, .newsContent h1, .newsContent h2, .newsContent h3, .newsContent h4, .newsContent h4, .newsContent h6 {
		text-indent: 2em !important;
	}

	.newsContent .noIndent {
		text-indent: 0 !important;
	}

	.newsContent a, .newsContent span, .newsContent p {
		white-space: inherit !important;
	}

	.newsContent .textCenter {
		display: table !important;
		margin: 0 auto;
	}

	.newsContent .textCenter p {
		text-indent: 0 !important;
	}

    .newsContent p {
        margin: 0;
    }

    .newsContent p img {
        margin-left: -2em;
        max-width: 100%;
    }

    .bordereee {
        border: 1px solid #eee;

    }

    #contentWrapper {
        padding: 0
    }

    .fullscreen .btnReturn1 {
        top: 15px
    }

    .fullscreen .bordereee {
        border-top: none
    }

    .timePublisher_left {
        display: inline-block;
        float: left;
        background-color: #faab01;
        color: #fff;
        text-align: center;
        padding: 0 20px;
        font-size: 18px
    }

    .newContent .newContentLi {
        font-size: 18px;
        line-height: 24px;
        list-style: none;
        background: url(__PUBLIC__/img/expertInfo/yuandian.png) no-repeat 0 13px;
        padding: 5px
    }

    .newContent .newContentLi .newsName {
        display: inline-block;
        text-indent: 1em;
        white-space: nowrap;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0
    }

    .newContent .newContentLi .newContentP {
        display: inline-block;
        overflow: hidden;
        float: right;
        margin-left: 10px;
        font-size: 16px;
        margin-bottom: 0
    }
    .newContent .newContentLi .newContentP img{
      position: relative;
      top: -2px;
    }

    .newContent .newContentLi a {
        color: #333;
        display: block;
        height: 24px
    }
    .newContent .newContentLi a:hover{
      color: #fc7f35 !important;
    }
    .newContent .newContentLi:hover{
      background-color: #eee
    }
    .subjectOutter .floorMain img {
        display: block;
        margin: 10px auto;
        max-width: 100%
    }

    .subjectH3 {
        font-size: 22px;
        text-align: center;
        margin: 10px 0;
        text-indent: 0 !important;
    }

    .subjectOutter .floorMain h4 {
        text-align: center;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
        text-indent: 0 !important
    }

    .subjectOutter .floorUl {
        padding-left: 0;
        position: fixed;
        top: 250px;
        left: 20px;
        height: 540px;
    }

    .subjectOutter .floorUl li {
        margin-bottom: 10px;
        background: #7a6e6e;
        cursor: pointer;
    }

    .subjectOutter .floorUl li.active {
        background: #f06358;
    }

    .subjectOutter .floorUl li.top {
        display: none;
    }

    .subjectOutter .floorUl li img {
        width: 50px;
        height: 50px;
        display: block;
    }

    .subjectOutter .floorUl.style1 {
        height: 450px;
        left: 20px;
    }

    .subjectOutter .floorUl.style1 li img {
        width: 40px;
        height: 40px;
    }

    .subjectOutter .floorUl.style2 {
        height: 360px;
        left: 20px;
    }

    .subjectOutter .floorUl.style2 li {
        margin-bottom: 5px;
    }

    .subjectOutter .floorUl.style2 li img {
        width: 35px;
        height: 35px;
    }

    .subjectOutter .floorUl.style3 {
        height: 315px;
        left: 20px;
        top: 210px;
    }

    .subjectOutter .floorUl.style3 li {
        margin-bottom: 5px;
    }

    .subjectOutter .floorUl.style3 li img {
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 1600px) and (min-width: 1331px) {
        .floorUl {
            left: 10px !important;
        }
    }

    @media screen and (max-width: 1330px) and (min-width: 0) {
        .floorUl {
            left: 5px !important;
        }
    }
</style>

<div class="bordereee">
    <div data-text="发布者信息">
        <div class="listview set-border" >
            <h3 class="expertTitle">{$data.title}</h3>
            <div class="m20 timePublisher">
                <span class="timePublisher_left">正文</span>
                <span><?php if(date('Y',$data['up_time']) === date('Y',time())){ echo date('m-d',$data['up_time']);}else{if($data['up_time']!=0) echo date('Y-m-d',$data['up_time']); else echo date('Y-m-d',time());}?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $data['linkaddress']?></span>
            </div>
        </div>
    </div>
    <div data-text="资讯内容">
        <div class="listview set-border padding20">
            <div class="padding20 newsContent" style="word-break:break-word;">
                <?php echo html_entity_decode($data['content'])?>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/share/activityShare.js"></script>
<!--分享-->
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "<?php echo $data['title']?>",
            "bdComment":"",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "<?php echo $oss_path.'/public/web_img/Icons/sharelogo.png'?>",
            "bdStyle": "0",
            "bdSize": "32"
        },
        "share": {},
        "image": {
            "viewList": ["tsina", "weixin", "sqq", "qzone"],
            "viewText": "分享到：",
            "viewSize": "32"
        }
    };
</script>

<script>
    var liNum = $('.floorUl').children('li').length;
    //根据可视区域高度判断
    function resizeHeight() {
        var windowHeight = $(window).height();
        if(liNum <= 4) {

        } else if(liNum > 4 && liNum <= 7) {
            if(windowHeight >= 720) {
                $('.floorUl').removeClass('style1').removeClass('style2').removeClass('style3')
            } else if(windowHeight < 720 && windowHeight >= 630) {
                $('.floorUl').addClass('style1').removeClass('style2').removeClass('style3')
            } else if(windowHeight < 630 && windowHeight >= 0) {
                $('.floorUl').addClass('style3').removeClass('style1').removeClass('style2')
            }
        } else {
            if(windowHeight >= 800) {
                $('.floorUl').removeClass('style1').removeClass('style2').removeClass('style3')
            } else if(windowHeight < 800 && windowHeight >= 710) {
                $('.floorUl').addClass('style1').removeClass('style2').removeClass('style3')
            } else if(windowHeight < 710 && windowHeight >= 630) {
                $('.floorUl').addClass('style2').removeClass('style1').removeClass('style3')
            } else if(windowHeight < 630 && windowHeight >= 0) {
                $('.floorUl').addClass('style3').removeClass('style1').removeClass('style2')
            }
        }
    }

    $(function(){
        resizeHeight()
    })

    $(window).resize(function(){
        resizeHeight()
    })
</script>

<script>
    if($('.floorUl').children('li').length > 2) {
        noScroll = 1;
        $('.bottomRightUl li.bottomRightShare').css('visibility','hidden');
    } else {
        $('.floorUl').hide()
        $('.bottomRightUl li.bottomRightShare').css('visibility','visible');
    }
</script>

<script>
    window.onload=function(){
        window.scrollTo(0,0);//滚动到顶部
    }

    //1.返回顶部按钮超过10px 显示
    function haveScroll() {
        $(window).scroll(function(){
            var $scroll=$(this).scrollTop();
            if($scroll>=10){
               $('.top').show();
            }else{
               $('.top').hide();
            }

            //4.拖动滚轮，对应的楼梯样式进行匹配
            $('.floorMain').each(function(){
                var $floortop = $('.floorMain').eq($(this).index()).offset().top + $('.floorMain').eq($(this).index()).height() -30 ;
                if($floortop > $scroll){
                    $('.floorUl li').removeClass('active');
                    $('.floorUl li').eq($(this).index()).addClass('active');
                    return false
                }
            })
        });
    }
    haveScroll();

    //2.获取每个楼梯的offset().top,点击楼梯让对应的内容模块移动到对应的位置  offset().left

    var $floorli=$('.floorUl li').not('.top');
    $floorli.on('click',function(){
        $(window).off('scroll');
        $(this).addClass('active').siblings('li').removeClass('active');
        if($('.nav').hasClass('fullscreen')){
            var $floortop=$('.floorMain').eq($(this).index()).offset().top - 30;
        } else {
            var $floortop=$('.floorMain').eq($(this).index()).offset().top;
        }

        //获取每个楼梯的offsetTop值
        $('html,body').stop(true).animate({scrollTop:$floortop},function(){ haveScroll()});
    });
    //3.回到顶部
    $('.top').click(function(){
        $('html,body').stop(true).animate({scrollTop:0});
    });
</script>
