<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC_THEME__/stylesheets/app.css?v=3"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/umeditor/third-party/mathquill/mathquill.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/umeditor/third-party/mathquill/mathquill.min.js"></script>
	<style>
		body,html {
			width: 100%;
			overflow-x: hidden;
		}
		
		p {
			line-height:30px;
			text-align:justify;
            text-justify:inter-ideograph;
/*
			display:table;
			display:table-cell;
*/
		}
	</style>
</head>
<body>
<div class="wrapper">
    {$data.content}
</div>
</body>
</html>