@import url(base.css);
@charset "utf-8";
/*全站链接样式*/
body{color:#333; font-size:12px;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
.blank{ height:10px;}
*{box-sizing:border-box;}
body{font-weight:normal;font:12px "微软雅黑",verdana,lucida,helvetica,arial,sans-serif;height:100%;color:#666;}

/*头部*/
#head{position:fixed;left:0;top:0;z-index:2;width:100%;}
.head{height:60px;background:rgba(57, 66, 79, 1) url(../img/help.png) no-repeat 10px 10px;line-height:60px;padding-left:60px;color:#2c749f;font-size:20px;}

.nav{height:40px;line-height:40px;background:#f1f1f1;padding:0 20px;border-bottom:1px solid #d8d8d8;font-size:14px;}
.nav a{color:#999;}
.nav a:hover{color:#029be5;}
.nav span{padding:0 5px;color:#666;}
.nav span.arrow{font-family:"宋体";}

#left{position:fixed;top:0;left:0;width:230px;overflow-y:auto;height:100%;background:#f5f5f5;border-right:1px solid #d8d8d8;padding-top:120px;}
.tree{padding-bottom:30px;}
.tree ul{list-style:outside none none;}
.tree li a{color:#666;font-size:12px;line-height:30px}
.tree > ul > li > a{color:#666;display:block;font-weight:normal;position:relative;text-decoration:none}
.tree ul li a{padding:0 44px}
.tree ul li a::after{background:rgba(0,0,0,0) url("../img/file_icon.png") no-repeat scroll -503px -178px;content:"";cursor:pointer;display:block;height:13px;left:20px;position:absolute;top:8px;vertical-align:middle;width:13px}
.tree ul li a.active::after {background:rgba(0,0,0,0) url("../img/file_icon.png") no-repeat scroll -490px -178px;}

.tree ul li ul li ul li a.active,.tree ul li ul li ul li.active{display:block}
.tree ul li a.active::after{background-position:-490px -178px}
.tree ul li ul li a{color:#757575;display:block;font-size:12px;line-height:26px;padding:0 0 0 67px}
.tree ul li ul li ul li a{color:#757575;display:block;font-size:12px;line-height:26px;padding:0 0 0 90px}
.tree ul li ul li a{color:#666;font-size:12px}
.tree ul li ul li a::after{left:44px;top:7px}
.tree ul li ul li ul li a{padding:0 0 0 74px}
.tree ul li ul li ul li a::after{left:52px;top:7px}
.tree ul li ul li ul li.last-node a{display:block;line-height:21px;padding:4px 20px 4px 90px}
.tree ul li ul li ul li.last-node a::after{background-position:-505px -191px;content:"";display:block;height:14px;left:67px;position:absolute;top:8px;vertical-align:middle;width:11px}
.tree ul li ul li ul li.last-node:hover,.tree ul li ul li.last-node:hover{background:#eeeeee none repeat scroll 0 0;color:#212121}
.tree ul li ul li ul li.last-node a.blue,.tree ul li.last-node a.blue{background:#029be5 none repeat scroll 0 0;color:#fff}
.tree ul li ul li ul li.last-node a.blue::after,.tree ul li.last-node a.blue::after{background-position:-494px -191px}
.tree ul li.last-node a{display:block;line-height:21px;padding:4px 20px 4px 67px}
.tree ul li.last-node a::after{background-position:-505px -191px;content:"";display:block;height:14px;left:45px;position:absolute;top:8px;vertical-align:middle;width:11px}
.tree ul li ul{display:none;overflow:hidden}
.tree ul li ul li{cursor:pointer;position:relative}

/*内容*/
#main{margin-left:230px;margin-top:100px;}
.main{padding:10px 50px;font-size:14px;}
.main h2{font-size:20px;margin:20px 0;color:#666;}
.main h3{font-size:16px;margin:20px 0;margin-top:30px;color:#029be5;border-bottom:1px solid #e8e8e8;padding:10px 0;}
.main h4{font-size:16px;margin:10px 0;margin-top:30px;color:#333;font-weight:bold;}
.main h5{font-size:14px;margin:0;margin-top:20px;color:#333;font-weight:bold;}
.main .info{line-height:25px;}
.main .info a{color:#029be5;}
.main .info a:hover{color:#ff6600;}
.main p{margin:15px 0;}
.main img{margin:20px 0;padding:10px;border:1px solid #e8e8e8;background:#f5f5f5;}
.main pre{line-height:30px;background:#f9f9f9;border:1px solid #d8d8d8;margin:10px 0;padding:20px 0;white-space:pre-wrap;word-wrap:break-word;font:14px/25px 'courier new';line-height:22px;padding:20px}
.main strong{color:#029be5;font-weight:normal}

.list{list-style:disc;}
.list li{margin:10px 20px;}

.apilist li{margin:10px 0;}
.apilist li span{color:#999}

.hide{display:none;}


iframe{border:none;min-height:600px;}

.listtable{border-left:1px solid #e8e8e8;border-top:1px solid #e8e8e8;}
.listtable th,.listtable td{border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;font-size:12px;padding:10px;}
.listtable th{background:#f5f5f5;}