<layout name="admin_layout_back"/>
<link href="__PUBLIC_METRO__/css/app/table_list.css?v=4.0" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/css/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" />

<style>
    .cellNew .cell1 {
        width: 33.33% !important;
    }

    .cellNew .cell2 {
        width: 66% !important;
    }

    .cellNew .cell2 .input-control {
        width: 37.7% !important;
    }

    .laydate_body .laydate_bottom, .laydate_body .laydate_top, .laydate_body .laydate_ym .laydate_yms {
        box-sizing: content-box;
    }

    .qq-uploader {
        max-height: 540px
    }

    #laydate_hms {
        display: none !important;
    }
</style>

<!--
<div class="titleBox">
	<p class="blueText fs18 underline1">班级管理</p>
	<div class="underline2"></div>
</div>
-->
<form action="/index.php/Admin/Orderdata/headMasterRegExport" method="post" id="exportForm" target="iframeName1" onsubmit="$('#formCondition').val(JSON.stringify(parameters))" class="inlineForm">
    <input type='submit' value='导出' class='blueBtn resetButton' />
</form>
<iframe name="iframeName1" id="iframeID1" src="about:blank" width="0" height="0" frameborder="0" ></iframe>
<p class="blueText fs16">报名列表</p>
<table id="listWrapper" class="table striped hovered border">
    <thead>
    <tr>
        <th class="text-center">序号</th>
        <th class="text-center">姓名</th>
        <th class="text-center">手机号</th>
        <th class="text-center">学校</th>
        <th class="text-center">职称</th>
        <th class="text-center">报名时间</th>
        <!--<th class="text-center">操作</th>-->
    </tr>
    </thead>
    <tbody id="body">
    <volist name="list" id="item" key="key">
        <tr>
            <td class="text-center">
                {$key}
            </td>
            <td class="text-center" title="{$item.name}">
                {$item.name}
            </td>
            <td class="text-center" title="{$item.telephone}">
                {$item.telephone}
            </td>
            <td class="text-center" title="{$item.school_name}">
                {$item.school_name}
            </td>
            <td class="text-center" title="{$item.professional}">
                {$item.professional}
            </td>
            <td class="text-center" title="{$item.create_at}">
                {$item.create_at}
            </td>

        </tr>
    </volist>
    </tbody>
</table>
<div class="Pagination">{$page}</div>


