<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title></title>
</head>
<body>
<div style="font-size: 30px;text-align: center;margin-top: 100px;">成功提交作业，此窗口可关闭</div>
<script>
    window.setTimeout(function () {
        try {
            window.parent.ajax_loadHomework();
        } catch (err) {
        }
    }, 200);
</script>
</body>
</html>