body {
	overflow-x: hidden; 
	font-size: 16px;
}

@media screen and (max-width: 1280px) {
	body {
		width: 1280px;
		overflow-x: auto; 
	}
}

a, a:hover, a:focus, a:visited {
	color: #333;
	text-decoration: none
}

select, input, textarea {
	outline: none
}

label {
	display: inline-block;
}

.overHidden {
	overflow: hidden !important;
}

.edui-default .edui-toolbar .edui-combox-body .edui-arrow {
	background-position: -742px 0 !important;
}

.avatarCommonBox {
	padding: 4px;
	border-radius: 50%;
	border: 1px solid #eee;
}

.avatarCommonBox .avatarImg {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.commonBtnBlue {
	background: #0fbae8;
	color: #fff;
	outline: none;
	border: none;
}

.commonBtnBlue:hover, .commonBtnBlue:focus, .commonBtnBlue:link, .commonBtnBlue:visited {
	text-decoration: none;
	color: #fff !important;
}

.commonBtnBlue.blueBtn {
	background: #0fbae8 !important;
	padding: 9px 25px !important;
	margin: 0 0 12px !important;
}

.operateBtnTwo {
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.operateBtnTwo.active {
    background: #ffb22d;
}

.cornerBtnRed {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	padding: 3px 3px 6px 10px;
	border-bottom-left-radius: 20px;
	background: #e9573f;
	color: #fff;
}

.laydate-selected:hover {
	background-color: #b4e7f5 !important;
}

.standardMain {
	width: 1200px;
	margin: 0 auto;
	font-family: "微软雅黑"
}

.standardMain.standardMainSmall {
	width: 1160px;
}

.coverBox {
	width: 80px;
	height: 15px;
	background: #fff;
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.logoContent {
	position: relative;
	height: 86px;
	padding-top: 25px;
}

.logoContent .logoImg {
	width: 120px;
}

.logoContent .app-title {
    color: #0fbae8;
    font-weight: 600;
    font-size: 20px
}

.logoContent .app-admin {
	margin: 0 14px 0 40px;
}

.logoContent .app-border {
	font-weight: 100;
	font-size: 22px
}

.logoContent .app-school {
    font-size: 16px;
    margin-left: 14px;
}

.logoContent .avatarBox {
	float: right;
	position: relative;
	cursor: pointer;
	margin-top: 5px;
	font-size: 16px;
	height: 56px;
}

.logoContent .avatarBox .avatarImg {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid #eee;
}

.logoContent .avatarBox .adminName {
	color: #333;
	display: inline;
	margin: 0 10px 0 6px;
}

.logoContent .avatarBox.active .adminName {
	color: #ffb22d;
}

.logoContent .adminInfoBox {
	background: #ffb22d;
	/*padding-top: 5px;*/
	width: 130px;
	position: absolute;
	right: 0;
	top: 51px;
	display: none;
	z-index: 10
}

.logoContent .adminInfoBox a {
	display: block;
	line-height: 40px;
	padding-left: 44px;
	color: #fff;
    background-color: #48576a;
    background-repeat: no-repeat;
    background-position: 18px center;
}

.logoContent .adminInfoBox a:nth-child(1) {
	margin-top: 5px;
}

.logoContent .adminInfoBox a:hover {
	background-color: #ffb22d; 
	text-decoration: none;
}

.logoContent .avatarBox .yellowUp {
	position: absolute;
    bottom: 5px;
    right: 100px;
    display: none;
}

.navOutter {
	background: #0fbae8;
	height: 40px;
	line-height: 40px;
}

.navOutter a {
	float: left;
	padding: 0 55px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	border-right: 1px solid #fff;
}

.navOutter a:last-child {
	border-right: 0
}

.navOutter a:hover {
	text-decoration: none;
	background: #ffb22d;
	border-right: 1px solid #ffb22d;
	color: #fff !important;
}

.contentMain {
	padding: 0;
}

/*===================================================首页==============*/
.grayText {
	color: #999;
	font-size: 16px;
	padding: 20px 0
}

.dateContent {
	margin-bottom: 10px;
}

.dateContent .dateTitle {
	font-weight: 600;
	font-size: 18px;
	float: left;
	line-height: 30px;
}

.dateContent .dateFilter {
	float: left;
	position: relative;
	margin: 0 4px 0 15px;
}

.dateContent .dateText {
	border: 1px solid #ccc;
	line-height: 30px;
	width: 48px;
	height: 32px;
	padding: 0 10px;
	border-radius: 5px;
	cursor: pointer
}

.dateContent .dateText.active {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
 	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.dateContent .dateUl {
	width: 48px;
	border: 1px solid #66afe9;
	position: absolute;
	left: 0;
	top: 32px;
	display: none;
}

.dateContent .dateUl li {
	background: #e3f6ff;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

.dateContent .dateUl li:hover, .dateContent .dateUl li.active {
	background: #ffb22d;
	color: #fff;
}

.dateContent .layui-input-inline {
	display: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
}

.dateContent .layui-input {
	width: 200px !important;
	height: 30px !important;
	border: none !important;
	float: left;
	border-right: 1px solid #ccc !important;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0;
}

.dateContent .dateImgBox {
	float: left;
	line-height: 30px;
	padding: 0 5px;
}

.dateContent .dateImgBox .dateImg {
	cursor: pointer;
}

.indexOutter {
	background: #f4f4f4;
	/*margin-top: 10px;*/
	padding-bottom: 50px;
}

.indexContent .indexTitle {
	font-size: 16px;
	font-weight: 600;
	padding: 30px 10px 10px 10px;
}

.indexContent .indexTitle.indexTitleBorder {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.indexContent .tabOutter {
	overflow: hidden;
}

.indexContent .tabBox {
	width: 400px;
	height: 130px;
	float: left;
	cursor: pointer;
	background: #fff;
	padding-top: 29px;
	border-right: 1px solid #eee;
}

.indexContent .tabBox:hover {
	background: #ffb22d;
	color: #fff;
	border-right: 1px solid #ffb22d;
}

.indexContent .tabBox:nth-child(3) {
	border-right: none;
}

.indexContent .tabBox .avatarImg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid #eee;
	margin-left: 95px;
	float: left;
}

.indexContent .tabBox .selfInfo {
	float: left;
	font-size: 16px;
	line-height: 35px;
	margin-left: 24px;
}

.indexContent .tabBox .name {
	font-weight: 600
}

.indexContent .pieOutter {
	/*height: 294px;*/
	/*height: 350px;*/
	background: #fff;
}

.indexContent .pieOutter .pieTop {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.indexContent .pieOutter .pieTop .pieBox {
	width: 400px;
	float: left;
	padding: 30px 0;
	position: relative;
}

.indexContent .pieOutter .pieTop .pieBox .coverBox {
	right: 0;
}

.indexContent .pieOutter .pieTop .pieDiv {
	max-width: 100%;
	height: 290px;
	margin: 0 auto
}

.indexContent .pieOutter .pieBottom {
	width: 100%;
	/*height: 100%;*/
	padding: 15px 0;
	border-top: 4px solid #eee;
	overflow: hidden;
}

.indexContent .pieOutter .pieBottom .pieTextBox {
	position: relative;
	width: 25%;
	float: left;
	padding: 0 10px;
	text-align: center;
}

.indexContent .pieOutter .pieBottom .redDot {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #ffb22e;
	display: inline-block;
	position: relative;
	top: -2px;
}

.indexContent .pieOutter .pieBottom .pieText {
	font-size: 16px;
	margin-left: 5px;
	display: inline-block;
	line-height: 25px;
}

.indexContent .lineOutter {
	height: 500px;
	background: #fff;
	padding: 30px;
	position: relative;
}

.indexContent .lineOutter .coverBox {
	bottom: 20px;
}

.indexContent .roleFilter {
	position: relative;
	margin-bottom: 20px;
}

.indexContent .roleFilter.roleFilterAb {
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 20px;
}

.indexContent .roleText {
	border: 1px solid #eee;
	line-height: 30px;
	width: 110px;
	height: 32px;
	padding: 0 10px;
	border-radius: 5px;
	cursor: pointer
}

.indexContent .roleFilter.courseFilter .roleText {
	width: 150px;
}

.indexContent .roleText.active {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
 	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.indexContent .roleUl {
	width: 110px;
	border: 1px solid #66afe9;
	position: absolute;
	left: 0;
	top: 32px;
	display: none;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.indexContent .roleFilter.courseFilter .roleUl {
	width: 150px;
}

.indexContent .roleUl li {
	background: #e3f6ff;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
}

.indexContent .roleFilter.courseFilter .roleUl li {
	text-align: left;
}

.indexContent .roleUl li:hover, .indexContent .roleUl li.active {
	background: #ffb22d;
	color: #fff;
}

.indexContent .lineOutter .lineDiv {
	max-width: 100%;
	height: 388;
}

.indexContent .columnOutter {
	height: 400px;
	background: #fff;
	padding: 30px;
	margin-bottom: 10px;
	position: relative;
}

.indexContent .columnOutter .columnDiv {
	max-width: 100%;
	height: 100%;
}


/*===================================================人员登录统计==============*/
.hrefContent {
	font-size: 17px;
	font-weight: bold;
	padding: 20px 0;
}

.hrefContent .returnBack {
	color: #999;
}

.hrefContent .returnBack:hover {
	text-decoration: none
}

.roleContent {
	overflow: hidden;
}

.roleContent .roleBtn {
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;	
	text-align: center;
	background: #0fbae8;
	color: #fff;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.roleContent .roleBtn.active {
	background: #ffb22d;
}

.indexContent .pieOutter {
	overflow: hidden;
	background: #fff;
}

.indexContent .pieOutter .pieLeft {
	float: left;
	padding: 20px 0;
	width: 410px;
	border-right: 10px solid #eee;
	position: relative;
}

.indexContent .pieOutter .pieLeft .pieDiv {
	max-width: 100%;
	height: 330px;
	margin: 0 auto
}

.indexContent .pieOutter .pieLeft .coverBox {
    bottom: 20px;
    right: 0;
}

.indexContent .pieOutter .lineRight {
	float: left;
	padding: 20px 10px;
	width: 790px;
	position: relative;
}

.indexContent .pieOutter .lineRight .lineDiv {
	max-width: 100%;
	height: 330px;
}

.indexContent .pieOutter .lineRight .coverBox {
    bottom: 20px;
    right: 10px;
}

/*===================================================班级管理==============*/
.topContent {
	background: #f8fdfe;
	padding: 15px 20px;
	font-size: 16px;
	font-weight: bold;
}

.pullDown {
	float: right;
	cursor: pointer;
}

.classTeacherOutter {
	overflow: hidden;
	height: 210px;
}

.classTeacherOutter .classTeacherBox {
	float: left;
	width: 182px;
	height: 210px;
	background: #fff;
	margin-right: 13.6px;
	margin-bottom: 13.6px;
	position: relative;
	font-size: 14px;
}

.classTeacherOutter .classTeacherBox:nth-child(6n) {
	margin-right: 0;
}

.avatarCommonBox.classTeacherAvatar {
	width: 90px;
	height: 90px;
	margin: 17px auto 0;
}

.classTeacherOutter .classTeacherName {
	text-align: center;
	margin: 20px 0;
	padding: 0 10px;
}

.commonBtnBlue.classTeacherSubject {
	display: inline-block;
	max-width: 95%;
	margin: 0 auto;
	padding: 6px 12px;
	border-radius: 15px;
}

.publishHomeworkOutter {
	padding: 20px;
	background: #fff;
	overflow: hidden;
}

.publishHomeworkOutter .publishHomeworkInner {
	display: inline-block;
	border-top: 1px solid #bbddea;
	border-left: 1px solid #bbddea;
}

.publishHomeworkOutter .publishHomeworkBox {
	width: 186.5px;
	height: 83px;
	float: left;
	border-bottom: 1px solid #bbddea;
	border-right: 1px solid #bbddea;
	background: #f9fcfe;
	font-size: 16px;
	line-height: 30px;
	padding: 10px 5px;
	text-align: center;
}

.publishHomeworkOutter .publishSubject {
	max-width: 110px;
	height: 32px;
	display: inline-block;
    vertical-align: middle;
}

.classStudentOutter {
	overflow: hidden;
}

.classStudentOutter .classStudentBox {
	float: left;
	width: 266px;
	height: 177px;
	background: #fff;
	margin-right: 32px;
	margin-bottom: 16px;
	position: relative;
	font-size: 14px;
	padding-left: 38px;
	padding-top: 15px;
}

.classStudentOutter .classStudentBox:nth-child(4n) {
	margin-right: 0;
}

.avatarCommonBox.classStudentAvatar {
	width: 60px;
	height: 60px;
	margin-top: 14px;
	float: left;
}

.classStudentOutter .classStudentInfo {
	float: left;
	line-height: 30px;
	margin-top: 14px;
	margin-left: 16px;
}

.classStudentOutter .classStudentElse {
	padding-top: 12px;
	clear: both;
}

.classStudentOutter .classStudentBtnBox {
	width: 94px;
	float: left;
	border-right: 1px solid #eee;
	padding: 0 3px;
	margin-top: 14px;
	display: none;
}

.classStudentOutter .classStudentBtnBox:last-child .classStudentBtn {
	margin-left: 21px;
}

.classStudentOutter .classStudentBtn {
	display: inline-block;
	border-radius: 5px;
	width: 70px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
}

.learningSituationOutter {
	padding: 30px;
	background: #fff;
	position: relative;
}

.timeOutter {
	width: 420px;
	margin: 0 auto;
	overflow: hidden;
}

.timeOutter .startBox, .timeOutter .endBox {
	overflow: hidden;
}

.timeOutter .startLabel {
	float: left;
	width: 23px;
	height: 25px;
	background: url(/Public/img/learningPath/startTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .startLabel.yellow {
	background: url(/Public/img/learningPath/startTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .endLabel {
	float: left;
	width: 23px;
	height: 25px;
	background: url(/Public/img/learningPath/endTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .endLabel.yellow {
	background: url(/Public/img/learningPath/endTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .timeInput {
	width: 150px;
	line-height: 25px;
	margin: 0 15px 0 5px;
	float: left;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	text-indent: 5px;
}

.timeOutter .searchTime {
	float: left;
	border: none;
	outline: none;
	background: none;
	width: 25px;
	height: 25px;
	background: url(/Public/img/learningPath/searchTimeBlue.png) no-repeat center;
	background-size: 100% 100%;
}

.timeOutter .searchTime:hover {
	background: url(/Public/img/learningPath/searchTimeYellow.png) no-repeat center;
	background-size: 100% 100%;
}

.laydate_body .laydate_bottom, .laydate_body .laydate_top, .laydate_body .laydate_ym .laydate_yms {
    box-sizing: content-box;
}

#laydate_hms {
	display: none !important
}

.operateBtnContent {
	padding: 20px 0 10px;
}

.operateBtnContent .operateBtn {
    padding: 6px 12px;
    border-radius: 5px;
    text-indent: 24px;
    display: inline-block;
    font-size: 16px;
}

.classContent {
	background: #fff;
	overflow: hidden;
}

.classContent .classBox {
	width: 266px;
	height: 160px;
	border: 2px solid #0fbae8;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #0fbae8;
	position: relative;
	margin: 0 17px 15px;
	float: left;
}

.classContent .classTop {
	line-height: 48px;
	text-align: center;
}

.classContent .classBottom {
	background: #d8f4fb;
	height: 108px;
	padding: 22px;
	line-height: 26px;
	font-size: 14px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-indent: 36px;
}

.classContent .classDelete {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
	display: none;
}

.classContent .classBox:hover {
	border: 2px solid #ffb22d;
	color: #ffb22d;
}

.classContent .classBox:hover .classBottom {
	background: #fff3dd;
}

.classContent .classBox:hover .classDelete {
	display: block;
}

.classContent .classTabBox {
	overflow: hidden;
	clear: both;
	background: #f9fcfe;
	position: relative;
	margin-bottom: 5px;
	width: 1150px;
	float: left;
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.classContent .classTab {
	float: left;
	width: 157px;
	height: 50px;
	line-height: 50px;	
	border-bottom: 1px solid #f3f7f9;
	border-right: 1px solid #f3f7f9;
	text-align: center;
	cursor: pointer;
}

.classContent .classTab.active {
	border-bottom: 1px solid #fff;
	color: #ffb22d;
	font-weight: bold;
	position: relative;
	z-index: 2
}

.classContent .classTabLine {
	width: 100%;
	height: 1px;
	background: #f3f7f9;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1
}

.classContent .classTabLine.top {
	top: 0;
}

.classContent .classTabBox {
	overflow: hidden;
	clear: both;
	background: #f9fcfe;
	position: relative;
	/*margin-bottom: 25px;*/
	width: 1150px;
	float: left;
}

.classContent .classTabBtn {
	width: 50px;
	height: 50px;
	background: #f9fcfe;
	float: left;
	border: 1px solid #f3f7f9;
	cursor: pointer;
}

/*===================================================备忘录==============*/
.memoTitleContent {
	margin-top: 20px;
	background: #fff;
	padding: 10px 20px;
	line-height: 30px
}

.memoTitleContent .momeText {
	font-size: 18px;
	font-weight: bold;
}

.memoContent {
	padding: 0 20px;
	background: #fff;
	margin-top: 10px;
}

.memoContent .memoDate {
	line-height: 49px;
	height: 50px;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	margin-bottom: 20px;
}

.memoOutter {
	overflow: hidden;
}

.memoOutter .memoBox {
	float: left;
	width: 210px;
	height: 178px;
	border: 2px solid #664b39;
	margin: 0 11px 20px;
	border-radius: 20px;
	font-weight: bold;
}

.memoOutter .memoTop {
	height: 130px;
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	background: #fcfaf4;
	color: #664b39;
	text-align: center;
	line-height: 130px;
}

.memoTitle {
	width: 166px;
    height: 60px;
	line-height: 30px;
    word-break: break-all;
    overflow: hidden;
    float: left;
    -ms-word-break: break-all;
    word-break: break-all;
    text-align: left;
    margin: 35px 20px;
}

.memoTitle.singleLine {
    height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 50px 20px;
}

.memoOutter .memoBottom {
	height: 44px;
	line-height: 44px;
	color: #fff;
	background: #664b39;
	text-align: center;
	border-bottom-right-radius: 17px;
	border-bottom-left-radius: 17px;
}

.memoNewContent {
	background: #fff;
}

.memoNewContent .memoNewTop {
	background: #f9fcfe;
	height: 50px;
	line-height: 49px;
	padding: 0 20px;
	border: 1px solid #f4f8fa;
	font-weight: bold;
}

.memoNewContent .memoNewMain {
	padding: 20px 110px;
}

.memoNewContent .indexTitle {
	padding: 0 10px;
}

.memoNewContent .menoNewTitle {
	width: 100%;
	height: 72px;
	border: 1px solid #eee;
	border-radius: 10px;
	line-height: 30px;
	padding: 0 10px;
	margin: 10px auto 16px;
}

.memoNewContent .saveButton {
	width: 105px;
	height: 40px;
	line-height: 40px;
	display: block;
	margin: 30px auto;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	letter-spacing: 2px;
}

.memoDetailsTitle {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	padding-bottom: 12px;
	word-break: break-all;
}

.memoDetailsMain {
	line-height: 30px;
	text-indent: 2em;
	word-break: break-all;
}

/*===================================================班级详情空白页==============*/
.emptyBox {
	height: 220px;
	text-align: center;
}

.emptyBox .emptyImg {
	margin: 20px 0;
}

.emptyBox .emptyText {
	color: #999;
}

.emptyBox .blackText {
	margin: 8px 0 20px;
	font-size: 18px;
}

.chartEmptyBox {
	text-align: center;
}

.chartEmptyBox .blackTitle {
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 30px;
}

.memoEmptyBox {
	position: relative;
	background: #fff;
	margin-top: 10px;
}

.memoEmptyBox .emptyImg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*===================================================列表/详情==============*/
.tableContent {
	margin-top: 16px;
}

.tableContent .classTabBox {
	width: 100%;
}

.roleBtnContent {
	padding: 20px 20px 30px 20px;
	clear: both;
}

.roleBtnContent .operateBtnTwo {
	margin-right: 9px;
}

.cellBox {
	padding: 0 20px;
	overflow: hidden;
	position: relative;
}

.cellBox .cell {
	float: left;
	margin-bottom: 20px;
	margin-right: 46px;
}

.cellBox .cell label {
	display: inline-block;
	width: 100px !important;
	text-align: left;
}

.cellBox .cell label.letSpace4 {
	letter-spacing: 9px;
}

.cellBox .cell label.letSpace5 {
	letter-spacing: 4px;
}

.input-control {
	margin: 0 !important;
	padding: 0 10px;
	width: 200px !important;
	height: 40px;
	line-height: 38px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.cell .textarea-control {
	width: 950px !important;
	height: 50px;
}

hr.thin {
	clear: both;
	margin: 0 !important;
}

.cellBox .search, .cellBox .search:hover, .cellBox .search:focus {
	background: #0fbae8 url(/Public/img/admin/sousuo.png) no-repeat 15px center;
	color: #fff;
	font-size: 18px;
	border: none;
	width: 105px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-indent: 46px;
	text-align: left;
	padding: 0;
}

.btnBig {
	cursor: pointer;
	display: inline-block;
	background: #0fbae8;
	color: #fff;
	font-size: 18px;
	border: none;
	width: 105px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	padding: 0;
	position: relative;
	top: 8px;
}

.fileBox .btnBig {
	margin-left: 10px;
	top: 0px;
}

.tableOutter {
	padding: 0 20px;
}

table.table.newTable {
	border: 1px solid #dfebff;
	margin: 0;
}

table.table.newTable tbody th, table.table.newTable tbody td {
    border-right: 1px solid #dfebff !important;
    border-bottom: 1px solid #dfebff !important;
    text-align: center;
    padding: 8px !important;
    font-size: 15px;
    line-height: 25px;
}

table.table.newTable thead {
    background: #dceff4;
}

table.table.newTable thead th, table.table.newTable thead td {
    border-right: 1px solid #dceff4 !important;
    border-bottom: 1px solid #dceff4 !important;
    text-align: center;
    padding: 14px 5px;
    color: #333;
}

table.table.newTable .operBtn {
	color: #0fbae8;
	font-size: 15px;
}

table.table.newTable .operBtn:hover {
	color: #ffb22d;
}

table.table.newTable td.aMr3 .operBtn {
	margin-right: 30px;
}

table.table.newTable td.aMr3 .operBtn:nth-child(3) {
	margin-right: 0 !important;
}

table.table.newTable td .operBtn.operBtnBig {
	width: 80px;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	margin: 0 2px;
}

table.table.newTable td .operBtn.operBtnBig.operBtnYes {
	background: #0fbae8;
}

table.table.newTable td .operBtn.operBtnBig.operBtnNo {
	background: #ff5f45;
}

.tableOutter .Pagination {
	margin-bottom: 25px;
}

.tableOutter .Pagination a:hover, .current {
    background-color: #0fbae8 !important;
}

.tableTitle {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 14px;
}

.tableTitle.tableTitleInner {
	margin: 0 40px;
	padding: 0 5px 10px;
	border-bottom: 1px solid #eee
}

.tableContent .blueBox {
	height: 50px;
	line-height: 48px;
	border: 1px solid #f3f7f9;
	background: #f9fcfe;
	padding: 0 20px
}

.tableContent .blueBox .blueTitle {
	font-weight: bold;
	font-size: 16px;
}

.tableContent .infoOutter {
	padding: 10px 40px 0;
	margin: 0 0 30px;
}

.tableContent .infoOutter .infoBox .cell {
	padding: 0 6px;
    line-height: 49px;
    background: none;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #f2f2f2;
}

.tableContent .infoOutter.infoOutterModify .infoBox .cell {
	padding: 0 6px;
    line-height: 49px;
    background: none;
    margin-bottom: 10px !important;
    border-bottom: none;
}

.tableContent .infoOutter .disabledText {
	color: #666;
}

.tableContent .infoOutter .disabledInput {
    border: none;
    -webkit-appearance: none;
    color: #666;
    padding: 0;
    cursor: auto
}

.tableContent .submitInput:hover {
 	text-decoration: none !important
}

.tableContent .tabBox {
	padding: 0 20px 20px;
}

.tableContent .tabUl, .tableContent .tabCon {
	border-color: #0fbae8;
}

.tableContent .tabUl .tabLi:hover, .tableContent .tabActive {
	background: #0fbae8;
}

.mgmtUl {
	padding: 0 20px;
	margin: 0;
}

.mgmtUl .mgmtLi {
	width: 33.33%;
	margin-bottom: 10px;
}

.gradeCourse {
	padding: 0 50px;
}

.gradeSpan .redClose {
	color: #0fbae8;
}

.divTable table {
    width: 97%;
    margin: 0 auto !important;
}

/*===================================================弹窗==============*/
.adminNotifyTitle {
	background: #0fbae8;
}

.adminNotifyBlue1 {
	background-color: #0fbae8;
}

.adminNotifyBlue1:hover {
	background-color: #05aad6;
}

.adminNotifyBlue2 {
	background: #0fbae8;
}

.adminNotifyBlue2:hover {
	background: #05aad6;
}

.adminNotifyContent .input-control {
	margin: 5px 0 !important;
}
