/*平台的返回顶部*/
.bottomRightUl {
	padding-left: 0;
	width: 50px;
	height: 165px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	list-style: none;
	z-index: 2
}

.bottomRightUl li {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
}

.bottomRightUl li.bottomRightShare {
	visibility: hidden;
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightShare1.png) no-repeat center;
}

.bottomRightUl li.bottomRightShare:hover, .bottomRightUl li.bottomRightShare.active {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightShare2.png) no-repeat center
}

.bottomRightUl li.bottomRightQRcode {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightQRcode1.png) no-repeat center;
}

.bottomRightUl li.bottomRightQRcode:hover, .bottomRightUl li.bottomRightQRcode.active {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightQRcode2.png) no-repeat center;
}

.bottomRightUl li.bottomRightTop {
	visibility: hidden;
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightTop1.png) no-repeat center;
}

.bottomRightUl li.bottomRightTop:hover, .bottomRightUl li.bottomRightTop.active {
	background: url(http://jbyoss.oss-cn-beijing.aliyuncs.com/public/web_img/Icons/bottomRightTop2.png) no-repeat center;
}

.bottomRightUl .bottomRightShareOutter {
	width: 80px;
	padding-right: 10px;
	position: absolute;
	left: -130px;
	top: -86px;
	display: none;
}

.bottomRightUl .bottomRightQRcodeOutter {
	width: 348px;
	padding-right: 10px;
	position: absolute;
	left: -376px;
	top: -40px;
	display: none;
}

.bottomRightUl .bdsharebuttonbox {
	width: 70px;
	text-align: center;
	background: #fff;
	border: 1px solid #d1d1d1;
	position: relative;
}

.bottomRightUl .bottomRightQRcodeBox {
	width: 316px;
	text-align: center;
	background: #fff;
	border: 1px solid #d1d1d1;
	position: relative;
	box-sizing: content-box;
	padding: 10px
}

.bottomRightUl .bottomRightCorner {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: -9px;
}

.bottomRightUl .bdsharebuttonbox .bottomRightSpan {
	line-height: 30px;
	font-size: 14px;
}

.bottomRightUl .bdshare-button-style0-32 a {
	float: inherit !important;
	width: 36px;
	height: 36px;
	display: block;
	margin: 10px auto;
}

.bottomRightUl .bdshare-button-style0-32 .bds_tsina {
	background-image: url(../img/activity/tsina.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-32 .bds_weixin {
	background-image: url(../img/activity/weixin.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-32 .bds_sqq {
	background-image: url(../img/activity/sqq.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-32 .bds_qzone {
	background-image: url(../img/activity/qzone.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-16 a {
	float: inherit !important;
	width: 36px;
	height: 36px;
	display: block;
	margin: 10px auto;
}

.bottomRightUl .bdshare-button-style0-16 .bds_tsina {
	background-image: url(../img/activity/tsina.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-16 .bds_weixin {
	background-image: url(../img/activity/weixin.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-16 .bds_sqq {
	background-image: url(../img/activity/sqq.png);
	background-size: cover;
	background-position: inherit;
}

.bottomRightUl .bdshare-button-style0-16 .bds_qzone {
	background-image: url(../img/activity/qzone.png);
	background-size: cover;
	background-position: inherit;
}

.bd_weixin_popup {
	box-sizing: content-box
}

@media screen and (max-width: 1600px) and (min-width: 1331px) {
    .bottomRightUl {
		right: 10px;
	}
}

@media screen and (max-width: 1330px) and (min-width: 1101px) {
    .bottomRightUl {
		width: 40px;
		height: 135px;
		right: 10px;
	}

	.bottomRightUl li {
		width: 40px;
		height: 40px;
	}

	.bottomRightUl .bottomRightShareOutter {
		top: -92px;
	}

	.bottomRightUl .bottomRightQRcodeOutter {
		top: -45px;
	}
}

@media screen and (max-width: 1100px) and (min-width: 0) {
    .bottomRightUl {
		width: 40px;
		height: 135px;
		right: 5px;
	}

	.bottomRightUl li {
		width: 40px;
		height: 40px;
	}

	.bottomRightUl .bottomRightShareOutter {
		top: -92px;
	}

	.bottomRightUl .bottomRightQRcodeOutter {
		top: -45px;
	}
}
