@font-face {
	font-family: FangZhengZhunYuan;
	src: url('../font/fangzhengzhunyuanjianti.ttf');
}

@font-face {
	font-family: FangZhengCuYuan;
	src: url('../font/fangzhengcuyuanjianti.ttf');
}

@font-face {
	font-family: fnt0;
	src: url('font.woff');
}

body {
	background: #ededed;
}

body {
	display: block;
	/*    overflow: hidden;*/
}

.header {
    position: relative;
    height: 120px;
    z-index: 10;
	background:#065b78 url(../../img/icon/cloud.png) repeat-x ;

}

.welcome {
	color: white;
	position: absolute;
	z-index: 20160920;
	top: 30px;
	left: 95px;
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '\\5FAE软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
	font-size: 18px;
}

.logo {
	position: absolute;
	top: 12px;
	left: 16px;
	height: 76px;
}

.content {
	padding-top: 30px;
}

#creatlessoncontent {
	width: 80%;
	min-width: 1240px;
	margin: 0 auto;
}

.mainbody {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-top: 39px;
	background: #ededed;
}

.nav {
	height: 39px;
	-webkit-box-shadow: 0 3px 3px 3px #A8AEB0;
	-moz-box-shadow: 0 3px 3px 3px #A8AEB0;
	box-shadow: 3px 3px 3px #A8AEB0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 39px;
	color: white;
	font-size: 20px;
	position: relative;
}

a:focus {
	outline: none
}

.nav span {
	margin-left: 12px;
}

.topbar {
	background: transparent;
	text-align: right;
	padding-bottom: 4px;
	z-index: 25;
	position: absolute;
	right: 5%;
	bottom: 0;
	z-index: 11;
}

.topbar img {
	height: 30px;
	border-radius: 6px;
}

.bottombar {
	margin: 0 auto;
	height: 40px
}

.company {
	text-align: center;
	line-height: 20px;
	color: #666;
	margin-top: 10px
}

.company p {
	margin: 0
}

.cloud1 {
	position: absolute;
	right: -55px;
	top: -104px;
	z-index: 20 !important;
}

.cloud_left {
	position: absolute;
	left: -39px;
	top: -31px;
}

.cloud_right {
	position: absolute;
	right: -55px;
	top: 200px;
	z-index: 20 !important;
	opacity: .6;
}

.cloud_left img {
	width: 280px;
}

.cloud_right img {
	width: 80px;
}

.cloud1 img {
	width: 465px;
}

.navThumWrapper {
	position: absolute;
	left: 15%;
	top: 64px;
}

.navTitle {
	text-align: center;
	color: white;
	line-height: 60px;
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '\\5FAE软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
	font-size: 33px;
	font-weight: 600;
	letter-spacing: 6px;
}

.jiaoxueplus {
	height: 27px;
	display: inline-block;
	margin-left: 2px;
	margin-bottom: 6px;
}

.navTitleImg {
	width: 80px;
}

.navThumImg {
	width: 60px;
	position: absolute;
	cursor: pointer;
}

.navThumImg1 {
	left: 50px;
	top: 17px;
}

.navThumImg2 {
	left: 106px;
	top: 0px;
}

.navThumImg3 {
	left: 160px;
	top: 17px;
}

.navThumImg4 {
	left: 216px;
	top: 0px;
}

.navThumImg5 {
	left: 266px;
	top: 0px;
}

.navTranImg {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.main_opr {
	position: absolute;
	top: 45px;
	left: 0;
	text-align: center;
	width: 100%;
	background: transparent;
}

.btn-main-opr {
	padding: 2px 12px !important;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	font-weight: 600;
	border: 2px solid #fff;
	font-family: 黑体;
}

.btn-main-opr:hover {
	color: #2F2F30;
	background-color: #fff;
}

form {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.btn {
	font-family: 黑体;
}

/*======鼠标滑过图标转动 title=======*/

.imgTitle {
	display: none;
	font-size: 12px;
	color: #333;
	background: #fff;
	padding: 4px 6px;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20160922;
	-webkit-box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	-moz-box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	box-shadow: 0 0 10px rgba(153, 153, 153, .5);
}


/*=================升級須知==================*/

.notice {
	width: 930px;
	height: 510px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto auto;
	z-index: 9999;
	display: none
}


.notice p {
	padding: 0 70px;
	text-align: justify;
	font-size: 16px;
	line-height: 28px;
	padding-right: 30px;
	    margin: 0;
}
.notice  .helloUser{

	margin-top:229px;
	padding-left: 42px
}

.notice_close {
	float: right;
	cursor: pointer
}

.noticeTeacher {
	background: url(../../img/toolTip/notice_t.png) no-repeat center;
	background-size: 100% 100%;
}




/*===============滑动门=================*/

#slide_title {
	min-width: 210px;
}


/*文本框按钮*/


/*
.btn-bold {
	background: url(../../web_img/LessonPlannings/bold_gray.png) no-repeat #fff;
	border: none
}

.btn-bold:hover {
	background: url(../../web_img/LessonPlannings/bold_yellow.png) #fff!important;
	border: none
}

.btn-italic {
	background: url(../../web_img/LessonPlannings/incline_gray.png) no-repeat #fff;
	border: none
}

.btn-italic:hover {
	background: url(../../web_img/LessonPlannings/incline_yellow.png) no-repeat #fff !important;
	border: none
}

.btn-underline {
	background: url(../../web_img/LessonPlannings/under_gray.png) no-repeat #FFF;
	border: none
}

.btn-underline:hover {
	background: url(../../web_img/LessonPlannings/under_yellow.png) no-repeat #FFF !important;
	border: none;
}

#btncolor {
	background: url(../../web_img/LessonPlannings/size_gray.png) #fff no-repeat;
}

#btncolor:hover {
	background: url(../../web_img/LessonPlannings/size_yellow.png) #fff no-repeat;
}

#fontcolor {
	background-image: url(../../web_img/LessonPlannings/color_gray.png) no-repeat !important;
}

#fontcolor:hover {
	background-image: url(../../web_img/LessonPlannings/color_yellow.png) no-repeat !important;
}
.btn-color{background: #fff;border: 3px solid #ccc;border-radius: 25px}
.btn-color:hover {
	background: #fff;
}
*/

#navThumImg1,
#navThumImg3 {
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

#navThumImg2,
#navThumImg4 {
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

#navThumImg1:hover,
#navThumImg3:hover {
	-moz-animation: rotate_z 0.8s infinite ease;
	-webkit-animation: rotate_z 0.8s infinite ease;
	animation: rotate_z 0.8s infinite ease;
}

#navThumImg2:hover,
#navThumImg4:hover {
	-moz-animation: rotate_f 0.8s infinite ease;
	-webkit-animation: rotate_f 0.8s infinite ease;
	animation: rotate_f 0.8s infinite ease;
}

@-moz-keyframes rotate_z {
	0% {
		-moz-transform: rotate(20deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate_z {
	0% {
		-webkit-transform: rotate(20deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate_z {
	0% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotate_f {
	0% {
		-moz-transform: rotate(20deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate_f {
	0% {
		-webkit-transform: rotate(20deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate_f {
	0% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#removesilder {
	background: url(../../web_img/LessonPlannings/cls_gray.png) no-repeat;
	border: none;
	outline: none;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	margin-left: -75px;
}

#removesilder:hover {
	background: url(../../web_img/LessonPlannings/cls_yellow.png) no-repeat;
}

#Deletethis {
	width: 22px;
	height: 24px;
	background: url(../../web_img/LessonPlannings/delete_gray.png) no-repeat;
	display: inline-block;
	margin-top: 22px
}

#Deletethis:hover {
	width: 30px;
	height: 34px;
	background: url(../../web_img/LessonPlannings/delete_red.png) no-repeat;
	margin-top: 12px;
}

#cloudsBag {
	/*	position: absolute;*/
	/*	right: 30px;*/
	/*	top: -55px;*/
	/*	margin-right: 50px;*/
	cursor: pointer;
}

#allremove {
	width: 473px;
	height: 280px;
	position: fixed;
	top: 37%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 20161002;
	font-size: 16px;
	color: #666;
	display: none;
	text-align: center;
	background: #fff
}
#allremove p,#baocuncg p{
	background: #30b753;
	line-height: 44px;
	color:#fff;
	position: relative;
}
#allremove p img{
	position: absolute;
	right: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.btnall {
	margin-top: 150px;
	background-color: #30b753;
	border: 1px solid transparent;
	color: white;
	padding: 5px 30px;
    font-size: 16px;
	display: inline-block;
	cursor: pointer;
}

.btnall:hover {
	background-color: #7da941;
}

.allno {
	margin-left: 50px
}

#tanchuang {
	width: 700px;
	height: 500px;
	z-index: 20161004;
	background: #fff;
	border: 1px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto auto;
	padding: 50px;
	display: none;
}

#sliderts {
	width: 500px;
	font-size: 26px;
	color: #ccc;
	text-align: center;
	line-height: 50px;
	border: 1px dotted #eee;
	margin: 100px auto;
	position: absolute;
	left: 0;
	right: 0
}

#sliderts p {
	margin: 0;
}

#wenben {
	background: url(../../web_img/LessonPlannings/text_gray.png) no-repeat;
	left: 40%;
	box-shadow: none;
}

#wenben:hover {
	background: url(../../web_img/LessonPlannings/text_yellow.png) no-repeat;
	left: 40%;
	box-shadow: none;
}

.myShortages {
	cursor: pointer;
}

.myShortages p {
	margin: 0;
	padding: 6px 8px;
	text-indent: 20px;
	background: #f8fbf0 url(../../web_img/LessonPlannings/plus.jpg) no-repeat 9px 8px;
	background-size: 12px 12px;
	font-size: 12px;
	word-break: break-all;
}

.myShortages p:hover {
	background: #ffcd13 url(../../web_img/LessonPlannings/plus.jpg) no-repeat 9px 8px;
	background-size: 12px 12px;
	color: #fff;
}

.layout-right .workname .design-content {
	min-width: 0px;
	text-align: justify
}

.layout-right .workname {
	background: #f8fbf0;
	padding: 6px 8px;
}

.layout-right .workname:hover {
	background: #ffcd13
}

.myShortages>p {
	background: #f5fcf6 url(../../web_img/LessonPlannings/plus.jpg) no-repeat 5px 8px;
	background-size: 16px 16px;
	margin: 0;
	padding: 6px 8px;
	font-size: 14px;
}

.myShortages>p:hover {
	background: #30b753 url(../../web_img/LessonPlannings/plus.jpg) no-repeat 5px 8px;
	background-size: 16px 16px;
	color: #fff;
}

.myShortages .minusp1 {
	margin: 0;
	padding: 6px 8px;
	text-indent: 20px;
	background:#f5fcf6 url(../../web_img/LessonPlannings/minus.jpg) no-repeat 9px 8px;
	background-size: 12px 12px;
	font-size: 12px;
	word-break: break-all
}

.myShortages .minusp1:hover {
	background: #ffcd13 url(../../web_img/LessonPlannings/minus.jpg) no-repeat 9px 8px;
	background-size: 12px 12px;
	color: #fff;
}

.myShortages .minusp2 {
	background: #f5fcf6 url(../../web_img/LessonPlannings/minus.jpg) no-repeat 5px 8px;
	background-size: 16px 16px;
	margin: 0;
	padding: 6px 8px;
	font-size: 14px;
}

.myShortages .minusp2:hover {
	background: #30b753 url(../../web_img/LessonPlannings/minus.jpg) no-repeat 5px 8px;
	background-size: 16px 16px;
	color: #fff;
}

.myShortages:hover {
	/*	background: #b6cc12 ;*/
}

#baocun {
	margin: 20px 0;
	outline: none;
	border: 1px solid #30b753;
	border-radius: 8px;
	background: none;
	padding: 5px 15px;
	color: #666
}

#baocun:hover {
	color: #fff;
	background: #30b753
}

.searchBox {
	display: block;
	overflow: hidden;
	padding: 6px;
	padding-right: 0;
	overflow: hidden;
	font-size: 12px;
	border-bottom: 2px solid #e6eedf;
	background: #f5fcf6;
}
.btnReturn2 {
       padding: 6px 14px 4px 34px;
    margin-left: 16px;
    letter-spacing: 4px;
    color: #333;
    background: url(../../img/fanhui.png) no-repeat;
    background-size: 30px;
    position: absolute;
    top: 0;
    line-height: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;

}

.btnReturn2:hover{
	text-decoration: none
}
.searchBox .search {
	width: 122px;
	height: 22px;
	line-height: 20px;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	background: #f5fcf6;
}

.searchBox .search_btn {
	float: left;
	width: 20px;
	height: 20px;
	border: none;
	background: none;
	background: url(../../img/resource/search_btn.png) no-repeat center;
	background-size: 50% 50%;
	border-radius: 20px;
	outline: none;
}

.searchBox .search_text {
	width: 100px;
	text-indent: 2px;
	border-radius: 10px;
	border: none;
	background: none;
	outline: none;
	padding: 0;
	height: 20px;
	line-height: 20px;
}

.searchBox ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
	cursor: initial;
}

.searchBox ul li {
	float: left;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

.colorRed {
	color: red;
}

.slide-wrapper .abc {
	display: block !important;
}

.slide-wrapper .ijn,
.slide-wrapper .lkj {
	display: none!important;
}

#baocuncg {
	width: 467px;
	height: 275px;
	position: fixed;
	top: 0;
	margin: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	z-index: 20161007;
	display: none;;
	background: #fff
}

#geshi {
	width: 467px;
	height: 275px;
	position: fixed;
	top: 0;
	margin: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	z-index: 20161007;
	background: #fff;
	display: none;
}
#geshi p,#pptwindow p {
	background: #30b753;
	line-height: 44px;
	color: #fff;
}
.guanbi{
	position: absolute;
	top: 7px;
	right: 7px;
	width: 30px;
	cursor: pointer;
}
#pptwindow {
	width: 467px;
	height: 275px;
	background: url(../../web_img/LessonPlannings/pptd.png) no-repeat center;
	position: fixed;
	top: 0;
	margin: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	z-index: 20161007;
	display: none;
	background: #fff
}

#allyes {
	background-color: #c6c6c6
}

#allyes:hover {
	background-color: #999
}

.content-text {
	word-break: break-all;
	overflow-y: auto;
}

.tmpl .design-content {
	min-width: 150px;
	word-break: break-all;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.temd .design-element {
	height: auto !important;
	width: auto;
	min-height: 0 !important
}

#bkg {
	background: url(../../web_img/LessonPlannings/beij.png) no-repeat;
	border: none;
	outline: none;
	width: 48px;
	height: 48px;
	float: left;
	margin-left: 12%;
	display: inline-block
}

#bkg:hover {
	background: url(../../web_img/LessonPlannings/bj.png) no-repeat;
}

#setbg {
	width: 340px;
	height: 314px;
	position: absolute;
	left: 23%;
	top: 56px;
	display: none;
}

.baglist {
	width: 25%;
	float: left
}

.blue {
	width: 100%;
	height: 6px;
	background: #115c79;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

#bgnav ul {
	overflow: hidden;
	padding: 0;
	text-align: center
}

#bgnav ul li {
	float: left;
	width: 85px;
	list-style: none;
	padding-bottom: 4px;
}

#bgnav span {
	border-right: 1px solid #666;
	color: #333;
	font-size: 14px;
	display: block;
	background: #fff;
	padding-top: 3px;
}

#bgnav span:hover {
	background: #D8A209
}

#Scolor,
#Gradient,
#texture,
#picture {
	width: 100%;
	height: 270px;
	position: absolute;
	top: 29px;
	left: 0;
	display: none;
	background: #000
}

.bgcontntnt ul {
	overflow: hidden;
}

.bgcontntnt li {
	float: left;
	width: 74px;
	height: 48px;
	margin: 8px 0 0 0
}

.bgcontntnt img {
	height: 100%;
	padding: 2px
}

.yb {
	width: 100%;
	height: 4px;
	background: #d8a209;
}

#bgnav {
	margin-top: -4px;
	z-index: -10
}

.cncv span {
	background: url(../../web_img/LessonPlannings/yb.png) repeat-x
}

.bgnow,
.bgall,
.cbgnow,
.cbgall,
.insertedlab {
	background: #fff;
	outline: none;
	color: #ccc;
	font-size: 12px;
	text-align: center;
	border: 2px solid #EAC31C;
	border-radius: 5px;
	margin: 10px 5px;
	color: #333;
	padding: 3px 7px;
	min-width: 90px
}

.bgimgborder {
	border: 3px solid #eac31c;
	border-radius: 5px
}

.PPTbg {
	width: 100% !important;
	height: 100% !important;
	position: absolute !important
}

.pptparent {
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	-moz-box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	padding-top: 10px;
}

.ui-wrapper,
.ui-wrapper img {
	height: 100% !important;
	width: 100% !important;
}

#mask {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	position: absolute;
	z-index: 20161001;
	top: 0;
}

#mask2 {
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 20161001;
	top: 0;
}

.slide-wrapper .cvb {
	visibility: hidden !important;
}

#myfover .design-element.current {
	border: none
}

.loding {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 100px;
	background: url(../../web_img/LessonPlannings/B.gif) repeat-x;
	background-size: 100%;
	height:100px;
	display: none;
	z-index: 5000
}

.slide-wrapper .workname,
.slide-wrapper .exerciseWrapper {
	display: block !important;
}

.layout-right .exerciseWrapper {
	display: none;
}

.layout-right {
	overflow-x: hidden
}

input,
textarea,
select {
	box-sizing: border-box !important;
}

.btn-primary {
	color: #2F2F30 !important;
	background-color: #fff !important;
	border: 1px solid #30b753!important;
	font-weight: 600;
}

.btn-primary:hover {
	color: #2F2F30 !important;
	background-color: #30b753 !important;
	color: #fff !important
}


/*        vip样式*/

#data_bg {
	background: #fff;
	height: 110px;
	width: 100%;
	z-index: 20160914;
	padding: 0 0 0px 20px;
	color: #333 !important;
	font-size: 14px;
	display: none;
	position: absolute;
	;
	top: 25px
}

#data_bg span {
	color: #f45734;
	font-weight: bold;
}

#data_bg p {
	text-align: left
}

#vipp {
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
}

#data_bg img {
	display: inline-block;
	        margin-right: 5px;

}
.imgVip {
    vertical-align: middle !important;
    margin-top: -4px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.progress {
	width: 500px;
	height: 50px;
	background: #edf9e1;
	border-radius: 10px;
	padding: 0 50px;
	margin-bottom: 10px
}

.progress div {
	float: left;
	display: inline-block
}

.progress .barname {
	line-height: 50px;
}

.progress_bar {
	width: 260px;
	height: 20px;
	margin: 15px 0;
	background: #fff;
	border-radius: 10px;
	position: relative
}

.progress span {
	line-height: 50px;
	text-align: center
}

#barbox {
	width: 500px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20161006;
	margin: auto auto;
	display: none;
}

.bar1 {
	width: 80%;
	height: 100%;
	background: #92b925;
	border-radius: 10px
}

.progress_bar span {
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.design-content {
	text-overflow: ellipsis
}

.mb12 {
	margin-bottom: 12px;
}











.topbar a {
	display: inline-block;
	margin-right: 5px;
}

.messageNum {
	width: 18px;
	height: 18px;
	border-radius: 9px;
/*	background: #af1515;*/
	position:absolute;
	top: -10px;
	left: -5px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
/*
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
*/
}



.slide-wrapper .hideis {
	display: none !important;
}

#tempDiv .design-content {
	height: auto !important;
	width: auto !important;
}

.aVip:fouce {
	outline: none;
	border: none
}

.aVip {
	outline: none;
	border: none
	}
