<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC_THEME__/stylesheets/app.css?v=3"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/umeditor/third-party/mathquill/mathquill.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/umeditor/third-party/mathquill/mathquill.min.js"></script>
    <style>
			html{height: 100%;}
		body {
			position: relative;
			height: 100%;
			padding-bottom: 5rem;
		}
		
		#name {
			color: #333;
			font-size: 1.2rem;
			display: block;
			width: 50%;
			float: left;
			line-height: 2.5rem;
		}
		
		#date {
			color: #999;
			font-size: 1.2rem;
			display: block;
			width: 50%;
			float: left;
			text-align: right;
			line-height: 2.5rem;
		}
		
		.section {
			color: #666;
			font-size: 1.2rem;
		}
		
		.section img {
			width: 20px;
		}
		
		;
		#content {
			font-size: 1.2rem;
			color: #666
		}		
		#Mask {
			position:fixed;
			width: 100%;
			height: 100%;
			z-index: 20160929;
			top: 0;
			left: 0;text-align: center;
			background: rgba(0,0,0,0.8);
			display: none;
		}
		#enteredjby,#enteredjbytwo{width: 50%;float: left;text-align: center;margin: 5rem 0}
		#enteredjby a,#enteredjbytwo a{	background: #46cfdd;
			color: #fff;
			margin: 3rem auto;
			padding: 1rem 2rem;
			border-radius: 10px;
			text-decoration: none}
	</style>
</head>
<body>
<div class="wrapper">
    <h3 style="text-align: center;font-size:2rem">{$data.name}</h3>

    <div class="brief" style="overflow:hidden;">
		<span id="name">{$data.teacher_name} </span> <span id="date">发布于 {$data.create_at|date="Y-m-d H:i",###}</span>
        <div class="section" style="display:inline-blcok;float:left">{$data.course_name}/{$data.grade}/{$data.textbook}</div>
        <div class="section" style="display:inline-blcok;float:right"><img src="{$oss_path}public/web_img/App/icon_dianzan_nor.png" alt="">{$data.zan_count}&nbsp;&nbsp;&nbsp;<img src="{$oss_path}public/web_img/App/icon_shoucang_nor.png" alt="">{$data.favorite_count}&nbsp;&nbsp;&nbsp;<img src="{$oss_path}public/web_img/App/icon_liulan_nor.png" alt="">{$data.follow_count}</div>
     
    </div>
        <div id="content" style="font-size: 1.2rem;color: #666;margin-top:-10px">
            资源描述：{$data.description}
        </div>

	
</div>

<div id="Mask">
     <img src="{$oss_path}public/web_img/App/arrows.png" alt="" style="margin-top:2rem">
</div>


</div>
<div>
<div id="enteredjby">
        <a href="javascript:" id="openApp">下载京版云</a>
        
</div>

<div id="enteredjbytwo">
    <a href="javascript:" id="openApptwo">进入京版云</a>

</div>
</div>
    <script type="text/javascript">
        function CheckIsAndroid() {
            var browser = {
                versions: function () {
                    var u = navigator.userAgent, app = navigator.appVersion;
                    return { //移动终端浏览器版本信息 
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端 
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器 
                        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器 
                        iPad: u.indexOf('iPad') > -1, //是否iPad 
                    };
                }(),
            }
            //if (browser.versions.iPhone || browser.versions.iPad || browser.versions.ios) {
            //    return false;
            //}
            if (browser.versions.android)
                return true;
            return false;
        }


        function CheckIsIOS() {
            var browser = {
                versions: function () {
                    var u = navigator.userAgent, app = navigator.appVersion;
                    return { //移动终端浏览器版本信息 
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端 
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器 
                        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器 
                        iPad: u.indexOf('iPad') > -1, //是否iPad 
                    };
                }(),
            }
            if (browser.versions.iPhone || browser.versions.iPad || browser.versions.ios) {
                return true;

                return false;
            }
        }


        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }

        function isQQ(){
            var ua = window.navigator.userAgent.toLowerCase();

            if (ua.match(/mobile mqqbrowser/i) == "mobile mqqbrowser" || ua.match(/qq/i) == "qq" ) {
                return true;
            } else {
                return false;
            }

        }

        document.getElementById('openApp').onclick = function(e){  
            // 通过iframe的方式试图打开APP，如果能正常打开，会直接切换到APP，并自动阻止a标签的默认行为  
            // 否则打开a标签的href链接  

            /*if (isQQ()) {
                $('#enteredjby').click(function(){
                    $('#Mask').show()
                    $('#Mask').click(function(){
                        $(this).hide()
                    })
                })
            }*/

            if (isWeiXin()) {
                $('#enteredjby').click(function(){
                    $('#Mask').show()
                    $('#Mask').click(function(){
                        $(this).hide()
                    })
                })
            }

            if (CheckIsIOS()) {
                
               /* var el = document.getElementById('openApp');
                el.setAttribute('href','JingBanYun://');

                window.setTimeout(function(){
                   window.location.href = "https://itunes.apple.com/us/app/jin-ri-ke-tang-bei-jing-chu/id1060492678?l=zh&ls=1&mt=8"; 
                },5000);*/
                
                var appFailUrl = 'https://itunes.apple.com/us/app/jin-ri-ke-tang-bei-jing-chu/id1060492678?l=zh&ls=1&mt=8', appUrlScheme = 'JingBanYun://';
                window.location = appFailUrl;
                //Try launching the app using URL schemes
            }

            if (CheckIsAndroid()) {
                window.location.href = "{$apkurl}";
            }

        };

        var resource_title="{$data.name}";
        document.getElementById('openApptwo').onclick = function(e){
            // 通过iframe的方式试图打开APP，如果能正常打开，会直接切换到APP，并自动阻止a标签的默认行为
            // 否则打开a标签的href链接

           if (isQQ()) {
                $('#enteredjby').click(function(){
                    $('#Mask').show()
                    $('#Mask').click(function(){
                        $(this).hide()
                    })
                })

               $('#enteredjbytwo').click(function () {
                   $('#Mask').show()
                   $('#Mask').click(function () {
                       $(this).hide()
                   })
               })
            }

            if (isWeiXin()) {

                $('#enteredjby').click(function(){
                    $('#Mask').show()
                    $('#Mask').click(function(){
                        $(this).hide()
                    })
                })

                $('#enteredjbytwo').click(function () {
                    $('#Mask').show()
                    $('#Mask').click(function () {
                        $(this).hide()
                    })
                })
            }

            if (CheckIsIOS()) {

                /* var el = document.getElementById('openApp');
                 el.setAttribute('href','JingBanYun://');

                 window.setTimeout(function(){
                 window.location.href = "https://itunes.apple.com/us/app/jin-ri-ke-tang-bei-jing-chu/id1060492678?l=zh&ls=1&mt=8";
                 },5000);*/
                
                var appFailUrl = 'JingBanYun://'+"<?='id='.$res_id.'&type=TeacherRes' ?>";

                window.location = appFailUrl;
                //Try launching the app using URL schemes
            }

            if (CheckIsAndroid()) {
                window.location = "jingbanyun://jingbanyun.com?"+"<?='id='.$res_id.'&type=TeacherRes' ?>"+'&title='+resource_title;
            }

        };

        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 10 * (clientWidth / 320) + 'px';
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);


    </script>
</body>
</html>