<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<title>报名信息</title>
	<script src="http://apps.bdimg.com/libs/jquery/1.10.1/jquery.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/rem.js"></script>
</head>
<style>
	* {
		margin: 0;
		padding: 0;
	}
	
	body {
		background: #eee;
		padding: 2rem 3rem;
		color: #333
	}
	
	span {
		font-size: 1.2rem
	}
	
	.left {
		float: left;
		width: 40%
	}
	
	.right {
		color: #d8716a;
		visibility: hidden;
	}
	
	.leftregion {
		display: inline-block;
		float: left;
		line-height: 2.15rem;
		width: 6%;
		text-align: center;
	}
	
	select,
	input {
		border: none
	}
	
	#next_o {
		width: 80%;
		line-height: 4rem;
		background: #6acbcb;
		margin: 1rem auto 4rem;
		color: #fff;
		text-align: center;
		border-radius: 10px
	}
	
	#three,
	#two {
		display: none;
	}
	
	#activeid {
		font-size: 2rem;
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 1rem;
	}
	
	.iderror {
		font-size: 1.5rem;
		color: #d8716a;
		display: none;
		text-align: center;
		line-height: 2rem;
		margin: 1rem 0
	}
	
	#previous_t,
	#next_t,
	#previous_te,
	#next_te {
		width: 45%;
		line-height: 4rem;
		background: #6acbcb;
		float: left;
		color: #fff;
		text-align: center;
		border-radius: 10px;
		margin-bottom: 4rem;
	}
</style>

<body>
	<form action="">
		<div id="one">
			<p id="activeid">活动邀请码</p>
			<input type="text" placeholder="必填" style="width:100%;height:2rem" id="Inviteid" required>
			<p class="iderror">邀请码错误</p>
			<div id="next_o">下一步</div>
		</div>
		<div id="two">
			<div id="t_name">
				<span class="left">*教师姓名:</span>
				<span class="right">请输入正确姓名</span>
				<input type="text" id="name" placeholder="必填" style="width:100%;margin:1rem 0;height:2rem" onblur="teacherName()" required>
			</div>
			<div id="t_subject">
				<span class="left">学科:</span>
				<span class="right">请选择学科</span>
				<select id="subject" placeholder="必填" style="width:100%;margin:1rem 0;height:2.25rem">
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div id="t_lesson">
				<span class="left">参评课题:</span>
				<span class="right">请输入参选课题</span>
				<input id="lesson" placeholder="必填，不超过50个字" style="width:100%;margin:1rem 0;height:2.25rem" required maxlength="50">
			</div>
			<div id="t_region">
				<span class="left">所属区县:</span>
				<span class="right">请选择所属区县</span>
				<div style="overflow:hidden;width:100%">
					<div class="leftregion" style="margin-top: 1rem">省</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%;margin-top: 1rem">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="leftregion">市</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="leftregion" style="margin-bottom: 1rem">区</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%;margin-bottom: 1rem">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
			</div>
			<div>
				<span class="left">*教师性别:</span>
				<span class="right">请选择性别</span>
				<div style="background:#fff;margin:1rem 0;border-radius:5px;width:100%">
					<p style="line-height:3rem;border-bottom:1px solid #eee" id="sex">
						<input type="radio" style="margin-left:5%;" checked="checked"><span>男</span>
						<br>

						<input type="radio" style="margin-left:5%;"><span>女</span></p>
				</div>

			</div>
			<div>
				<span class="left">*年龄:</span>
				<span class="right">请输入正确的年龄</span>
				<input type="text" placeholder="必填" style="width:100%;margin:1rem 0;height:2rem" required id="age" onblur="teacherage()">
			</div>
			<div id="t_Education">
				<span class="left">*学历:</span>
				<span class="right">请选择学历</span>
				<select placeholder="必填" style="height:2.25rem;float:left;width:100%;margin: 1rem 0 ">
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div id="t_positions" style="margin-top:1rem">
				<span class="left">*职称:</span>
				<span class="right">请输入职称</span>
				<select placeholder="必填" style="height:2.25rem;float:left;width:100%;margin: 1rem 0">
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div>
				<span class="left">*电子邮箱:</span>
				<span class="right">请输入正确的电子邮箱</span>
				<input type="email" placeholder="必填" style="width:100%;margin:1rem 0;height:2rem" required onblur="teacheremail()" id="email">
			</div>
			<div id="previous_t" style="margin-right:5%">上一步</div>
			<div id="next_t" style="margin-left:5%">下一步</div>
		</div>
		<div id="three">
			<div id="school">
				<span class="left">学校:</span>
				<span class="right">请选择学校</span>
				<select placeholder="必填" style="height:2.25rem;float:left;width:100%;margin: 1rem 0" required>
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div id="t_region">
				<span class="left">所属区县:</span>
				<span class="right">请选择所属区县</span>
				<div style="overflow:hidden">
					<div class="leftregion" style="margin-top: 1rem">省</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%;margin-top: 1rem">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="leftregion">市</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="leftregion" style="margin-bottom: 1rem">区</div>
					<select placeholder="必填" style="height:2.25rem;float:left;width:94%;margin-bottom: 1rem">
						<option>请选择</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<input type="text" placeholder="详细地址必填" style="width:100%;height:2rem;margin-bottom:1rem">
				</div>
			</div>
			<div>
				<span class="left">*学校邮编:</span>
				<span class="right">请输入正确的学校邮编</span>
				<input type="text" style="width:100%;height:2rem;margin:1rem 0" placeholder="必填" required id="schoolPostcodes" onblur="Postcodes()" maxlength="6">
			</div>
			<div>
				<span class="left">办公电话:</span>
				<span class="right">请输入正确的办公电话</span>
				<input type="text" style="width:100%;height:2rem;margin:1rem 0" placeholder="选填" id="landline" onblur="schoollandline()">
			</div>
			<div>
				<span class="left">移动电话:</span>
				<span class="right">请输入正确的移动电话</span>
				<input type="text" style="width:100%;height:2rem;margin:1rem 0" placeholder="选填" id="mobilePhone" onblur="teachertel()" maxlength="11">
			</div>
			<div id="tel">
				<span class="left">地方课程:</span>
				<span class="right">请选择地方课程</span>
				<select placeholder="必填" style="height:2.25rem;float:left;width:100%;margin: 1rem 0 ">
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div id="tel">
				<span class="left">校本课程:</span>
				<span class="right">请选择校本课程</span>
				<select placeholder="必填" style="height:2.25rem;float:left;width:100%;margin: 1rem 0">
					<option>请选择</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div>
				<div id="previous_te" style="margin-right:5%">上一步</div>
				<button id="next_te" style="margin-left:5%;border:none;outline:none" >提交</button>
			</div>
		</div>
	</form>
	<script>
		$('#next_o').click(function () {
			var Inviteid = $('#Inviteid').val();
			if (Inviteid != '') {
				$('#one').hide();
				$('#two').show();
			}
		})
		$('#previous_t').click(function () {
			$('#two').hide();
			$('#one').show()
		})
		$('#next_t').click(function () {
			var lesson = $('#lesson').val();
			if (lesson == '') {
				$('#lesson').siblings('.right').css('visibility', 'inherit');
				return false;
			} else if (lesson != '') {
				$('#lesson').siblings('.right').css('visibility', 'hidden');
			}
			$('#two').hide();
			$('#three').show();
		})
		$('#previous_te').click(function () {
			$('#two').show();
			$('#three').hide()
		})

		function teacherName() {
			var regName = /^(([\u4E00-\u9FA5]{2,7})|([a-zA-Z]{3,10}))$/;
			var name = $('#name').val()
			if (regName.test(name) == true) {
				$('#name').siblings('.right').css('visibility', 'hidden');
				return true
			} else if (name == '') {
				$('#name').siblings('.right').css('visibility', 'hidden');
				return false;
			} else {
				$('#name').siblings('.right').css('visibility', 'inherit');
				return false;
			}
		}
		$('#sex').find('input').click(function () {
			$(this).attr('checked', 'checked').siblings('input').removeAttr('checked')
		})

		function teacherage() {
			var regage = /^[0-9]*[1-9][0-9]*$/;
			var age = $('#age').val();
			if (regage.test(age) == true && parseInt(age) < 100) {
				$('#age').siblings('.right').css('visibility', 'hidden');
				return true
			} else if (age == '') {
				$('#age').siblings('.right').css('visibility', 'hidden');
				return true
			} else {
				$('#age').siblings('.right').css('visibility', 'inherit');
				return false
			}
		}

		function teacheremail() {
			var regEmail = /^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/;
			var email = $('#email').val();
			if (regEmail.test(email) == true) {
				$('#email').siblings('.right').css('visibility', 'hidden')
				return true
			} else if (email == '') {
				$('#email').siblings('.right').css('visibility', 'hidden')
				return true;
			} else {
				$('#email').siblings('.right').css('visibility', 'inherit')
				return false;
			}
		}

		function Postcodes() {
			var regcode = /^[1-9][0-9]{5}$/;
			var Postcodes = $('#schoolPostcodes').val();
			if (regcode.test(Postcodes) == true) {
				$('#schoolPostcodes').siblings('.right').css('visibility', 'hidden');
			} else if (Postcodes == '') {
				$('#schoolPostcodes').siblings('.right').css('visibility', 'hidden');
			} else {
				$('#schoolPostcodes').siblings('.right').css('visibility', 'inherit');
			}
		}

		function schoollandline() {
			var reglandline = /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/;
			var landline = $('#landline').val();
			if (reglandline.test(landline) == true) {
				$('#landline').siblings('.right').css('visibility', 'hidden');
				return true
			} else if (landline == '') {
				$('#landline').siblings('.right').css('visibility', 'hidden');
				return false
			} else {
				$('#landline').siblings('.right').css('visibility', 'inherit');
				return false
			}
		}

		function teachertel() {
			var regTel = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
			var tel = $("#mobilePhone").val()
			if (regTel.test(tel) == true) {
				$("#mobilePhone").siblings('.right').css('visibility', 'hidden');
				return true
			} else if (tel == '') {
				$("#mobilePhone").siblings('.right').css('visibility', 'hidden');
				return false;
			} else {
				$("#mobilePhone").siblings('.right').css('visibility', 'inherit')
				return false;
			}
		}
	</script>

</body>

</html>