<layout name="admin_layout_exercise"/>
<link href="__PUBLIC__/css/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" />
<!--<link href="__PUBLIC__/dataTable/css/jquery.dataTables.min.css"/>-->
<link href="__PUBLIC__/dataTable/css/dataTables.jqueryui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="__PUBLIC__/js/Base64.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/vue-resource.min.js"></script>
<script>
	$(function(){
		var boxHeight = $(window).height() - 180;
		$('.boxOutter').css('min-height',boxHeight)
	})
</script>

<div class="boxOutter">
	<div class="tableTop borderBottom pb20 orangeBox">
		<div class="tableTitle mr0">查询类型</div>
        <span class="color333 ml15"><a    href="{:U('QueryStatistics/testQuestions')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">试题</a></span>
        <span class="ml15"><a  href="{:U('QueryStatistics/queryQuestions')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==" >试卷</a></span>
        <span class="color333 ml15"><a href="{:U('QueryStatistics/curriculumSystemList')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">课标知识体系</a></span>
        <span class="color333 ml15"><a  href="{:U('QueryStatistics/textbookKnowledgeList')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">教材知识体系</a></span>
        <span class="color333 ml15"><a class="color3baeab " href="{:U('QueryStatistics/userList')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">用户</a></span>
        <span class="color333 ml15"><a href="{:U('QueryStatistics/testEntryStatistics')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">试题录入统计</a></span>
        <span class="color333 ml15"><a  href="{:U('QueryStatistics/testAssignmentStatistics')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">试题分配统计</a></span>
        <span class="color333 ml15"><a  href="{:U('QueryStatistics/itemIndexingStatistics')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">试题标引统计</a></span>
        <span class="color333 ml15"><a href="{:U('Multimedia/homeworkQuery')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">多媒体作业查询</a></span>
		<span class="color333 ml15"><a href="{:U('Multimedia/homeworkStatistics')}#eyJiTmVlZEtub3dsZWRnZSI6dHJ1ZSwic3RhcnRJbmRleCI6MCwicGFnZVNpemUiOjEwfQ==">多媒体作业录入统计</a></span>
	</div>
	<div id="form" >
		<div class="filterOutter">
			<div class="filterInner">
				<div class="filterBox">
					<label for="">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label>
					<input type="text" name="userName" class="inputCommon" id="" placeholder="请输入用户名称">
				</div>
				<div class="filterBox">
					<label for="">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色</label>
					<select name="roleId" id="" class="inputCommon">
						<option value="0">请选择</option>
						<volist name="roleList" id="roleList">
							<option value="{$roleList.id}">{$roleList.name}</option>
						</volist>
					</select>
				</div>
				<div class="filterBox">
					<label for="">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
					<input name="account" type="text" class="inputCommon" id="" placeholder="请输入账号">
				</div>
				<div class="filterBox">
					<label for="">手 机 号</label>
					<input name="telephone" type="number" class="inputCommon" id="" placeholder="请输入手机号" onkeydown="tel(this)">
				</div>
			<div class="filterBtn">
				<button class="btn" id="" onclick="getQueryParameter('form');query();">查询</button>
				<button class="btn" id="" onclick="$('#form input,select').val('')">重置</button>
			</div>
		</div>

	</div>

	<div class="tableTop mb20">
		<div class="tableTitle">用户列表</div>
		<form action="/index.php?m=Exercise&c=QueryStatistics&a=userListPage&export=1" method="post" id="exportForm" target="iframeName1" onsubmit="$('#formCondition').val(JSON.stringify(parameters))" class="inlineForm">
			<!--<button type="submit" name="button" class="btn" style="">导出</button>-->
			<input name="formCondition" type="hidden" id="formCondition" value="">
		</form>
	</div>
<!-- 	<div class="borderBottom of mb15">

		<iframe name="iframeName1" id="iframeID1" src="about:blank" width="0" height="0" frameborder="0" ></iframe>
	</div> -->
	<table class="tableCommon" id="table">
		<thead>
		<tr>
			<th width="9%">用户姓名</th>
			<th width="9%">账号</th>
			<th width="9%">角色</th>
			<th width="9%">手机号</th>
			<th width="5%">录入习题数目</th>
			<th width="5%">录入试卷数目</th>
			<th width="5%">标引习题数目</th>
			<th width="5%">录入合格率</th>
			<th width="5%">标引合格率</th>
			<th width="6%">账号状态</th>
			<th width="22%">操作</th>
		</thead>
		<tbody>

		</tbody>
	</table>

</div>

<div class="fullBack"></div>
<!-- 弹窗：添加备注 -->
<div class="adminNotifyBox" id="addRemarks" style="z-index:100">
	<div class="adminNotifyTitle">
		添加备注
	</div>
	<div class="adminNotifyContent">
		<textarea name="" id="" class="remarksMain" rows="6" placeholder="请输入返工的理由，限100字" maxlength="100"></textarea>
	</div>
	<p class="adminNotifyButton">
		<a href="javascript:;" class="adminNotifyBtn adminNotifyBlue2" id="addRemarksSure">完成</a>
		<a href="javascript:;" class="adminNotifyBtn adminNotifyBlue2" id="addRemarksCancel">取消</a>
	</p>
</div>
<script src="__PUBLIC__/dataTable/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script>
	function loading(name) {
		$('body').loading({
			loadingWidth:240,
			title:'请稍候...',
			name:name,
			discription:'这是一个描述...',
			direction:'row',
			type:'origin',
			originBg:'#71EA71',
			originDivWidth:30,
			originDivHeight:30,
			originWidth:4,
			originHeight:4,
			smallLoading:false,
			titleColor:'#388E7A',
			loadingBg:'#312923',
			loadingMaskBg:'rgba(22,22,22,0.2)'
		});
	}

	function removeLoad(name) {
		removeLoading(name);
	}
</script>
<script>
	function getQueryParameter(divId)
	{
		parameters = {"bNeedKnowledge":true};
		$('#'+divId+' select').each(function(i,n){
			if($(n).val() != '' && $(n).val() != 0)
			{
				parameters[$(n).attr('name')] = $(n).val().trim();
			}
		})
		$('#'+divId+' input').each(function(i,n){
			if($(n).val().trim() !== '')
			{
				parameters[$(n).attr('name')] = $(n).val().trim();
			}
		})
		parameters.cat = $('#cat').val();
	}
	var parameters = {"bNeedKnowledge":true};
	parameters.cat = $('#cat').val();

	var ignoreQuery = false;
	if(window.location.href.indexOf('#')!=-1)
	{
		ignoreQuery = true;
	}
	var oTable = $("#table").dataTable({

		"sErrMode" : "throw",
		"sDom" : '<lf>rt<lpi><"clear">',
		"sServerMethod" : "POST",
		"bDeferRender" : true,
		"sScrollXInner" : "100%",
		"bScrollCollapse" : false,
		"bPaginate" : true,
		"bLengthChange" : false,
		"bFilter": false,
		"bSort" : false,
		"bInfo" : true,
		"bAutoWidth" : false,
		"bStateSave" : true,
		"sPaginationType" : "full_numbers",
		"bProcessing" : false,
		"bSearch":false,
		"iDisplayLength" : 10,
		"bServerSide": true,//这个用来指明是通过服务端来取数据
		"sAjaxSource": "/index.php?m=Exercise&c=QueryStatistics&a=userListPage",//这个是请求的地址
		"fnServerData": retrieveData ,
		aoColumnDefs : [
			{
				"aTargets" :[10],
				"mRender" : function(data, type, full){
					var buttonStr = '';
					buttonStr += "<a class='tableABtn' onclick='viewAction("+data.id+")' href='javascript:void(0)' >"+'查看行为'+"</a>";
					<?php if(session('admin.id') == 1) :?>
					buttonStr += "<a class='tableABtn' onclick='modifyAccount("+data.id+")' href='javascript:void(0)' >"+'修改账号'+"</a>";
					buttonStr += "<a class='tableABtn' onclick='deleteAccount("+data.id+")' href='javascript:void(0)' >"+'删除账号'+"</a>";
					if(data.state.indexOf('disable') != -1)
					{
						buttonStr += "<a href='javascript:void(0)' class='tableABtn' onclick='accountStatus("+data.id+",<?= ACCOUNT_STATUS_DISABLE ?>)'>禁用</a>";
					}
					if(data.state.indexOf('enable') != -1)
					{
						buttonStr += "<a href='javascript:void(0)' class='tableABtn' onclick='accountStatus("+data.id+",<?= ACCOUNT_STATUS_NORMAL ?>)'>启用</a>";
					}
					<?php endif; ?>
					return buttonStr;
				}

			}],
		"oLanguage" : {
			"sLengthMenu" : "每页显示 _MENU_ 条记录",
			"sZeroRecords" : "无数据",
			"sInfo" : "第 _START_ - _END_ 条 / 共 _TOTAL_ 条数据",
			"sInfoEmpty" : "",
			"sInfoFiltered" : "(数据表中共 _MAX_ 条记录)",
			"sProcessing" : "正在加载中...",
			"sSearch" : "全文搜索：",
			"oPaginate" : {
				"sFirst" : "第一页",
				"sPrevious" : " 上一页 ",
				"sNext" : " 下一页 ",
				"sLast" : " 最后一页 "
			}
		},

	});
	if(window.location.href.indexOf('#')!=-1)
	{
		parameters = JSON.parse(base64decode(window.location.href.split('#')[1]));
		oTable.fnPageChange(parameters.startIndex/parameters.pageSize);
		delete parameters['startIndex'];
		delete parameters['pageSize'];
		//oTable.api().draw(false);
	}
	function query()
	{
		//table reset;
 		oTable.fnUpdate()
	}
    function viewAction(id)
	{
		location.href = "{:U('QueryStatistics/userBehaviorDetails')}&id="+id;
	}
	function modifyAccount(id)
	{
		location.href = "{:U('UserManagement/saveUser')}&id="+id;
	}
	function accountStatus(id,status)
	{
		loading('loadData');
		$.ajax({
			url : "{:U('UserManagement/accountDisable')}",//这个就是请求地址对应sAjaxSource
			data : {id:id,account_status:status},//这个是把datatable的一些基本数据传给后台,比如起始位置,每页显示的行数
		    type : 'post',
			dataType : 'json',
			async : true,
			success : function(result) {
		removeLoad('loadData');
		if(result.status == 200)
			$.NotifyBox.NotifyOneCall('成功','设置成功','确定',function(){oTable.api().draw(false);});
		else
			$.NotifyBox.NotifyOne('错误',result.msg,'确定');

	},
		error : function(msg) {
			removeLoad('loadData');
			$.NotifyBox.NotifyOneCall('错误','设置失败','确定');
		}
	})
	}
	function deleteAccount(id)
	{
		$.NotifyBox.NotifyTwoCallTwo('确定','确定删除该账号？','确定','取消',function(){
			loading('loadData');
			$.ajax({
				url : "{:U('UserManagement/deleteStatus')}",//这个就是请求地址对应sAjaxSource
				data : {id:id,delete_status:<?= DELETE_STATUS_TRUE ?>},//这个是把datatable的一些基本数据传给后台,比如起始位置,每页显示的行数
				type : 'post',
				dataType : 'json',
				async : true,
				success : function(result) {
					removeLoad('loadData');
					if(result.status == 200)
						$.NotifyBox.NotifyOneCall('成功','删除成功','确定',function(){if(oTable.fnSettings().fnRecordsDisplay()-oTable.fnSettings()._iDisplayStart == 1)oTable.fnPageChange('previous',true); else oTable.api().draw(false);});
					else
						$.NotifyBox.NotifyOne('错误',result.msg,'确定');

				},
				error : function(msg) {
					removeLoad('loadData');
					$.NotifyBox.NotifyOneCall('错误','删除失败','确定');
				}
			});
		})
	}
	function retrieveData( sSource,aoData, fnCallback) {
		if(window.location.href.indexOf('#')!=-1)
		{
			if(ignoreQuery)
			{
				ignoreQuery =false;
				return;
			}
		}
		var queryData =  $.extend(true,{},parameters); //深度拷贝
		var qq = {};$(aoData).each(function(i,n){qq[n.name]=n.value})
		queryData.startIndex = (qq.iDisplayStart);
		queryData.pageSize = qq.iDisplayLength;
		// queryData.sEcho = qq.sEcho;
		if(!isBrowser)
			window.location.hash = lastHash =  base64encode(JSON.stringify(queryData));
		loading('loadData');
		$.ajax({
			url : sSource,//这个就是请求地址对应sAjaxSource
			data : queryData,//这个是把datatable的一些基本数据传给后台,比如起始位置,每页显示的行数
			type : 'post',
			dataType : 'json',
			async : true,
			success : function(result) {
				if(typeof(result.aaData) == "undefined") $.NotifyBox.NotifyOne('提示',result.message || result.msg,'确定');if(result.aaData == null)
					result.aaData = Array();
				removeLoad('loadData');
				fnCallback(result);//把返回的数据传给这个方法就可以了,datatable会自动绑定数据的
			},
			error : function(msg) { 				 			}
		});
	}
	function tel(tNumber){
		if($(tNumber).val().length > '11'){
			$.NotifyBox.NotifyOne('提示','电话号码长度不正确','确定')
		}
	}
</script>
