<layout name="admin_layout_exercise"/>
<div class="boxOutter">
	<div class="borderBottom of">
		<?php if(in_array('CurriculumTree/curriculumTreeList',session('exercises_permissions'))){ ?>
		<a href="{:U('CurriculumTree/curriculumTreeList')}" class="tabBtn left active">课标知识树管理</a>
		<?php }?>
		<?php if(in_array('TextbookTree/textbookList',session('exercises_permissions'))){ ?>
		<a href="{:U('TextbookTree/textbookList')}&vid=1" class="tabBtn left">教材知识树管理</a>
		<?php }?>
	</div>
	<table class="tableCommon mt20">
				<thead>
					<tr>
						<th width="25%">学科学段</th>
						<?php foreach($learning_period as $item){?>
						<th width="25%"><?php echo $item['name']?></th>
						<?php }?>
					</tr>
				</thead>
				<tbody>
				<?php foreach($course as $k=>$item1){?>
					<tr>

						<td><?php echo $item1['name']?></td>
						<?php foreach($treeList as $item2){?>
						<td>
						<?php if(in_array('CurriculumTree/curriculumTree',session('exercises_permissions'))){ ?>
							<a href="index.php?m=Exercise&c=CurriculumTree&a=curriculumTree&courseId=<?php echo $item1['id'];?>&Learning_period_id=<?php echo $item2['Learning_period_id'];?>"><?php if($item2[$k]['creat_status'] == 2){ echo '<div class="establish">
						创建中
</div>';}elseif($item2[$k]['creat_status'] == 1){echo '<div class="shelves">
	已上架
</div>';}else{echo '去创建';}?></a>
						<?php }else{?>
<?php if($item2[$k]['creat_status'] == 2){ echo '<div class="establish">
创建中
</div>';}elseif($item2[$k]['creat_status'] == 1){echo '<div class="shelves">
	已上架
</div>';}else{echo '去创建';}?>
						<?php }?>
</td>
<?php }?>
					</tr>
					<?php }?>
				</tbody>
			</table>

</div>
<script src="__PUBLIC__/adminExercise/js/input/loading.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminExercise/js/input/comm.js"></script>
<script type="text/javascript">
	$('.editionSpan').click(function(){
		$(this).addClass('color3baeab').siblings('.editionSpan').removeClass('color3baeab');
		$('.version').html($(this).html())
	})
</script>
