<layout name="admin_layout_school"/>

<div class="indexOutter overHidden">
	<form method="POST" action="{:U('User/updateUserData')}" onsubmit="return checkInfo()">
		<div class="standardMain classContent tableContent">
			<div class="blueBox">
				<span class="left blueTitle">学校信息修改</span>
				<a href="javascript:;" class="blackText right submitA" id="">
					<img src="__PUBLIC__/img/admin/baocun.png" alt="" class="mr10">
					<input type='submit' class="submitInput" value='保存修改'/>
				</a>
			</div>
			<div class="grid condensed infoOutter infoOutterModify">
				<div class="row cells3 infoBox">
					<div class="cell">
						省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份：
						<select id="province_list" name='province' time="" class="input-control disabledInput" readonly disabled>
							<option value="0">-请选择-</option>
							<volist name="province_list" id="province_item" >
								<option value={$province_item.id} <if condition="$province_item['id']==$data['province_id']"> selected="true"</if>  >{$province_item.name}</option>
							</volist>
						</select>
					</div>
					<div class="cell">
						市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：
						<select id="city_list" name='city' class="input-control disabledInput" readonly disabled>
							<option value="0">-请选择-</option>
							<volist name="city_list" id="city_item" >
								<option value={$city_item.id}  <if condition="$city_item['id']==$data['city_id']"> selected="true"</if> >{$city_item.name}</option>
							</volist>
						</select>
					</div>
					<div class="cell">
						区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;县：
						<select id="district_list" name='district' class="input-control disabledInput" readonly disabled>
							<option value="0">-请选择-</option>
							<volist name="district_list" id="district_item" >
								<option value={$district_item.id} <if condition="$district_item['id']==$data['district_id']"> selected="true"</if>  >{$district_item.name}</option>
							</volist>
						</select>
					</div>
					<div class="cell">
						学校名称：
                        <span class="disabledText">{$data.school_name}</span>
					</div>
					<div class="cell">
						学校代码：
						<span class="disabledText">{$data.school_code}</span>
					</div>
					<div class="cell">
						学校性质：
						<select id="school_category" name='school_category' class="input-control disabledInput" readonly disabled>
							<option value="">-请选择-</option>
							<volist name="school_category" id="school_category_item" key="key">
								<option value="{$key-1}" <if condition="$data['school_category']==($key-1)"> selected="true" </if> >{$school_category_item}</option>
							</volist>
						</select>
					</div>
					<div class="cell">
						学校状态：
						<if condition="$data['school_flag'] eq 1">
							<span class="disabledText">正常</span>
						<else />
							<span class="disabledText">禁用</span>
						</if>
					</div>
					<div class="cell cellSeven">
						是否开通管理员：
						<span class="disabledText">是</span>
					</div>
					<div class="cell cellFive">
						管理员账号：
						<span class="disabledText">{$data.account}</span>
					</div>
					<div class="cell cellFive">
						联系人姓名：
						<input type="text" name='real_name' value="{$data.obligation_person}" class="input-control" id="linkmanName" required placeholder="联系人姓名">
					</div>
					<div class="cell cellFive">
						联系人电话：
						<input type="text" name='telephone' value="{$data.obligation_tel}" class="input-control" id="linkmanPhone" required placeholder="联系人电话" maxlength="11">
					</div>
					<div class="cell cellFive">
						联系人邮箱：
						<input type="text" name='email' value="{$data.obligation_email}" class="input-control" id="linkmanEmail"  placeholder="联系人邮箱">
					</div>
					<div class="cell">
						权限类型：
						<span class="disabledText">{$data.permissions}</span>
					</div>
					<div class="cell cellMore">
						有效时间：
						<if condition="$data['auth_start_time'] == '' && $data['auth_end_time'] == ''">
							<span class="disabledText">无</span>
						<else />
							<span class="disabledText">{$data.auth_start_time}</span>
						    &nbsp;至&nbsp;
							<span class="disabledText">{$data.auth_end_time}</span>
						</if>
					</div>
					<div class="cell">
						&nbsp;
						<input type="text" class="input-control" style="visibility: hidden">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="__PUBLIC__/js/notify/adminNotify.js"></script>
<script>
	function checkInfo() {
        var province_id, city_id, district_id, school_address, school_name, school_category;
        province_id = $('#province_list').val();
        city_id = $('#city_list').val();
        district_id = $('#district_list').val();
        school_name = $('#school_name').val();
        school_category = $('#school_category').val();
        if (province_id == false) {
//			$.NotifyBox.NotifyOne('注意','请选择省份！','确定');
            $.Notify({
                caption: '提示',
                content: '请选择省份',
                type: 'warning'
            });
            return false;
        }
        if (city_id == false) {
//			$.NotifyBox.NotifyOne('注意','请选择城市！','确定');
            $.Notify({
                caption: '提示',
                content: '请选择市区',
                type: 'warning'
            });
            return false;
        }
        if (district_id == false) {
//			$.NotifyBox.NotifyOne('注意','请选择区县！','确定');
            $.Notify({
                caption: '提示',
                content: '请选择区县',
                type: 'warning'
            });
            return false;
        }
        if (school_address == '') {
//			$.NotifyBox.NotifyOne('注意','请填写学校地址！','确定');
            $.Notify({
                caption: '提示',
                content: '学校地址不能为空',
                type: 'warning'
            });
            return false;
        }
        if (school_name == '') {
//			$.NotifyBox.NotifyOne('注意','请填写学校名称！','确定');
            $.Notify({
                caption: '提示',
                content: '学校名称不能为空',
                type: 'warning'
            });
            return false;
        }
        if (school_category == '') {
//			$.NotifyBox.NotifyOne('注意','请选择学校性质！','确定');
            $.Notify({
                caption: '提示',
                content: '请选择学校性质',
                type: 'warning'
            });
            return false;
        }

        //联系人姓名
        var regName = /^(([\u4E00-\u9FA5]{2,7})|([a-zA-Z]{3,10}))$/;
        var linkmanName = $('#linkmanName').val();

        if (linkmanName == '') {
//			$.NotifyBox.NotifyOne('注意','姓名不能为空！','确定');
            $.Notify({
                caption: '提示',
                content: '姓名不能为空',
                type: 'warning'
            });
            return false;
        } else if (!regName.test(linkmanName)) {
//			$.NotifyBox.NotifyOne('注意','姓名格式不正确！','确定');
            $.Notify({
                caption: '提示',
                content: '姓名格式不正确',
                type: 'warning'
            });
            return false;
        }

        //联系人电话
        var regMobilePhone = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var linkmanPhone = $('#linkmanPhone').val();
        if (linkmanPhone == '') {
//			$.NotifyBox.NotifyOne('注意','请输入联系人手机号！','确定');
            $.Notify({
                caption: '提示',
                content: '联系人电话不能为空',
                type: 'warning'
            });
            return false;
        } else if (!regMobilePhone.test(linkmanPhone)) {
//			$.NotifyBox.NotifyOne('注意','联系人手机号格式错误！','确定');
            $.Notify({
                caption: '提示',
                content: '联系人电话格式不正确',
                type: 'warning'
            });
            return false;
        }

        //联系人邮箱
        var regEmail = /^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/;
        var linkmanEmail = $('#linkmanEmail').val();
        if (linkmanEmail != '') {
//			$.NotifyBox.NotifyOne('注意','请输入联系人邮箱！','确定');
            if (!regEmail.test(linkmanEmail)) {
//			$.NotifyBox.NotifyOne('注意','联系人邮箱格式错误！','确定');
                $.Notify({
                    caption: '提示',
                    content: '联系人邮箱格式不正确',
                    type: 'warning'
                });
                return false;
            }
            return true;
        }
    }

    /*****************************************************************************************************************/
    var temp_option="<option value='0'>-请选择-</option>";
    //省份发生变化
    $('#province_list').change(function(){
        $("#city_list option:not(:eq(0))").remove();
        $("#district_list option:not(:eq(0))").remove();
        $("#school_list option:not(:eq(0))").remove();
        var id=$("#province_list").val();
        $.ajax({
            type:"post",
            url:"index.php?m=School&c=SchoolAdmin&a=getCityByProvince",
            dataType:"json",
            data:{'province_id':id},
            success: function(msg){
                for(var i=0;i<msg.data.length;i++){
                    var clone_option=$(temp_option).clone(true);
                    $(clone_option).val(msg['data'][i].id);
                    $(clone_option).text(msg['data'][i].name);
                    $("#city_list").append(clone_option);
                }
            }
        })
    });
    //城市发生变化
    $('#city_list').change(function(){
        $("#district_list option:not(:eq(0))").remove();
        $("#school_list option:not(:eq(0))").remove();
        var id=$("#city_list").val();
        $.ajax({
            type:"post",
            url:"index.php?m=School&c=SchoolAdmin&a=getDistrictByCity",
            dataType:"json",
            data:{'city_id':id},
            success: function(msg){
                for(var i=0;i<msg.data.length;i++){
                    var clone_option=$(temp_option).clone(true);
                    $(clone_option).val(msg['data'][i].id);
                    $(clone_option).text(msg['data'][i].name);
                    $("#district_list").append(clone_option);
                }
            }
        })
    });
    //区县发生变化
    $('#district_list').change(function(){
        $("#school_list option:not(:eq(0))").remove();
        var id=$("#district_list").val();
        $.ajax({
            type:"post",
            url:"index.php?m=School&c=SchoolAdmin&a=getSchoolByDistrict",
            dataType:"json",
            data:{'district_id':id},
            success: function(msg){
                for(var i=0;i<msg.data.length;i++){
                    var clone_option=$(temp_option).clone(true);
                    $(clone_option).val(msg['data'][i].id);
                    $(clone_option).text(msg['data'][i].name);
                    $("#school_list").append(clone_option);
                }
            }
        })
    });
</script>
