<div class="Setting_box">

   <div class="InformationSetting" style="display: block;">
    <div>
        <p> 班级编号：{$data_stu.class_info.class_code} &nbsp;&nbsp;&nbsp;&nbsp;班级状态：{$data_stu.class_info.flag_name}</p>
        <div class="bjclass">
            <p class="fontColorEf">班级信息查看</p>
            <p>年级：{$data_stu.class_info.grade}</p>
            <p>班级：{$data_stu.class_info.name}</p>

        </div>
        <div>
            <input type="hidden" class="hiddenclass_status" value="{$data_stu.class_info.class_status}">
            <input type="hidden" class="search_btn" value="{$classid}">
            <input type="hidden" class="data_stu_classinfo_name" value="{$data_stu.class_info.name}">

        </div>
        <div class="leaveClass">
            <p class="fontColorEf">离开班级</p>
            
            <p class="colorccc">离开班级后您将解除与此班级的关联联系，无法在我的班级中找到与此班级</p>
            <button class="right padding15 margintop-50 deleteClassAlldata" classid="{$classid}" status="{$data_stu.class_info.class_status}">离开班级</button>
        </div>
    </div>
</div>
	
</div>

<div class="news daorusuccess_class_show" style="display: none;">
    <p><span>离开班级班级</span><img src="__PUBLIC__/img/classManage/close_btn.png" alt="" class="del_user_stu"></p>
    <p style="margin-bottom:0">确定要离开班级吗</p>
    <p>
        <button class="daorusuccess_class" style="width:100px;border: none;outline: none;padding: 5px;background-color: #eaca33;border-radius: 5px;color: #fff;display: inline-block;margin-top: 40px;">确定</button>
    </p>
</div>