<?xml version="1.0" encoding="utf-8"?>
<config>
    
    <stagecolor>0x000000</stagecolor> <!--(stage background color)-->

    <autoplay>true</autoplay>

    <buffer>5</buffer>

    <volume>70</volume>

    <normalscale>2</normalscale><!--(Aspect ratio=0 ,Original=1  ,Fit to screen=2)-->

    <fullscreenscale>2</fullscreenscale><!--(Aspect ratio=0 ,Original=1  ,Fit to screen=2)-->

    <license></license>

    <logopath></logopath>

    <logoalpha>80</logoalpha>

    <logoalign>TR</logoalign>

    <logo_target></logo_target>


    <!--(share pannel color settings)-->
    <sharepanel_up_BgColor></sharepanel_up_BgColor>

    <sharepanel_down_BgColor></sharepanel_down_BgColor>

    <sharepaneltextColor></sharepaneltextColor>
    
    <sharepanel_textBgColor></sharepanel_textBgColor>

    <sendButtonColor></sendButtonColor>

    <sendButtonTextColor></sendButtonTextColor>
    
    <subTitleColor></subTitleColor>
    
    <subTitleBgColor></subTitleBgColor>
    
    <subTitleFontFamily></subTitleFontFamily>
    
    <subTitleFontSize>18</subTitleFontSize>

    <!--(Text color)-->
    <textColor></textColor>

    <!--(skin color settings)-->
    <skinBgColor></skinBgColor>

    <seek_barColor></seek_barColor>

    <buffer_barColor></buffer_barColor>

    <skinIconColor></skinIconColor>

    <pro_BgColor></pro_BgColor>

    <!--(play button color settings)-->
    <playButtonColor></playButtonColor>
    
    <playButtonBgColor></playButtonBgColor>

    <playerButtonColor></playerButtonColor>

    <playerButtonBgColor></playerButtonBgColor>
    
    <!--(relatedVideo panel color settings)-->
    <relatedVideoBgColor></relatedVideoBgColor>

    <scroll_barColor></scroll_barColor>

    <scroll_BgColor></scroll_BgColor>

    
    <skin>skin/skin_hdflv_white.swf</skin>

    <skin_autohide>true</skin_autohide>

    <languageXML>xml/language.xml</languageXML>

    <playlistXML>xml/playlist.xml</playlistXML>

    <playlist_open>false</playlist_open>

    <showPlaylist>true</showPlaylist>

    <HD_default>true</HD_default>

    <adXML></adXML>

    <preroll_ads>false</preroll_ads>

    <postroll_ads>false</postroll_ads>

    <midrollXML>xml/midroll.xml</midrollXML>

    <midroll_ads>false</midroll_ads>

    <embed_visible>true</embed_visible>

    <adsSkip>true</adsSkip>

    <adsSkipDuration>5</adsSkipDuration>

    <relatedVideoView>center</relatedVideoView><!--(Center of the player 'center')--><!--(Right of the player 'side')-->

    <trackCode></trackCode>

    <showTag>true</showTag>

    <timer>true</timer>

    <zoomIcon>false</zoomIcon>

    <email>false</email>

    <shareIcon>false</shareIcon>

    <fullscreen>true</fullscreen>

    <volumecontrol>true</volumecontrol>

    <playlist_auto>true</playlist_auto>

    <progressControl>true</progressControl>

    <skinVisible>true</skinVisible>
    
    <skin_opacity></skin_opacity>

    <imageDefault>false</imageDefault>

</config>