<layout name="admin_layout_back"/> 
<link type="text/css" rel="stylesheet" href="__PUBLIC__/umeditor/third-party/mathquill/mathquill.css">
<script type="text/javascript" src="__PUBLIC__/umeditor/third-party/mathquill/mathquill.min.js"></script>
<style>
    .list_avatar {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }
	#wb p{
	
		word-break: break-all;
	}
</style>
<div style="margin-bottom: 12px;">
    <a href="javascript:window.history.go(-1)" title="返回" class="button primary {:session('btntheme')}">&lt; 返回</a>
</div>
<div class="example" data-text="发布者信息">
    <div class="listview set-border padding10">
        <div class="padding10" style="border-bottom: 1px solid #ccc;">
            <h3>
                {$data.cgname}
            </h3>
            {$data.publisher} 发布于 {$data.create_at|date="Y-m-d H:i",###}
        </div>
    </div>
</div>

<div class="example" data-text="消息内容">
    <div class="listview set-border padding10">
        <div class="padding10">
            <h3>{$data.message_title}</h3>
            <div style="margin-top: 20px;" id="wb">
                {$data.message}
            </div>
        </div>
    </div>
</div>
