<layout name="teacher_layout_1" />
<link rel="stylesheet" href="__PUBLIC__/css/bjOrder.css?v=3.0" media="screen" title="no title" charset="utf-8">
<link href="__PUBLIC__/css/directTrainDetails.css?v=3" rel="stylesheet" type="text/css"/>

<div>
    <a href="javascript:window.history.go(-1)" title="返回" class="btn btnReturn1">返回</a>
</div>

<div class="of paytop">
	<div class="of">
		<div class="paytitle left">
			专栏购买
		</div>
		<div class="right">
			<div class="Confirmorder left">
				确认订单
			</div>
			<div class="Confirmpayment left">
				确认支付
			</div>
			<div class="Successfulpayment left">
				支付成功
			</div>
		</div>
	</div>
    <div class="mt25 Confirmordermsg">
      确认订单信息
    </div>
</div>
<div class="PaymentContent">
	<div class="orderCon">
		<div class="orderCon_content">
			<div class="of orderCon_ul">
				<div class="right Price">
					<img src="__PUBLIC__/img/sinology/money.png" alt="" / class="money">
					<span class="Price_span">{$order.special_column_price}元/套</span>
				</div>
			</div>
			<div class="of columnBox">
				<div class="bookcover_div">
					<img src="http://jbyoss.oss-cn-beijing.aliyuncs.com/{$order.avatar}" alt="" class="recoAvatar">
                	<div class="recoName">{$order.name}</div>
				</div>
				<div class="book_name">
				    <div class="recoTitle">{$order.special_column_question_title}</div>
	                <div class="recoGrade">
						{$order.course_name}{$order.grade}上册
	                    <img src="__PUBLIC__/img/resource/yinyue.png" alt="" class="resource_typeimg">
	                    <switch name="recommend_item.file_type">
	                        <case value="word">
	                            <img src="__PUBLIC__/img/resource/word.png" alt="" class="resource_typeimg">
	                        </case>
	                        <case value="video">
	                            <img src="__PUBLIC__/img/resource/shipin.png" alt="" class="resource_typeimg">
	                        </case>
	                        <case value="audio">
	                            <img src="__PUBLIC__/img/resource/yinyue.png" alt="" class="resource_typeimg">
	                        </case>
	                    </switch>
	                </div>
	                <div class="watchDate">
		                <span class="recoWatch">观看：{$order.special_column_question_visit_count}</span>
		                <span class="recoDate">{$order.creat_time}</span>
	                </div>
				</div>
				<div class="Confirmorder_div">
					<a href="{:U('DirectTrain/confirmPayment',array('id'=>$order['id']))}" class="right text-center Confirmorder_btn">去支付</a>
				</div>
			</div>
		</div>
	</div>
</div>

